---
---
// MIXINS
@import "css/mixins.scss";

@mixin clear {
	background-color: transparent !important;
}
@mixin stretch {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@mixin hover-shadow {
	@include prefix(transition, all .1s ease-in-out);
	&:hover {
		@include prefix(text-shadow, 0 0 1px);
		text-decoration: none !important;
	}
}
@mixin hover-cutout {
	mix-blend-mode: screen;
	background-color: transparent;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

// TEST SETTINGS [REMOVE]
// :root {
// 	--main-color: #2780e6;
// 	--hover-color: #1e63b3;
// 	--background-blur: 0px;
// 	--background-brightness: 100%;
// 	--online-color: #43b581;
// 	--idle-color: #faa61a;
// 	--dnd-color: #982929;
// 	--offline-color: #808080;
// }
// body:after,
// body::after,
// .callout-backdrop,
// .userPopout-4pfA0d:before,
// .userPopout-4pfA0d::before,
// #user-profile-modal .header:before,
// #user-profile-modal .header::before,
// #pubs-container:before,
// #pubs-container::before,
// .auth-background,
// .auth-tiling-bg,
// .invite-modal .invite-splash,
// .radio-theme.light label,
// .radio-theme.dark label {
// 	background-image: url(https://zerthox.github.io/ClearVision/images/sapphire.jpg) !important;
// }

// VARIABLES
$version: "ClearVision v6-pre-18";
$marks: (
	BD Dev: 81388395867156480, // Jiiks
	CV Dev: 144881947557101568, // Zerthox
	CV Mod: (
	    194151269399527425, // ntuned
	    66043140208857088 // tehbasshunter
	),
	Contrib: (
		236579127090610176, // Danielle
		97797564866236416 // w/
	),
	Donator: (
		168551219135119361, // Auro
		151995147150819328, // Kinghellish
		78890013378486272, // Macpot
		66214870705516544, // Lordmau5
		107965218868457472, // Mudock Yatho
		174525242939670528, // L. T. S.
		387275388419833858 // Aetheryx
	)
);
$green: #43b581;
$red: #f04747;
$dark-red: #a93d3d;
$purple: #593695;

// MARKS
@each $e in map-keys($marks) {
	@each $v in map-get($marks, $e) {
		[style*="#{$v}"] {
			&.avatar-small + .member-inner .member-username-inner,
			.guild-settings-modal-members &.avatar-small + .member-inner .member-username,
			.message-group &.avatar-large + .comment .user-name {
				@include pseudo(after) {
					content: "#{$e}";
					position: relative;
					height: 14px;
					padding: 1px 2px;
					border-radius: 3px;
					background: rgba(100, 100, 100, .3);
					color: hsla(0, 0%, 100%, .6);
					font-size: 10px;
					text-align: center;
					font-weight: 700;
					line-height: 17px;
					text-shadow: 0 0 1px rgba(0, 0, 0, .3);
					text-transform: uppercase;
					vertical-align: bottom;
					margin-left: 6px;
				}
			}
		}
	}
}
.avatar-small + .member-inner .member-username-inner {
	@include pseudo(after) {
		top: -1px;
		font-size: 11px !important;
	}
}

// GENERAL
body {
	@include prefix(backface-visibility, hidden);
	@include pseudo(after) {
		content: "";
		position: absolute;
		@include stretch;
		@include bg($size: cover, $pos: center);
		z-index: -9999;
	}
}
.callout-backdrop {
	@include pseudo(after) {
		content: "";
		position: absolute;
		@include stretch;
		@include bg($size: cover, $pos: center);
	}
}
.app,
.layer,
.layers,
.layer > .container-2OU7Cz {
	@include clear;
}
#app-mount {
	background: rgba(0, 0, 0, .6) !important;
}
.layer {
	&  > .container-2OU7Cz {
		// [FADES]
		// @include prefix(animation, fade-in .3s ease-in-out);
		& > .base-3AoPqv {
			border-radius: 0;
		}
	}		
}
@each $selector in  -moz-selection, selection {
    ::#{$selector} {
        color: #fff;
		background: var(--main-color);
    }
}

// TITLEBAR
.typeWindows-15E0Ys {
//   position: fixed;
  height: 18px;
  width: 100vw;
  margin: 0;
  padding: 1.5px 0;
  background-color: rgba(0, 0, 0, .6);
	.wordmark-2L03Wr {
		opacity: 1;
		pointer-events: none;
		@include prefix(user-select, none);
		@include pseudo(after) {
			content: "#{$version}";
			position: absolute;
			left: 100%;
			color: hsla(0, 0%, 100%, .7);
			font-size: 14px;
			font-weight: bold;
			white-space: nowrap;
		}
		& > svg > path {
			fill: var(--main-color);
		}
	}
	.winButton-U7zAqI {
		opacity: 1 !important;
		&:hover {
			background-color: hsla(0, 0%, 100%, .1);
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	.winButtonClose-2rIvsa {
		&:hover {
			background-color: var(--dnd-color);
		}
	}
}

// GUILDS
.guilds-wrapper {
	@include clear;
	@include prefix(box-shadow, inset -10px 0 20px -10px rgba(0, 0, 0, .2));
	// GUILD LIST
	.guilds {
		.guild {
			&.unread:not(.selected) {
				@include pseudo(before) {
					margin-top: -5px;
				}
			}
			&.selected {
				@include pseudo(before) {
					background: var(--main-color) !important;
					@include prefix(animation, guild-select .5s cubic-bezier(.22, .61, .36, 1));
				}
			}
			&.selected,
			&.unread {
				@include pseudo(before) {
					width: 13px;
					left: -17px;
					background: var(--main-color) !important;
					@include prefix(transition, all .3s ease-in-out);
				}
			}
			.guild-inner {
				background-color: rgba(0, 0, 0, .5)!important;
				@include prefix(box-shadow, 0 0 5px rgba(0, 0, 0, .5));
				@include prefix(transition, transform .1s ease-in-out);
			}
			.friends-icon {
				@include prefix(transition, all .3s ease-in-out);
			}
			&:hover .friends-icon,
			&.active .friends-icon {
				background-color: var(--main-color);
			}
			.guilds-error {
				background-color: rgba(0, 0, 0, .5);
				border-color: var(--main-color);
				@include prefix(transition, all .3s ease-in-out);
				&:hover {
					background-color: var(--main-color);
				}
			}
			&.guilds-add {
				background-color: rgba(0, 0, 0, .5);
				opacity: .7;
				@include prefix(transition, all .1s ease-in-out);
				&:hover {
					color: var(--main-color);
					border-color: var(--main-color);
					@include prefix(animation, pulsate-border 2s infinite ease-in-out);
					@include pseudo(before, after) {
						background-color: var(--main-color) !important;
						@include prefix(animation, pulsate-color 2s infinite ease-in-out);
					}
				}
				&:active {
					@include prefix(transform, scale(.9));
				}
				span {
					display: none;
				}
				@include pseudo(before, after) {
					content: "";
					position: absolute;
					background-color: #333539;
					border-radius: 3px;
					@include prefix(transition, all .1s ease-in-out);
				}
				@include pseudo(before) {		
					width: 2px;
					top: 25%;
					bottom: 25%;
					left: 50%;
					@include prefix(transform, translateX(-50%));
				}
				@include pseudo(after) {
					height: 2px;
					top: 50%;
					right: 25%;
					left: 25%;
					@include prefix(transform, translateY(-50%));
				}
			}
		}
		.friends-online {
			@include clear;
			color: hsla(0, 0%, 100%, .7);
			text-transform: uppercase;
			border-radius: 25px;
			@include prefix(transition, all .3s ease-in-out);
			cursor: default;
			&:hover {
				color: #fff;
			}
		}
		.badge {
			@include prefix(animation, badge 1s ease-in-out infinite alternate);
		}
	}
	// SEPERATORS
	.guild-separator,
	.btn-download-apps,
	.guild[separator] {
		@include pseudo(after) {
			background-color: hsla(0, 0%, 100%, .2);
		}
	}
}

// CHANNELS
.channels-3g2vYe {
	background-color: rgba(0, 0, 0, .35) !important;
	width: 220px;
	// CHANNELS CONTAINER
	& > .container-RYiLUQ {
		@include clear;
	}
	// CHANNEL CATEGORIES
	.wrapperMuted-PmsxPn {
		opacity: .5;
	}
	.iconDefault-xzclSQ,
	.iconHovered-3PRzOR,
	.iconCollapsed-1INdMX,
	.iconHoveredCollapsed-jNYgOD,
	.iconMuted-Hb4ttQ {
		display: none;
	}
	.nameDefault-Lnjrwm,
	.nameHovered-1YFSWq,
	.nameCollapsed-3_ChMu,
	.nameHoveredCollapsed-2c-EHI,
	.nameMuted-1n0LSj,
	.nameUnread-WKlSv- {
		position: relative;
		@include display-flex;
		@include justify-content(center);
		@include align-items(center);
		color: hsla(0, 0%, 100%, .5);
		text-align: center;
		@include prefix(transition, all .3s ease-in-out);
		@include pseudo(before, after) {
			content: "";
			display: inline-block;
			flex-grow: 1;
			height: 2px;
			background-color: hsla(0, 0%, 100%, .3);
			margin: -1px 5px 0;
			@include prefix(transition, all .3s ease-in-out);
		}
	}
	.nameHovered-1YFSWq,
	.nameHoveredCollapsed-2c-EHI, {
		color: hsla(0, 0%, 100%, .7);
		@include pseudo(before, after) {
			background-color: hsla(0, 0%, 100%, .7);
		}
	}
	.nameCollapsed-3_ChMu,
	.nameHoveredCollapsed-2c-EHI,
	.closed-2Hef-I + .nameMuted-1n0LSj {
		@include pseudo(before, after) {
			flex-grow: 0;
		}
	}
	.containerDefault-1bbItS,
	.containerDragAfter-3O-noP,
	.containerDragBefore-2hcouM,
	.containerUserOver-3O3u5c {
		padding-top: 24px;
	}
	.containerDefault-7RImuF,
	.containerDefault-1bbItS {
		// [FADES]
		// @include prefix(animation, fade-in .3s ease-in-out);
	}
	.container-hidden {
		opacity: .3;
	}
	// TEXT & VOICE CHANNELS
	.contentDefaultText-2elG3R,
	.contentHoveredText-2HYGIY,
	.contentSelectedText-3j5CXt,
	.contentDefaultVoice-311dxZ,
	.contentHoveredVoice-3qGNKh,
	.contentSelectedVoice-gTtYM9 {
		@include prefix(transition, all .15s ease-in-out);
	}
	.contentDefaultVoice-311dxZ,
	.contentHoveredVoice-3qGNKh,
	.contentSelectedVoice-gTtYM9 {
		&:active {
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	.name-2SL4ev {
		color: hsla(0, 0%, 100%, .3);
		@include prefix(transition, all .15s ease-in-out);
	}
	.icon-3tVJnl {
		opacity: .7 !important;
		@include prefix(transition, all .15s ease-in-out);
	}
	.iconSpacing-5GIHkT svg {
		opacity: .3 !important;
		@include prefix(transition, all .15s ease-in-out);
		&:hover {
			opacity: .7 !important;
		}
	}
	.content-2mSKOj .marginReset-1YolDJ path {
		fill: #fff;
		opacity: .3;
		@include prefix(transition, all .15s ease-in-out);
	}
	// HOVER
	.contentHoveredText-2HYGIY {
		background-color: hsla(0, 0%, 100%, .1);
	}
	.contentHoveredText-2HYGIY,
	.contentHoveredVoice-3qGNKh {
		.name-2SL4ev {
			color: hsla(0, 0%, 100%, .7);
		}
	}
	// UNREAD
	.nameUnreadText-1pxldj,
	.nameUnreadVoice-QK4gxH {
		color: hsla(0, 0%, 100%, .8) !important;
	}
	.unread-23Kvxk {
		display: none;
		& + .content-2mSKOj .marginReset-1YolDJ .icon-3tVJnl {
			@include prefix(filter, drop-shadow(0 0 3px var(--main-color)));
			path {
				fill: var(--main-color) !important;
				opacity: 1 !important;
			}
		}
	}
	// SELECTED
	.contentSelectedText-3j5CXt {
		background-color: var(--main-color);
		.icon-3tVJnl {
			path {
				fill: #fff;
				opacity: 1 !important;
			}
		}
		.iconSpacing-5GIHkT svg {
			opacity: .7 !important;
			&:hover {
				opacity: 1 !important;
			}
		}
	}
	.nameSelectedText-32NDX5 {
		color: #fff !important;
	}
	.contentSelectedVoice-gTtYM9 {
		.name-2SL4ev {
			color: hsla(0, 0%, 100%, .7);
		}
		&:hover .name-2SL4ev {
			color: #fff;
		}
	}
	// MUTED
	.contentMutedText-Lcl-Wj,
	.contentMutedVoice-1AvYom {
		.name-2SL4ev {
			color: hsla(0, 0%, 100%, .1);
		}
		.icon-3tVJnl path {
			opacity: .1 !important;
		}
	}
	// VOICE USER LIST
	.draggable-3SphXU {
		position: relative;
		z-index: 1;
	}
	.avatarDefault-3jtQoc,
	.avatarSpeaking-3teDH6 {
		z-index: 1;
		@include pseudo(after, before) {
			content: "";
			position: absolute;
			top: 1px;
			left: 0;
			bottom: 1px;
			opacity: 0;
			@include prefix(transition, all .15s ease-in-out);
			pointer-events: none;
			z-index: -1;
		}
		@include pseudo(before) {
			width: 4px;
			background: var(--main-color);
		}
		@include pseudo(after) {
			right: 0;
			background: linear-gradient(to right, var(--main-color) 0%, transparent 35%);
			border-left: 4px solid var(--main-color);
		}
	}
	.avatarSpeaking-3teDH6 {
		@include prefix(box-shadow, none);
		@include pseudo(before) {
			opacity: 1;
		}
		@include pseudo(after) {
			opacity: .5;
		}
	}
	// DRAG INDICATORS
	.containerDragAfter-3rB7mB,
	.containerDragAfter-3O-noP,
	.containerDragBefore-12YyA9,
	.containerDragBefore-2hcouM, {
		@include pseudo(after, before) {
			background-color: var(--main-color);
			border-radius: 0;
		}
	}
	// ACCOUNT & VOICE CONTAINER
	& > .container-iksrDt,
	& > .container-3lnMWU {
		@include clear;
		.flex-lFgbSz {
			background-color: rgba(0, 0, 0, .3);
			border-radius: 15px;
			& > * + * {
				position: relative;
				@include pseudo(before) {
					content: "";
					position: absolute;
					left: 0;
					top: 2px;
					bottom: 2px;
					width: 1px;
					background: hsla(0, 0%, 100%, .2);
				}
			}
		}
	}
	// ACCOUNT CONTAINER
	& > .container-iksrDt {
		position: relative;
		margin-bottom: 10px;
		@include pseudo(after) {
			content: "#{$version}";
			color: #fff;
			font-size: 11px;
			font-weight: 700;
			text-align: center;
			position: absolute;
			bottom: -8px;
			left: 0;
			right: 0;
			opacity: .3;
		}
		.avatar-small {
			position: relative;
			@include bg($size: 100%, $repeat: no-repeat);
			@include prefix(transition, all .15s ease-in-out);
			@include pseudo(after) {
				content: "Status";
				position: absolute;
				@include stretch;
				vertical-align: middle;
				color: #fff;
				font-size: 5px;
				text-transform: uppercase;
				font-weight: 700;
				text-align: center;
				line-height: 30px;
				border-radius: 50%;
				@include prefix(box-shadow, inset 0 0 70px rgba(0, 0, 0, .75));
				opacity: 0;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				@include pseudo(after) {
					opacity: 1;
				}
			}
			&:hover,
			&.popout-open {
				width: 45px;
				height: 45px;
				@include pseudo(after) {
					font-size: 10px;
					line-height: 45px;
				}
			}
			.status {
				top: 90%;
				left: 90%;
				margin-top: -6.5px;
				margin-left: -6.5px;
				z-index: 2;
			}
		}
		.button-1aU9q1 {
			opacity: 1;
			&.iconButton-3mKjyp,
			svg {
				opacity: .3;
				@include prefix(transition, all .1s ease-in-out);
			}
			&:hover {
				@include clear;
				&.iconButton-3mKjyp,
				svg {
					opacity: .7;
				}
			}
		}
	}
	// VOICE CONTAINER
	& > .container-3lnMWU {
		border-color: transparent;
		.button-3WJ5FX {
			@include clear;
			opacity: .3;
			&:hover {
				opacity: .7;
			}
		}
		.buttonDisconnect-3xZpYL {
			position: relative;
			opacity: 1 !important;
			background-size: 0;
			@include pseudo(after) {
				content: "";
				position: absolute;
				@include stretch;
				background: inherit;
				background-size: 18px;
				opacity: .3;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				@include pseudo(after) {
					opacity: .7;
				}
			}
		}
	}
}
.channels-wrap .scroller-fzNley,
.private-channels,
#rtc-connection,
.private-channels .search-bar {
	@include clear;
}

// UNREAD MESSAGES INDICATOR
.unread-2TDDFN,
.mention-RlZ5F3 {
	position: relative;
	@include clear;
	@include pseudo(after) {
		content: "";
		position: absolute;
		@include stretch;
		background-color: var(--main-color);
		border-radius: 3px;
		opacity: .9;
		z-index: -1;
		@include prefix(transition, all .15s ease-in-out);
	}
	&:hover {
		@include pseudo(after) {
			opacity: 1;
		}
	}
}

// PRIVATE CHANNELS
.private-channels {
	.channel {
		a {
			@include prefix(transition, all .15s ease-in-out);
			* {
				@include prefix(transition, inherit);
			}
		}
		.close {
			@include bg($image: "https://zerthox.github.io/ClearVision/icons/close.svg", $repeat: no-repeat, $pos: center, $size: 18px);
			display: initial;
			opacity: 0;
			&:hover {
				opacity: .7;
			}
		}
		&:hover {
			a {
				background-color: hsla(0, 0%, 100%, .1) !important;
				color: #fff !important;
			}
			.close {
				opacity: .3;
			}
		}
		&.selected a {
			background-color: var(--main-color) !important;
			color: #fff !important;
		}
	}
}
.search-bar {
	margin-top: 10px;
	margin-bottom: 0;
	@include prefix(box-shadow, none !important);
	.search-bar-inner {
		background-color: rgba(0, 0, 0, .4);
		padding-top: 0;
		padding-bottom: 0;
	}
	input {
		&::-webkit-input-placeholder {
			color: hsla(0, 0%, 100%, .3);
		}
	}
}

// CHAT
.chat {
	@include clear;
	.content {
		@include clear;
		.flex-spacer {
			background-color: rgba(0, 0, 0, .6) !important;
		}
	}
	.titleWrapper-3Vi_wz {
		.title-qAcLxz,
		.titleCall-3X0yGQ {
			background-color: rgba(0, 0, 0, .7) !important;
		}
	}
	.user-name {
		@include hover-shadow;
	}
	// NEW MESSAGES BAR
	.new-messages-bar {
		@include clear;
		@include prefix(transition, all .15s ease-in-out);
		@include pseudo(before) {
			content: "";
			position: absolute;
			@include stretch;
			background-color: var(--main-color);
			border-radius: 0 0 3px 3px;
			opacity: .8;
			z-index: -1;
			@include prefix(transition, all .15s ease-in-out);
		}
		&:hover,
		&:active {
			@include pseudo(before) {
				opacity: 1;
			}
		}
		&:active {
			padding-top: 0;
			@include prefix(transform, scale(.99));
		}
		button,
		button:last-child {
			color: #fff;
		}
	}
	// JUMP TO PRESENT BAR
	.jump-to-present-bar {
		background-color: rgba(0, 0, 0, .7) !important;
		@include prefix(transition, all .15s ease-in-out);
		&:hover,
		&:active {
			background-color: var(--main-color) !important;
			& > button {
				color: #fff;
			}
		}
		&:active {
			@include prefix(transform, scale(.99));
		}
		& > button {
			color: hsla(0, 0%, 100%, .6);
			@include prefix(transition, inherit);
		}
	}
	// LOAD MORE MESSAGES BNUTTON
	.has-more {
		& > button {
			background-color: rgba(0, 0, 0, .5) !important;
			color: var(--main-color);
			border: none !important;
		}
	}
	// DIVIDERS
	.divider {
		margin: 10px 6px 10px 20px;
		@include pseudo(before) {
			@include clear;
		}

		&.divider-red {
			& + .divider {
				margin-top: 40px;
			}
			& > span {
				position: relative;
				@include clear;
				color: hsla(0, 0%, 100%, .8) !important;
				@include pseudo(before) {
					content: "";
					position: absolute;
					@include stretch;
					z-index: -1;
					background-color: var(--main-color);
					border-radius: 3px;
					opacity: .8;
				}
			}
		}		
		& > span {
			width: 100%;
			margin: 10px 0;
			padding: 5px 15px;
			background: hsla(0, 0%, 100%, .2) !important;
			color: hsla(0, 0%, 100%, 1) !important;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			border-radius: 3px;
			opacity: .9;
		}
	}
	// CHANNEL TEXTAREA
	form {
		@include clear;
		@include prefix(box-shadow, none !important);
		#charcounter {
			top: 100%;
			margin-top: 7.5px;
			color: hsla(0, 0%, 100%, .7);
		}
		.typing {
			@include clear;
		}
	}
	.inner-3if5cm {
		background-color: rgba(0, 0, 0, .5);
		border: 2px solid hsla(0, 0%, 100%, .1) !important;
		@include prefix(transform, translateZ(0));
		.attachButton-Di6YUh {
			@include prefix(transform, none);
			.attachButtonPlus-2l1NEU {
				opacity: .3;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				.attachButtonPlus-2l1NEU {
					opacity: .7;
				}
			}
		}
		.sendembeds-button {
			@include pseudo(before) {
				opacity: .3;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				@include pseudo(before) {
					opacity: .7;
				}
			}
		}
		textarea {
			&::-webkit-input-placeholder {
				color: hsla(0, 0%, 100%, .2);
			}
			& + .emojiButton-3c_qrT {
				@include pseudo(after) {
					content: "";
					position: fixed;
					@include pos(-2px, -2px, -2px, -2px);
					border: 2px solid transparent;
					border-radius: 3px;
					opacity: 1;
					@include prefix(transition, all .15s ease-in-out);
					pointer-events: none;
				}
			}
			&:focus + .emojiButton-3c_qrT {
				@include pseudo(after) {
					border-color: var(--main-color);
					@include prefix(box-shadow, 0 0 3px var(--main-color));
				}
			}
		}
	}
}
.noChannel-2EQ0a9 {
	background-color: rgba(0, 0, 0, .6) !important;
}

// MESSAGES
.message-group,
.divider,
.message {
	// [FADES]
	// @include prefix(animation, message-fade .5s ease-in-out);
}
.messages-wrapper {
	@include clear;
}
.message-group {
	.avatar-large {
		@include prefix(transition, all .3s ease-in-out, transform .1s ease-in-out);
		&:active {
			@include prefix(transform, scale(.9));
		}	
	}
	&:not(.has-divider) {
		border-bottom-color: hsla(0, 0%, 100%, .04) !important;
	}
	.comment {
		line-height: 1em;
	}
	.timestamp {
		color: hsla(0, 0%, 100%, .3) !important;
		@include prefix(transition, all .3s ease-in-out);
	}
	&:hover {
		.timestamp {
			color: hsla(0, 0%, 100%, .7) !important;
		}
	}
	// CODEBLOCKS
	.inline {
		background-color: hsla(0, 0%, 100%, .1) !important;
		color: hsla(0, 0%, 100%, .7) !important;
		padding: 3.5px 7.5px !important;
		border-radius: 3px !important;
		line-height: 22px;
		& + pre {
			margin-top: -1px;
		}
	}
	pre {
		max-width: 93% !important;
		background-color: transparent !important;
		border: 2px solid hsla(0, 0%, 100%, .1) !important;
		padding: 0;
		border-radius: 5px !important;
	}
	.hljs {
		position: relative;
		background-color: rgba(0, 0, 0, .42) !important;
		color: hsla(0, 0%, 100%, .7) !important;
		padding: 6px !important;
		@include pseudo(before) {
			display: block;
			float: right;
			height: 10px;
			color: hsla(0, 0%, 100%, .3);
			text-align: right;
			line-height: 10px;
			pointer-events: none;
		}
		// SYNATX HIGHLIGHTING LANGUAGES
		$languages: (
			"1c": "1c",
			"ABNF": "abnf",
			"Access Log": "accesslog",
			"ActionScript": ("actionscript", "as"),
			"Ada": "ada",
			"Apache": ("apache", "apacheconf"),
			"Applescript": ("applescript", "osascript"),
			"Arduino": "arduino",
			"ARM Assembly": ("armasm", "arm"),
			"AsciiDoc": ("asciidoc", "adoc"),
			"AspectJ": "aspectj",
			"Atom Feed (XML)": "atom",
			"AutoHotkey": ("autohotkey", "ahk"),
			"AutoIt": "autoit",
			"AVR Assembler": "avrasm",
			"Awk": "awk",
			"Axapta": "axapta",
			"Bash": ("bash", "sh", "zsh"),
			"Basic": "basic",
			"Batch": ("dos", "bat", "cmd"),
			"BNF": "bnf",
			"Brainfuck": "brainfuck",
			"C/C++": ("c", "cc", "cpp", "h", "hpp"),
			"C#": ("cs", "csharp"),
			"CAL": "cal",
			"Cap'n Proto": ("capnproto", "capnp"),
			"Ceylon": "ceylon",
			"Clean": ("clean", "icl", "dcl"),
			"Clojure": ("clojure", "clj"),
			"Clojure REPL": "clojure-repl",
			"CMake": "cmake",
			"CoffeeScript": ("coffeescript", "coffee", "cson", "iced"),
			"Coq": "coq",
			"Caché Object Script": ("cos", "cls"),
			"CocoaPod": "podspec",
			"crmsh": ("crmsh", "crm", "pcmk"),
			"Crystal": ("crystal", "cr"),
			"CSP": "csp",
			"CSS": "css",
			"D": "d",
			"Dart": "dart",
			"Delphi (Object Pascal)": ("delphi", "dfm", "dpr"),
			"Diff": ("diff", "patch"),
			"Django": ("django", "jinja"),
			"DNS Zone File": "dns",
			"Dockerfile": ("dockerfile", "docker"),
			"dsconfig": "dsconfig",
			"Device Tree": "dts",
			"Dust": ("dust", "dst"),
			"EBNF": "ebnf",
			"Elixir": "elixir",
			"Elm": "elm",
			"ERB": "erb",
			"Erlang": ("erlang", "erl"),
			"Erlang REPL": "erlang-repl",
			"Excel": ("excel", "xls", "xlsx"),
			"F#": ("fs", "fsharp"),
			"Fix": "fix",
			"Flix": "flix",
			"Fortran": ("fortran", "f90", "f95"),
			"GAMS": ("gams", "gms"),
			"Gauss": ("gauss", "gss"),
			"G-code": ("gcode", "nc"),
			"Gherkin": ("gherkin", "feature"),
			"GLSL": "glsl",
			"Go": ("go", "golang"),
			"Golo": "golo",
			"Gradle": "gradle",
			"Groovy": "groovy",
			"Haml": "haml",
			"Handlebars": ("handlebars", "hbs"),
			"Haskell": ("haskell", "hs"),
			"Haxe": ("haxe", "hx"),
			"HSP": "hsp",
			"HTML": "html",
			"HTMLBars": "htmlbars",
			"HTTP": "http",
			"HTTPS": "https",
			"Hy": ("hy", "hylang"),
			"Inform7": ("inform7", "i7"),
			"Ini": ("ini", "toml"),
			"IRPF90": "irpf90",
			"Java": ("java", "jsp"),
			"JavaScript (Babel)": ("javascript", "js", "jsx"),
			"JAXB (XML)": "xjb",
			"JBoss CLI": ("jboss-cli", "wildfly-cli"),
			"JSON": "json",
			"Julia": "julia",
			"Julia REPL": "julia-repl",
			"Kotlin": "kotlin",
			"Lasso": ("lasso", "lassoscript", "ls"),
			"LDIF": "ldif",
			"Leaf": "leaf",
			"Less": "less",
			"Lisp": "lisp",
			"LiveCode Server": "livecodeserver",
			"LiveScript": ("livescript", "ls"),
			"LLVM IR": "llvm",
			"LSL": "lsl",
			"Lua": "lua",
			"Makefile": ("makefile", "mk", "mak"),
			"Markdown": ("markdown", "md", "mkd", "mkdown"),
			"Mathematica": ("mathematica", "mma"),
			"MatLab": "matlab",
			"Maxima": "maxima",
			"MEL": "mel",
			"Mercury": ("mercury", "m", "moo"),
			"MISP Assembly": ("mipsasm", "mips"),
			"Mikrotik RouterOS": ("routeros", "mikrotik"),
			"Mizar": "mizar",
			"Mojolicious": "mojolicious",
			"Monkey": "monkey",
			"MoonScript": ("moonscript", "moon"),
			"N1QL": "n1ql",
			"Nginx": ("nginx", "nginxconf"),
			"Nimrod": ("nimrod", "nim"),
			"Nix": ("nix", "nixos"),
			"NSIS": "nsis",
			"Objective-C": ("objectivec", "objc", "obj-c", "mm"),
			"OCaml": ("ocaml", "ml"),
			"OpenSCAD": ("openscad", "scad"),
			"Oracle Rules Language": "ruleslanguage",
			"Oxygene": "oxygene",
			"Parser3": "parser3",
			"Pascal/Object Pascal": ("pascal", "pas", "freepascal", "lazarus", "lfm", "lpr"),
			"Perl": ("perl", "pl", "pm"),
			"PF": "pf",
			"PHP": ("php", "php3", "php4", "php5", "php6"),
			"Pony": "pony",
			"PowerShell": ("powershell", "ps"),
			"Processing": "processing",
			"Prolog": "prolog",
			"Property List": "plist",
			"Protocol Buffers": "protobuf",
			"Puppet": ("puppet", "pp"),
			"PureBASIC": ("purebasic", "pb", "pbi"),
			"Python": ("python", "py", "gyp"),
			"Python profile": "profile",
			"Q": ("q", "k", "kdb"),
			"QML": ("qml", "qt"),
			"R": "r",
			"RenderMan RIB": "rib",
			"RenderMan RSL": "rsl",
			"Roboconf": ("roboconf", "graph", "instances"),
			"RSS Feed (XML)": "rss",
			"Ruby": ("ruby", "rb"),
			"Thor": "thor",
			"IRB": "irb",
			"Ruby Gem": "gemspec",
			"Rust": ("rust", "rs"),
			"Scala": "scala",
			"Scheme": "scheme",
			"Scilab": ("scilab", "sci"),
			"SCSS": "scss",
			"Shell": ("shell", "console"),
			"Smali": "smali",
			"Smalltalk": ("smalltalk", "st"),
			"SML": ("sml", "ml"),
			"SQF": "sqf",
			"SQL": "sql",
			"Stan": "stan",
			"Stata": ("stata", "do", "ado"),
			"STEP Part 21": ("step21", "step", "stp", "p21"),
			"Stylus": ("stylus", "styl"),
			"SubUnit": "subunit",
			"Swift": "swift",
			"Tagger Script": "taggerscript",
			"TAP": "tap",
			"Tcl": ("tcl", "tk"),
			"TeX": "tex",
			"Thrift": "thrift",
			"TP": "tp",
			"Twig": ("twig", "craftcms"),
			"TypeScript": ("typescript", "ts"),
			"Vala": "vala",
			"VB.NET": ("vbnet", "vb"),
			"VBScript": ("vbscript", "vbs"),
			"VBScript HTML": "vbscript-html",
			"Verilog": ("verilog", "v", "sv", "svh"),
			"VHDL": "vhdl",
			"Vim Script": "vim",
			"x86 Assembly": "x86asm",
			"XL": ("xl", "tao"),
			"XQuery": ("xquery", "xq" "xpath"),
			"YAML": ("yaml", "yml"),
			"XHTML": "xhtml",
			"XML": "xml",
			"XML Schema": "xsd",
			"XSL": "xsl",
			"Zephir": ("zephir", "zep")
		);
		@each $l in map-keys($languages) {
			@each $e in map-get($languages, $l) {
				&[class~="#{$e}" i] {
					@include pseudo(before) {
						content: "#{$l}";
					}
				}
			}
		}
		// COPYBUTTON
		.copybutton {
			background-color: hsla(0, 0%, 100%, .1) !important;
			color: hsla(0, 0%, 100%, .7) !important;
			border: none !important;
			border-top-left-radius: 3px;
			opacity: 0;
			@include prefix(transition, all .3s ease-in-out);
			@include prefix(user-select, none);
			&:hover {
				color: #fff !important;
			}
			&:active {
				color: var(--main-color) !important;
			}
		}
		&:hover {
			.copybutton {
				opacity: 1;
			}
		}
	}
	// LINENUMBERS
	.kawaii-linenumbers {
		list-style: none;
		counter-reset: linenumbers;
		border-left: 2.6ch solid hsla(0, 0%, 100%, .04);
		margin: -6px;
		padding: 6px;
		li {
			text-indent: -3ch;
			margin-left: 0;
			padding: 0;
			border: none;
			@include pseudo(before) {
				content: counter(linenumbers);
				counter-increment: linenumbers;
				color: hsla(0, 0%, 100%, .5);
				display: inline-block;
				width: 2ch;
				margin-right: .5ch;
				padding-right: .5ch;
				text-align: right;
				overflow: hidden;
				vertical-align: top;
				@include prefix(user-select, none);
			}
		}
	}
	a {
		color: var(--main-color) !important;
		@include hover-shadow;
	}
	.mentioned .message-text {
		background-color: rgba(100, 100, 100, .3) !important;
		@include pseudo(after) {
			background: rgba(100, 100, 100, .3);
			border-left: 4px solid var(--main-color);
			border-radius: 2px 0 0 2px;
		}
	}
	// EMBEDS
	.embed-wrapper {
		.embed-color-pill {
			opacity: .3;
			border-radius: 0;
			&:not([style*=background-color]) {
				background-color: hsla(0, 0%, 100%, .1);
				opacity: 1;
			}
		}
		.embed {
			background-color: transparent;
			border-color: transparent;
			a[href] {
				color: var(--main-color) !important;
				@include hover-shadow;
			}
			.embed-video-actions {
				.embed-video-actions-inner {
					background: rgba(0, 0, 0, .5);
					@include prefix(box-shadow, inset 0 0 10px rgba(0, 0, 0, .5));
				}
			}
		}
	}
	// INVITE LINKS
	.wrapper-uAa07y {
		background-color: rgba(0, 0, 0, .4);
		border-color: transparent;
		.guildName-C1hTEs {
			color: hsla(0, 0%, 100%, .7);
		}
		.guildNameExpired-3OXvVV {
			color: var(--dnd-color);
		}
		.guildIconExpired-2MVLDd {
			position: relative;
			background-size: 0;
			background-color: hsla(0, 0%, 100%, .04);
			@include pseudo(after, before) {
				content: "";
				position: absolute;
				top: 10%;
				bottom: 10%;
				left: 50%;
				width: 6px;
				background-color: var(--dnd-color);
				border-radius: 1px;
			}
			@include pseudo(after) {
				@include prefix(transform, translateX(-50%) rotate(45deg));
			}
			@include pseudo(before) {
				@include prefix(transform, translateX(-50%) rotate(-45deg));
			}
		}
		.h5-3KssQU,
		.guildDetail-1-o1X5 {
			color: hsla(0, 0%, 100%, .5);
		}
		.button-NA7MEa {
			border-color: transparent;
		}
		.buttonOutlinedDefault-3FNQnZ {
			background-color: hsla(0, 0%, 100%, .1);
			cursor: default;
			opacity: .3;
		}
		.buttonBrandFilled-3Mv0Ra {
			background-color: transparent;
			border: 1px solid var(--dnd-color);
			@include prefix(transition, all .3s ease-in-out);
			&:hover {
				background-color: var(--dnd-color);
			}
		}
		.buttonGreenFilled-6QHNrw {
			background-color: transparent;
			border: 1px solid $green;
			@include prefix(transition, all .3s ease-in-out);
			&:hover {
				background-color: $green;
			}
		}
	}
	.statusOnline-139lnT,
	.statusOffline-1Vd2wV {
		@include prefix(box-shadow, 0 0 3px, 0 0 5px rgba(0, 0, 0, .5));
	}
	.statusOnline-139lnT {
		background-color: var(--online-color);
		color: var(--online-color);
	}
	.statusOffline-1Vd2wV {
		background-color: var(--offline-color);
		color: var(--offline-color);
	}
}

// BLOCKED MESSAGES
.message-group-blocked {
	background-color: rgba(0, 0, 0, .1) !important;
	border-color: transparent !important;
	border-top: 1px solid hsla(0, 0%, 100%, .04) !important;
    border-bottom: 1px solid hsla(0, 0%, 100%, .04) !important;
	border-radius: 0;
	.message-group-blocked-btn {
		@include clear;
		color: hsla(0, 0%, 100%, .3) !important;
		@include prefix(transition, all .3s ease-in-out);
		&:hover {
			color: hsla(0, 0%, 100%, .7) !important;
		}
	}
	.message-group {
		margin-top: -20px;
		margin-left: 0;
		// [FADES]
		// @include prefix(animation, fade-in .3s ease-in-out);
	}
	& + .divider {
		margin-top: 25px;
	}
	.divider + & {
		margin-top: 25px;
	}
}

// MENTIONS
.mention {
	padding: 1px 4px;
	background-color: rgba(115, 139, 215, .1) !important;
	color: #ddd !important;
	border-radius: 6px;
	@include prefix(transition, all .3s ease-in-out);
	white-space: nowrap;
	&:hover {
		background-color: var(--main-color) !important;
		color: #fff !important;
	}
	.mentioned & {
		@include clear;
		color: var(--main-color) !important;
		@include hover-shadow;
	}
}

// PLUGIN BUTTONS
.replyer,
.citar-btn,
.quoter,
.discrypt {
	border-radius: 3px;
	@include prefix(transition, all .3s ease-in-out);
	@include prefix(animation, fade-in .3s ease-in-out);
	&:hover {
		background-color: var(--main-color) !important;
	}
}
.message-group:not(:hover) .replyer {
	visibility: visible;
	opacity: 0;
}

// CHANNEL MEMBERS
.channel-members {
	background-color: rgba(0, 0, 0, .75) !important;
	& > h2 {
		margin-left: 15px;
		margin-right: 15px;
		padding: 4px 8px;
		background-color: rgba(0, 0, 0, .5);
		color: var(--main-color) !important;
		font-size: 11px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .08em;
		border-radius: 3px;
	}
	& > .member {
		@include prefix(transition, all .1s ease-in-out);
		@include prefix(backface-visibility, hidden);
		&:hover,
		&.popout-open {
			background: linear-gradient(to right, rgba(0, 0, 0, .3) 85%, transparent) !important;
		}
		&:active {
			@include prefix(transform, scale(.9));
		}
		.member-username {
			font-size: 14px;
		}
		.member-activity {
			strong {
				color: var(--main-color) !important;
				font-weight: 700;
			}
		}
		&.member-status-offline {
			.avatar-small {
				@include prefix(filter, grayscale(100%) blur(1px));
				@include prefix(transition, all .5s ease-in-out);
			}
			&:hover {
				.avatar-small {
					@include prefix(filter, none);
				}
			}
		}
	}
}
.channel-members-loading {
	display: none;
}

// SEARCH RESULTS
.search-results-wrap {
	background-color: rgba(0, 0, 0, .75) !important;
}

// FRIENDS TABLE
#friends {
	@include clear;
	.headerBar-cxbhPD {
		background-color: rgba(0, 0, 0, .7) !important;
		.tab-bar {
			.tab-bar-item {
				@include clear;
				color: hsla(0, 0%, 100%, .6) !important;
				@include prefix(transition, all .3s ease-in-out);
				&:hover {
					background-color: rgba(0, 0, 0, .5) !important;
				}
				&.selected {
					background-color: var(--main-color) !important;
					color: #fff !important;
				}
			}
		}
	}
	.friends-table {
		background-color: rgba(0, 0, 0, .6) !important;
		margin-top: 0;
		.friends-table-header {
			.friends-column {
				color: hsla(0, 0%, 100%, .5) !important;
			}
			.friends-column-separator {
				background-color: hsla(0, 0%, 100%, .04) !important;
			}
		}
		.friend-table-add-header {
			background: transparent !important;
			border-bottom: 1px solid hsla(0, 0%, 100%, .1) !important;
			.add-friend-input-wrapper {
				background-color: rgba(0, 0, 0, .3);
				border-color: transparent;
				@include prefix(transform, translateZ(0));
				& > .add-friend-input {
					&::-webkit-input-placeholder {
						color: hsla(0, 0%, 100%, .2);
					}
					& + .add-friend-hint {
						
						@include pseudo(after) {
							content: "";
							position: fixed;
							@include stretch;
							border: 1px solid transparent;
							border-radius: 3px;
							@include prefix(transition, all .3s ease-in-out);
							pointer-events: none;
						}
					}
					&:focus + .add-friend-hint {
						@include pseudo(after) {
							border-color: var(--main-color);
						}
					}
				}
				& > .add-friend-hint {
					color: hsla(0, 0%, 100%, .2);
				}
			}
		}
		.friend-table-suggestions-header {
			@include clear;
			border-bottom: 1px solid hsla(0, 0%, 100%, .1) !important;
		}
		.friends-row {
			&:hover {
				background-color: rgba(0, 0, 0, .3) !important;
			}
			.friends-column-name {
				color: hsla(0, 0%, 100%, .4) !important;
			}
			.friends-column-status {
				.friend-activity-text {
					& > strong {
						font-weight: 600;
					}
				}
			}
			.friends-column-guilds {
				.avatar-small {
					background-color: transparent;
				}
			}
			.friends-column-actions .friends-action {
				background-color: var(--main-color) !important;
				@include prefix(transition, all .3s ease-in-out);
				&:hover {
					background-color: var(--hover-color) !important
				}
			}
			& + .friends-row {
				border-color: hsla(0, 0%, 100%, .04) !important;
			}
		}
	}
	.btn {
		background-color: var(--main-color) !important;
		&:hover {
			background-color: var(--hover-color) !important;
		}
	}
}

// BUTTONS
.btn {
	border-radius: 3px;
	@include prefix(transition, all .3s ease-in-out);
	&.btn-primary {
		background-color: var(--main-color) !important;
		&:hover {
			background-color: var(--hover-color) !important;
		}
	}
}

// SCROLLBARS
::-webkit-scrollbar {
	width: 14px !important;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece {
	border: 3px solid transparent !important;
	border-radius: 7px !important;
	background-clip: padding-box !important;
}
::-webkit-scrollbar-thumb {
	background-color: var(--main-color) !important;
	&:active {
		background-color: var(--hover-color) !important;
	}
}
::-webkit-scrollbar-track {
	@include clear;
}
::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
}
.channels-3g2vYe,
.private-channels {
	.scroller-fzNley {
		&::-webkit-scrollbar-track-piece {
			background-color: rgba(0, 0, 0, .3) !important;
		}
		&:not(:hover) {
			&::-webkit-scrollbar-thumb,
			&::-webkit-scrollbar-track-piece {
				visibility: hidden;
			}
		}
	}
}
.chat,
.friends-table,
.context-menu {
	.scroller {
		&::-webkit-scrollbar-track-piece {
			background-color: rgba(0, 0, 0, .3) !important;
		}
	}
}
textarea {
	&::-webkit-scrollbar {
		display: none;
	}
}

// AVATARS
.avatar-small,
.avatar-large {
	@include clear;
	@include prefix(box-shadow, 0 0 5px rgba(0, 0, 0, .5));
}
.avatar-large {
	margin-left: 8px;
	margin-right: 12px !important;
}

// STATUS
.status,
.statusProfile-29OBzn {
	@include prefix(box-shadow, 0 0 3px, 0 0 5px rgba(0, 0, 0, .5));
	@include prefix(transition, all .3s ease-in-out);
}
.status {
	border: none !important;
	margin: 2px;
	&.status-online {
		background-color: var(--online-color);
		color: var(--online-color);
	}
	&.status-idle {
		background-color: var(--idle-color);
		color: var(--idle-color);
	}
	&.status-dnd {
		background-color: var(--dnd-color);
		color: var(--dnd-color);
	}
	&.status-offline,
	&.status-invisible {
		background-color: var(--offline-color);
		color: var(--offline-color);
	}
}
.statusProfile-29OBzn {
	&.statusOnlineProfile-2tnPUH {
		background-color: var(--online-color);
		color: var(--online-color);
	}
	&.statusIdleProfile-2QT8cN {
		background-color: var(--idle-color);
		color: var(--idle-color);
	}
	&.statusDndProfile-3KCGdy {
		background-color: var(--dnd-color);
		color: var(--dnd-color);
	}
	&.statusOfflineProfile-1wnfgz,
	&.statusInvisibleProfile-LRuFr_ {
		background-color: var(--offline-color);
		color: var(--offline-color);
	}
}

// BADGES
.badge,
.wrapper-2xO9RX {
	background-color: var(--main-color) !important;
	color: #fff !important;
	padding: 3px 5px;
    font-weight: 600;
	@include prefix(box-shadow, none);
	@include prefix(transition, all .3s ease-in-out);
}
.selected {
	.badge {		
		background-color: #fff !important;
		color: var(--main-color) !important;
	}
}

// BOT TAGS
.bot-tag,
.botTag-1OwMgs {
	padding: 1px 2px;
	background: rgba(100, 100, 100, .3) !important;
	color: hsla(0, 0%, 100%, .6) !important;
	font-weight: 700;
	text-shadow: 0 0 1px rgba(0, 0, 0, .3);
	border-radius: 3px;
}
.botTagInvert-gorWR_ {
	padding: 2px 3px;
    background-color: rgba(0, 0, 0, .2) !important;
	color: hsla(0, 0%, 100%, .8) !important;
	font-size: 11px;
    border-radius: 5px;
}
.bot-tag {
	.channel-members & {
		font-size: 11px;
	}
}

// OWNER TAG
.kawaii-tag {
	&.kawaii-tag-invert {
		padding: 2px 3px;
		background-color: rgba(0, 0, 0, .2);
		color: hsla(0, 0%, 100%, .8) !important;
		font-size: 11px;
		border-radius: 5px;
	}
	.channel-members & {
		padding: 1px 2px;
		color: #fff;
		height: 14px;
		border-radius: 3px;
		font-size: 10px;
		text-align: center;
		font-weight: 500;
		text-shadow: 0 0 1px rgba(0, 0, 0, .3);
		text-transform: uppercase;
		vertical-align: bottom;
		margin-left: 6px;
	}
}

// TOOLTIPS
.tooltip {
	&.tooltip-black,
	&.tooltip-red {
		padding: 5px 10px;
		background-color: var(--main-color);
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border-radius: 3px;
		@include prefix(box-shadow, 0 2px 10px 0 rgba(0, 0, 0, .2));
		@each $e in top, right, bottom, left {
			&.tooltip-#{$e} {
				@include pseudo(after) {
					border-#{$e}-color: var(--main-color);
				}
			}
		}
	}
}

// CHECKBOXES
.checkbox {
	.checkbox-inner {
		width: 35px;
		height: 18px;
		background: rgba(0, 0, 0, .3);
		border-radius: 10px;
		left: 0;
		span {
			width: 0;
			background-color: transparent !important;
			border: none !important;
			border-radius: 10px;
			@include prefix(transition, all .2s ease-in-out);
			@include pseudo(after) {
				content: "";
				display: block;
				top: 0 !important;
				left: 0 !important;
				width: 18px !important;
				height: 18px !important;
				margin: 0;
				background-color: #fff !important;
				border: none !important;
				border-radius: 50%;
				@include prefix(box-shadow, 0 0 1px 1px rgba(0, 0, 0, .3));
				@include prefix(transition, all .2s ease-in-out !important);
				@include prefix(transform, none !important);
			}
		}
		input:checked {
			& + span {
				width: 100%;
				background-color: var(--main-color) !important;
				@include pseudo(after) {
					margin-left: 17px !important;
				}
			}
		}
	}
}

// SMALL POPOUTS
.small-popout-box {
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid transparent;
	@include prefix(animation, menu-fold .3s cubic-bezier(.2, .6, .5, 1.1));
	@include prefix(transform-origin, 50% 0);
}
.option-popout {
	.btn-item {
		color: hsla(0, 0%, 100%, .4);
		@include prefix(transition, all .15s ease-in-out);
		&:hover {
			color: hsla(0, 0%, 100%, .7);
		}
	}
}

// CONTEXT MENU
.context-menu {
	background-color: rgba(0, 0, 0, .7) !important;
	border-color: transparent !important;
	@include prefix(box-shadow, 0 0 1px rgba(0, 0, 0, .82), 0 1px 4px rgba(0, 0, 0, .1) !important);
	@include prefix(animation, menu-fold .3s cubic-bezier(.2, .6, .5, 1.1));
	@include prefix(transform-origin, 50% 0);
	&.invertY {
		@include prefix(transform-origin, 50% 100%);
	}
	.item-group {
		border-top-color: hsla(0, 0%, 100%, .04) !important;
	}
	.item {
		@include clear;
		color: hsla(0, 0%, 100%, .6);
		border-radius: 3px;
		@include prefix(transition, all .1s ease-in-out);
		&:hover {
			color: #fff;
			background-color: rgba(0, 0, 0, .7) !important;
		}
		&.danger {
			background-color: $dark-red !important;
			color: hsla(0, 0%, 100%, .6) !important;
			width: calc(100% - 4px);
			margin: 2px;
			&:hover {
				background-color: $red !important;
				color: #fff !important;

			}
		}
	}
	.item-subMenu {
		.context-menu {
			@include prefix(animation, menu-slide .15s cubic-bezier(.2, .6, .5, 1.1));
			@include prefix(transform-origin, 0% 50%);
		}
	}
}

// POPOUTS
.popout {
	header {
		background-color: var(--main-color);
		border-radius: 3px 3px 0 0;
	}
	@each $e in top, bottom {
		&.popout-#{$e} header,
		&.popout-#{$e}-right header,
		&.popout-#{$e}-left header {
			@include pseudo(before) {
				border-#{$e}-color: var(--main-color);
			}
		}
	}
	@each $e in right, left {
		&.popout-#{$e} header {
			@include pseudo(before) {
				border-#{$e}-color: var(--main-color);
			}
		}
	}
	section {
		background-color: rgba(0, 0, 0, .7);
		border-radius: 0 0 3px 3px;
		@include pseudo(after, before) {
			content: none;
		}
	}
}
#autocomplete-popout {
	.autocomplete-scroller {
		overflow-y: auto;
	}
	.row {
		&:hover,
		&.selected {
			background: rgba(0, 0, 0, .7);
		}
	}
}

// USER POPOUTS
.userPopout-4pfA0d {
	position: relative;
	border-radius: 5px;
	@include prefix(box-shadow, 0 2px 10px 0 rgba(0, 0, 0, .2));
	@include prefix(transform, none !important);
	@include prefix(animation, menu-pop .15s cubic-bezier(.2, .6, .5, 1.1));
	@include pseudo(before) {
		content: "";
		position: absolute;
		@include pos(-5px, -5px, -5px, -5px);
		background-position: center;
		@include prefix(filter, blur(3px));
		z-index: -1;
	}
	// USER POPOUT HEADER
	.header-3mZJcV {
		background-color: rgba(0, 0, 0, .3);
	}
	.headerStreaming-3F-wjT {
		.activity-AFBUEw {
			background-color: rgba($purple, .5);
		}
	}
	.activityUserPopout-1nmgaw {
		.headerText-2CVBxK {
			color: hsla(0, 0%, 100%, .7);
		}
		.name-8onsv0 {
			color: var(--main-color);
			text-shadow: 0 0 5px rgba(0, 0, 0, .5);
			font-weight: 600;
		}
		.timestamp-3IDuMO {
			font-style: italic;
		}
	}
	.button-2t3of8 {
		background-color: hsla(0, 0%, 100%, .05);
		border-color: transparent;
		@include prefix(transition, all .3s ease-in-out);
		&:hover {
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	.avatar-1BXaQj {
		@include prefix(box-shadow, 0 0 5px rgba(0, 0, 0, .5));
		.image-EVRGPw {
			background-color: transparent;
		}
	}
	.activity-AFBUEw {
		background-color: rgba(0, 0, 0, .04);
	}
	// USER POPOUT BODY
	.body-3rkFrF {
		background-color: rgba(0, 0, 0, .65);
	}
	.root-uMQa_6 {
		max-height: 230px;
		overflow-y: auto;
	}
	.bodyTitle-yehI7c {
		color: hsla(0, 0%, 100%, .6);
	}
	.note {
		textarea {
			@include clear;
			color: hsla(0, 0%, 100%, .8) !important;
			@include prefix(transition, all .3s ease-in-out);
			&::-webkit-input-placeholder {	
				color: hsla(0, 0%, 100%, .5);
			}
		}
	}
	// USER POPOUT FOOTER
	.footer-2J5zqP {
		background-color: rgba(0, 0, 0, .65);
		border-color: hsla(0, 0%, 100%, .04);
	}
	.quickMessage-28pD5Y {
		background: rgba(0, 0, 0, .3);
		border-color: transparent;
		color: #fff;
		@include prefix(transition, all .3s ease-in-out);
		&::-webkit-input-placeholder {	
			color: hsla(0, 0%, 100%, .5);
		}
		&:focus {
			background: rgba(0, 0, 0, .5);
			border-color: var(--main-color);
		}
	}
	.protip .label {
		color: var(--main-color);
	}
}

// MEMBER ROLES
// NEW MEMBER ROLES
.role-3rahR_ {
	position: relative;
	@include display-flex;
	@include flex-direction(row-reverse);
	border-radius: 3px;
	@include prefix(transition, all .1s ease-in-out);
	cursor: default;
	&[style] {
		&:not(:hover) {
			border-color: transparent !important;
		}
	}
	&:not([style]) {
		background-color: hsla(0, 0%, 100%, .1);
		border-color: transparent;
	}
	& > .roleCircle-3-vPZq {
		width: 0;
		height: 0;
		float: right;
		&:not(:empty) {
			margin-left: 6px;
		}
		@include pseudo(after) {
			content: "";
			position: absolute;
			@include pos(-1px, -1px, -1px, -1px);
			border-radius: 3px;
			background-color: inherit;
			opacity: .1;
			@include prefix(transition, all .1s ease-in-out);
			pointer-events: none;
		}
		& > .roleRemoveIcon-2iu0iE {
			position: absolute;
			display: block;
			opacity: 0;
			@include prefix(transition, all .1s ease-in-out);
			.fill {
				fill: #fff !important;
			}
		}
	}
	& > .roleName-DUQZ9m {
		margin-right: 0;
		margin-left: 4px;
		color: hsla(0, 0%, 100%, .7);
		@include prefix(transition, all .1s ease-in-out);
	}
	&:hover  {
		& > .roleCircle-3-vPZq {
			@include pseudo(after) {
				opacity: .3;
			}
			& > .roleRemoveIcon-2iu0iE {
				opacity: 1;
			}
		}
		& > .roleName-DUQZ9m {
			color: #fff;
		}
	}
}
.addButton-3RuTE0 {
	background-color: hsla(0, 0%, 100%, .1);
	@include prefix(transition, all .1s ease-in-out);
	cursor: pointer;
	&:hover {
		background-color: hsla(0, 0%, 100%, .2);
	}
	& > svg {
		width: 7px;
		height: 7px;
		color: hsla(0, 0%, 100%, .5);
		@include prefix(transition, inherit);
	}
	&:hover > svg {
		color: #fff;
	}
}
// OLD MEMBER ROLES
.ui-role-list-role {
	position: relative;
	@include prefix(transition, all .1s ease-in-out);
	@include pseudo(after) {
		content: "";
		position: absolute;
		@include pos(-1px, -1px, -1px, -1px);
		border-radius: 3px;
		background-color: inherit;
		opacity: 0;
		@include prefix(transition, all .1s ease-in-out);
		pointer-events: none;
	}
	&:hover {
		@include pseudo(after) {
			opacity: 1;
		}
	}
	&[style] {
		&:not(:hover) {
			border-color: transparent !important;
		}
	}
	&:not([style]) {
		background-color: hsla(0, 0%, 100%, .1);
		border-color: transparent !important;
		color: hsla(0, 0%, 100%, .7);
	}
}
.ui-role-list-add {
	background-color: hsla(0, 0%, 100%, .1);
	border-color: transparent !important;
	@include prefix(transition, all .1s ease-in-out);
	&:hover {
		background-color: hsla(0, 0%, 100%, .2);
	}
}
.member-perms .member-perm {
	cursor: default;
}

// NOTICES
.notice {
	border-radius: 0 0 5px 5px;
	&.notice-danger {
		background-color: rgba($red, .7);
		.btn {
			@include prefix(transition, all .3s ease-in-out);
			@include hover-cutout;
		}
	}
}

// TOAST
.toast {
	background-color: rgba(0, 0, 0, .5) ;
	@include prefix(box-shadow, 0 2px 10px 0 rgba(0, 0, 0, .2));
	color: hsla(0, 0%, 100%, .7);
}

// SPINNER
.spinner-wandering-cubes {
	.spinner-item {
		background-color: var(--main-color);
	}
}

// LOADING SCREEN
.container-2oOGIt {
	background-color: rgba(0, 0, 0, .9);
}
.links-3m0VgL {
	color: var(--main-color);
	opacity: 1 !important;
	@include hover-shadow;
}
.path-2DIvxA {
	stroke: var(--main-color) !important;
}
.path2-3n_CYd {
	opacity: .5 !important;
}.path3-1Ti7dU {
	opacity: .3 !important;
}

// SETTINGS
.sidebar-region {
	.sidebar-region-scroller {
		margin-right: 8px;
		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}
}

// KEYFRAMES
@include keyframes(fade-in) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@include keyframes(guild-select) {
    from {
        height: 0px;
        margin-top: 0px;
    }
    to {
        height: 40px;
        margin-top: -20px;
    }
}
@include keyframes(pulsate-color) {
    0%,
	100% {
        background-color: #333539;
    }
    50% {
        background-color: currentcolor;
    }
}
@include keyframes(pulsate-border) {
    0%,
	100% {
        border-color: #535559;
    }
    50% {
        border-color: currentcolor;
    }
}
@include keyframes(badge) {
    from {
        background-color: var(--main-color);
    }
    to {
        background-color: var(--hover-color);
    }
}
@include keyframes(menu-fold) {
	from {
		@include prefix(transform, rotateX(-90deg));
		opacity: 0;
	}
	to {
		@include prefix(transform, none);
		opacity: 1;
	}
}
@include keyframes(menu-slide) {
	from {
		@include prefix(transform, rotateY(-90deg));
		opacity: 0;
	}
	to {
		@include prefix(transform, none);
		opacity: 1;
	}
}
@include keyframes(menu-pop) {
    from {
		@include prefix(transform, scale(0));
        opacity: 0;
    }
    to {
		@include prefix(transform, none);
        opacity: 1;
    }
}
@include keyframes(message-fade) {
	0%,
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}