---
---
// VARIABLES
$version: "ClearVision v6-pre-2.3.6";
$green: #43b581;
$red: #f04747;
$dark-red: #a93d3d;
$purple: #593695;

// MIXINS
@import "mixins.scss";

/// Force clear background
@mixin clear {
	background: transparent !important;
}

/// Stretch element
@mixin stretch {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/// Create hover shadow effect
@mixin hover-shadow {
	transition: all .1s ease-in-out;
	&:hover {
		text-shadow: 0 0 1px;
		text-decoration: none !important;
	}
}

/// Create hower cutout effect
@mixin hover-cutout {
	mix-blend-mode: screen;
	background-color: transparent;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

/*! ClearVision #{$version} by Zerthox */

// IMPORT SELECTORS
@import "selectors.scss";

// TEST SETTINGS [REMOVE]
:root {
	--main-color: #2780e6;
	--hover-color: #1e63b3;
	--background-blur: 0px;
	--background-brightness: 100%;
	--online-color: #43b581;
	--idle-color: #faa61a;
	--dnd-color: #982929;
	--offline-color: #808080;
}
body:after,
body::after,
%userPopout:before,
%userPopout::before,
%userModal:before,
%userModal::before {
	background-image: url(https://zerthox.github.io/ClearVision/images/sapphire.jpg) !important;
}

/* APP  */
@import "general/app.scss";

/* TITLEBAR */
@import "general/titlebar.scss";

/* GUILDS */
@import "guilds/guilds.scss";

/* CHANNELS */
@import "channels/channels.scss";
@import "channels/containers.scss";
@import "channels/unreadIndicator.scss";
@import "channels/privateChannels.scss";

/* CHAT */
@import "chat/chat.scss";
@import "chat/divider.scss";
@import "chat/bars.scss";
@import "chat/textarea.scss";
@import "chat/welcome.scss";

/* MESSAGES */
@import "messages/message.scss";
@import "messages/inviteLink.scss";
@import "messages/embed.scss";
@import "messages/codeblock.scss";
@import "messages/codeLanguages.scss";
@import "messages/mention.scss";
@import "messages/blocked.scss";

/* MEMBERS */
@import "members/members.scss";

/* SEARCH */
@import "search/search.scss";

/* HOME TAB */
@import "home/friends.scss";

/* AVATARS */
@import "general/avatar.scss";

/* STATUS */
@import "general/status.scss";

/* BOT TAGS */
@import "general/botTag.scss";

/* GENERAL ELEMENTS */
@import "general/button.scss";
@import "general/scrollbar.scss";
@import "general/badge.scss";
@import "general/tooltip.scss";
@import "general/checkbox.scss";

/* CONTEXT MENU */
@import "popouts/contextMenu.scss";

/* POPOUTS */
@import "popouts/popout.scss";
@import "popouts/messageOptions.scss";
@import "popouts/messagesPopout.scss";
@import "popouts/autocompletePopout.scss";

/* USER POPOUT */
@import "popouts/userPopout.scss";

/* MEMBER ROLES */
@import "general/roles.scss";

/* USER PROFILE MODAL */
@import "modals/userModal.scss";

// NOTICES
.notice {
	border-radius: 0 0 5px 5px;
	&.notice-danger {
		background-color: rgba($red, .7);
		.btn {
			transition: all .3s ease-in-out;
			@include hover-cutout;
		}
	}
}

// TOAST
.toast {
	background-color: rgba(0, 0, 0, .5) ;
	@include box-shadow(0 2px 10px 0 rgba(0, 0, 0, .2));
	color: hsla(0, 0%, 100%, .7);
}

// SPINNER
.spinner-wandering-cubes {
	.spinner-item {
		background-color: var(--main-color);
	}
}

// LOADING SCREEN
.container-2oOGIt { // [TODO]
	background-color: rgba(0, 0, 0, .9);
}
.links-3Ldd4A {
	color: var(--main-color);
	opacity: 1 !important;
	@include hover-shadow;
}
.path-92Hmty {
	stroke: var(--main-color) !important;
}
.path2-1q7bG_ {
	opacity: .5 !important;
}
.path3-2l9TIX {
	opacity: .3 !important;
}

// SETTINGS SIDEBAR
%standardSidebarView {
	@include clear;
	%settingsSidebarRegion {
		%settingsSidebar {
			height: 100%;
			padding: 0px 6px 0px 20px;
		}
	}
}
%settingsSidebarRegion {
	@include clear;
	.sidebar-region-scroller {
		margin-right: 8px;
		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}
	.scroller-2FKFPG {
		margin: 30px 0;
		@include prefix(mask-image, -webkit-linear-gradient(top,transparent 0%,#000 5%, #000 95%,transparent 100%));
	}
	.side-8zPYf6 {
		padding: 30px 0;
		.header-2RyJ0Y {
			color: var(--main-color);
		}
		.item-PXvHYJ {
			color: hsla(0, 0%, 100%, .3) !important;
			padding: 8px 0 8px 20px;
			margin: 0;
			cursor: pointer;
			transition: all .15s ease-in-out;
			@include pseudo(before) {
				opacity: .3;
				transition: all .15s ease-in-out;
			}
			&:hover {
				background-color: hsla(0, 0%, 100%, .07) !important;
				color: hsla(0, 0%, 100%, .7) !important;
				@include pseudo(before) {
					opacity: .7;
				}
			}
			&.itemSelected-1qLhcL {
				background-color: var(--main-color) !important;
				color: #fff !important;
				@include pseudo(before) {
					opacity: 1;
				}
			}
			&[style*="color: rgb(240, 71, 71)"] {
				background-color: rgba($red, .5) !important;
				color: hsla(0, 0%, 100%, .5) !important;
				@include pseudo(before) {
					opacity: .5;
				}
				&:hover {
					background-color: rgba($red, .7) !important;
					color: hsla(0, 0%, 100%, 1) !important;
					@include pseudo(before) {
						opacity: 1;
						@include transform(rotateY(180deg));
					}
				}
			}
		}
		.separator-gCa7yv {
			background-color: hsla(0, 0%, 100%, .04);
		}
	}
}

// BD SETTINGS SIDEBAR
#bd-settings-sidebar {
	.ui-tab-bar-header {
		color: var(--main-color);
		font-weight: 700;
	}
	.ui-tab-bar-item {
		color: hsla(0, 0%, 100%, .3) !important;
		padding: 8px 0 8px 20px;
		margin: 0;
		cursor: pointer;
		transition: all .15s ease-in-out;
			@include pseudo(before) {
				opacity: .3;
				transition: all .15s ease-in-out;
			}
		&:hover {
			background-color: hsla(0, 0%, 100%, .07) !important;
			color: hsla(0, 0%, 100%, .7) !important;
			@include pseudo(before) {
				opacity: .7;
			}
		}
		&.selected {
			background-color: var(--main-color) !important;
			color: #fff !important;
			@include pseudo(before) {
				opacity: 1;
			}
		}
	}
	.ui-tab-bar-separator {
		background-color: hsla(0, 0%, 100%, .04);
	}
	div[style] {
		color: hsla(0, 0%, 100%, .3) !important;
	}
	a {
		color: var(--main-color);
		@include hover-shadow;
	}
}

// SETTINGS ICONS
@import "settings/icons.scss";

// SETTINGS CONTENT
%settingsContentRegion {
	@include clear;
}

/* PLUGINS */
@import "plugins/messageButtons.scss";
@import "plugins/ownerTag.scss";

// KEYFRAMES
@include keyframes(guild-select) {
    from {
        height: 0px;
        margin-top: 0px;
    }
    to {
        height: 40px;
        margin-top: -20px;
    }
}
@include keyframes(pulsate-color) {
    0%,
	100% {
        background-color: #333539;
    }
    50% {
        background-color: currentcolor;
    }
}
@include keyframes(pulsate-border) {
    0%,
	100% {
        border-color: #535559;
    }
    50% {
        border-color: currentcolor;
    }
}
@include keyframes(badge) {
    from {
        background-color: var(--main-color);
    }
    to {
        background-color: var(--hover-color);
    }
}
@include keyframes(menu-fold) {
	from {
		@include transform(rotateX(-90deg));
		opacity: 0;
	}
	to {
		@include transform(none);
		opacity: 1;
	}
}
@include keyframes(menu-slide) {
	from {
		@include transform(rotateY(-90deg));
		opacity: 0;
	}
	to {
		@include transform(none);
		opacity: 1;
	}
}
@include keyframes(menu-pop) {
    from {
		@include transform(scale(0));
        opacity: 0;
    }
    to {
		@include transform(none);
        opacity: 1;
    }
}