---
---
// VARIABLES
$version: "ClearVision v6-pre-23";
$marks: (
	BD Dev: 81388395867156480, // Jiiks
	CV Dev: 144881947557101568, // Zerthox
	CV Mod: (
	    194151269399527425, // untuned
	    66043140208857088 // tehbasshunter
	),
	Contrib: (
		236579127090610176, // Danielle
		97797564866236416, // Hebgbs
		150750980097441792 // Orangutan
	),
	Donator: (
		168551219135119361, // Auro
		151995147150819328, // Kinghellish
		78890013378486272, // Macpot
		66214870705516544, // Lordmau5
		107965218868457472, // Mudock Yatho
		174525242939670528, // L. T. S.
		284122164582416385, // Aetheryx
		158311402677731328, // theLMGN
		157492606752784384, // Kazumi
		112619227466182656, // PieterVMB
		251260900252712962, // viwalon
		241500427105992704, // Ghost_Recon131
		172426681800196096 // Luan San
	)
);
$green: #43b581;
$red: #f04747;
$dark-red: #a93d3d;
$purple: #593695;

// MIXINS
@import "mixins.scss";

@mixin clear {
	background-color: transparent !important;
}
@mixin stretch {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@mixin hover-shadow {
	@include prefix(transition, all .1s ease-in-out);
	&:hover {
		@include prefix(text-shadow, 0 0 1px);
		text-decoration: none !important;
	}
}
@mixin hover-cutout {
	mix-blend-mode: screen;
	background-color: transparent;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

/*! ClearVision #{$version} by Zerthox */

// TEST SETTINGS [REMOVE]
:root {
	--main-color: #2780e6;
	--hover-color: #1e63b3;
	--background-blur: 0px;
	--background-brightness: 100%;
	--online-color: #43b581;
	--idle-color: #faa61a;
	--dnd-color: #982929;
	--offline-color: #808080;
}
body:after,
body::after,
.userPopout-3XzG_A:before,
.userPopout-3XzG_A::before,
.root-SR8cQa:before,
.root-SR8cQa::before {
	background-image: url(https://zerthox.github.io/ClearVision/images/sapphire.jpg) !important;
}

// MARKS
@each $e in map-keys($marks) {
	@each $v in map-get($marks, $e) {
		[style*="#{$v}"] {
			.message-group &.avatar-large + .comment .user-name {
				@include pseudo(after) {
					content: "#{$e}";
					position: relative;
					height: 14px;
					padding: 1px 2px;
					border-radius: 3px;
					background: rgba(100, 100, 100, .3);
					color: hsla(0, 0%, 100%, .6);
					font-size: 10px;
					text-align: center;
					font-weight: 700;
					line-height: 17px;
					text-shadow: 0 0 1px rgba(0, 0, 0, .3);
					text-transform: uppercase;
					vertical-align: bottom;
					margin-left: 6px;
				}
			}
		}
	}
}

// GENERAL
body {
	@include prefix(backface-visibility, hidden);
	@include pseudo(after) {
		content: "";
		position: absolute;
		@include stretch;
		@include bg($size: cover, $pos: center);
		@include prefix(filter, brightness(var(--background-brightness)) blur(var(--background-blur)));
		z-index: -9999;
	}
}
.layers-3iHuyZ,
.layer-3QrUeG,
.layer-3QrUeG > .container-2lgZY8 {
	@include clear;
}
#app-mount {
	background: rgba(0, 0, 0, .6) !important;
}
.layer-3QrUeG {
	&  > .container-2lgZY8 {
		// [FADES]
		// @include prefix(animation, fade-in .3s ease-in-out);
		& > .base-3dtUhz {
			border-radius: 0;
		}
	}		
}
@each $selector in  -moz-selection, selection {
    ::#{$selector} {
        color: #fff;
		background: var(--main-color);
    }
}

// TITLEBAR
.typeWindows-1za-n7 {
	height: 18px;
	width: 100vw;
	margin: 0;
	padding-top: 4px;
	background-color: rgba(0, 0, 0, .6);
	& > .wordmark-2iDDfm {
		opacity: 1;
		pointer-events: none;
		@include prefix(user-select, none);
		@include pseudo(after) {
			content: "#{$version}";
			position: absolute;
			left: 100%;
			color: hsla(0, 0%, 100%, .7);
			font-size: 14px;
			font-weight: bold;
			white-space: nowrap;
		}
		& > svg > path {
			fill: var(--main-color);
		}
	}
	& > .winButton-iRh8-Z {
		opacity: 1 !important;
		&:hover {
			background-color: hsla(0, 0%, 100%, .1);
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	& > .winButtonClose-1HsbF- {
		&:hover {
			background-color: var(--dnd-color);
		}
	}
}

// GUILDS
.guilds-wrapper {
	@include clear;
	@include prefix(box-shadow, inset -10px 0 20px -10px rgba(0, 0, 0, .2));
	// GUILD LIST
	.guilds {
		.guild {
			&.unread:not(.selected) {
				@include pseudo(before) {
					margin-top: -5px;
				}
			}
			&.selected {
				@include pseudo(before) {
					background: var(--main-color) !important;
					@include prefix(animation, guild-select .5s cubic-bezier(.22, .61, .36, 1));
				}
			}
			&.selected,
			&.unread {
				@include pseudo(before) {
					width: 13px;
					left: -17px;
					background: var(--main-color) !important;
					@include prefix(transition, all .3s ease-in-out);
				}
			}
			.guild-inner {
				background-color: rgba(0, 0, 0, .5)!important;
				@include prefix(box-shadow, 0 0 5px rgba(0, 0, 0, .5));
				@include prefix(transition, transform .1s ease-in-out);
				&:active {
					@include prefix(transform, scale(.9));
				}
			}
			&.audio .guild-inner {
				@include pseudo(after) {
					background-color: #000;
					opacity: .7;
				}
			}
			.friends-icon {
				@include prefix(transition, all .3s ease-in-out);
			}
			&:hover .friends-icon,
			&.active .friends-icon {
				background-color: var(--main-color);
			}
			.guilds-error {
				background-color: rgba(0, 0, 0, .5);
				border-color: var(--main-color);
				@include prefix(transition, all .3s ease-in-out);
				&:hover {
					background-color: var(--main-color);
				}
			}
			&.guilds-add {
				background-color: rgba(0, 0, 0, .5);
				opacity: .7;
				@include prefix(transition, all .1s ease-in-out);
				&:hover {
					color: var(--main-color);
					border-color: var(--main-color);
					@include prefix(animation, pulsate-border 2s infinite ease-in-out);
					@include pseudo(before, after) {
						background-color: var(--main-color) !important;
						@include prefix(animation, pulsate-color 2s infinite ease-in-out);
					}
				}
				&:active {
					@include prefix(transform, scale(.9));
				}
				span {
					display: none;
				}
				@include pseudo(before, after) {
					content: "";
					position: absolute;
					background-color: #333539;
					border-radius: 3px;
					@include prefix(transition, all .1s ease-in-out);
				}
				@include pseudo(before) {		
					width: 2px;
					top: 25%;
					bottom: 25%;
					left: 50%;
					@include prefix(transform, translateX(-50%));
				}
				@include pseudo(after) {
					height: 2px;
					top: 50%;
					right: 25%;
					left: 25%;
					@include prefix(transform, translateY(-50%));
				}
			}
		}
		.friends-online {
			@include clear;
			color: hsla(0, 0%, 100%, .7);
			text-transform: uppercase;
			border-radius: 25px;
			@include prefix(transition, all .3s ease-in-out);
			cursor: default;
			&:hover {
				color: #fff;
			}
		}
		.badge {
			@include prefix(animation, badge 1s ease-in-out infinite alternate);
		}
	}
	// SEPERATORS
	.guild-separator,
	.btn-download-apps,
	.guild[separator] {
		@include pseudo(after) {
			background-color: hsla(0, 0%, 100%, .2);
		}
	}
}

// CHANNELS
.channels-Ie2l6A {
	background-color: rgba(0, 0, 0, .35) !important;
	width: 220px;
	// CHANNELS CONTAINER
	& > .container-PNkimc {
		@include clear;
	}
	// CHANNEL CATEGORIES
	.wrapperMuted-3KeA2M { 
		opacity: .5;
	}
	.iconDefault-3Gr8d2,
	.iconHovered-2L3-fB,
	.iconCollapsed-3hFp_8,
	.iconHoveredCollapsed-3caIIZ,
	.iconMuted-1HVBGH,
	.iconUnread-2eGkvX {
		display: none;
	}
	.nameDefault-2DI02H,
	.nameHovered-1gxhWH,
	.nameCollapsed-34uFWo,
	.nameHoveredCollapsed-2orEWB,
	.nameMuted-1MCOt4,
	.nameUnread-njOjIS {
		position: relative;
		@include display-flex;
		@include justify-content(center);
		@include align-items(center);
		color: hsla(0, 0%, 100%, .5);
		text-align: center;
		@include prefix(transition, all .3s ease-in-out);
		@include pseudo(before, after) {
			content: "";
			display: inline-block;
			flex-grow: 1;
			height: 2px;
			background-color: hsla(0, 0%, 100%, .3);
			margin: -1px 5px 0;
			@include prefix(transition, all .3s ease-in-out);
		}
	}
	.nameHovered-1gxhWH,
	.nameHoveredCollapsed-2c-2orEWB, {
		color: hsla(0, 0%, 100%, .7);
		@include pseudo(before, after) {
			background-color: hsla(0, 0%, 100%, .7);
		}
	}
	.nameCollapsed-34uFWo,
	.nameHoveredCollapsed-2orEWB,
	.closed-2Hef-I + .nameMuted-1n0LSj {
		@include pseudo(before, after) {
			flex-grow: 0;
		}
	}
	.containerDefault-3GGEv_,
	.containerDragAfter-3TEhpe,
	.containerDragBefore-3Dzc5x,
	.containerUserOver-1Tcb7l {
		padding-top: 24px;
	}
	.containerDefault-3GGEv_,
	.containerDefault-1ZnADq {
		// [FADES]
		// @include prefix(animation, fade-in .3s ease-in-out);
	}
	.container-hidden {
		opacity: .3;
	}
	// TEXT & VOICE CHANNELS
	.contentDefaultText-3vZplL,
	.contentHoveredText-2D9B-x,
	.contentLockedText-1aHuz8,
	.contentMutedText-2y6aPQ,
	.contentSelectedText-3wUhMi,
	.contentUnreadText-2vNnZc,
	.contentDefaultVoice-2ko43i,
	.contentHoveredVoice-3p_NEO,
	.contentLockedVoice-1gx-SP,
	.contentMutedVoice-2lJ0UD,
	.contentSelectedVoice-1WDIBM,
	.contentUnreadVoice-1dijOt {
		@include prefix(transition, all .15s ease-in-out);
	}
	.contentDefaultVoice-2ko43i,
	.contentHoveredVoice-3p_NEO,
	.contentLockedVoice-1gx-SP,
	.contentMutedVoice-2lJ0UD,
	.contentSelectedVoice-1WDIBM,
	.contentUnreadVoice-1dijOt {
		&:active {
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	.name-3M0b8v {
		color: hsla(0, 0%, 100%, .3);
		@include prefix(transition, all .15s ease-in-out);
	}
	.icon-sxakjD {
		opacity: .7 !important;
		@include prefix(transition, all .15s ease-in-out);
		path {
			opacity: .3;
		}
	}
	.iconSpacing-3JkGQO > svg {
		opacity: .3 !important;
		@include prefix(transition, all .15s ease-in-out);
		&:hover {
			opacity: .7 !important;
		}
	}
	.content-20Aix8 > .marginReset-3RfdVe path {
		fill: #fff;
		@include prefix(transition, all .15s ease-in-out);
	}
	// HOVER
	.contentHoveredText-2D9B-x {
		background-color: hsla(0, 0%, 100%, .1);
	}
	.contentHoveredText-2D9B-x,
	.contentHoveredVoice-3p_NEO {
		.name-3M0b8v {
			color: hsla(0, 0%, 100%, .7);
		}
	}
	// UNREAD
	.nameUnreadText-DfkrI4,
	.nameUnreadVoice-EVo-wI {
		color: hsla(0, 0%, 100%, .8) !important;
	}
	.unread-1Dp-OI {
		display: none;
		& + .content-20Aix8 > .marginReset-3RfdVe > .icon-sxakjD {
			@include prefix(filter, drop-shadow(0 0 3px var(--main-color)));
			path {
				fill: var(--main-color) !important;
				opacity: 1 !important;
			}
		}
	}
	// SELECTED
	.contentSelectedText-3wUhMi {
		background-color: var(--main-color);
		.icon-sxakjD  > path {
			fill: #fff;
			opacity: 1 !important;
		}
		.iconSpacing-3JkGQO svg {
			opacity: .7 !important;
			&:hover {
				opacity: 1 !important;
			}
		}
	}
	.nameSelectedText-sp_EUw {
		color: #fff !important;
	}
	.contentSelectedVoice-1WDIBM {
		.name-3M0b8v {
			color: hsla(0, 0%, 100%, .7);
		}
		&:hover .name-3M0b8v {
			color: #fff;
		}
	}
	// MUTED
	.contentMutedText-2y6aPQ,
	.contentMutedVoice-2lJ0UD {
		.name-3M0b8v {
			color: hsla(0, 0%, 100%, .1);
		}
		.icon-sxakjD > path {
			opacity: .1 !important;
		}
	}
	// VOICE USER LIST
	.draggable-1KoBzC {
		position: relative;
		z-index: 1;
	}
	.avatarDefault-35WC3R,
	.avatarSpeaking-1wJCNq {
		z-index: 1;
		@include pseudo(after, before) {
			content: "";
			position: absolute;
			top: 1px;
			left: 0;
			bottom: 1px;
			opacity: 0;
			@include prefix(transition, all .1s ease-in-out);
			pointer-events: none;
			z-index: -1;
		}
		@include pseudo(before) {
			width: 4px;
			background: var(--main-color);
		}
		@include pseudo(after) {
			right: 0;
			background: linear-gradient(to right, var(--main-color) 0%, transparent 35%);
			border-left: 4px solid var(--main-color);
		}
	}
	.avatarSpeaking-1wJCNq {
		@include prefix(box-shadow, none);
		@include pseudo(before) {
			opacity: 1;
		}
		@include pseudo(after) {
			opacity: .5;
		}
	}
	// DRAG INDICATORS
	.containerDragBefore-31UGCO,
	.containerDragAfter-1F4fgZ,
	.containerDragBefore-3Dzc5x,
	.containerDragAfter-3TEhpe, {
		@include pseudo(after, before) {
			background-color: var(--main-color);
			border-radius: 0;
		}
	}
	.containerUserOver-1U5YnL {
		@include pseudo(after) {
			background-color: var(--main-color);
			border-color: transparent;
			opacity: .1;
		}
	}
	// ACCOUNT & VOICE CONTAINER
	& > .container-2Thooq,
	& > .container-1UB9sr {
		@include clear;
		.flex-1O1GKY {
			background-color: rgba(0, 0, 0, .3);
			border-radius: 15px;
			& > * + * {
				position: relative;
				@include pseudo(before) {
					content: "";
					position: absolute;
					left: 0;
					top: 2px;
					bottom: 2px;
					width: 1px;
					background: hsla(0, 0%, 100%, .2);
				}
			}
		}
	}
	// ACCOUNT CONTAINER
	& > .container-2Thooq {
		position: relative;
		margin-bottom: 10px;
		@include pseudo(after) {
			content: "#{$version}";
			color: #fff;
			font-size: 11px;
			font-weight: 700;
			text-align: center;
			position: absolute;
			bottom: -8px;
			left: 0;
			right: 0;
			opacity: .3;
		}
		.avatar-small {
			position: relative;
			@include bg($size: 100%, $repeat: no-repeat);
			@include prefix(transition, all .15s ease-in-out);
			@include pseudo(after) {
				content: "Status";
				position: absolute;
				@include stretch;
				vertical-align: middle;
				color: #fff;
				font-size: 5px;
				text-transform: uppercase;
				font-weight: 700;
				text-align: center;
				line-height: 30px;
				border-radius: 50%;
				@include prefix(box-shadow, inset 0 0 70px rgba(0, 0, 0, .75));
				opacity: 0;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				@include pseudo(after) {
					opacity: 1;
				}
			}
			&:hover,
			&.popout-open {
				width: 45px;
				height: 45px;
				@include pseudo(after) {
					font-size: 10px;
					line-height: 45px;
				}
			}
			.status {
				top: 90%;
				left: 90%;
				margin-top: -6.5px;
				margin-left: -6.5px;
				z-index: 2;
			}
		}
		.button-2b6hmh {
			opacity: 1;
			&.iconButton-3V4WS5,
			svg {
				opacity: .3;
				@include prefix(transition, all .1s ease-in-out);
			}
			&:hover {
				@include clear;
				&.iconButton-3V4WS5,
				svg {
					opacity: .7;
				}
			}
		}
	}
	// VOICE CONTAINER
	& > .container-1UB9sr {
		border-color: transparent;
		.button-2KyEfG {
			@include clear;
			opacity: .3;
			&:hover {
				opacity: .7;
			}
		}
		.buttonDisconnect-3W_SJc {
			position: relative;
			opacity: 1 !important;
			background-size: 0;
			@include pseudo(after) {
				content: "";
				position: absolute;
				@include stretch;
				background: inherit;
				background-size: 18px;
				opacity: .3;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				@include pseudo(after) {
					opacity: .7;
				}
			}
		}
	}
}

// UNREAD MESSAGES INDICATOR
.unread-1xRYoj,
.mention-1f5kbO {
	position: relative;
	@include clear;
	@include pseudo(after) {
		content: "";
		position: absolute;
		@include stretch;
		background-color: var(--main-color);
		border-radius: 3px;
		opacity: .9;
		z-index: -1;
		@include prefix(transition, all .15s ease-in-out);
	}
	&:hover {
		@include pseudo(after) {
			opacity: 1;
		}
	}
}

// PRIVATE CHANNELS
.private-channels {
	.channel {
		a {
			@include prefix(transition, all .15s ease-in-out);
			* {
				@include prefix(transition, inherit);
			}
		}
		.close {
			@include bg($image: "https://zerthox.github.io/ClearVision/icons/close.svg", $repeat: no-repeat, $pos: center, $size: 18px);
			display: initial;
			opacity: 0;
			&:hover {
				opacity: .7;
			}
		}
		&:hover {
			a {
				background-color: hsla(0, 0%, 100%, .1) !important;
				color: #fff !important;
			}
			.close {
				opacity: .3;
			}
		}
		&.selected a {
			background-color: var(--main-color) !important;
			color: #fff !important;
		}
	}
}
.search-bar {
	margin-top: 10px;
	margin-bottom: 0;
	@include prefix(box-shadow, none !important);
	.search-bar-inner {
		background-color: rgba(0, 0, 0, .4);
		padding-top: 0;
		padding-bottom: 0;
	}
	input {
		&::-webkit-input-placeholder {
			color: hsla(0, 0%, 100%, .3);
		}
	}
}

// CHAT
.chat {
	@include clear;
	.content {
		@include clear;
		.flex-spacer {
			background-color: rgba(0, 0, 0, .6) !important;
		}
	}
	.titleWrapper-1l0xT9 {
		& > .title-3qD0b-, .titleCall-_b9o8P{
			background-color: rgba(0, 0, 0, .7) !important;
		}
	}
	.user-name {
		@include hover-shadow;
	}
	// NEW MESSAGES BAR
	.new-messages-bar {
		@include clear;
		@include prefix(transition, all .15s ease-in-out);
		@include pseudo(before) {
			content: "";
			position: absolute;
			@include stretch;
			background-color: var(--main-color);
			border-radius: 0 0 3px 3px;
			opacity: .8;
			z-index: -1;
			@include prefix(transition, all .15s ease-in-out);
		}
		&:hover,
		&:active {
			@include pseudo(before) {
				opacity: 1;
			}
		}
		&:active {
			padding-top: 0;
			@include prefix(transform, scale(.99));
		}
		button,
		button:last-child {
			color: #fff;
		}
	}
	// JUMP TO PRESENT BAR
	.jump-to-present-bar {
		background-color: rgba(0, 0, 0, .7) !important;
		@include prefix(transition, all .15s ease-in-out);
		&:hover,
		&:active {
			background-color: var(--main-color) !important;
			& > button {
				color: #fff;
			}
		}
		&:active {
			@include prefix(transform, scale(.99));
		}
		& > button {
			color: hsla(0, 0%, 100%, .6);
			@include prefix(transition, inherit);
		}
	}
	// LOAD MORE MESSAGES BNUTTON
	.has-more {
		& > button {
			background-color: rgba(0, 0, 0, .5) !important;
			color: var(--main-color);
			border: none !important;
		}
	}
	// DIVIDERS
	.divider {
		margin: 10px 6px 10px 20px;
		@include pseudo(before) {
			@include clear;
		}

		&.divider-red {
			& + .divider {
				margin-top: 40px;
			}
			& > span {
				position: relative;
				@include clear;
				color: hsla(0, 0%, 100%, .8) !important;
				@include pseudo(before) {
					content: "";
					position: absolute;
					@include stretch;
					z-index: -1;
					background-color: var(--main-color);
					border-radius: 3px;
					opacity: .8;
				}
			}
		}		
		& > span {
			width: 100%;
			margin: 10px 0;
			padding: 5px 15px;
			background: hsla(0, 0%, 100%, .2) !important;
			color: hsla(0, 0%, 100%, 1) !important;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			border-radius: 3px;
			opacity: .9;
		}
	}
	// CHANNEL TEXTAREA
	form {
		@include clear;
		@include prefix(box-shadow, none !important);
		#charcounter {
			top: 100%;
			margin-top: 7.5px;
			color: hsla(0, 0%, 100%, .7);
		}
	}
	.typing-2GQL18 {
		@include clear;
	}
	.inner-zqa7da{
		background-color: rgba(0, 0, 0, .5);
		border: 2px solid hsla(0, 0%, 100%, .1) !important;
		@include prefix(transform, translateZ(0));
		.attachButton-1UjEWA {
			@include prefix(transform, none);
			.attachButtonPlus-rUdX-B {
				opacity: .3;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				.attachButtonPlus-rUdX-B {
					opacity: .7;
				}
			}
		}
		.sendembeds-button {
			@include pseudo(before) {
				opacity: .3;
				@include prefix(transition, all .15s ease-in-out);
			}
			&:hover {
				@include pseudo(before) {
					opacity: .7;
				}
			}
		}
		textarea {
			&::-webkit-input-placeholder {
				color: hsla(0, 0%, 100%, .2);
			}
			& + .emojiButton-3uL3Aw {
				@include pseudo(after) {
					content: "";
					position: fixed;
					@include pos(-2px, -2px, -2px, -2px);
					border: 2px solid transparent;
					border-radius: 3px;
					opacity: 1;
					@include prefix(transition, all .15s ease-in-out);
					pointer-events: none;
				}
			}
			&:focus + .emojiButton-3uL3Aw {
				@include pseudo(after) {
					border-color: var(--main-color);
					@include prefix(box-shadow, 0 0 3px var(--main-color));
				}
			}
		}
	}
	// CHANNEL TEXTAREA AUTOCOMPLETE
	.autocomplete-i9yVHs {
		background-color: rgba(0, 0, 0, .8);
		.contentTitle-2tG_sM {
			color: hsla(0, 0%, 100%, .5);
		}
		.content-Qb0rXO {
			color: hsla(0, 0%, 100%, .6);
		}
		.iconForeground-1w5n7R {
			fill: hsla(0, 0%, 100%, .3);
		}
		.description-11DmNu,
		.descriptionUsername-J_75O8 {
			color: hsla(0, 0%, 100%, .3);
		}
		.descriptionDiscriminator-3vUOCc {
			color: hsla(0, 0%, 100%, .15);
		}
		.selectorSelected-1_M1WV {
			background-color: var(--main-color);
			& > .content-Qb0rXO {
				color: #fff;
			}
			.iconForeground-1w5n7R {
				fill: hsla(0, 0%, 100%, .5);
			}
			.description-11DmNu,
			.descriptionUsername-J_75O8 {
				color: hsla(0, 0%, 100%, .5);
			}
			.descriptionDiscriminator-3vUOCc {
				color: hsla(0, 0%, 100%, .25);
			}
		}
	}
	// WELCOME STUFF
	.welcome-message {
		& > h1 {
			color: var(--main-color);
		}
		& > .item-container {
			& > .icon {
				@include prefix(filter, grayscale(1));
				opacity: .3;
			}
			& > p {
				color: hsla(0, 0%, 100%, .5);
			}
		}
		a {
			color: var(--main-color) !important;
			@include hover-shadow;
		}
	}
}
.noChannel-Z1DQK7 {
	background-color: rgba(0, 0, 0, .6) !important;
}

// MESSAGES
.message-group,
.divider,
.message {
	// [FADES]
	// @include prefix(animation, message-fade .5s ease-in-out);
}
.messages-wrapper {
	@include clear;
}
.message-group {
	.avatar-large {
		@include prefix(transition, all .3s ease-in-out, transform .1s ease-in-out);
		&:active {
			@include prefix(transform, scale(.9));
		}	
	}
	&:not(.has-divider) {
		border-bottom-color: hsla(0, 0%, 100%, .04) !important;
	}
	.comment {
		line-height: 1em;
	}
	.timestamp {
		color: hsla(0, 0%, 100%, .3) !important;
		@include prefix(transition, all .3s ease-in-out);
	}
	&:hover {
		.timestamp {
			color: hsla(0, 0%, 100%, .7) !important;
		}
	}
	// CODEBLOCKS
	.inline {
		background-color: hsla(0, 0%, 100%, .1) !important;
		color: hsla(0, 0%, 100%, .7) !important;
		padding: 3.5px 7.5px !important;
		border-radius: 3px !important;
		line-height: 22px;
		& + pre {
			margin-top: -1px;
		}
	}
	pre {
		max-width: 93% !important;
		background-color: transparent !important;
		border: 2px solid hsla(0, 0%, 100%, .1) !important;
		padding: 0;
		border-radius: 5px !important;
	}
	.hljs {
		position: relative;
		background-color: rgba(0, 0, 0, .42) !important;
		color: hsla(0, 0%, 100%, .7) !important;
		padding: 6px !important;
		@include pseudo(before) {
			display: block;
			float: right;
			height: 10px;
			color: hsla(0, 0%, 100%, .3);
			text-align: right;
			line-height: 10px;
			pointer-events: none;
		}
		// COPYBUTTON
		.copybutton {
			background-color: hsla(0, 0%, 100%, .1) !important;
			color: hsla(0, 0%, 100%, .7) !important;
			border: none !important;
			border-top-left-radius: 3px;
			opacity: 0;
			@include prefix(transition, all .3s ease-in-out);
			@include prefix(user-select, none);
			&:hover {
				color: #fff !important;
			}
			&:active {
				color: var(--main-color) !important;
			}
		}
		&:hover {
			.copybutton {
				opacity: 1;
			}
		}
	}
	// LINENUMBERS
	.kawaii-linenumbers {
		list-style: none;
		counter-reset: linenumbers;
		border-left: 2.6ch solid hsla(0, 0%, 100%, .04);
		margin: -6px;
		padding: 6px;
		li {
			text-indent: -3ch;
			margin-left: 0;
			padding: 0;
			border: none;
			@include pseudo(before) {
				content: counter(linenumbers);
				counter-increment: linenumbers;
				color: hsla(0, 0%, 100%, .5);
				display: inline-block;
				width: 2ch;
				margin-right: .5ch;
				padding-right: .5ch;
				text-align: right;
				overflow: hidden;
				vertical-align: top;
				@include prefix(user-select, none);
			}
		}
	}
	a {
		color: var(--main-color) !important;
		@include hover-shadow;
	}
	.mentioned .message-text {
		background-color: rgba(100, 100, 100, .3) !important;
		@include pseudo(after) {
			background: rgba(100, 100, 100, .3);
			border-left: 4px solid var(--main-color);
			border-radius: 2px 0 0 2px;
		}
	}
	// EMBEDS
	.embed-IeVjo6 {
		.embedPill-1Zntps {
			opacity: .3;
			border-radius: 0;
			&:not([style*=background-color]) {
				background-color: hsla(0, 0%, 100%, .1);
				opacity: 1;
			}
		}
		.embedInner-1-fpTo {
			background-color: transparent;
			border-color: transparent;
			.embedLink-1G1K1D {
				color: var(--main-color);
				@include hover-shadow;
			}
			.embedTitleLink-1Zla9e {
				color: var(--main-color) !important;
			}
			.embedVideoActionsInner-2reMo2 {
				& > .wrapper-129saQ {
					background: rgba(0, 0, 0, .5);
					color: #fff;
					@include prefix(box-shadow, inset 0 0 10px rgba(0, 0, 0, .5));
				}
			}
		}
	}
	// INVITE LINKS
	.wrapper-35wsBm {
		background-color: rgba(0, 0, 0, .4);
		border-color: transparent;
		.guildName-2hvnt_ {
			color: hsla(0, 0%, 100%, .7);
		}
		.guildNameExpired-2Hp80V {
			color: var(--dnd-color);
		}
		.guildIconExpired-2Qcq05 {
			position: relative;
			background-size: 0;
			background-color: hsla(0, 0%, 100%, .04);
			@include pseudo(after, before) {
				content: "";
				position: absolute;
				top: 10%;
				bottom: 10%;
				left: 50%;
				width: 6px;
				background-color: var(--dnd-color);
				border-radius: 1px;
			}
			@include pseudo(after) {
				@include prefix(transform, translateX(-50%) rotate(45deg));
			}
			@include pseudo(before) {
				@include prefix(transform, translateX(-50%) rotate(-45deg));
			}
		}
		.guildDetail-1nRKNE {
			padding-left: 1px;
			margin-left: -1px;
		}
		.h5-18_1nd,
		.guildDetail-1nRKNE {
			color: hsla(0, 0%, 100%, .5);
		}
		.button-3To2tQ {
			border-color: transparent;
		}
		.lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
			background-color: hsla(0, 0%, 100%, .1);
			border-color: transparent;
			opacity: .3;
			cursor: default;
		}
		.buttonBrandFilled-3Mv0Ra { // [TD]
			background-color: transparent;
			border: 1px solid var(--dnd-color);
			@include prefix(transition, all .3s ease-in-out);
			&:hover {
				background-color: var(--dnd-color);
			}
		}
		.lookFilled-1Gx00P.colorGreen-29iAKY{
			background-color: transparent;
			border: 1px solid $green;
			@include prefix(transition, all .3s ease-in-out);
			&:hover {
				background-color: $green;
			}
		}
	}
	.statusOnline-8PnF5L,
	.statusOffline-37RKt7 {
		@include prefix(box-shadow, 0 0 3px, 0 0 5px rgba(0, 0, 0, .5));
	}
	.statusOnline-8PnF5L {
		background-color: var(--online-color);
		color: var(--online-color);
	}
	.statusOffline-37RKt7 {
		background-color: var(--offline-color);
		color: var(--offline-color);
	}
}

// BLOCKED MESSAGES
.message-group-blocked {
	background-color: rgba(0, 0, 0, .1) !important;
	border-color: transparent !important;
	border-top: 1px solid hsla(0, 0%, 100%, .04) !important;
    border-bottom: 1px solid hsla(0, 0%, 100%, .04) !important;
	border-radius: 0;
	.message-group-blocked-btn {
		@include clear;
		color: hsla(0, 0%, 100%, .3) !important;
		@include prefix(transition, all .3s ease-in-out);
		&:hover {
			color: hsla(0, 0%, 100%, .7) !important;
		}
	}
	.message-group {
		margin-top: -20px;
		margin-left: 0;
		// [FADES]
		// @include prefix(animation, fade-in .3s ease-in-out);
	}
	& + .divider {
		margin-top: 25px;
	}
	.divider + & {
		margin-top: 25px;
	}
}

// CODEBLOCK LANGUAGES
@import "languages.scss";

// MENTIONS
.mention {
	padding: 1px 4px;
	background-color: rgba(115, 139, 215, .1) !important;
	color: #ddd !important;
	border-radius: 6px;
	@include prefix(transition, all .3s ease-in-out);
	white-space: nowrap;
	&:hover {
		background-color: var(--main-color) !important;
		color: #fff !important;
	}
	.mentioned & {
		@include clear;
		color: var(--main-color) !important;
		@include hover-shadow;
	}
}

// PLUGIN BUTTONS
.replyer,
.citar-btn,
.quoter,
.discrypt {
	border-radius: 3px;
	@include prefix(transition, all .3s ease-in-out);
	@include prefix(animation, fade-in .3s ease-in-out);
	&:hover {
		background-color: var(--main-color) !important;
	}
}
.message-group:not(:hover) .replyer {
	visibility: visible;
	opacity: 0;
}

// CHANNEL MEMBERS
.members-1998pB {
	background-color: rgba(0, 0, 0, .75) !important;
	& > .membersGroup-v9BXpm {
		height: auto;
		margin: 5px 15px;
		padding: 2px 8px;
		background-color: rgba(0, 0, 0, .5);
		color: var(--main-color) !important;
		font-size: 11px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .08em;
		border-radius: 3px;
	}
	& > .member-3W1lQa {
		@include prefix(backface-visibility, hidden);
		& > .content-OzHfo4 {
			@include prefix(transition, all .1s ease-in-out);
		}
		&:hover,
		&.popout-open {
			& > .content-OzHfo4 {
				background: linear-gradient(to right, rgba(0, 0, 0, .3) 85%, transparent) !important;
			}
		}
		&:active {
			& > .content-OzHfo4 {
				@include prefix(transform, scale(.9));
			}
		}
		.username-1cB_5E {
			font-size: 14px;
		}
		.ownerIcon-uZ6mE7 > g > path {
			fill: var(--main-color);
		}
		.activityText-sLG0UL {
			& > strong {
				color: var(--main-color) !important;
				font-weight: 700;
			}
		}
		&.memberOffline-2lN7gt {
			.avatar-16XVId {
				@include prefix(filter, grayscale(100%) blur(1px));
				@include prefix(transition, all .5s ease-in-out);
			}
			&:hover {
				.avatar-16XVId {
					@include prefix(filter, none);
				}
			}
		}
	}
	.placeholderAvatar-uzH8f6,
	.placeholderUsername-236yYU {
		background: hsla(0, 0%, 100%, .3);
	}
}

// SEARCH RESULTS
.search-results-wrap {
	background-color: rgba(0, 0, 0, .75) !important;
}

// FRIENDS TABLE
#friends {
	@include clear;
	.headerBar-UHpsPw {
		background-color: rgba(0, 0, 0, .7) !important;
		.tab-bar {
			.tab-bar-item {
				@include clear;
				color: hsla(0, 0%, 100%, .6) !important;
				@include prefix(transition, all .3s ease-in-out);
				&:hover {
					background-color: rgba(0, 0, 0, .5) !important;
				}
				&.selected {
					background-color: var(--main-color) !important;
					color: #fff !important;
				}
			}
		}
	}
	.friends-table {
		background-color: rgba(0, 0, 0, .6) !important;
		margin-top: 0;
		.friends-table-header {
			.friends-column {
				color: hsla(0, 0%, 100%, .5) !important;
			}
			.friends-column-separator {
				background-color: hsla(0, 0%, 100%, .04) !important;
			}
		}
		.friend-table-add-header {
			background: transparent !important;
			border-bottom: 1px solid hsla(0, 0%, 100%, .1) !important;
			.add-friend-input-wrapper {
				background-color: rgba(0, 0, 0, .3);
				border-color: transparent;
				@include prefix(transform, translateZ(0));
				& > .add-friend-input {
					&::-webkit-input-placeholder {
						color: hsla(0, 0%, 100%, .2);
					}
					& + .add-friend-hint {
						
						@include pseudo(after) {
							content: "";
							position: fixed;
							@include stretch;
							border: 1px solid transparent;
							border-radius: 3px;
							@include prefix(transition, all .3s ease-in-out);
							pointer-events: none;
						}
					}
					&:focus + .add-friend-hint {
						@include pseudo(after) {
							border-color: var(--main-color);
						}
					}
				}
				& > .add-friend-hint {
					color: hsla(0, 0%, 100%, .2);
				}
			}
		}
		.friend-table-suggestions-header {
			@include clear;
			border-bottom: 1px solid hsla(0, 0%, 100%, .1) !important;
		}
		.friends-row {
			&:hover {
				background-color: rgba(0, 0, 0, .3) !important;
			}
			.friends-column-name {
				color: hsla(0, 0%, 100%, .4) !important;
			}
			.friends-column-status {
				.friend-activity-text {
					& > strong {
						font-weight: 600;
					}
				}
			}
			.friends-column-guilds {
				.avatar-small {
					background-color: transparent;
				}
			}
			.friends-column-actions .friends-action {
				background-color: var(--main-color) !important;
				@include prefix(transition, all .3s ease-in-out);
				&:hover {
					background-color: var(--hover-color) !important
				}
			}
			& + .friends-row {
				border-color: hsla(0, 0%, 100%, .04) !important;
			}
		}
	}
	.btn {
		background-color: var(--main-color) !important;
		&:hover {
			background-color: var(--hover-color) !important;
		}
	}
}

// BUTTONS
.btn {
	border-radius: 3px;
	@include prefix(transition, all .3s ease-in-out);
	&.btn-primary {
		background-color: var(--main-color) !important;
		&:hover {
			background-color: var(--hover-color) !important;
		}
	}
}
.lookFilled-luDKDo.colorGreen-22At8E {
	background: var(--main-color);
	@include prefix(transition, all .3s ease-in-out);
	&:hover {
		background: var(--hover-color);
	}
}
.lookInverted-2lPGe7.colorBrand-3PmwCE {
	background: hsla(0, 0%, 100%, .1);
	color: hsla(0, 0%, 100%, .7);
	@include prefix(transition, all .3s ease-in-out);
	&:hover {
		background: hsla(0, 0%, 100%, .2);
		color: #fff;
	}
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	background-color: hsla(0, 0%, 100%, .05);
	border-color: transparent;
	@include prefix(transition, all .3s ease-in-out);
	&:hover {
		background-color: hsla(0, 0%, 100%, .1);
		border-color: transparent;
	}
}

// SCROLLBARS
::-webkit-scrollbar {
	width: 14px !important;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece {
	border: 3px solid transparent !important;
	border-radius: 7px !important;
	background-clip: padding-box !important;
}
::-webkit-scrollbar-thumb {
	background-color: var(--main-color) !important;
	&:active {
		background-color: var(--hover-color) !important;
	}
}
::-webkit-scrollbar-track {
	@include clear;
}
::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
}
.channels-Ie2l6A,
.private-channels {
	.scroller-2FKFPG {
		&::-webkit-scrollbar-track-piece {
			background-color: rgba(0, 0, 0, .3) !important;
		}
		&:not(:hover) {
			&::-webkit-scrollbar-thumb,
			&::-webkit-scrollbar-track-piece {
				visibility: hidden;
			}
		}
	}
}
.chat,
.friends-table,
.context-menu {
	.scroller {
		&::-webkit-scrollbar-track-piece {
			background-color: rgba(0, 0, 0, .3) !important;
		}
	}
}
textarea {
	&::-webkit-scrollbar {
		display: none;
	}
}

// AVATARS
.avatar-small,
.avatar-large,
.avatar-16XVId {
	@include clear;
	@include prefix(box-shadow, 0 0 5px rgba(0, 0, 0, .5));
}
.avatar-large {
	margin-left: 8px;
	margin-right: 12px !important;
}

// STATUS
.status,
.status-2s6iDp,
.statusProfile-3ynqtt {
	@include prefix(box-shadow, 0 0 3px, 0 0 5px rgba(0, 0, 0, .5));
	@include prefix(transition, all .3s ease-in-out);
}
.status,
.status-2s6iDp {
	border: none !important;
	margin: 2px;
}
.status {
	&.status-online {
		background-color: var(--online-color);
		color: var(--online-color);
	}
	&.status-idle {
		background-color: var(--idle-color);
		color: var(--idle-color);
	}
	&.status-dnd {
		background-color: var(--dnd-color);
		color: var(--dnd-color);
	}
	&.status-offline,
	&.status-invisible {
		background-color: var(--offline-color);
		color: var(--offline-color);
	}
}
.status-2s6iDp,
.statusProfile-3ynqtt {
	&.statusOnline-1FlpW_ {
		background-color: var(--online-color);
		color: var(--online-color);
	}
	&.statusIdle-1XoSCz {
		background-color: var(--idle-color);
		color: var(--idle-color);
	}
	&.statusDnd-2DDKST {
		background-color: var(--dnd-color);
		color: var(--dnd-color);
	}
	&.statusInvisible-23hZKw,
	&.statusOffline-3R-4Bv {
		background-color: var(--offline-color);
		color: var(--offline-color);
	}
}

// BADGES
.badge,
.wrapper-232cHJ {
	background-color: var(--main-color) !important;
	color: #fff !important;
	padding: 3px 5px;
    font-weight: 600;
	@include prefix(box-shadow, none);
	@include prefix(transition, all .3s ease-in-out);
}
.selected {
	.badge {		
		background-color: #fff !important;
		color: var(--main-color) !important;
	}
}
.contentSelectedText-3wUhMi {
	.wrapper-232cHJ {
		background-color: #fff !important;
		color: var(--main-color) !important;
	}
}

// BOT TAGS
.bot-tag,
.botTag-2WPJ74 {
	padding: 1px 2px;
	background: rgba(100, 100, 100, .3) !important;
	color: hsla(0, 0%, 100%, .6) !important;
	font-weight: 700;
	text-shadow: 0 0 1px rgba(0, 0, 0, .3);
	border-radius: 3px;
}
.botTagInvert-18-95s {
	padding: 2px 3px;
    background-color: rgba(0, 0, 0, .2) !important;
	color: hsla(0, 0%, 100%, .8) !important;
	font-size: 11px;
    border-radius: 5px;
}
.bot-tag {
	.channel-members & {
		font-size: 11px;
	}
}

// OWNER TAG
.kawaii-tag {
	&.kawaii-tag-invert {
		padding: 2px 3px;
		background-color: rgba(0, 0, 0, .2);
		color: hsla(0, 0%, 100%, .8) !important;
		font-size: 11px;
		border-radius: 5px;
	}
	.channel-members & {
		padding: 1px 2px;
		color: #fff;
		height: 14px;
		border-radius: 3px;
		font-size: 10px;
		text-align: center;
		font-weight: 500;
		text-shadow: 0 0 1px rgba(0, 0, 0, .3);
		text-transform: uppercase;
		vertical-align: bottom;
		margin-left: 6px;
	}
}

// TOOLTIPS
.tooltip {
	&.tooltip-black,
	&.tooltip-red {
		padding: 5px 10px;
		background-color: var(--main-color);
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border-radius: 3px;
		@include prefix(box-shadow, 0 2px 10px 0 rgba(0, 0, 0, .2));
		@each $e in top, right, bottom, left {
			&.tooltip-#{$e} {
				@include pseudo(after) {
					border-#{$e}-color: var(--main-color);
				}
			}
		}
	}
}

// CHECKBOXES
.checkbox {
	.checkbox-inner {
		width: 35px;
		height: 18px;
		background: rgba(0, 0, 0, .3);
		border-radius: 10px;
		left: 0;
		span {
			width: 0;
			background-color: transparent !important;
			border: none !important;
			border-radius: 10px;
			@include prefix(transition, all .2s ease-in-out);
			@include pseudo(after) {
				content: "";
				display: block;
				top: 0 !important;
				left: 0 !important;
				width: 18px !important;
				height: 18px !important;
				margin: 0;
				background-color: #fff !important;
				border: none !important;
				border-radius: 50%;
				@include prefix(box-shadow, 0 0 1px 1px rgba(0, 0, 0, .3));
				@include prefix(transition, all .2s ease-in-out !important);
				@include prefix(transform, none !important);
			}
		}
		input:checked {
			& + span {
				width: 100%;
				background-color: var(--main-color) !important;
				@include pseudo(after) {
					margin-left: 17px !important;
				}
			}
		}
	}
}

// SMALL POPOUTS
.small-popout-box {
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid transparent;
	@include prefix(animation, menu-fold .3s cubic-bezier(.2, .6, .5, 1.1));
	@include prefix(transform-origin, 50% 0);
}
.option-popout {
	.btn-item {
		color: hsla(0, 0%, 100%, .4);
		@include prefix(transition, all .15s ease-in-out);
		&:hover {
			color: hsla(0, 0%, 100%, .7);
		}
	}
}

// CONTEXT MENU
.contextMenu-HLZMGh {
	background-color: rgba(0, 0, 0, .7) !important;
	border-color: transparent !important;
	@include prefix(box-shadow, 0 0 1px rgba(0, 0, 0, .82), 0 1px 4px rgba(0, 0, 0, .1) !important);
	@include prefix(animation, menu-fold .3s cubic-bezier(.2, .6, .5, 1.1));
	@include prefix(transform-origin, 50% 0);
	&.undefined {
		@include prefix(transform-origin, 50% 100%);
	}
	.itemGroup-1tL0uz {
		border-top-color: hsla(0, 0%, 100%, .04) !important;
	}
	.item-1Yvehc {
		@include clear;
		color: hsla(0, 0%, 100%, .6);
		border-radius: 3px;
		@include prefix(transition, all .1s ease-in-out);
		&:hover {
			color: #fff;
			background-color: rgba(0, 0, 0, .7) !important;
		}
		&.danger-2dXSTE {
			background-color: $dark-red !important;
			color: hsla(0, 0%, 100%, .6) !important;
			width: calc(100% - 4px);
			margin: 2px;
			&:hover {
				background-color: $red !important;
				color: #fff !important;

			}
		}
	}
	.itemSubMenu-1vN_Yn {
		.contextMenu-HLZMGh {
			@include prefix(animation, menu-slide .15s cubic-bezier(.2, .6, .5, 1.1));
			@include prefix(transform-origin, 0% 50%);
		}
	}
}

// POPOUTS
.popout {
	header {
		background-color: var(--main-color);
		border-radius: 3px 3px 0 0;
	}
	@each $e in top, bottom {
		&.popout-#{$e} header,
		&.popout-#{$e}-right header,
		&.popout-#{$e}-left header {
			@include pseudo(before) {
				border-#{$e}-color: var(--main-color);
			}
		}
	}
	@each $e in right, left {
		&.popout-#{$e} header {
			@include pseudo(before) {
				border-#{$e}-color: var(--main-color);
			}
		}
	}
	section {
		background-color: rgba(0, 0, 0, .7);
		border-radius: 0 0 3px 3px;
		@include pseudo(after, before) {
			content: none;
		}
	}
}
#autocomplete-popout {
	.autocomplete-scroller {
		overflow-y: auto;
	}
	.row {
		&:hover,
		&.selected {
			background: rgba(0, 0, 0, .7);
		}
	}
}

// USER POPOUTS
.userPopout-3XzG_A {
	position: relative;
	border-radius: 5px;
	@include prefix(box-shadow, 0 2px 10px 0 rgba(0, 0, 0, .2));
	@include prefix(transform, none !important);
	@include prefix(animation, menu-pop .15s cubic-bezier(.2, .6, .5, 1.1));
	@include pseudo(before) {
		content: "";
		position: absolute;
		@include pos(-5px, -5px, -5px, -5px);
		background-position: center;
		@include prefix(filter, blur(3px));
		z-index: -1;
	}
	// USER POPOUT HEADER
	.header-2BwW8b {
		background-color: rgba(0, 0, 0, .3);
	}
	.headerStreaming-2FjmGz {
		.activity-11LB_k {
			background-color: rgba($purple, .5);
		}
	}
	.activityUserPopout-2yItg2 {
		.headerText-1HLrL7 {
			color: hsla(0, 0%, 100%, .7);
		}
		.nameNormal-2lqVQK {
			color: var(--main-color);
			@include prefix(text-shadow, 0 0 5px rgba(0, 0, 0, .5));
			font-weight: 600;
			& > .activityName-1L6vjN {
				color: inherit;
				&.bodyLink-3A8Buv:hover {
					@include prefix(text-shadow, 0 0 5px rgba(0, 0, 0, .5), 0 0 1px);
				}
			}
		}
		.timestamp-VjAZmo {
			font-style: italic;
		}
		.bodyLink-3A8Buv {
			@include hover-shadow;
		}
	}
	.avatar-16XVId {
		@include prefix(box-shadow, 0 0 5px rgba(0, 0, 0, .5));
		.image-EVRGPw {
			background-color: transparent;
		}
	}
	.activity-11LB_k {
		background-color: rgba(0, 0, 0, .04);
	}
	// USER POPOUT BODY
	.body-3iLsc4 {
		background-color: rgba(0, 0, 0, .65);
	}
	.bodyTitle-Y0qMQz{
		color: hsla(0, 0%, 100%, .6);
	}
	.rolesList-22qj2L {
		max-height: 230px;
		overflow-y: auto;
	}
	.note-3HfJZ5 {
		textarea {
			@include clear;
			color: hsla(0, 0%, 100%, .8) !important;
			@include prefix(transition, all .3s ease-in-out);
			&::-webkit-input-placeholder {	
				color: hsla(0, 0%, 100%, .5);
			}
		}
	}
	// USER POPOUT FOOTER
	.footer-1fjuF6 {
		background-color: rgba(0, 0, 0, .65);
		border-color: hsla(0, 0%, 100%, .04);
	}
	.quickMessage-1yeL4E {
		background: rgba(0, 0, 0, .3);
		border-color: transparent;
		color: #fff;
		@include prefix(transition, all .3s ease-in-out);
		&::-webkit-input-placeholder {	
			color: hsla(0, 0%, 100%, .5);
		}
		&:focus {
			background: rgba(0, 0, 0, .5);
			border-color: var(--main-color);
		}
	}
	.pro-1T8RK7 {
		color: var(--main-color);
	}
}

// MEMBER ROLES
// NEW MEMBER ROLES
.role-2irmRk {
	position: relative;
	@include display-flex;
	@include flex-direction(row-reverse);
	border-radius: 3px;
	@include prefix(transition, all .1s ease-in-out);
	cursor: default;
	&[style] {
		&:not(:hover) {
			border-color: transparent !important;
		}
	}
	&:not([style]) {
		background-color: hsla(0, 0%, 100%, .1);
		border-color: transparent;
	}
	& > .roleCircle-3xAZ1j {
		width: 0;
		height: 0;
		float: right;
		&:not(:empty) {
			margin-left: 6px;
		}
		@include pseudo(after) {
			content: "";
			position: absolute;
			@include pos(-1px, -1px, -1px, -1px);
			border-radius: 3px;
			background-color: inherit;
			opacity: .1;
			@include prefix(transition, all .1s ease-in-out);
			pointer-events: none;
		}
		& > .roleRemoveIcon-2-TeGW {
			position: absolute;
			display: block;
			opacity: 0;
			@include prefix(transition, all .1s ease-in-out);
			.fill {
				fill: #fff !important;
			}
		}
	}
	& > .roleName-32vpEy {
		margin-right: 0;
		margin-left: 4px;
		color: hsla(0, 0%, 100%, .7);
		@include prefix(transition, all .1s ease-in-out);
	}
	&:hover  {
		& > .roleCircle-3xAZ1j {
			@include pseudo(after) {
				opacity: .3;
			}
			& > .roleRemoveIcon-2-TeGW {
				opacity: 1;
			}
		}
		& > .roleName-32vpEy {
			color: #fff;
		}
	}
}
.addButton-pcyyf6 {
	background-color: hsla(0, 0%, 100%, .1);
	@include prefix(transition, all .1s ease-in-out);
	cursor: pointer;
	&:hover {
		background-color: hsla(0, 0%, 100%, .2);
	}
	& > svg {
		width: 7px;
		height: 7px;
		color: hsla(0, 0%, 100%, .5);
		@include prefix(transition, inherit);
	}
	&:hover > svg {
		color: #fff;
	}
}
// OLD MEMBER ROLES
.ui-role-list-role {
	position: relative;
	@include prefix(transition, all .1s ease-in-out);
	@include pseudo(after) {
		content: "";
		position: absolute;
		@include pos(-1px, -1px, -1px, -1px);
		border-radius: 3px;
		background-color: inherit;
		opacity: 0;
		@include prefix(transition, all .1s ease-in-out);
		pointer-events: none;
	}
	&:hover {
		@include pseudo(after) {
			opacity: 1;
		}
	}
	&[style] {
		&:not(:hover) {
			border-color: transparent !important;
		}
	}
	&:not([style]) {
		background-color: hsla(0, 0%, 100%, .1);
		border-color: transparent !important;
		color: hsla(0, 0%, 100%, .7);
	}
}
.ui-role-list-add {
	background-color: hsla(0, 0%, 100%, .1);
	border-color: transparent !important;
	@include prefix(transition, all .1s ease-in-out);
	&:hover {
		background-color: hsla(0, 0%, 100%, .2);
	}
}
.member-perms .member-perm {
	cursor: default;
}

// USER PROFILE MODALS
.root-SR8cQa {
	@include pseudo(before) {
		content: "";
		position: absolute;
		@include pos(-5px, -5px, -5px, -5px);
		background-position: center;
		@include prefix(filter, blur(3px));
		z-index: -1;
	}
	& > .body-3ND3kc {
		background: rgba(0, 0, 0, .7);
	}
	& > .topSectionNormal-2-vo2m,
	& > .topSectionPlaying-1J5E4n {
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
		background: linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
	}
}
.headerFill-adLl4x {
	background: rgba(0, 0, 0, .04);
	& > .activityProfile-2bJRaP,
	& > .activityUserPopout-2yItg2 {
		.headerText-1HLrL7 {
			color: hsla(0, 0%, 100%, .7);
		}
	}
}
.activityProfile-2bJRaP {
	.nameNormal-2lqVQK {
		color: var(--main-color);
		@include prefix(text-shadow, 0 0 5px rgba(0, 0, 0, .5));
		font-weight: 600;
		& > .activityName-1L6vjN {
			color: inherit;
			&.bodyLink-3A8Buv:hover {
				@include prefix(text-shadow, 0 0 5px rgba(0, 0, 0, .5), 0 0 1px);
			}
		}
	}
	.timestamp-VjAZmo {
		font-style: italic;
	}
	.bodyLink-3A8Buv {
		@include hover-shadow;
	}
}
.tabBarContainer-1s1u-z {
	border-color: hsla(0, 0%, 100%, .04);
}
.tab-bar.tabBar-2MuP6- {
	& > .tabBarItem-1b8RUP {
		color: hsla(0, 0%, 100%, .5);
		@include prefix(transition, all .2s ease-in-out);
		&:hover {
			color: hsla(0, 0%, 100%, .7);
			border-color: hsla(0, 0%, 100%, .7);
		}
		&.selected {
			border-color: var(--main-color);
			color: var(--main-color);
		}
	}
}
.body-3ND3kc {
	.userInfoSection-2acyCx + .userInfoSection-2acyCx {
		border-color: hsla(0, 0%, 100%, .04);
	}
}
.connectedAccounts-repVzS {
	& > .connectedAccount-36nQx7{
		background-color: hsla(0, 0%, 100%, .04);
		border-color: transparent;
	}
}

// NOTICES
.notice {
	border-radius: 0 0 5px 5px;
	&.notice-danger {
		background-color: rgba($red, .7);
		.btn {
			@include prefix(transition, all .3s ease-in-out);
			@include hover-cutout;
		}
	}
}

// TOAST
.toast {
	background-color: rgba(0, 0, 0, .5) ;
	@include prefix(box-shadow, 0 2px 10px 0 rgba(0, 0, 0, .2));
	color: hsla(0, 0%, 100%, .7);
}

// SPINNER
.spinner-wandering-cubes {
	.spinner-item {
		background-color: var(--main-color);
	}
}

// LOADING SCREEN
.container-2oOGIt { // [TD]
	background-color: rgba(0, 0, 0, .9);
}
.links-3Ldd4A {
	color: var(--main-color);
	opacity: 1 !important;
	@include hover-shadow;
}
.path-92Hmty {
	stroke: var(--main-color) !important;
}
.path2-1q7bG_ {
	opacity: .5 !important;
}
.path3-2l9TIX {
	opacity: .3 !important;
}

// SETTINGS
.sidebar-region {
	.sidebar-region-scroller {
		margin-right: 8px;
		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}
}

// KEYFRAMES
@include keyframes(fade-in) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@include keyframes(guild-select) {
    from {
        height: 0px;
        margin-top: 0px;
    }
    to {
        height: 40px;
        margin-top: -20px;
    }
}
@include keyframes(pulsate-color) {
    0%,
	100% {
        background-color: #333539;
    }
    50% {
        background-color: currentcolor;
    }
}
@include keyframes(pulsate-border) {
    0%,
	100% {
        border-color: #535559;
    }
    50% {
        border-color: currentcolor;
    }
}
@include keyframes(badge) {
    from {
        background-color: var(--main-color);
    }
    to {
        background-color: var(--hover-color);
    }
}
@include keyframes(menu-fold) {
	from {
		@include prefix(transform, rotateX(-90deg));
		opacity: 0;
	}
	to {
		@include prefix(transform, none);
		opacity: 1;
	}
}
@include keyframes(menu-slide) {
	from {
		@include prefix(transform, rotateY(-90deg));
		opacity: 0;
	}
	to {
		@include prefix(transform, none);
		opacity: 1;
	}
}
@include keyframes(menu-pop) {
    from {
		@include prefix(transform, scale(0));
        opacity: 0;
    }
    to {
		@include prefix(transform, none);
        opacity: 1;
    }
}
@include keyframes(message-fade) {
	0%,
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}