/* CREATE TREAD */
.threadSidebar-1o3BTy {
    background-color: hsla(0, 0%, 0%, .6);
}

.iconWrapper-L3hQuc {
    background-color: $main-color;
}

.scroller-36cuUh {
    justify-content: flex-start;
}