@use "cv" as *;

/* CHAT DIVIDER */
#{cn("Divider@7732" divider)} {
	position: relative;
	margin: 10px 6px 10px 20px;
	&:before {
		content: "";
		position: absolute;
		@include stretch;
		background: hsla(0, 0%, 100%, .07);
		border-radius: 3px;
		z-index: -1;
	}
	#{cn("Divider@7732" dividerContent)} {
		padding: 5px 15px;
		display: block;
		font-size: 12px;
		text-transform: uppercase;
		text-align: center;
		border-radius: 3px;
		opacity: .9;
		&:before,
		&:after {
			display: none;
		}
	}
	&:not(#{cn("Divider@7732" dividerRed)}) {
		#{cn("Divider@7732" dividerContent)} {
			color: hsla(0, 0%, 100%, .7);
		}
	}
	&#{cn("Divider@7732" dividerRed)} {
		&:before {
			background: $main-color;
			opacity: .8;
		}
		+ #{cn("Divider@7732" divider)} {
			margin-top: 40px;
		}
		#{cn("Divider@7732" dividerContent)} {
			position: relative;
			color: hsla(0, 0%, 100%, .8);
		}
	}
}