@use "cv" as *;
@import "lib/legacy-selectors";

/* CHAT CHANNEL TEXT AREA */
%chatForm {
	border-color: hsla(0, 0%, 100%, .07);
}
#{cn(ChannelEditorContainer channelTextArea)} {
	#{cn(ChannelEditorContainer scrollableContainer)} {
		background: rgba(0, 0, 0, .4);
		border: 2px solid hsla(0, 0%, 100%, .1);
		border-radius: 5px;
		box-shadow: 0 0 3px;
		transition: all .15s ease-in-out;
		&:focus-within {
			border-color: $main-color;
			color: $main-color;
		}
	}
	#{cn(SlateChannelTextArea placeholder)},
	#{cn(ChannelEditorContainer textArea)}::placeholder {
		color: hsla(0, 0%, 100%, .2);
	}

	// TODO: god damn anonymous memo
	.attachWrapper-2TRKBi {
		border-right: 1px solid hsla(0, 0%, 100%, .07);
	}

	// BUTTONS
	#{cn(ButtonLink button)} {
		opacity: .3;
		transition: all .15s ease-in-out;
		&:hover {
			opacity: .7;
		}
	}

	// TYPING
	#{cn("FluxContainer(TypingUsers)" typing)} {
		background: transparent;
		#{cn("FluxContainer(TypingUsers)" text)} {
			color: hsla(0, 0%, 100%, .5);
			> strong {
				color: hsla(0, 0%, 100%, .7);
				font-weight: 700;
			}
		}
	}

	// CHANNEL INFO DISPLAY
	%channelInfo {
		background: hsla(0, 0%, 100%, .07);
		border-radius: 5px;
		color: hsla(0, 0%, 100%, .7);
		%channelInfoImage {
			filter: grayscale(1);
			opacity: .5;
		}
	}
}
