@use "cv" as *;

/* CHAT CHANNEL TEXT AREA AUTOCOMPLETE */
#app-mount {
	#{cn(Autocomplete autocomplete)} {
		background: rgba(0, 0, 0, .8);
		animation: cv-menu-fold-y .2s ease-in-out;
		transform-origin: 50% 100%;
	}
}
#{cn(Autocomplete autocomplete)} {
	#{cn(Autocomplete contentTitle)} {
		color: hsla(0, 0%, 100%, .5);
	}
	#{cn(Autocomplete content)} {
		color: hsla(0, 0%, 100%, .6);
	}
	#{cn(Autocomplete iconForeground)} {
		fill: hsla(0, 0%, 100%, .3);
	}
	#{cn(Autocomplete description)},
	#{cn(Autocomplete descriptionUsername)} {
		color: hsla(0, 0%, 100%, .3);
	}
	#{cn(Autocomplete descriptionDiscriminator)} {
		color: hsla(0, 0%, 100%, .15);
	}
	#{cn(Autocomplete selectorSelected)} {
		background: $main-color;
		#{cn(Autocomplete content)} {
			color: #fff;
		}
		#{cn(Autocomplete iconForeground)} {
			fill: hsla(0, 0%, 100%, .5);
		}
		#{cn(Autocomplete description)},
		#{cn(Autocomplete descriptionUsername)} {
			color: hsla(0, 0%, 100%, .5);
		}
		#{cn(Autocomplete descriptionDiscriminator)} {
			color: hsla(0, 0%, 100%, .25);
		}
	}
}