# File is read top to bottom, with the bottom-most line taking precedence.
# Only applies on creation of pull requests, does nothing anywhere else.

# Default owners of files NOT listed below.
*                           @ClearVision/clearvision-administrators

# All theme-related files are owned by the entire ClearVision team.
*.scss                      @ClearVision/clearvision-team
*.css                       @ClearVision/clearvision-team

# If, for example, the ClearVision_v6.theme.css file was modified, the ClearVision team would be notified to review that pull request.
# If the LICENSE file was modified, then the ClearVision administrators would be notified instead.
