/* //META {"name": "ClearVision", "description": "Theme version for v6.", "author": "Zerthox", "version": "6 BETA"} *//**/
/* "ClearVision v6 BETA" by Zerthox */

/* IMPORT CSS */
@import url(https://clearvision.gitlab.io/v6/main.css);

/* COLOR SETTINGS */
:root {
	--main-color: #2780e6;
	--hover-color: #1e63b3;
	--online-color: #43b581;
	--idle-color: #faa61a;
	--dnd-color: #982929;
	--offline-color: #808080;
	--streaming-color: #593695;
}

/* BACKGROUND SETTINGS */
:root {
	--background-image: url(https://zerthox.github.io/ClearVision/images/sapphire.jpg);
	--background-brightness: 100%;
	--background-blur: 0px;
}