/* //META {"name": "ClearVision", "description": "Public BETA for ClearVision v6.", "author": "Zerthox", "version": "6 BETA", "website": "https://clearvision.gitlab.io"} *//**/
/* "ClearVision v6 BETA" by Zerthox */

/* IMPORT CSS */
@import url(https://clearvision.gitlab.io/v6/main.css);

/* SETTINGS */
:root {

	/* ACCENT COLORS */
	--main-color: #2780e6; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--hover-color: #1e63b3; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */

	/* STATUS COLORS */
	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	/* GENERAL */
	--channels-width: 220px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: 240px; /* member list width [default: 240px] */
	--avatar-roundness: 50%; /* avatar roundness (0% for squares, 50% for circles) [default: 50%] */

	/* APP BACKGROUND */
	--background-overlay: rgba(0, 0, 0, 0.6); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
	--background-image: url(https://clearvision.gitlab.io/images/sapphire.jpg); /* app background image (link must be HTTPS) [default:  url(https://clearvision.gitlab.io/images/sapphire.jpg)]*/
	--background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */
	--background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 0px; /* app background blur [default: 0px] */

	/* USER POPOUT BACKGROUND */
	--user-popout-image: url(https://clearvision.gitlab.io/images/sapphire.jpg); /* app background image (link must be HTTPS) [default: url(https://clearvision.gitlab.io/images/sapphire.jpg)]*/
	--user-popout-position: center; /* user popout background position [default: center] */
	--user-popout-size: cover; /* user popout background size [default: cover] */
	--user-popout-brightness: 100%; /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--user-popout-contrast: 100%; /* user popout background contrast [default: 100%] */
	--user-popout-saturation: 100%; /* user popout background saturation [default: 100%] */
	--user-popout-invert: 0%; /* user popout background invert (0 - 100%) [default: 0%] */
	--user-popout-grayscale: 0%; /* user popout background grayscale (0 - 100%) [default: 0%] */
	--user-popout-sepia: 0%; /* user popout background sepia (0 - 100%) [default: 0%] */
	--user-popout-blur: 3px; /* user popout background blur [default: 3px] */

	/* USER MODAL BACKGROUND */
	--user-modal-image: url(https://clearvision.gitlab.io/images/sapphire.jpg); /* app background image (link must be HTTPS) [default: url(https://clearvision.gitlab.io/images/sapphire.jpg)]*/
	--user-modal-position: center; /* user modal background position [default: center] */
	--user-modal-size: cover; /* user modal background size [default: cover] */
	--user-modal-brightness: 100%; /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--user-modal-contrast: 100%; /* user modal background contrast [default: 100%] */
	--user-modal-saturation: 100%; /* user modal background saturation [default: 100%] */
	--user-modal-invert: 0%; /* user modal background invert (0 - 100%) [default: 0%] */
	--user-modal-grayscale: 0%; /* user modal background grayscale (0 - 100%) [default: 0%] */
	--user-modal-sepia: 0%; /* user modal background sepia (0 - 100%) [default: 0%] */
	--user-modal-blur: 3px; /* user modal background blur [default: 3px] */

	/* HOME BUTTON ICON */
	--home-icon: url(https://clearvision.gitlab.io/icons/discord.sg); /* home button icon (link must be HTTPS) [default:  url(https://clearvision.gitlab.io/icons/discord.svg)]*/
	--home-position: center; /* home button icon position [default: center] */
	--home-size: 40px; /* home button icon size [default: 40px] */
}