$version: "pre-4.3.0";

/*! ClearVision v6 BETA #{$version} by Zerthox */

// STRING CONSTANTS
$titlebar-text: "ClearVision v6 BETA";
$titlebar-version: "#{$version}";
$titlebar-short: "CV v6";
$account-text: "ClearVision";
$account-version: "v6 #{$version}";

// IMPORT VARIABLES
@import "variables";

// IMPORT MIXINS
@import "mixins";

// LOCAL MIXINS
/// Stretch element
@mixin stretch {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/// Include background filters
/// @param {map} $source source map with filter settings
@mixin filters($source) {
	filter: #{"grayscale("map-get($source, grayscale)")"} sepia(map-get($source, sepia)) #{"invert("map-get($source, invert)")"} brightness(map-get($source, brightness)) contrast(map-get($source, contrast)) #{"saturate("map-get($source, saturate)")"} blur(map-get($source, blur));	
}

/// Create hover shadow effect
@mixin hover-shadow {
	transition: all .1s ease-in-out;
	&:hover {
		text-shadow: 0 0 1px;
		text-decoration: none !important;
	}
}

/// Create hover cutout effect
@mixin hover-cutout {
	background: transparent;
	color: #fff;
	mix-blend-mode: screen;
	transform: translateZ(0);
	&:hover {
		background: #fff;
		color: #000;
	}
}

// IMPORT SELECTORS
@import "selectors";

/* DEFAULT SETTINGS */
:root {
	--main-color: #2780e6;
	--hover-color: #1e63b3;
	--success-color: #43b581;
	--danger-color: #982929;
	--online-color: #43b581;
	--idle-color: #faa61a;
	--dnd-color: #982929;
	--offline-color: #808080;
	--streaming-color: #593695;
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
	--channels-width: 220px;
	--members-width: 240px;
	--avatar-roundness: 50%;
	--background-shading: 100%;
	--background-overlay: rgba(0, 0, 0, .6);
	--background-image: url(https://clearvision.gitlab.io/images/sapphire.jpg);
	--background-position: center;
	--background-size: cover;
	--background-brightness: 100%;
	--background-contrast: 100%;
	--background-saturation: 100%;
	--background-invert: 0%;
	--background-grayscale: 0%;
	--background-sepia: 0%;
	--background-blur: 0px;
	--backdrop-overlay: rgba(0, 0, 0, .8);
	--backdrop-image: var(--background-image);
	--backdrop-position: var(--background-position);
	--backdrop-size: var(--background-size);
	--backdrop-brightness: var(--background-brightness);
	--backdrop-contrast: var(--background-contrast);
	--backdrop-saturation: var(--background-saturation);
	--backdrop-invert: var(--background-invert);
	--backdrop-grayscale: var(--background-grayscale);
	--backdrop-sepia: var(--background-sepia);
	--backdrop-blur: var(--background-blur);
	--user-popout-image: var(--background-image);
	--user-popout-position: var(--background-position);
	--user-popout-size: var(--background-size);
	--user-popout-brightness: var(--background-brightness);
	--user-popout-contrast: var(--background-contrast);
	--user-popout-saturation: var(--background-saturation);
	--user-popout-invert: var(--background-invert);
	--user-popout-grayscale: var(--background-grayscale);
	--user-popout-sepia: var(--background-sepia);
	--user-popout-blur: calc(var(--background-blur) + 3px);
	--user-modal-image: var(--background-image);
	--user-modal-position: var(--background-position);
	--user-modal-size: var(--background-size);
	--user-modal-brightness: var(--background-brightness);
	--user-modal-contrast: var(--background-contrast);
	--user-modal-saturation: var(--background-saturation);
	--user-modal-invert: var(--background-invert);
	--user-modal-grayscale: var(--background-grayscale);
	--user-modal-sepia: var(--background-sepia);
	--user-modal-blur: calc(var(--background-blur) + 3px);
	--home-icon: url(https://clearvision.gitlab.io/icons/discord.svg);
	--home-position: center;
	--home-size: 40px;
}

/* APP */
@import "app/app";
@import "app/notice";

/* TITLEBAR */
@import "app/titlebar";

/* HEADER BAR */
@import "app/headerBar";

/* GUILDS */
@import "guilds/guilds";

/* CHANNELS */
@import "channels/channels";
@import "channels/category";
@import "channels/channel";
@import "channels/containers";
@import "channels/indicators";
@import "channels/privateChannels";
@import "channels/channelNotice";

/* CHAT */
@import "chat/chat";
@import "chat/divider";
@import "chat/bars";
@import "chat/textarea";
@import "chat/textareaAutocomplete";
@import "chat/gifAutocomplete";
@import "chat/welcome";

/* MESSAGES */
@import "messages/message";
@import "messages/reaction";
@import "messages/inviteLink";
@import "messages/embed";
@import "messages/mediaPlayer";
@import "messages/spotifyInvite";
@import "messages/codeblock";
@import "messages/codeLanguages";
@import "messages/mention";
@import "messages/spoiler";
@import "messages/attachment";
@import "messages/blocked";

/* MEMBERS */
@import "members/members";

/* SEARCH */
@import "search/search";

/* HOME TAB */
@import "home/friends";
@import "home/library";
@import "home/activity";
@import "home/store";

/* AVATARS */
@import "general/avatar";

/* STATUS */
@import "general/status";

/* BOT TAGS */
@import "general/botTag";

/* GENERAL ELEMENTS */
@import "general/button";
@import "general/scrollbar";
@import "general/badge";
@import "general/tooltip";
@import "general/checkbox";
@import "general/slider";
@import "general/spinner";

/* CONTEXT MENU */
@import "popouts/contextMenu";

/* POPOUTS */
@import "popouts/popout";
@import "popouts/messageOptions";
@import "popouts/dropdownMenu";
@import "popouts/statusPicker";
@import "popouts/connectionInfo";
@import "popouts/messagesPopout";
@import "popouts/autocompletePopout";
@import "popouts/searchPopout";
@import "popouts/emojiPicker";

/* USER POPOUT */
@import "popouts/userPopout";

/* MEMBER ACTIVITY */
@import "members/activity";

/* MEMBER ROLES */
@import "members/roles";

/* MODALS */
@import "modals/modal";
@import "modals/userModal";
@import "modals/keyboardShortcutsModal";

/* SETTINGS */
@import "settings/sidebar";
@import "settings/icons";
@import "settings/content";

/* PAGES */
@import "pages/discovery";

/* SCREENS */
@import "screens/loading";
@import "screens/crash";

/* BETTERDISCORD */
@import "bd/sidebar";

/* PLUGINS */
@import "plugins/pluginNotice";
@import "plugins/messageButtons";
@import "plugins/noodlebox/lineNumbers";
@import "plugins/noodlebox/ownerTag";
@import "plugins/Finicalmist/copyCode";
@import "plugins/DevilBro/tooltips";
@import "plugins/DevilBro/showHiddenChannels";
@import "plugins/DevilBro/dateText";
@import "plugins/Arashiryuu/memberCount";

/* KEYFRAMES */
@import "keyframes";