---
---
// VARIABLES
$version: "ClearVision v6-pre-2.4.5";
$green: #43b581;
$red: #f04747;
$dark-red: #a93d3d;
$twitch-purple: #593695;
$spotify-green: #1db954;
$xbox-green: #107c10;

// MIXINS
@import "mixins.scss";

/// Force clear background
@mixin clear {
	background: transparent !important;
}

/// Stretch element
@mixin stretch {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/// Create hover shadow effect
@mixin hover-shadow {
	transition: all .1s ease-in-out;
	&:hover {
		text-shadow: 0 0 1px;
		text-decoration: none !important;
	}
}

/// Create hover cutout effect
@mixin hover-cutout {
	mix-blend-mode: screen;
	background-color: transparent;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

/*! ClearVision #{$version} by Zerthox */

// IMPORT SELECTORS
@import "selectors.scss";

// TEST SETTINGS [REMOVE]
:root {
	--main-color: #2780e6;
	--hover-color: #1e63b3;
	--online-color: #43b581;
	--idle-color: #faa61a;
	--dnd-color: #982929;
	--offline-color: #808080;
	--streaming-color: #593695;
	--background-image: url(https://zerthox.github.io/ClearVision/images/sapphire.jpg);
	--background-brightness: 100%;
	--background-blur: 0px;
}

/* APP  */
@import "general/app.scss";

/* TITLEBAR */
@import "general/titlebar.scss";

/* GUILDS */
@import "guilds/guilds.scss";

/* CHANNELS */
@import "channels/channels.scss";
@import "channels/containers.scss";
@import "channels/unreadIndicator.scss";
@import "channels/privateChannels.scss";

/* CHAT */
@import "chat/chat.scss";
@import "chat/divider.scss";
@import "chat/bars.scss";
@import "chat/textarea.scss";
@import "chat/welcome.scss";

/* MESSAGES */
@import "messages/message.scss";
@import "messages/inviteLink.scss";
@import "messages/embed.scss";
@import "messages/codeblock.scss";
@import "messages/codeLanguages.scss";
@import "messages/mention.scss";
@import "messages/blocked.scss";

/* MEMBERS */
@import "members/members.scss";

/* SEARCH */
@import "search/search.scss";

/* HOME TAB */
@import "home/friends.scss";

/* AVATARS */
@import "general/avatar.scss";

/* STATUS */
@import "general/status.scss";

/* BOT TAGS */
@import "general/botTag.scss";

/* GENERAL ELEMENTS */
@import "general/button.scss";
@import "general/scrollbar.scss";
@import "general/badge.scss";
@import "general/tooltip.scss";
@import "general/checkbox.scss";
@import "general/spinner.scss";

/* CONTEXT MENU */
@import "popouts/contextMenu.scss";

/* POPOUTS */
@import "popouts/popout.scss";
@import "popouts/messageOptions.scss";
@import "popouts/dropdownMenu.scss";
@import "popouts/statusPicker.scss";
@import "popouts/messagesPopout.scss";
@import "popouts/autocompletePopout.scss";

/* USER POPOUT */
@import "popouts/userPopout.scss";

/* MEMBER ACTIVITY */
@import "members/activity.scss";

/* MEMBER ROLES */
@import "members/roles.scss";

/* USER PROFILE MODAL */
@import "modals/userModal.scss";

/* SETTINGS */
@import "settings/sidebar.scss";
@import "settings/bdSidebar.scss";
@import "settings/icons.scss";
@import "settings/content.scss";

/* SCREENS */
@import "screens/loading.scss";

/* PLUGINS */
@import "plugins/messageButtons.scss";
@import "plugins/linenumbers.scss";
@import "plugins/copyCode.scss";
@import "plugins/ownerTag.scss";

/* KEYFRAMES */
@import "keyframes.scss";