$version: "6.0.0";

/*! ClearVision v#{$version} by the CV team */

// IMPORT FUNCTIONS
@import "src/functions";

// IMPORT VARIABLES
@import "src/variables";

// IMPORT MIXINS
@import "src/mixins";

// IMPORT SELECTORS
@import "lib/selectors/selectorPlaceholders";

// DEFAULT SETTINGS
@import "src/settingsDefault";

// APP
@import "src/app/app";
@import "src/app/notice";
@import "src/app/titlebar";

// HEADER BAR
@import "src/headerBar/headerBar";
@import "src/headerBar/toolbar";
@import "src/headerBar/searchBars";
@import "src/headerBar/topPill";
@import "src/headerBar/breadcrumbs";

// GUILDS
@import "src/guilds/guilds";

// CHANNELS
@import "src/channels/channels";
@import "src/channels/category";
@import "src/channels/channel";
@import "src/channels/panels";
@import "src/channels/indicators";
@import "src/channels/privateChannels";
@import "src/channels/channelNotice";

// CHAT
@import "src/chat/chat";
@import "src/chat/divider";
@import "src/chat/bars";
@import "src/chat/textArea";
@import "src/chat/textAreaAutocomplete";
@import "src/chat/gifAutocomplete";
@import "src/chat/call";
@import "src/chat/welcomeMessage";

// MESSAGES
@import "src/messages/message";
@import "src/messages/reaction";
@import "src/messages/inviteLink";
@import "src/messages/embed";
@import "src/messages/mediaPlayer";
@import "src/messages/activityInvite";
@import "src/messages/codeblock";
@import "src/messages/codeLanguages";
@import "src/messages/mention";
@import "src/messages/spoiler";
@import "src/messages/attachment";
@import "src/messages/blocked";

// MEMBERS
@import "src/members/members";
@import "src/members/tags";

// USERS
@import "src/users/avatar";
@import "src/users/status";
@import "src/users/botTag";
@import "src/users/role";
@import "src/users/activity";

// SEARCH
@import "src/search/search";

// HOME TAB
@import "src/home/friends";
@import "src/home/library";
@import "src/home/activity";
@import "src/home/store";

// GENERAL ELEMENTS
@import "src/general/button";
@import "src/general/scrollbar";
@import "src/general/badge";
@import "src/general/tooltip";
@import "src/general/checkbox";
@import "src/general/slider";
@import "src/general/spinner";
@import "src/general/listItem";

// POPOUTS
@import "src/popouts/popout";
@import "src/popouts/userPopout";
@import "src/popouts/contextMenu";
@import "src/popouts/messageOptions";
@import "src/popouts/guildPopout";
@import "src/popouts/statusPicker";
@import "src/popouts/connectionInfo";
@import "src/popouts/messagesPopout";
@import "src/popouts/autocompletePopout";
@import "src/popouts/searchPopout";
@import "src/popouts/emojiPicker";
@import "src/popouts/groupInvite";

// MODALS
@import "src/modals/modal";
@import "src/modals/userModal";
@import "src/modals/keyboardShortcuts";

// SETTINGS
@import "src/settings/sidebar";
@import "src/settings/icons";
@import "src/settings/content";

// PAGES
@import "src/pages/discovery";

// SCREENS
@import "src/screens/loading";
@import "src/screens/crash";

// BETTERDISCORD
@import "src/bd/sidebar";
@import "src/bd/icons";
@import "src/bd/emotePicker";
@import "src/bd/sources";

/* BETTERDISCORD PLUGINS */
@import "src/bd/plugins/pluginNotice";
@import "src/bd/plugins/messageButtons";
@import "src/bd/plugins/noodlebox/lineNumbers";
@import "src/bd/plugins/Finicalmist/copyCode";
@import "src/bd/plugins/DevilBro/tooltips";
@import "src/bd/plugins/DevilBro/showHiddenChannels";
@import "src/bd/plugins/DevilBro/dateText";
@import "src/bd/plugins/DevilBro/badgesEverywhere";
@import "src/bd/plugins/DevilBro/ownerTag";
@import "src/bd/plugins/Arashiryuu/memberCount";

// KEYFRAMES
@import "src/keyframes";

// IMPORT FIX
@import "the-fixes";
