---
---

// SETTINGS
:root {
    --main-color: #{"$main-color"};
    --hover-color: #{"$hover-color"};
    --online-color: #{"$online-color"};
	--idle-color: #{"$idle-color"};
	--dnd-color: #{"$dnd-color"};
	--offline-color: #{"$offline-color"};
    --background-image: #{"$background-image"};
	--background-brightness: #{"$background-blur"};
    --background-blur: #{"$background-brightness"};
}