/* CHAT */
%base {
  %chat {
    background: transparent;
  }
  %page {
    background: transparent !important;
  }
}
%chatContent,
%chatResize {
  background: rgba(0, 0, 0, calc($bg-shading * 0.5));
}
%chat {
  // CONTENT
  %chatContentWrapper {
    background: transparent;
    &:before {
      box-shadow: none;
    }
  }
}

// GATED CHANNEL
%chatContentWrapper > %scrollerWrap {
  background: rgba(0, 0, 0, 0.5);
}
%chatGatedContent {
  %chatGatedImage {
    filter: hue-rotate(-47deg) saturate(2);
    opacity: 0.5;
  }
  %chatGatedTitle {
    color: cv('colors.danger');
    font-weight: 600;
    text-shadow: 0 0 3px #000;
  }
  %chatGatedDescription {
    color: hsla(0, 0%, 100%, 0.7);
  }
}

// EMPTY CHANNEL
%emptyChannelIcon {
  background-color: $main-color;
}
%emptyChannelRole {
  background: transparent;
  %emptyChannelRoleColor {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    right: -1px;
    border-radius: 3px;
    z-index: -1;
    opacity: 0.2;
  }
  &:hover {
    background-color: transparent;
    %emptyChannelRoleColor {
      opacity: 0.3;
    }
  }
}

// NO CHANNEL
%base {
  %noChannel {
    background: rgba(0, 0, 0, 0.5);
  }
}
%noChannel {
  %noChannelImage {
    filter: grayscale(1) brightness(2);
    opacity: 0.3;
  }
  %noChannelTitle {
    color: hsla(0, 0%, 100%, 0.5);
  }
  %noChannelText {
    color: hsla(0, 0%, 100%, 0.3);
  }
}

// CHAT LOADING
%chatLoadingWrapper,
%chatLoadingWrapperCozy {
  background-color: transparent;
}

// REPLY MENTION TOGGLE
div[aria-checked='true'] %replyMentionButton {
  color: $main-color !important;
}

// THREAD
%createThreadContainer {
  background-color: transparent;
}
%threadIconWrapper {
  background-color: $main-color;
  svg path {
    fill: #fff;
  }
}

// UPLOAD DRAG DROP MODAL
%uploadModalIn {
  %uploadDropModal {
    %uploadDropModalBgScale {
      background-color: $main-color;
    }
    %uploadDropModalInner {
      border: 2px dashed hsla(0, 0%, 100%, 0.5);
    }
  }
}