/* MOD VIEW */

// HEADER
%modViewHeader {
  background-color: cv('bg.general.card');
}
%modViewHeaderTop,
%modViewHeaderBottomAction {
  background-color: transparent;
}
%modViewHeaderBottomActionInner {
  background-color: hsla(0, 0%, 100%, 0.05);
}

// BODY
%modViewBody {
  background-color: cv('bg.general.card');
}
%modViewBodyHeader {
  background-color: transparent;
  box-shadow: none;
}
%modViewBodyItem {
  background-color: cv('bg.general.card');
}
%modViewBodyAction {
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}
%modViewPermissionChiplet,
%modViewElevatedPermissionChiplet {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// SERVER ACTIVITY
%modViewActivity {
  .container__02a39 .searchResult__02a39 {
    background-color: cv('bg.general.card') !important;
  }
}

// MOD PERMISSIONS
%modViewPermissionItem {
  background-color: cv('bg.general.card');
  &%modViewElevatedPermissionItem {
    background-color: hsla(0, 0%, 0%, 0.6);
    border: 1px solid hsla(0, 0%, 100%, 0.05);
  }
}
