/* CHAT CHANNEL TEXT AREA */
%base {
	%chat {
		form {
			background: transparent;
			#charcounter {
				top: 100%;
				margin-top: 7.5px;
				color: hsla(0, 0%, 100%, .7);
			}
		}
	}
}
%chat {
	%channelTextArea {
		margin-top: -1px;
		border-top: 1px solid hsla(0, 0%, 100%, .07);
	}
	%channelTextAreaInner {
		background: rgba(0, 0, 0, .4);
		border-radius: 5px;
		%channelTextAreaAttachButton {
			transform: none;
			%channelTextAreaAttachButtonPlus {
				opacity: .3;
				transition: all .15s ease-in-out;
			}
			&:hover {
				%channelTextAreaAttachButtonPlus {
					opacity: .7;
				}
			}
		}
	}
	textArea {
		&::placeholder {
			color: hsla(0, 0%, 100%, .2);
		}
		~ %channelTextAreaButtons {
			&:after {
				content: "";
				position: absolute;
				@include pos(-2px, -2px, -2px, -2px);
				border: 2px solid hsla(0, 0%, 100%, .1);
				border-radius: 5px;
				box-shadow: 0 0 3px;
				color: transparent;
				transition: all .15s ease-in-out;
				pointer-events: none;
			}
		}
		&:focus ~ %channelTextAreaButtons {
			&:after {
				border-color: $main-color;
				color: $main-color;
			}
		}
	}

	// TYPING
	%channelTextAreaTyping {
		background: transparent;
		%channelTextAreaTypingText {
			color: hsla(0, 0%, 100%, .5);
			> strong {
				color: hsla(0, 0%, 100%, .7);
				font-weight: 700;
			}
		}
	}

	// CHANNEL INFO DISPLAY
	%channelInfo {
		background: hsla(0, 0%, 100%, .07);
		border-radius: 5px;
		color: hsla(0, 0%, 100%, .7);
		%channelInfoImage {
			filter: grayscale(1);
			opacity: .5;
		}
	}
}