/* CHAT CHANNEL TEXT AREA */
%chatForm {
	margin-top: 1px;
	&:before {
		display: none;
	}
	.charcounter {
		color: hsla(0, 0%, 100%, .3);
	}
}
%channelTextArea {
	background: transparent;

	%channelTextAreaScrollable {
		background: rgba(0, 0, 0, .6);
		border: 2px solid rgba(255, 255, 255, 0.07);
		transition: all .15s ease-in-out;
		&:focus-within {
			border-color: transparent;
			box-shadow: 0 0 2px 2px $main-color;
		}
	}
	%channelTextAreaAttachButton {
		padding: 10px 10px 10px 12px;

		%channelTextAreaAttachButtonPlus {
			color: hsla(0, 0%, 100%, .7);
			transition: all .15s ease-in-out;
		}
		&:hover {
			%channelTextAreaAttachButtonPlus {
				color: hsla(0, 0%, 100%, .9);
			}
		}	
	}
	%textArea {
		%textAreaPlaceholder {
			color: hsla(0, 0%, 100%, .4);
			padding-left: 10px;
		}
		%slateTextArea {
			padding-left: 10px;
		}
	}

	// BUTTONS
	%channelTextAreaButton {
		color: hsla(0, 0%, 100%, .7);
		transition: all .15s ease-in-out;
		&:hover {
			color: hsla(0, 0%, 100%, .9);
		}
	}

	// TYPING
	%channelTextAreaTyping {
		background: transparent;
		%channelTextAreaTypingText {
			color: hsla(0, 0%, 100%, .5);
			> strong {
				color: hsla(0, 0%, 100%, .7);
				font-weight: 700;
			}
		}
	}

	// CHANNEL INFO DISPLAY
	%channelInfo {
		background-color: var(--background-overlay);
		border-radius: 5px;
		color: hsla(0, 0%, 100%, .7);
		%channelInfoImage {
			filter: grayscale(1);
			opacity: .5;
		}
	}
}

// FOLLOW CHANNEL
%channelInfo {
	background-color: var(--background-overlay);
}