/* TREADS */
//Temporary addition to attempt to fix bug
.increasedActivityMainCard-2ry6hI, 
%threadContainer{
    background: rgba(0,0,0,.3);
    border: 2px solid $main-color;
    &:hover {
        background: rgba(0,0,0,.3);
        border: 2px solid var(--hover-color);
    }
    //Temporary addition to attempt to fix bug
    &.isOpen-2ldXbM,
    &%threadOpen {
        background-color: hsla(0,0%,100%,0.1);
        border-color: $main-color;
    }
}
//Temporary addition to attempt to fix bug
.replies-15QcwL,
.replies-15QcwL:hover,
%threadContentPreview {
	background-color: hsla(0,0%,100%,0.05);
	border-color: hsla(0,0%,100%,0.09);
}

// CHAT
%threadChat {
    background: transparent;
}
.iconWrapper-3plkqh {
    background-color: $main-color;
}