/* CHAT WELCOME MESSAGE */
%welcomeMessage {
	%welcomeMessageH1 {
		color: $main-color;
	}
	%welcomeMessageItemContainer {
		%welcomeMessageIcon {
			filter: grayscale(1);
			opacity: .3;
		}
		p {
			color: hsla(0, 0%, 100%, .5);
		}
		strong {
			color: hsla(0, 0%, 100%, .7);
		}
		a {
			color: $main-color;
			@include hover-shadow;
		}
	}
}