/* CHAT WELCOME MESSAGE */
%welcomeMessage {
  %welcomeMessageH1 {
    color: $main-color;
  }
  %welcomeMessageItemContainer {
    %welcomeMessageIcon {
      filter: grayscale(1);
      opacity: 0.3;
    }
    p {
      color: hsla(0, 0%, 100%, 0.5);
    }
    strong {
      color: hsla(0, 0%, 100%, 0.7);
    }
    a {
      color: $main-color;
      @include hover-shadow;
    }
  }
}