// AUTOCOMPLETE POPOUT
%popout > %autocompletePopout {
	%autocompletePopoutShadow {
		box-shadow: 0 0 1px rgba(0, 0, 0, .82), 0 1px 4px rgba(0, 0, 0, .1);
	}
	%autocompletePopoutArrow,
	%autocompletePopoutHeaderBackground {
		background-color: $main-color;
	}
	%autocompletePopoutHeaderText,
	%autocompletePopoutInput {
		color: hsla(0, 0%, 100%, .7);
	}
	%autocompletePopoutInput {
		&::placeholder {
			color: hsla(0, 0%, 100%, .3);
		}
	}
	%autocompletePopoutSection {
		background: rgba(0, 0, 0, .7);
	}
	%autocompletePopoutScroller {
		overflow-y: auto;
	}
	%autocompletePopoutRow {
		position: relative;
		border-radius: 5px;
		font-weight: 500;
		z-index: 1;
		&%autocompletePopoutSelected {
			background: transparent;
			span[style*="color:"] {
				&:after {
					content: "";
					position: absolute;
					@include stretch;
					background: currentColor;
					z-index: -1;
					opacity: .3;
				}
			}
		}
	}
}