// DROP DOWN MENU
%popout > %dropdown {
    background: rgba(0, 0, 0, .7);
    > %dropdownItem {
        color: hsla(0, 0%, 100%, .7);
        transition: all .15s ease-in-out;
        > %dropdownIcon {
            opacity: .5;
            filter: brightness(10) grayscale(1);
            transition: all .15s ease-in-out;
        }
        &:hover {
            background: $main-color;
            color: #fff;
            > %dropdownIcon {
                opacity: .7;
            }
        }
    }
    > %dropdownSeparator {
        margin: -1px 5px;
        border-color: hsla(0, 0%, 100%, .04);
    }
}