// POPOUT
%popout {
    box-shadow: none;
    &[style*="overflow: hidden"] {
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
    header {
        background-color: $main-color;
        border-radius: 3px 3px 0 0;
    }
    section {
        background-color: rgba(0, 0, 0, .7);
        border-radius: 0 0 3px 3px;
    }
}
%popouts {
    > %popoutTop,
    > %popoutTopLeft,
    > %popoutTopRight {
        @include pseudo(after) {
            border-top-color: rgba(0, 0, 0, .7);
        }
    }
    > %popoutRight {
        @include pseudo(after) {
            border-right-color: rgba(0, 0, 0, .7);
        }
    }
    > %popoutLeft {
        @include pseudo(after) {
            border-left-color: rgba(0, 0, 0, .7);
        }
    }
    > %popoutBottom,
    > %popoutBottomLeft,
    > %popoutBottomRight {
        @include pseudo(after) {
            border-bottom-color: $main-color;
        }
    }
}