// STATUS PICKER
%statusPicker {
    > %dropdownItem {
        position: relative;
        display: flex;
        justify-content: center;
        > %statusPickerText {
            position: absolute;
            > %statusDnd,
            > %statusInvisible {
                + div {
                    color: hsla(0, 0%, 100%, .7);
                    opacity: 1;
                    transition: all .15s ease-in-out;
                }
            }
        }
        > %statusPickerHelper {
            min-height: 18px;
            color: hsla(0, 0%, 100%, .7);
            opacity: 0;
            transition: all .15s ease-in-out;
        }
        &:hover {
            > %statusPickerText {
                > %statusDnd,
                > %statusInvisible {
                    + div {
                        opacity: 0;
                    }
                }
            }
            > %statusPickerHelper {
                opacity: 1;
            }
        }
    }
}
%popoutTopLeft%popoutNoArrow {
    margin-left: -8px;
}