// USER POPOUT
%userPopout {
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
	@include animation(menu-pop .15s cubic-bezier(.2, .6, .5, 1.1));
	@include pseudo(before) {
		content: "";
		position: absolute;
		@include stretch;
		margin: -5px;
		@include bg($img: var(--background-image), $pos: center, $size: cover, $attach: fixed);
		@include filter(blur(3px));
		z-index: -1;
	}
	%popoutLeft > & {
		@include pseudo(before) {
			left: -100%;
			right: 100%;
			@include transform(translateX(calc(100% - 10px)));
		}
	}

	// USER POPOUT HEADER
	%userPopoutHeader {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4));
	}
	%userPopoutHeaderStreaming {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), rgba($twitch-purple, .4);
	}
	%userPopoutHeaderSpotify {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), rgba($spotify-green, .4);
	}
	%userPopoutHeaderXbox {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), rgba($xbox-green, .4);
	}
	%activity {
		background-color: rgba(0, 0, 0, .04);
		%activityHeaderText {
			color: hsla(0, 0%, 100%, .7);
		}
		%activityNameNormal {
			color: var(--main-color);
			text-shadow: 0 0 5px rgba(0, 0, 0, .5);
			font-weight: 600;
			> %activityName {
				color: inherit;
				&%activityBodyLink:hover {
					text-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 1px;
				}
			}
		}
		%activityTimestamp {
			font-style: italic;
		}
		%activityBodyLink {
			@include hover-shadow;
		}
	}

	// USER POPOUT BODY
	%userPopoutBody {
		background-color: rgba(0, 0, 0, .65);
	}
	%userPopoutBodyTitle {
		color: hsla(0, 0%, 100%, .7);
	}
	%userPopoutRolesList {
		max-height: 230px;
		padding-right: 5px;
		margin-right: -5px;
		overflow-y: auto;
	}
	%userPopoutNote {
		textarea {
			background-color: transparent;
			color: hsla(0, 0%, 100%, .8);
			&:focus {
				background-color: transparent;
			}
			&::-webkit-input-placeholder {	
				color: hsla(0, 0%, 100%, .5);
			}
		}
	}
	
	// USER POPOUT FOOTER
	%userPopoutFooter {
		background-color: rgba(0, 0, 0, .65);
		border-color: hsla(0, 0%, 100%, .04);
	}
	%userPopoutQuickMessage {
		background: rgba(0, 0, 0, .3);
		border-color: transparent;
		color: #fff;
		transition: all .3s ease-in-out;
		&::-webkit-input-placeholder {	
			color: hsla(0, 0%, 100%, .5);
		}
		&:focus {
			background: rgba(0, 0, 0, .5);
			border-color: var(--main-color);
		}
	}
	%userPopoutPro {
		color: var(--main-color);
	}
}