// USER POPOUT
%userPopout {
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	animation: cv-menu-pop .15s cubic-bezier(.2, .6, .5, 1.1);
	&:before {
		content: "";
		position: absolute;
		@include stretch;
		margin: calc(-2 * #{map-get($popout, blur)});
		@include bg($img: map-get($popout, img), $pos: map-get($popout, pos), $size: map-get($popout, size), $attach: fixed);
		@include filters($popout);
		z-index: -1;
	}
	%popoutLeft > & {
		&:before {
			left: -100%;
			right: 100%;
			transform: translateX(calc(100% - 4 * #{map-get($popout, blur)}));
		}
	}

	// USER POPOUT HEADER
	%userPopoutHeader {
		@include bg($img: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), $pos: center, $size: cover);
	}
	%userPopoutHeaderStreaming {
		@include bg($img: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), $clr: rgba($twitch-purple, .4), $pos: center, $size: cover);
	}
	%userPopoutHeaderSpotify {
		@include bg($img: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), $clr: rgba($spotify-green, .4), $pos: center, $size: cover);
	}
	%userPopoutHeaderXbox {
		@include bg($img: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), $clr: rgba($xbox-green, .4), $pos: center, $size: cover);
	}
	%userPopoutActivity {
		background-color: rgba(0, 0, 0, .04);
	}

	// USER POPOUT BODY
	%userPopoutBody {
		background-color: rgba(0, 0, 0, .65);
	}
	%userPopoutBodyTitle {
		color: hsla(0, 0%, 100%, .7);
	}
	%userPopoutRolesList {
		max-height: 230px;
		padding-right: 5px;
		margin-right: -5px;
		overflow-y: auto;
	}
	%userPopoutNote {
		textarea {
			background-color: transparent;
			color: hsla(0, 0%, 100%, .8);
			&:focus {
				background-color: transparent;
			}
			&::-webkit-input-placeholder {	
				color: hsla(0, 0%, 100%, .5);
			}
		}
	}
	
	// USER POPOUT FOOTER
	%userPopoutFooter {
		background-color: rgba(0, 0, 0, .65);
		border-color: hsla(0, 0%, 100%, .04);
	}
	%userPopoutQuickMessage {
		background: rgba(0, 0, 0, .3);
		border-color: transparent;
		color: #fff;
		transition: all .3s ease-in-out;
		&::-webkit-input-placeholder {	
			color: hsla(0, 0%, 100%, .5);
		}
		&:focus {
			background: rgba(0, 0, 0, .5);
			border-color: $main-color;
		}
	}
}