// CHANNELS
%channels {
	background-color: rgba(0, 0, 0, .35);
	width: 220px;

	// CHANNELS CONTAINER
	> %channelsContainer {
		@include clear;
	}

	// CHANNEL CATEGORIES
	%categoryWrapper {
		transition: all .3s ease-in-out;
	}
	%categoryWrapperMuted { 
		opacity: .5;
	}
	%categoryIcon {
		display: none;
	}
	%categoryName {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		color: var(--main-color);
		font-weight: 700;
		text-align: center;
		transition: all .3s ease-in-out;
		opacity: .7;
		@include pseudo(before, after) {
			content: "";
			height: 2px;
			flex-grow: 1;
			transition: all .3s ease-in-out;
		}
		@include pseudo(before) {
			background: linear-gradient(to left, var(--main-color) 0%, var(--hover-color) 50%, transparent 100%);
			margin-right: 5px;
		}
		@include pseudo(after) {
			background: linear-gradient(to right, var(--main-color) 0%, var(--hover-color) 50%, transparent 100%);
			margin-left: 5px;
		}
	}
	%categoryWrapper:hover %categoryName {
		opacity: 1;
	}
	%categoryNameCollapsed,
	%categoryNameHoveredCollapsed,
	%categoryIconMutedCollapsed + %categoryNameMuted {
		// color: hsla(0, 0%, 100%, .3);
		@include pseudo(before, after) {
			flex-grow: 0;
		}
	}
	%categoryContainer {
		padding-top: 24px;
	}
	.container-hidden {
		opacity: .3;
	}

	// TEXT & VOICE CHANNELS
	%channelContent {
		transition: all .15s ease-in-out;
	}
	%channelContentVoice {
		&:active {
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	%channelName {
		color: hsla(0, 0%, 100%, .3);
		transition: all .15s ease-in-out;
	}
	%channelIcon {
		opacity: .3;
		transition: all .15s ease-in-out;
		> path {
			opacity: 1;
		}
	}
	%channelActionIcon {
		opacity: .3;
		transition: all .15s ease-in-out;
		&:hover {
			opacity: .7;
		}
	}
	%channelContent path {
		fill: #fff;
		transition: all .15s ease-in-out;
	}

	// HOVER
	%channelContentHoveredText {
		background-color: hsla(0, 0%, 100%, .1);
	}
	%channelContentHovered {
		%channelName {
			color: hsla(0, 0%, 100%, .7);
		}
		%channelIcon {
			opacity: .7;
		}
	}

	// UNREAD
	%channelContentUnread > %channelName {
		color: var(--main-color);
		text-shadow: 0 0 3px;
	}
	%channelUnreadIndicator {
		display: none;
		+ %channelContentText %channelIcon {
			@include filter(drop-shadow(0 0 3px var(--main-color)));
			opacity: 1;
			> path {
				fill: var(--main-color);
			}
		}
		+ %channelContentHoveredText {
			%channelNameUnread {
				color: #fff;
				text-shadow: 0 0 3px;
			}
			%channelIcon {
				@include filter(drop-shadow(0 0 3px #fff));
				> path {
					fill: #fff;
				}
			}
		}
	}

	// SELECTED
	%channelContentSelectedText {
		background-color: var(--main-color);
		%channelIcon {
			opacity: 1;
		}
		%channelActionIcon svg {
			opacity: .7;
			&:hover {
				opacity: 1;
			}
		}
	}
	%channelNameSelectedText {
		color: #fff;
	}
	%channelContentSelectedVoice {
		%channelName {
			color: hsla(0, 0%, 100%, .7);
		}
		&:hover %channelName {
			color: #fff;
		}
	}

	// MUTED
	%channelContentMuted {
		%channelName {
			color: hsla(0, 0%, 100%, .1);
		}
		%channelIcon {
			opacity: .1;
		}
	}

	// USER LIMIT
	%channelUserLimit {
		background-color: hsla(0, 0%, 100%, .04);
		color: hsla(0, 0%, 100%, .3);
		font-weight: 600;
	}

	// VOICE USER LIST
	%voiceUser {
		position: relative;
		z-index: 1;
	}
	%voiceUserAvatar {
		z-index: 1;
		@include pseudo(before, after) {
			content: "";
			position: absolute;
			top: 1px;
			left: 0;
			bottom: 1px;
			opacity: 0;
			transition: all .1s ease-in-out;
			pointer-events: none;
			z-index: -1;
		}
		@include pseudo(before) {
			width: 4px;
			background: var(--main-color);
		}
		@include pseudo(after) {
			right: 0;
			background: linear-gradient(to right, var(--main-color) 0%, transparent 35%);
			border-left: 4px solid var(--main-color);
		}
	}
	%voiceUserAvatarSpeaking {
		box-shadow: none;
		@include pseudo(before) {
			opacity: 1;
		}
		@include pseudo(after) {
			opacity: .5;
		}
	}

	// DRAG INDICATORS
	%categoryContainerDrag,
	%channelContainerDrag {
		@include pseudo(before, after) {
			background-color: var(--main-color);
			border-radius: 0;
		}
	}
	%channelContainerUserOver {
		@include pseudo(after) {
			background-color: var(--main-color);
			border-color: transparent;
			opacity: .1;
		}
	}
}