// CHANNELS
%channels {
	background-color: rgba(0, 0, 0, .3);
	width: 220px;
	overflow: hidden;

	// CHANNELS CONTAINER
	> %channelsContainer {
		@include clear;
	}

	// CHANNELS HEADER
	%channelsHeaderContainer {
		z-index: 2;
	}
	%channelsHeader {
		background-color: rgba(0, 0, 0, .15);
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
		color: #fff;
		font-weight: 600;
		text-shadow: 0 0 3px #000;
		&:hover {
			background-color: rgba(0, 0, 0, .3);
		}
	}

	// CHANNEL CATEGORIES
	%categoryWrapper {
		transition: all .3s ease-in-out;
	}
	%categoryWrapperMuted { 
		opacity: .5;
	}
	%categoryIcon {
		display: none;
	}
	%categoryName {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		color: $main-color;
		font-weight: 700;
		text-align: center;
		transition: all .3s ease-in-out;
		opacity: .7;
		@include pseudo(before, after) {
			content: "";
			height: 2px;
			flex-grow: 1;
			transition: all .3s ease-in-out;
		}
		@include pseudo(before) {
			background: linear-gradient(to left, $main-color 50%, transparent 100%);
			margin-right: 5px;
		}
		@include pseudo(after) {
			background: linear-gradient(to right, $main-color 50%, transparent 100%);
			margin-left: 5px;
		}
	}
	%categoryNameHovered,
	%categoryNameHoveredCollapsed {
		opacity: 1;
	}
	%categoryNameCollapsed {
		opacity: .5;
	}
	%categoryNameCollapsed,
	%categoryNameHoveredCollapsed,
	%categoryIconMutedCollapsed + %categoryNameMuted {
		@include pseudo(before, after) {
			flex-grow: 0;
		}
	}
	%categoryContainer {
		padding-top: 24px;
	}

	// TEXT & VOICE CHANNELS
	%channelContent {
		transition: all .15s ease-in-out;
	}
	%channelContentVoice {
		&:active {
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	%channelName {
		color: hsla(0, 0%, 100%, .3);
		transition: all .15s ease-in-out;
	}
	%channelIcon {
		color: #fff;
		opacity: .3;
		transition: all .15s ease-in-out;
		> path {
			opacity: 1;
		}
		> %channelIconBackground {
			opacity: .7;
		}
	}
	%channelActionIcon {
		opacity: .3;
		transition: all .15s ease-in-out;
		&:hover {
			opacity: .7;
		}
	}

	// HOVER
	%channelContentHoveredText {
		background-color: hsla(0, 0%, 100%, .1);
	}
	%channelContentHovered {
		%channelName {
			color: hsla(0, 0%, 100%, .7);
		}
		%channelIcon {
			opacity: .7;
		}
	}

	// UNREAD
	%channelUnreadIndicator {
		display: none;
		+ %channelContent {
			%channelNameUnreadText {
				color: $main-color;
				text-shadow: 0 0 3px;
			}
			%channelIcon {
				color: $main-color;
				@include filter(drop-shadow(0 0 3px));
				opacity: 1;
			}
		}
		+ %channelContentHoveredText {
			%channelNameUnreadText {
				color: #fff;
			}
			%channelIcon {
				color: #fff;
			}
		}
	}

	// SELECTED
	%channelContentSelectedText {
		background-color: $main-color;
		%channelIcon {
			opacity: 1;
		}
		%channelActionIcon {
			opacity: .7;
			&:hover {
				opacity: 1;
			}
		}
	}
	%channelNameSelectedText {
		color: #fff;
	}

	// CONNECTED
	%channelContentConnectedVoice {
		%channelName {
			color: $main-color;
			text-shadow: 0 0 3px;
		}
		%channelIcon {
			color: $main-color;
			@include filter(drop-shadow(0 0 3px));
			opacity: 1;
		}
	}

	// MUTED
	%channelContentMuted {
		%channelName {
			color: hsla(0, 0%, 100%, .1);
		}
		%channelIcon {
			opacity: .1;
		}
	}

	// USER LIMIT
	%channelUserLimit {
		background-color: hsla(0, 0%, 100%, .04);
		color: hsla(0, 0%, 100%, .3);
		font-weight: 600;
	}

	// VOICE USER LIST
	%voiceUser {
		border-radius: 3px;
		transition: all .15s ease-in-out;
		z-index: 1;
	}
	%voiceUserHovered:active {
		background-color: hsla(0, 0%, 100%, .04);
	}
	%voiceUserAvatar {
		position: relative;
		transition: all .1s ease-in-out;
		@include pseudo(after) {
			content: "";
			position: absolute;
			width: 0;
			@include pos($top: 0, $bottom: 0, $left: 50%);
			background: linear-gradient(to right, $main-color 10%, transparent 100%);
			opacity: .5;
			transition: all .1s ease-in-out,  width .15s ease-in-out;
			pointer-events: none;
			z-index: -1;
		}
	}
	%voiceUserAvatarSpeaking {
		box-shadow: 0 0 0 2px $main-color, inset 0 0 3px rgba(0, 0, 0, .5);
		@include pseudo(after) {
			@include pos($top: -2px, $bottom: -2px);
			width: 100px;
		}
	}
	%voiceUserName {
		color: hsla(0, 0%, 100%, .7);
		transition: all .1s ease-in-out;
	}
	%voiceUserNameHovered,
	%voiceUserNameSpeaking {
		color: #fff;
		text-shadow: 0 0 3px;
	}

	// DRAG INDICATORS
	%categoryContainerDrag,
	%channelContainerDrag {
		@include pseudo(before, after) {
			background-color: $main-color;
			border-radius: 0;
		}
	}
	%channelContainerUserOver {
		@include pseudo(after) {
			background-color: $main-color;
			border-color: transparent;
			opacity: .1;
		}
	}
}