// CONTAINERS
%channels {

    // ACCOUNT & CONNECTION CONTAINER
    & > %accountContainer,
    & > %connectionContainer {
        @include clear;
    }
    %accountContainerButtonWrapper,
    %connectionContainerButtonWrapper {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 15px;
        & > * + * {
            position: relative;
            @include pseudo(before) {
                content: "";
                position: absolute;
                left: 0;
                top: 2px;
                bottom: 2px;
                width: 1px;
                background: hsla(0, 0%, 100%, .2);
            }
        }
    }

    // ACCOUNT CONTAINER
    & > %accountContainer {
        position: relative;
        margin-bottom: 10px;
        @include pseudo(after) {
            content: "#{$version}";
            color: #fff;
            font-size: 11px;
            font-weight: 700;
            text-align: center;
            position: absolute;
            bottom: -8px;
            left: 0;
            right: 0;
            opacity: .3;
        }

        // AVATAR
        %accountContainerAvatarWrapper {
            width: auto;
            height: auto;
            &:hover {
                opacity: 1;
            }
            & > %status {
                top: 90%;
                left: 90%;
                margin-top: -6.5px;
                margin-left: -6.5px;
            }
            & > %accountContainerAvatar {
                position: relative;
                width: 30px;
                height: 30px;
                @include bg($size: 100%, $repeat: no-repeat);
                transition: all .15s ease-in-out;
                @include pseudo(after) {
                    content: "Status";
                    position: absolute;
                    @include stretch;
                    vertical-align: middle;
                    color: #fff;
                    font-size: 5px;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 50%;
                    @include box-shadow(inset 0 0 70px rgba(0, 0, 0, .75));
                    opacity: 0;
                    transition: all .15s ease-in-out;
                    pointer-events: none;
                }
                &:hover,
                &.popout-open {
                    width: 40px;
                    height: 40px;
                    @include pseudo(after) {
                        font-size: 10px;
                        line-height: 40px;
                        opacity: 1;
                    }
                }
            }
        }

        // BUTTONS
        %accountContainerButton {
            opacity: 1;
            &%accountContainerIconButton,
            svg {
                opacity: .3;
                transition: all .1s ease-in-out;
            }
            &:hover {
                background-color: transparent;
                &%accountContainerIconButton,
                svg {
                    opacity: .7;
                }
            }
        }
    }

    // CONNECTION CONTAINER
    & > %connectionContainer {
        border-color: transparent;
        %connectionContainerButton {
            opacity: .3;
            &:hover {
                background-color: transparent;
                opacity: .7;
            }
        }
        %connectionContainerButtonDisconnect {
            position: relative;
            opacity: 1 !important;
            background-size: 0;
            @include pseudo(after) {
                content: "";
                position: absolute;
                @include stretch;
                background: inherit;
                background-size: 18px;
                opacity: .3;
                transition: all .15s ease-in-out;
            }
            &:hover {
                @include pseudo(after) {
                    opacity: .7;
                }
            }
        }
    }
}