// PRIVATE CHANNELS
%privateChannels {

	// PRIVATE CHANNEL
	%privateChannel {
		> a,
		%privateChannelName,
		%privateChannelNameWithActivity,
		%privateChannelActivity,
		%privateChannelActivityIconForeground,
		%privateChannelClose,
		%privateChannelIcon {
			transition: all .15s ease-in-out;
		}
		%privateChannelName,
		%privateChannelNameWithActivity {
			color: hsla(0, 0%, 100%, .3);
		}
		%privateChannelActivity {
			color: hsla(0, 0%, 100%, .2);
			opacity: 1;
		}
		%privateChannelActivityIconForeground {
			fill: hsla(0, 0%, 100%, .2);
		}
		%privateChannelClose {
			display: block;
			@include bg($img: url("https://clearvision.gitlab.io/icons/close.svg"), $repeat: no-repeat, $pos: center, $size: 18px);
			opacity: 0;
		}
		%privateChannelIcon {
			opacity: .3;
		}
		
		// HOVER
		&:hover {
			> a {
				background-color: hsla(0, 0%, 100%, .1);
			}
			%privateChannelName,
			%privateChannelNameWithActivity {
				color: hsla(0, 0%, 100%, .7);
			}
			%privateChannelActivity {
				color: hsla(0, 0%, 100%, .5);
			}
			%privateChannelActivityIconForeground {
				fill: hsla(0, 0%, 100%, .5);
			}
			%privateChannelClose {
				opacity: .3;
				&:hover {
					opacity: .7;
				}
			}
			%privateChannelIcon {
				opacity: .7;
			}
		}
		
		// SELECTED
		&%privateChannelSelected {
			> a {
				background-color: $main-color;
			}
			%privateChannelName,
			%privateChannelNameWithActivity {
				color: #fff;
			}
			%privateChannelActivity {
				color: hsla(0, 0%, 100%, .7);
			}
			%privateChannelActivityIconForeground {
				fill: hsla(0, 0%, 100%, .7);
			}
			%privateChannelIcon {
				opacity: 1;
			}
		}
	}
}

// PRIVATE CHANNELS SEARCH BAR
%privateChannelsSearchBar {
	margin-top: 10px;
	margin-bottom: 0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
	%privateChannelsSearchBarComponent {
		@include clear;
	}
	%privateChannelsSearchBarInner {
		background-color: hsla(0, 0%, 100%, .1);
		border-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
		> input {
			color: #fff;
			&::-webkit-input-placeholder {
				color: hsla(0, 0%, 100%, .3);
			}
		}
	}
}