// PRIVATE CHANNELS
%privateChannels {
	%privateChannel {
		> a,
		%privateChannelName,
		%privateChannelClose,
		%privateChannelIcon {
			transition: all .15s ease-in-out;
		}
		%privateChannelName {
			color: hsla(0, 0%, 100%, .3);
		}
		%privateChannelClose {
			display: block;
			@include bg($image: "https://zerthox.github.io/ClearVision/icons/close.svg", $repeat: no-repeat, $pos: center, $size: 18px);
			opacity: 0;
		}
		%privateChannelIcon {
			opacity: .3;
		}
		
		// HOVER
		&:hover {
			> a {
				background-color: hsla(0, 0%, 100%, .1);
			}
			%privateChannelName {
				color: hsla(0, 0%, 100%, .7);
			}
			%privateChannelClose {
				opacity: .3;
				&:hover {
					opacity: .7;
				}
			}
			%privateChannelIcon {
				opacity: .7;
			}
		}
		
		// SELECTED
		&%privateChannelSelected {
			> a {
				background-color: var(--main-color);
			}
			%privateChannelName {
				color: #fff;
			}
			%privateChannelIcon {
				opacity: 1;
			}
		}
	}
}

// PRIVATE CHANNELS SEARCH BAR
%privateChannelsSearchBar {
	margin-top: 10px;
	margin-bottom: 0;
	box-shadow: none;
	%privateChannelsSearchBarComponent {
		@include clear;
	}
	%privateChannelsSearchBarInner {
		background-color: rgba(0, 0, 0, .3);
		border-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
	}
	input {
		&::-webkit-input-placeholder {
			color: hsla(0, 0%, 100%, .3);
		}
	}
}