@use "lib/discordselectors";
@use "variables";

@function cn($query) {
	@return discordselectors.class($query);
}

/// Get a variable from the ClearVision variables map
/// @param {string} $id identification for a variable
/// @return {*} variable
@function cv($id) {
	$type: "settings";
	$query: $id;
	@if str-index($id, ":") {
		$type: str-slice($id, 0, str-index($id, ":") - 1);
		$query: str-slice($id, str-index($id, ":") + 1);
	}
	$result: variables.$settings;
	@if $type == "const" or $type == "constants" {
		$result: variables.$constants;
	}
	@if $type == "dc" or $type == "disc" or $type == "discord" {
		$result: variables.$discord;
	}
	@if not $result {
		@error "#{$type} is not a valid ClearVision variable set";
	}
	@while str-index($query, ".") {
		$result: map-get($result, str-slice($query, 0, str-index($query, ".") - 1));
		@if not $result {
			@error "Property #{$id} not found in ClearVision #{$result} set";
		}
		$query: str-slice($query, str-index($query, ".") + 1);
	}
	$result: map-get($result, $query);
	@if not $result {
		@error "Property #{$query} not found in ClearVision #{$type} set";
	}
	@return $result;
}