$marks: (
	BD Dev: (
		81388395867156480,		// Jiiks
	)
	CV Dev: (
		144881947557101568,		// Zerthox#1999
	)
	CV Mod: (
		66043140208857088,		// tehbasshunter 🎣#2105
		194151269399527425		// untuned#0001
	),
	Contrib: (
		335677038830682112,             // AutumnClove
		236579127090610176,             // Danielle#1788
		97797564866236416,              // Heebeejeebees#2951
		150750980097441792              // Orangutan#9393
	),
	Donator: (
		393883440333979649,             // `KacMorderca⎝ᗪένιใ⎠#7544
		262989909411758080,             // archie#4000
		168551219135119361,             // Auroratic#7777
		241500427105992704,             // Ghost_Recon131#4947
		151995147150819328,             // It#0001
		157699533134888961,             // Jayzer#5628
		157492606752784384,             // Kazumi#8495
		174525242939670528,             // lts#4959
		78890013378486272,              // Macpot#1625
		213263668312408066,             // Nikolas#5646
		152431535914614785,             // Paco#2222
		112619227466182656,             // PieterVMB#1998
		297873043265552384,             // PureFallen#5473
		258031697646321666,             // Rich246™#2959
		109933711142719488,             // Shadowcloud#3761
		251260900252712962,             // viwalon#9466
		199184208319610880,             // xImGaming#2901
		122731339890950145,             // Lilith#6660
		// No longer in CV Discord
		436228721033216009,
		66214870705516544,
		172426681800196096,
		158311402677731328,
		284122164582416385,
		107965218868457472
	)
);
