/* ACTIVITY INVITE */
%messageGroup {
	%activityInvite {
		background: rgba(0, 0, 0, .3);
		border: none;
	}
}
%activityInvite {
	%activityInviteHeader {
		color: hsla(0, 0%, 100%, .5);
	}
	%activityInvitePartyStatus {
		color: #fff;
	}
	%activityInviteHelpIcon {
		display: flex;
		background: hsla(0, 0%, 100%, .07);
		transition: all .15s ease-in-out;
		opacity: 0;
	}
	&:hover {
		%activityInviteHelpIcon {
			opacity: .7;
			&:hover {
				opacity: 1;
			}
		}
	}
	%activityInviteArtworkSessionEnded {
		filter: grayscale(1) brightness(2);
		opacity: .3;
	}
	%activityInvitePartyMemberEmpty {
		background: hsla(0, 0%, 100%, .07);
	}
}