/* CODEBLOCK */
%messageContent %markup {
	
	// INLINE CODE
	code%codeInline {
		padding: 3.5px 7.5px;
		background: hsla(0, 0%, 100%, .1);
		border-radius: 3px;
		color: hsla(0, 0%, 100%, .7);
		font-family: cv("font.code");
		line-height: 22px;
		+ pre {
			margin-top: -1px;
		}
	}
	
	// CODEBLOCK
	%codePre {
		max-width: 93%;
		padding: 0;
		background: transparent;
		border: 2px solid transparent;
		font-family: cv("font.code");
		& > %codeHLJS {
			position: relative;
			padding: 6px;
			background: rgba(0, 0, 0, .42);
			border: none;
			border-radius: 5px;
			color: hsla(0, 0%, 100%, .7);
			&:before {
				height: 10px;
				color: hsla(0, 0%, 100%, .3);
				line-height: 10px;
				opacity: 1;
			}
		}
	}
}
code {
	font-family: cv("font.code");
}