/* MENTIONS */
%headerBarTopic,
%markup {
	%mention,
	%roleMention {
		padding: 1px 4px;
		border-radius: 5px;
		line-height: 22px;
		font-weight: 500;
		white-space: nowrap;
		transition: all .15s ease-in-out;
		cursor: pointer;
	}
	%mention {
		background-color: hsla(0, 0%, 100%, .04);
		color: hsla(0, 0%, 100%, .7);
		&:hover {
			background-color: $main-color;
			color: #fff;
		}
	}
	strong {
		> %mention,
		> %roleMention {
			font-weight: 600;
		}
	}
}
%mentioned {
	background-color: hsla(0, 0%, 100%, .05);
	&%message {
		&%messageSelected {
			background-color: hsla(0, 0%, 100%, .08);
		}
	}
	%mouseModeFullMotion &:hover {
		background-color: hsla(0, 0%, 100%, .08);
	}
	&::before {
		background-color: $main-color;
	}
	%themeDark & {
		%mention {
			&%mentionedInteractive{
				color: $main-color;
				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
} 
//New server channel welcome message #link to another channel
%mention {
	color: var(--main-color);
	&:hover {
		background-color: var(--main-color);
	}
}