/* MESSAGE */
%messages {
  %messageGroup {
    transition: background 0.3s ease-in-out;
    &:active {
      background: hsla(0, 0%, 100%, 0.1);
      transition-delay: 0.3s;
    }
  }
}
%message {
  // HEADER
  %avatarLarge {
    transition: all 0.3s ease-in-out, transform 0.1s ease-in-out;
    &:active {
      transform: scale(0.9);
    }
  }
  %messageTimestamp,
  %messageTimestampAlt {
    text-align: center;
    color: hsla(0, 0%, 100%, 0.5);
  }

  // CONTENT
  %messageContent {
    color: $text-normal;
  }
  %messageSystemContainer {
    color: hsla(0, 0%, 100%, 0.5);
  }

  // BLOCKQUOTE
  %markup {
    %blockquoteDivider {
      background: hsla(0, 0%, 100%, 0.2);
      border-radius: 0;
    }
  }
}

// GIFS/EMBEDS
%messageInlineMediaEmbed {
  max-width: max-content;
}

// SPOILER
%messageSpoiler {
  background-color: hsla(0, 0%, 0%, 0.8);
}

// LINKS
%markup a,
%anchor {
  color: var(--url-color);
}
%messageSystemContent {
  %anchorAction {
    color: var(--url-color);
  }
}

// INVALID GIFT
%themeDark {
  %messageInvalidGift {
    background-color: hsla(0, 0%, 0%, 0.4);
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.4);
    }
  }
}

// REPLY
%messageReplied {
  %messageRepliedSpine {
    border-color: $main-color;
    &%messageRepliedContentHovered {
      border-color: $hover-color;
    }
  }
  %messageRepliedTextPreview {
    opacity: 0.7;
    max-height: unset;
      color: #fff;
    &%messageRepliedSpineHovered {
      opacity: 1;
    }
    %messageRepliedTextPlaceholder {
      color: $main-color;
    }
  }
  &%messageRepliedExecutedCommand {
    %messageRepliedAppLauncherCommandName {
      color: $main-color;
      background: transparent;
      text-decoration: underline;
      &:hover {
        color: $hover-color;
        background: transparent;
      }
    }
    %messageRepliedCommandName {
      color: $main-color;
    }
  }
}

// THREADS
%threadChatIcon {
  color: $main-color;
  filter: drop-shadow(0 0 3px);
  height: 22px;
  width: 22px;
}
%threadEmbed {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%threadCTA {
  color: $main-color;
}
%cozy {
  &%messageHasThread {
    &:after {
      border-color: $main-color;
    }
  }
}
%threadJumpButton {
  background-color: $main-color;
  color: #fff;
  &:hover {
    background-color: $hover-color;
    color: #fff;
  }
}

// BUTTONS
%messageButtonWrapper {
  background-color: transparent;
  %messageButton {
    color: hsla(0, 0%, 100%, 0.7);
    &:hover,
    &%messageButtonSelected {
      background-color: hsla(0, 0%, 100%, 0.1);
      color: #fff;
    }
  }
}

// EDITING
%themeDark %operations {
  color: hsla(0, 0%, 100%, 0.5);
  > a {
    color: $main-color;
  }
}

%replyingToIndicator {
  background-color: hsla(0, 0%, 100%, 0.05);
  %mouseModeFullMotion &:hover {
    background-color: hsla(0, 0%, 100%, 0.08);
  }
  &:before {
    background-color: $main-color;
  }
}

// BEGINNING DM WAVE
%waveButton,
%waveButtonDisabled {
  background-color: $main-color;
}

%waveButton:hover {
  background-color: $hover-color;
}

// PUBLISH TO FOLLOWERS
%messagePublishBumpBox {
  background: hsla(0, 0%, 0%, 0.4);
}
%messagePublishIcon,
%messagePublishTagline {
  color: #fff;
}
%messagePublishCloseIcon,
%messagePublishPermanentHide {
  color: hsla(0, 0%, 100%, 0.4) !important;
}

// AUTOMOD MESSAGE
%messageAutomodCard,
%messageAutomodFooterContainer {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%messageAutomodCard {
  &%messageAutomodCardSelected {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
}
%messageAutomodFooterAction {
  %textExtraSmallNormal,
  %messageAutomodFooterIcon path {
    color: var(--url-color);
  }
}

// free nitro trial...idk where to put this - Snow
%nitroTrial {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: none;
  border: 1px solid $main-color;
  &:hover {
    border: 1px solid $hover-color;
  }
}

%themeDark %nitroTrial:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
