/* POLL */
%poll {
  background: rgba(0, 0, 0, calc($bg-shading * 0.4));
}
%pollAnswerInner {
  background-color: hsla(0, 0%, 100%, 0.07);
}
%pollAnswer {
  %pollAnswerInner%pollAnswerCurrentlyVoting%pollAnswerSelected {
    outline: 2px solid $main-color;
  }
  &:hover %pollAnswerInner%pollAnswerCurrentlyVoting {
    outline: 2px solid $hover-color;
  }
}
%pollCheckbox {
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  &%pollCheckboxSelected {
    background-color: transparent;
    border: 2px solid $main-color;
  }
}
%pollSecondaryButton {
  background-color: $main-color;
  color: #fff;
}

// VIEW VOTES
%pollVotesPopoutAnswerScroller,
%pollVotesPopoutVoters {
  background-color: transparent;
}

// CREATE POLL
%pollCreatePopoutAnswerInputWrapper {
  background: none;
  border: none;
}
%pollCreatePopoutAddAnswer {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
}
%pollCreatePopoutAddAnswerIcon {
  color: #fff;
}
%pollCreatePopoutAddAnswerLabel {
  color: #fff !important;
}

// POLL ENDED
%pollEndContainer {
  background-color: hsla(0, 0%, 0%, 0.4);
}




