@use 'sass:list';
@use 'sass:map';
/* Text Container */
%textContainer {
  background-color: rgba(0, 0, 0, 0.42);
  border: 2px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 8px 8px 0 0;
}
%textContainerFooter {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: none;
}
%attachmentName {
  color: hsla(0, 0%, 100%, 0.7);
  &:hover {
    color: hsla(0, 0%, 100%, 0.9);
  }
}
%attachmentSize {
  color: hsla(0, 0%, 100%, 0.5);
  margin: 0 5px;
  &:hover {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
%textContainerModal {
  background-color: hsla(0, 0%, 0%, 0.5);
  border: none;
}

// CHANGE LANGUAGE POPOUT
%textContainerLanguageSelector {
  background-color: cv('bg.general.popout');
}

// DEFAULT THEME PREVIEWS
$preivewMsg: '1189957093676032070';
#message-accessories-#{$preivewMsg} {
  // Preview images + main colors
  $order: (
    'sapphire': #2780e6,
    'halloween': #e67a27,
    'emerald': #33e627,
    'amethyst': #da27e6,
    'amber': #e67a27,
    'winter': #66aacc,
    'ruby': #e62727
  );
  $list: map.keys($order);
  %nonVisualMediaItem {
    @each $img, $col in $order {
      // this is done SOLELY because :fist-child and :last-child are shorter than :nth-child(#)
      @if list.index($list,$img) == 1 {
        &:first-child {
          --local-image: url('https://clearvision.github.io/images/#{$img}.jpg');
          --local-color: #{$col};
        }
      } @else if list.index($list,$img) == list.length($order) {
        &:last-child {
          --local-image: url('https://clearvision.github.io/images/#{$img}.jpg');
          --local-color: #{$col};
        }
      } @else {
        &:nth-child(#{list.index($list,$img)}) {
          --local-image: url('https://clearvision.github.io/images/#{$img}.jpg');
          --local-color: #{$col};
        }
      }
    }
  }

  %textContainerParent {
		transform: rotate(0deg);
		border: none;
		background-color: transparent;
	}
	%textContainer {
    background: transparent;
    border: none;
    &::before,&::after {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: -1;
      pointer-events: none;
    }
		&::before {
      background: var(--local-image) center/ cover no-repeat;
    }
		&::after {
      background: var(--preview-overlay,url('https://clearvision.github.io/images/preview_overlay.png')) center/ cover no-repeat;
    }
	}
	%textContainerFooter {
    background: none;
		width: 300px;
	}
  %textContainerDownloadButton {
    color: var(--local-color,inherit);
  }
	:is(
		%textContainerToggleExpandSection,
		%attachmentName,
		%attachmentSize,
		%textContainerCodeIcon,
		pre
	) {
		display: none;
	}
}
