/* CHANNEL INDICATORS */
%channelsUnreadIndicator,
%channelsMentionIndicator {
	position: relative;
	background: transparent;
	&:after {
		content: "";
		position: absolute;
		@include stretch;
		background: $main-color;
		border-radius: 3px;
		opacity: .9;
		z-index: -1;
		transition: all .15s ease-in-out;
	}
	&:hover {
		&:after {
			opacity: 1;
		}
	}
}

// TAB SELECT INDICATOR
.ring-370dIp[style*="var(--focus-primary)"] {
	box-shadow: inset 0px 0px 5px 5px var(--main-color) !important;
  }
  .keyboard-mode .focusStroke-3V8pid {
  fill: var(--main-color);
  stroke: var(--main-color);
}