/* CHANNEL LIST PANELS */
%panels {
  background: transparent;
  > :first-child {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, calc($bg-shading * 0.3));
  }
}
%themeDark {
  %panel,
  %panelContainer {
    background-color: transparent;
  }
}

// ACCOUNT & CONNECTION PANELS
/* Account for account panel width scaling under
  new design */
%themeDark %accountPanelAvatarWrapper {
  min-width: calc(var(--channels-width) - 120px);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

// BUTTONS
%panelActionButtons {
  grid-gap: 6px;
}
%panelActionButton {
  &%panelActionButtonColor {
    padding: 0;
    &%panelActionButtonActive {
      background-color: #fff;
      color: $main-color;
      &:hover {
        background: hsla(0, 0%, 100%, 0.95);
        color: $hover-color;
      }
      %panelActionButtonLottieIcon {
        --__lottieIconColor: currentcolor !important;
      }
    }
  }
}

// ACCOUNT PANEL
%themeDark %panelContainer {
  position: relative;
  // SOME POSITIONING
  %accountPanelTagButton,
  %accountPanelTagless {
    min-width: calc(100% - 100px);
    width: auto;
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.3);
      color: #fff;
    }
  }
  // AVATAR
  %accountPanelAvatar {
    transition: all 0.15s ease-in-out;
    &:after {
      content: 'Status';
      position: absolute;
      @include stretch;
      color: #fff;
      font-size: 5px;
      font-weight: 700;
      text-align: center;
      line-height: 32px;
      text-transform: uppercase;
      opacity: 0;
      transition: all 0.15s ease-in-out;
      pointer-events: none;
    }
    foreignObject {
      transition: all 0.15s ease-in-out;
    }
    &:hover {
      opacity: 1;
      &:after {
        font-size: 10px;
        opacity: 1;
      }
      foreignObject {
        opacity: 0.5;
      }
    }
  }
}

// CONNECTION PANEL
%connectionPanel {
  border-color: transparent;
  background: transparent;
  %connectionPanelInner {
    %rtcConnectionStatus {
      %rtcConnectionPing {
        width: 16px;
        height: 16px;
        margin-right: 3px;
        background-size: 16px;
      }
    }
  }
  %connectionPanelChannel {
    color: hsla(0, 0%, 100%, 0.3);
    opacity: 1;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: hsla(0, 0%, 100%, 0.5);
      text-decoration: none;
    }
  }
}

// ACTIVITY PANEL
%activityPanel {
  border-color: transparent;
  %activityPanelActions {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    > :nth-child(n + 2) {
      position: relative;
      margin-left: -1px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        bottom: 2px;
        width: 1px;
        background: hsla(0, 0%, 100%, 0.2);
      }
    }
  }
}

// VIDEO BADGE
%panelLiveBadge {
  background-color: $main-color;
}

// NOISE CANCELLATION POPOUT
%noiseCancellationPopout {
  background-color: rgba(0, 0, 0, 0.7);
}

// QUEST PANEL
%themeDark %questPanel {
  background: transparent;
}
%questPanelAccepted {
  background: transparent !important;
}
%questPanelAcceptedExpandedBackground {
  background: transparent !important;
  border-top: 2px solid hsla(0, 0%, 100%, 0.05);
}
%questPanelContentExpanded {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px 8px 0 0;
}
%questPanelAcceptedExpandedContent {
  visibility: hidden;
  %questPanelExpanded & {
    visibility: visible;
  }
}

// SPOTIFY/YT MUSIC MAYBE?/IDK
%listeningAlongPanel {
  background: transparent;
  %panelTitle {
    color: $main-color;
  }
}
