/* LOADING SCREEN */
%loadingScreen {
	background: rgba(0, 0, 0, .9);
}
%loadingLinks {
	color: $main-color;
	opacity: 1 !important;
	@include hover-shadow;
}
%loadingPath {
	stroke: $main-color !important;
}
%loadingPath2 {
	opacity: .5 !important;
}
%loadingPath3 {
	opacity: .3 !important;
}