// GUILDS
%layer {
	%guildsWrapper {
		background-color: transparent;
	}
}
%platformOSX {
	%guildsWrapper {
		margin-top: 0;
		padding-top: 48px;
		&:before {
			content: "";
			height: 48px;
			margin-top: -48px;
			background-color: rgba(0, 0, 0, .3);
		}
	}
}
%guildsWrapper {
	width: 70px;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);

	// GUILD LIST
	%guilds {

		// GUILD
		%guild {
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: -17px;
				width: 13px;
				height: 0;
				background-color: $main-color;
				box-shadow: 0 0 20px -1px $main-color;
				opacity: 0;
				transition: all .5s cubic-bezier(.2, .1, .4, 1);
			}
		}
		%guildUnread {
			&:before {
				height: 10px;
				margin-top: -5px;
				opacity: 1;
			}
		}
		%guildSelected {
			&:before {
				height: 40px;
				margin-top: -20px;
				opacity: 1;
			}
		}
		%guildInner {
			background-color: rgba(0, 0, 0, .3);
			box-shadow: 0 0 5px rgba(0, 0, 0, .5);
			transition: background-color .3s ease-in-out, transform .1s ease-in-out;
			&:active {
				transform: scale(.9);
			}
			&[style*=background] {
				background-color: rgba(0, 0, 0, .5) !important;
			}
		}
		%guildSelected,
		%guild:hover {
			%guildInner[style*=background] {
				background-color: $main-color !important;
			}
		}
		%guildAudio {
			&:after {
				background-color: #000;
				opacity: .7;
			}
		}
		%guildsError {
			background-color: rgba(0, 0, 0, .5);
			border-color: $main-color;
			transition: all .3s ease-in-out;
			&:hover {
				background-color: $main-color;
			}
		}

		// HOME BUTTON
		%homeButton {
			&:hover,
			&[style*="background-color: rgb(114, 137, 218);"] {
				background-color: $main-color !important;
			}
		}

		// FRIENDS COUNT
		%friendsOnline {
			background: transparent;
			color: hsla(0, 0%, 100%, .7);
			text-transform: uppercase;
			border-radius: 25px;
			transition: all .3s ease-in-out;
			cursor: default;
			&:hover {
				color: #fff;
			}
		}

		// ICON BUTTON
		%circleIconButton {
			background-color: rgba(0, 0, 0, .5);
			color: #333539;
			border-color: hsla(0, 0%, 100%, .3);
			opacity: .7;
			transition: all .1s ease-in-out;
			&:hover {
				color: $main-color;
				border-color: $main-color;
				animation: cv-pulsate-border 2s infinite ease-in-out;
				> svg {
					animation: cv-pulsate-svg 2s infinite ease-in-out;
				}
			}
			&:active {
				transform: scale(.9);
			}
		}
		%guildsAddPlus {
			position: relative;
			font-size: 0;
			width: 100%;
			height: 100%;
			&:before,
			&:after {
				content: "";
				position: absolute;
				background-color: #333539;
				border-radius: 3px;
				transition: all .1s ease-in-out;
			}
			&:before {		
				width: 2px;
				top: 25%;
				bottom: 25%;
				left: 50%;
				transform: translateX(-50%);
			}
			&:after {
				height: 2px;
				top: 50%;
				right: 25%;
				left: 25%;
				transform: translateY(-50%);
			}
			&:hover {
				&:before,
				&:after {
					animation: cv-pulsate-plus 2s infinite ease-in-out;
				}
			}
		}
	}

	// SEPARATOR
	%guildSeparator {
		&:after {
			background-color: hsla(0, 0%, 100%, .2);
		}
	}
}