// APP
%layer > %containerMain {
	animation: fade-in .3s ease-in-out;	
}

// GUILDS
%guilds {
	%badge {
		animation: badge 1s ease-in-out infinite alternate;
	}
}

// CHANNELS
%channels {
    %categoryContainerDefault,
	%channelContainerDefault {
		animation: fade-in .3s ease-in-out;
	}
}

// MESSAGES
%message,
%messageGroup,
%divider {
	animation: message-fade .5s ease-in-out;
}
%messageGroupBlocked %messageGroup {
	animation: fade-in .3s ease-in-out;
}

// KEYFRAMES
@keyframes message-fade {
	0%,
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}