// MIXINS
@import "mixins.scss";

$icons: (
    // USER SETTINGS 
    "My Account": "https://zerthox.github.io/ClearVision/icons/person.svg",
    "Privacy & Safety": "https://zerthox.github.io/ClearVision/icons/security.svg",
    "Authorized Apps": "https://zerthox.github.io/ClearVision/icons/apps.svg",
    "Connections": "https://zerthox.github.io/ClearVision/icons/link.svg",

    "Discord Nitro": "https://zerthox.github.io/ClearVision/icons/speed.svg",

    "Voice & Video": "https://zerthox.github.io/ClearVision/icons/mic.svg",
    "Overlay": "https://zerthox.github.io/ClearVision/icons/desktop_windows.svg",
    "Notifications": "https://zerthox.github.io/ClearVision/icons/notifications.svg",
    "Keybinds": "https://zerthox.github.io/ClearVision/icons/keyboard.svg",
    "Games": "https://zerthox.github.io/ClearVision/icons/games.svg",
    "Text & Images": "https://zerthox.github.io/ClearVision/icons/chat.svg",
    "Appearance": "https://zerthox.github.io/ClearVision/icons/camera.svg",
    "Streamer Mode": "https://zerthox.github.io/ClearVision/icons/videocam.svg",
    "Language": "https://zerthox.github.io/ClearVision/icons/language.svg",
    "Windows Settings": "https://zerthox.github.io/ClearVision/icons/desktop_windows.svg",

    "Change Log": "https://zerthox.github.io/ClearVision/icons/history.svg",

    "Core": "https://zerthox.github.io/ClearVision/icons/betterdiscord.svg",
    "Zere's Fork": "https://omgdani.github.io/ClearVisionFixes/Icons/bandage.svg",
    "Emotes": "https://zerthox.github.io/ClearVision/icons/emote.svg",
    "Custom CSS": "https://zerthox.github.io/ClearVision/icons/code.svg",
    "Plugins": "https://zerthox.github.io/ClearVision/icons/puzzle.svg",
    "Themes": "https://zerthox.github.io/ClearVision/icons/palette.svg",

    "Log Out": "https://zerthox.github.io/ClearVision/icons/exit.svg"
);

// GENERAL STUFF
[layer-id="user-settings"] .sidebar-region .side-8zPYf6 .item-PXvHYJ,
#bd-settings-sidebar .ui-tab-bar-item {
    padding-left: 50px;
    @include pseudo(before) {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        left: 15px;
        margin-top: -2px;
    }
}

// USER SETTINGS
[layer-id="user-settings"] .sidebar-region .side-8zPYf6 .item-PXvHYJ {
    &:nth-child(2) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "My Account"));
        }
    }
    &:nth-child(3) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Privacy & Safety"));
        }
    }
    &:nth-child(4) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Authorized Apps"));
        }
    }
    &:nth-child(5) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Connections"));
        }
    }
    &:nth-child(7) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Discord Nitro"));
        }
    }
    &:nth-child(10) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Voice & Video"));
        }
    }
    &:nth-child(11) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Overlay"));
        }
    }
    &:nth-child(12) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Notifications"));
        }
    }
    &:nth-child(13) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Keybinds"));
        }
    }
    &:nth-child(14) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Games"));
        }
    }
    &:nth-child(15) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Text & Images"));
        }
    }
    &:nth-child(16) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Appearance"));
        }
    }
    &:nth-child(17) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Streamer Mode"));
        }
    }
    &:nth-child(18) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Language"));
        }
    }
    &:nth-child(19) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Windows Settings"));
        }
    }
    &:nth-child(21) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Change Log"));
        }
    }
    &:nth-child(24) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Log Out"));
        }
    }
}
// BD USER SETTINGS
#bd-settings-sidebar .ui-tab-bar-item {
    &:nth-child(3) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Core"));
        }
    }
    &:nth-child(4) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Zere's Fork"));
        }
    }
    &:nth-child(5) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Emotes"));
        }
    }
    &:nth-child(6) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Custom CSS"));
        }
    }
    &:nth-child(7) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Plugins"));
        }
    }
    &:nth-child(8) {
        @include pseudo(before) {
            background-image: url(map-get($icons, "Themes"));
        }
    }
}