@keyframes cv-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes cv-pulsate-border {
	0%, 100% {
		border-color: hsla(0, 0%, 100%, .3);
	}
	50% {
		border-color: currentColor;
	}
}
@keyframes cv-pulsate-plus {
	0%, 100% {
		background-color: #333539;
	}
	50% {
		background-color: currentColor;
	}
}
@keyframes cv-pulsate-svg {
	0%, 100% {
		color: #333539;
	}
	50% {
		color: currentColor;
	}
}
@keyframes cv-badge {
	from {
		background-color: $main-color;
	}
	to {
		background-color: $hover-color;
	}
}
@keyframes cv-spin {
	from {
		transform: rotateZ(0);
	}
	to {
		transform: rotateZ(360deg);
	}
}
@keyframes cv-spinner-glow {
	from {
		filter: drop-shadow(0 0 3px $main-color);
	}
	to {
		filter: drop-shadow(0 0 3px $main-color) drop-shadow(0 0 15px $main-color);
	}
}
@keyframes cv-spinner-pulse {
	from {
		transform: scale(.7);
		opacity: .3;
	}
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes cv-menu-fold {
	from {
		transform: rotateX(-90deg);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}
@keyframes cv-menu-slide {
	from {
		transform: rotateY(-90deg);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}
@keyframes cv-menu-pop {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}