@include keyframes(guild-select) {
    from {
        height: 0px;
        margin-top: 0px;
    }
    to {
        height: 40px;
        margin-top: -20px;
    }
}
@include keyframes(pulsate-color) {
    0%,
	100% {
        background-color: #333539;
    }
    50% {
        background-color: currentcolor;
    }
}
@include keyframes(pulsate-border) {
    0%,
	100% {
        border-color: #535559;
    }
    50% {
        border-color: currentcolor;
    }
}
@include keyframes(badge) {
    from {
        background-color: var(--main-color);
    }
    to {
        background-color: var(--hover-color);
    }
}
@include keyframes(menu-fold) {
	from {
		@include transform(rotateX(-90deg));
		opacity: 0;
	}
	to {
		@include transform(none);
		opacity: 1;
	}
}
@include keyframes(menu-slide) {
	from {
		@include transform(rotateY(-90deg));
		opacity: 0;
	}
	to {
		@include transform(none);
		opacity: 1;
	}
}
@include keyframes(menu-pop) {
    from {
		@include transform(scale(0));
        opacity: 0;
    }
    to {
		@include transform(none);
        opacity: 1;
    }
}