/* BOT TAG */
%botTag {
	padding: 1px 2px;
	background: hsla(0, 0%, 100%, .1);
	color: hsla(0, 0%, 100%, .6);
	font-weight: 700;
	text-shadow: 0 0 1px rgba(0, 0, 0, .3);
	border-radius: 3px;
}
%botTagInvert {
	padding: 2px 3px;
	background: rgba(0, 0, 0, .3);
	color: hsla(0, 0%, 100%, .8);
}
%member {
	%botTag {
		transition: all .15s ease-in-out;
	}
	&%memberPopoutOpen {
		%botTag {
			background: hsla(0, 0%, 100%, .3);
			color: #fff;
			text-shadow: 0 0 3px rgba(0, 0, 0, .7);
		}
	}
}