/* ADD SERVER MODAL */

// MAIN PAGE
%themeLight {
  .title__23c2d {
    color: #fff;
  }
  .subtitle__89b16 {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
.container__73245 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
  .text__43e5f {
    color: #fff;
  }
  .arrow__5e540 {
    filter: brightness(0) invert(1);
  }
}

%themeLight {
  .subtitle_a75f7f,
  .optionHeader-27AHfD {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
  .iconContainer_cd2671 > svg > circle {
    fill: $main-color;
  }
  %buttonLinkPrimary {
    color: hsla(0, 0%, 100%, 0.7);
  }
  .skip_f687eb {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
}

// CREATE SERVER
%themeLight {
  .subtitle_a75f7f,
  .optionHeader-27AHfD {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
  .iconContainer_cd2671 > svg > circle {
    fill: $main-color;
  }
  .skip_f687eb {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
}
.backButton__576ea .contents_fb6220 {
	color: hsla(0, 0%, 100%, .7);
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

// JOIN SERVER
%themeLight {
  .input__0c269 {
    background-color: transparent;
  }
  .sampleLink__771c4 {
    color: $main-color;
    font-weight: 500;
  }
}
.rowContainer__6f4c6 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
  .rowText_e87737 {
    color: #fff;
  }
  .rowArrow_d97795 {
    filter: brightness(0) invert(1);
  }
}