/* ADD SERVER MODAL */

// MAIN PAGE
%themeLight {
  %addServerContainer {
    %defaultColor {
      color: #fff;
    }
    %addServerSubtitle {
      color: hsla(0, 0%, 100%, 0.7) !important;
    }
  }
  
}
%addServerOption {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
  %addServerOptionText {
    color: #fff;
  }
  %addServerOptionArrow{
    filter: brightness(0) invert(1);
  }
}

// CREATE SERVER
%themeLight {
  %createServerTitle {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
  %createServerIconContainer > svg > circle {
    fill: $main-color;
  }
  %createServerSkip {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
}
%createServerBackButton {
  %buttonContents {
    color: hsla(0, 0%, 100%, .7);
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

// JOIN SERVER
%themeLight {
  %joinServerInput {
    background-color: transparent;
  }
  %joinServerExample {
    color: $main-color;
    font-weight: 500;
  }
}
%joinServerRow {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
  %joinServerRowText {
    color: #fff;
  }
  %joinServerRowArrow {
    filter: brightness(0) invert(1);
  }
}