/* EVENT MODAL */
%eventHeader {
  background-color: transparent;
}
%eventIconCircle {
  background-color: $main-color;
}
%eventCard {
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.4);
    border: 2px solid $hover-color;
  }
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 2px solid $main-color;
}
%eventNewBadgeText {
  color: #fff;
}
%eventIconContainer svg path {
  fill: $main-color;
}
%eventRSVPCount {
  background-color: $main-color;
  %eventRSVPIcon {
    color: #fff;
  }
}

// EVENT INFO
%eventInfoHeader {
  %tabBarItem {
    &:hover {
      border-bottom-color: $hover-color;
    }
    &%tabBarItemSelected,
    &:active {
      border-bottom-color: $main-color;
    }
  }
}
%eventInfoContentContainer {
  background: transparent;
}
%eventInfoIconCircle {
  background-color: $main-color;
}

// CREATE EVENT
%createEventProgressBar {
  background-color: hsla(0, 0%, 100%, 0.3);
  &%createEventProgressBarSelected {
    background-color: $main-color;
  }
  + %createEventColorMuted {
    color: hsla(0, 0%, 100%, 0.3);
  }
  + %createEventColorBrand {
    color: $main-color;
  }
}
%createEventCreateStageContainer {
  background-color: transparent;
}
%createEventTextInput {
  background: transparent;
}
%themeDark %createEventPreviewCard {
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 2px solid $main-color;
}
%createEventIconContainer {
  background-color: $main-color;
}
