/* KEYBOARD SHORTCUTS MODAL */
%themeDark {
	%keyboardShortcutsModal {
		background-color: hsla(0, 0%, 0%, .5);
	}
	%keybindShortcut {
		span {
			background: transparent;
			border: 1px solid $hover-color;
			border-radius: 3px;
			box-shadow: inset 0 -4px $main-color;
			color: hsla(0, 0%, 100%, .7);
			transition: all .15s ease-in-out;
			&:hover {
				background: $hover-color;
				color: #fff;
			}
			&:active {
				border: 1px solid $hover-color;
				box-shadow: inset 0 -2px $main-color;
				color: #fff;
			}
		}
	}
}