/* MODAL */
%themeDark {
  %modal,
  %modalRoot {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    backdrop-filter: blur(1.5px);
    :is(%modalFooter, %uploadModalFooter, %guildSidebarModal, %formFieldWrapper, %settingsFormFieldWrapper) {
      background: transparent;
      box-shadow: none;
    }
  }
}
