/* MODAL */
%appMount {
	%modal, %modal2 {
		background: rgba(0, 0, 0, .5);
		box-shadow: none;
	}
}
%modal, %modal2 {
	%modalFooter {
		background: transparent;
		box-shadow: none;
	}    
}

%modalInput {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.07);
	&::placeholder {
		color: hsla(0, 0%, 100%, .3);
	}
	&:hover {
		border: none;
	}
	&:focus, &.focused-1mmYsC {
		box-shadow: 0 0 2px 2px var(--main-color);
	}
	&.noBorder-CTIBpT {
		border: none;
		box-shadow: none;
		background: none;
	}
	
}