/* MODAL */
%themeDark {
	%modal,
	%modalRoot {
		background: rgba(0, 0, 0, .5);
		box-shadow: none;
		%modalFooter, .modal-2TOYtq, .formFieldWrapper-2LV3S6, .guildSidebar-UHnQqs, .formFieldWrapper-2LV3S6, .settingsFormFieldWrapper-U99c9i, .footer-VCsJQY {
			background: transparent;
			box-shadow: none;
		} 
	}
}
