/* MODAL */
%themeDark {
	%modal,
	%modalRoot {
		background: rgba(0, 0, 0, .5);
		box-shadow: none;
		%modalFooter, .modal-f02hVt, .formFieldWrapper-malor5, .guildSidebar-2OCzWB, .formFieldWrapper-malor5, .settingsFormFieldWrapper-3Y77Pr {
			background: transparent;
			box-shadow: none;
		} 
	}
}