.theme-dark{
    .root-1gCeng {
        background-color: rgba(0,0,0,.5);
    }
	
	.footer-2gL1pp {
        background-color: transparent;
        .footerTitle-2CYZch {
            color: #fff;
        }
        .button-38aScr {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.root-1gCeng {
	.colorHeaderPrimary-26Jzh-,.colorHeaderSecondary-3Sp3Ft {
		color: #fff;
	}
	.iconContainer-2B0ixr>svg>circle {
		fill: var(--main-color);
	}
	.sampleLink-2NLvZg {
		color: var(--main-color);
	}
}

// Server template categories
.itemContainer-1LSFks {
    background-color: var(--main-color);
    &:hover {
        background-color: var(--hover-color);
    }
    .itemText-sYKDFz {
        color: #fff;
    }
    .itemArrow-lhAqIR {
        display: none;
    }
}