.theme-dark{	
	.footer-2gL1pp {
        .footerTitle-2CYZch {
            color: #fff;
        }
        .button-38aScr {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.root-1gCeng {
	.colorHeaderPrimary-26Jzh-,.colorHeaderSecondary-3Sp3Ft {
		color: #fff;
	}
	.iconContainer-2B0ixr>svg>circle {
		fill: $main-color;
	}
	.sampleLink-2NLvZg {
		color: $main-color;
		font-weight: 500;
	}
}

// Server template categories
.container-UC8Ug1 {
    background-color: $main-color;
    &:hover {
        background-color: $hover-color;
    }
    .text-1FOLJS {
        color: #fff;
    }
    .arrow-hynWUl {
        filter: brightness(0) invert(1);
    }
}
/* create a server input wrapper - temp cause idk where else it affects */
.input--jS-j2 {
    background-color: transparent;
}

// Welcome to #moderator-only! edit channel, add a role or member
.button-18p_f6 {
	color: var(--url-color);
	&:hover {
		color: var(--hover-color);
		text-decoration: underline;
		background-color: transparent;
	}
}