// MESSAGE DELETION CONFIRMATION
%themeDark %messageDeleteModal {
  background-color: transparent;
  box-shadow: 0 0 2px 2px $main-color;
}

// REACTIONS LIST
%themeDark {
  %reactionModalScroller,
  %reactionModalReactors {
    background-color: transparent;
  }
  %reactionModalDefault {
    margin-bottom: 10px;
  }
  %reactionModalSelected {
    background-color: $main-color;
    margin-bottom: 10px;
    %reactionModalColorStandard {
      color: #fff;
    }
  }
}

// QUICKSWITCHER
%quickswitcher {
  background-color: rgba(0, 0, 0, 0.5);
}
%quickswitcherInput {
  background-color: rgba(255, 255, 255, 0.07);
}
%quickswitcherScroller {
  background-color: transparent;
  margin-top: 10px;
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}
%quickswitcherResult[aria-selected='true'] {
  background: var(--background-modifier-hover);
}
%quickswitcherPing {
  background: $main-color;
}

// DISCORD NITRO PAYMENT
%nitroPaymentNote,
%nitroPaymentWrapper,
%nitroPaymentBody {
  background-color: transparent;
}
%nitroPaymentTable {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%nitroPaymentDiscount {
  background-color: $main-color;
}
%nitroPaymentCardInputWrapper {
  padding: 2px;
}
%nitroPaymentCardInput {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
}
%nitroPaymentCardInputFocused {
  box-shadow: 0 0 2px 2px $main-color;
}

// SERVER BOOST PAYMENT MODAL
%serverBoostPaymentIcon {
  color: #fff;
  &:hover {
    color: #fff;
    background-color: $hover-color;
  }
}
%themeDark %serverBoostPaymentIconWrapper {
  background: hsla(0, 0%, 0%, 0.4);
}
%serverBoostPaymentActions %input {
  box-shadow: none;
}
/*Boost this server button in serverboost page*/
%serverBoostPerkContent {
  background: transparent;
  %serverBoostPaymentUpsellFooter {
    background: hsla(0, 0%, 0%, 0.4);
  }
}
%serverBoostPaymentPerksList {
  background: rgba(0, 0, 0, 0.4);
}
// INVITE FROM WEB BROWSER
%themeDark %webInviteModalContentWrapper {
  background: hsla(0, 0%, 0%, 0.5);
}
%webInviteModalOnline {
  background-color: var(--online-color);
}
%webInviteModalTotal {
  background-color: var(--offline-color);
}

// TIMEOUT
/*timeout duration item*/
%timeoutModalItem%timeoutModalSelected {
  background: $main-color;
  border-color: $main-color;
}
%timeoutModalItem:not(%timeoutModalSelected) {
  background: rgba(0, 0, 0, 0.4);
  border-color: $main-color;
}

// BAN MODAL
%banReasonOther {
  background-color: hsla(0, 0%, 100%, 0.05);
  border: 2px solid transparent;
  transition: all 0.15s ease-in-out;
  color: #fff;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    color: #fff;
    border: 2px solid $hover-color;
  }
}

// SWITCH ACCOUNTS
%switchAccountsActive > circle:not([fill^='hsl(0']),
%switchAccountsActive > g > path:not([fill^='hsl(0']) {
  fill: $main-color;
}
%themeDark %modalRoot {
  %loginAuthBox,
  %addAccountFooter {
    background-color: transparent;
  }
}

// VERIFY PHONE
%phoneVerification %phoneVerificationInput {
  background-color: hsla(0, 0%, 100%, 0.07);
}
%phoneVerification {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: 1px solid hsla(0, 0%, 100%, 0.07);
}

// ACTIVITIES
%activityModalHeader,
%activityModalDivider {
  background: rgba(0, 0, 0, 0.4);
}
%activityTag {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.5));
}
%activityItem {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid $main-color;
  &:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid $hover-color;
  }
  &%activityItemDisabled {
    background: rgba(0, 0, 0, 0.4);
  }
}
%activitiesScroller {
  background: transparent;
}

// AUTH MODAL
%authModal {
  background-color: transparent;
  border-radius: 5px;
  &%authModalInApp {
    background-color: transparent;
  }
}
%authModalScopeTimes {
  background-color: hsla(0, 0%, 100%, 0.15);
}
%authModalFooter {
  background-color: transparent;
}

// SOUNDBOARD MODAL
%soundboard {
  background-color: var(--popout-color);
  %soundboardSound,
  %soundboardGuildSelected {
    background-color: $main-color;
  }
  %soundboardSound {
    &:hover {
      background-color: $hover-color;
    }
  }
  %soundboardHint {
    background: rgba(0, 0, 0, calc(var(--background-shading) * 0.3));
  }
}
// CREATE SERVER MODAL
%textSmallNormal {
  color: var(--text-normal) !important;
}

// GIFT MODAL
/*other modals, nitro gift*/
/*header*/
%giftModalHeader {
  background: transparent;
  border-bottom: 1.5px solid $main-color;
}
/*check out the shop icon*/
%giftModalIconBackground {
  background: $main-color;
  > svg {
    fill: #fff;
  }
}
/*loading screen*/
%giftModalSpinner {
  background: rgba(0, 0, 0, 0.4);
}
// YOU MUST COMPLETE A FEW MORE STEPS BEFORE YOU CAN TALK
/*before you talk here popup*/
%beforeTalkRuleContainer {
  background: transparent;
}
/*border color for terms of acceptance*/
%beforeTalkRule {
  border-color: $main-color;
}
/*agree to rules*/
%beforeTalkRulesBackground {
  background: var(--background-overlay);
  border-color: $main-color;
  &:hover:not(:focus) {
    border-color: $hover-color;
    background: var(--background-overlay);
  }
}

// Webhook previews
%webhookFooter {
  background-color: transparent;
}

%themeDark %webhookPopout {
  background-color: rgba(0, 0, 0, 0.8);
}

%webhookEmojiRow {
  background-color: $main-color;
  color: var(--text-normal) !important;
}

%webhookBackground {
  background: var(--background-overlay);
}
