// MESSAGE DELETION CONFIRMATION
%themeDark .message-G6O-Wv {
	background-color: transparent;
	box-shadow: 0 0 2px 2px var(--main-color);
}

// NOTIFICATIONS SETTINGS
.searchInput-3pIoTy {background-color: transparent;}
%themeDark .override-1sK4r0:hover {border-color: $main-color;}
.option-2eIyOn.focused-ODgjnC {background: var(--hover-color);}

// CUSTOM STATUS CLEAR AFTER DURATION
.option-2eIyOn:focus, .option-2eIyOn:hover {
	background-color: var(--hover-color);
}
.selectedIcon-19TbzU {
	color: var(--interactive-active);
}
.lookFilled-1GseHa {
	&.select-1Ia3hD {
		background-color: rgba(255,255,255,0.05);
	}
}
.popout-1KHNAq {
	background-color: rgba(0, 0, 0, 0.8);
	border: none;
	border-radius: 4px;
}
.option-2eIyOn[aria-selected=true] {
	background-color: var(--main-color);
}

// REACTIONS LIST
%themeDark {
	.scroller-2GkvCq,
	.reactors-1VXca7 {
		background-color: transparent;
	}
	.reactionDefault-1Sjj1f {
		margin-bottom: 10px;
	}
	.reactionSelected-1aMb2K {
		background-color: var(--main-color);
		margin-bottom: 10px;
		.colorStandard-21JIj7 {
			color: #fff;
		}
	}
}

// CHANGE IDENTITY
.upsellCard-11CKVn {
	background-color: transparent;
}

// QUICKSWITCHER
.quickswitcher-pKcM9U { background-color: rgba(0,0,0,0.5); }
.input-3r5zZY { background-color: rgba(255,255,255,0.07); }
.scroller-2qwVWY {
	background-color: transparent;
	margin-top: 10px;
	&::-webkit-scrollbar-track {
		background-color: transparent !important;
	}
}

// DISCORD NITRO GIFT PAYMENT
.table-17_dGF {background-color: transparent;}
.paymentSourceWrapper-39oqV6 .lookFilled-1h1y05.select-1Pkeg4 { margin: 0 2px; }

// INVITE FROM WEB BROWSER
%themeDark .contentWrapper-3oy4Xo {
	background: hsla(0, 0%, 0%, .5);
}
.pillIconOnline-2JLgFw {
	background-color: var(--online-color);
}
.pillIconTotal-3rJafa {
	background-color: var(--offline-color);
}

// INVITE MODAL
.inviteRow-3vmB7i:hover {
	background-color: rgba(255,255,255,.07);
}

// EVENTS
.header-1sd0RU	{
	background-color: rgba(0, 0, 0, 0.8)
}

.circle-2tR2Qh {
	background-color: var(--main-color);
	}

// CREATE EVENT
.progressBar-18rmp1 {
    background-color: hsla(0, 0%, 100%, .3);
    &.selectedProgressBar-11z5d9 {
        background-color: var(--main-color);
    }
    +.colorMuted-20987_ {
        color: hsla(0, 0%, 100%, .3);
    }
    +.colorBrand-21Le_q {
        color: var(--main-color);
    }
}
%themeDark .previewCard-E137i2 {
	background-color: hsla(0, 0%, 0%, .4);
}
.rsvpCount-iCkObl {
	background-color: var(--main-color);
}
.rsvpIcon-1R5Esx {
	color: #fff;;
}
.eventStatusBrand-3D-ae6 {
	color: var(--main-color);
}

.container-3zZkKh {
	background-color: transparent;
}

// Timeout
.theme-dark .item-2OyinQ:hover {
	background-color: var(--hover-color);
	}
	
.selectorButtonSelected-1VZ6hz {
	background-color: var(--main-color);
}
