// MESSAGE DELETION CONFIRMATION
%themeDark .message__04d9f {
  background-color: transparent;
  box-shadow: 0 0 2px 2px $main-color;
}

// NOTIFICATIONS SETTINGS
%themeDark .override-1sK4r0:hover {
  border-color: $main-color;
}

// CUSTOM STATUS CLEAR AFTER DURATION
.selectedIcon-19TbzU {
  color: var(--interactive-active);
}
.lookFilled-1GseHa {
  &.select-1Ia3hD {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(0, 0, 0, 0.07);
  }
}
.popout-1KHNAq {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 4px;
}

// REACTIONS LIST
%themeDark {
  .scroller__5fda0,
  .reactors__20ab0 {
    background-color: transparent;
  }
  .reactionDefault__792ef {
    margin-bottom: 10px;
  }
  .reactionSelected__249a7 {
    background-color: $main-color;
    margin-bottom: 10px;
    .colorStandard-21JIj7 {
      color: #fff;
    }
  }
}

// CHANGE IDENTITY
.upsellCard-11CKVn {
  background-color: transparent;
}

// QUICKSWITCHER
.quickswitcher_a3d29a {
  background-color: rgba(0, 0, 0, 0.5);
}
.input__848cd {
  background-color: rgba(255, 255, 255, 0.07);
}
.scroller__52ae7 {
  background-color: transparent;
  margin-top: 10px;
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}
.result__25f11[aria-selected='true'] {
  background: var(--background-modifier-hover);
}

// DISCORD NITRO PAYMENT
.spinner-1HUPsi {
  background-color: transparent;
}
.paymentNote-3dcb-Z,
.wrapper-wOVKdL,
.body__59737 {
  background-color: transparent;
}
.table-17_dGF {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.planOptionDiscount-2nex9n {
  background-color: $main-color;
}
.contents-1X8z-d {
  background-color: rgba(0, 0, 0, 0.5);
}
.body-1d1686 {
  padding: 16px 2px;
}
.cardInput-33x7OF {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
}
.cardInputFocused-31lFD1 {
  box-shadow: 0 0 2px 2px var(--main-color);
}
.paymentModalContent {
  background-color: transparent;
}

// SERVER BOOST PAYMENT MODAL
.upsellFooter-1H_OCF {
  background: transparent;
}
.icon_ae3492 {
  color: #fff;
  &:hover {
    color: #fff;
    background-color: $hover-color;
  }
}
%themeDark .iconWrapper__9caa9 {
  background: hsla(0, 0%, 0%, 0.8);
}
.actions_cba988 .input-2g-os5 {
  box-shadow: none;
}
.subscription-1wJwQk {
  background-color: hsla(0, 0%, 0%, 0.5);
}
%themeDark .tierPill-l7DvKo {
  background-color: $main-color;
}

// INVITE FROM WEB BROWSER
%themeDark .contentWrapper__85d37 {
  background: hsla(0, 0%, 0%, 0.5);
}
.pillIconOnline_ab6089 {
  background-color: var(--online-color);
}
.pillIconTotal__74a04 {
  background-color: var(--offline-color);
}

// INVITE MODAL
%inviteModalRow:hover {
  background-color: rgba(255, 255, 255, 0.07);
}
%themeDark %inviteModalUpsell {
  background-color: transparent;
}
%inviteModalTemporary {
  background: rgba(0, 0, 0, 0.07);
}

// TIMEOUT
%themeDark .item-2OyinQ:hover {
  background-color: var(--hover-color);
}

.selectorButtonSelected-1VZ6hz {
  background-color: $main-color;
}

// Tab Help
.tips-39ZVzW {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// SWITCH ACCOUNT
%manageAccountsList {
  background-color: rgba(0, 0, 0, .5);
}
.activeIcon_e452f7 > circle:not([fill^='hsl(0']),
.activeIcon_e452f7 > g > path:not([fill^='hsl(0']) {
  fill: var(--main-color);
}
// ADD ACCOUNT
%themeDark %addAccountAuthBox,
%themeDark %addAccountNavRow {
  background-color: rgba(0, 0, 0, .5);
}
// VERIFY PHONE
%phoneVerification %phoneVerificationInput {
  background-color: hsla(0, 0%, 100%, 0.07);
}
%phoneVerification {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: 1px solid hsla(0, 0%, 100%, 0.07);
}

// ACTIVITIES
%activityModalHeader,
%activityModalDivider {
  background: rgba(0, 0, 0, 0.4);
}
%activityTag {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.5));
}
%activityItem {
  background: rgba(0, 0, 0, 0.4);
  &:hover {
    background: $hover-color;
    box-sizing: border-box;
    border: 2px solid $main-color;
  }
}
%activitiesScroller {
  background: transparent;
}

// AUTH MODAL
.authorize__4ddfc {
  background-color: transparent;
  border-radius: 5px;
}
.scopeTimes__83c10 {
  background-color: hsla(0, 0%, 100%, 0.15);
}
.footer__04ee2 {
  background-color: transparent;
}

// SOUNDBOARD MODAL
%soundboard {
  background: rgba(0, 0, 0, calc(var(--background-shading) * 0.7));
  %soundboardSound,
  %soundboardGuildSelected {
    background: $main-color;
  }
  %soundboardHint {
    background: rgba(0, 0, 0, calc(var(--background-shading) * 0.3));
  }
}
