/* Message Deletion Confirmation*/
.theme-dark .message-2qRu38 {
	background-color: transparent;
	box-shadow: 0 0 2px 2px var(--main-color);
}

/* Notifications Settings */
.searchInput-5YMkDH {background-color: transparent;}
.theme-dark .override-2YgiXd:hover {border-color: $main-color;}
.option-3KoAJB.focused-1T6PE5 {background: var(--hover-color);}

/* Custom Status Clear After Duration */
.option-3KoAJB:focus, .option-3KoAJB:hover {
	background-color: var(--hover-color);
}
.selectedIcon-3uS11H {
	color: var(--interactive-active);
}
.lookFilled-22uAsw {
	&.select-2fjwPw {
		background-color: rgba(255,255,255,0.05);
	}
}
.popout-VcNcHB {
	background-color: rgba(0, 0, 0, 0.8);
	border: none;
	border-radius: 4px;
}
.option-3KoAJB[aria-selected=true] {
	background-color: var(--main-color);
}

/* Reactions List  */
.theme-dark {
	.scroller-1-nKid,
	.reactors-Blmlhw {
		background-color: transparent;
	}
	.reactionDefault-GBA58K {
		margin-bottom: 10px;
	}
	.reactionSelected-1pqISm {
		background-color: var(--main-color);
		margin-bottom: 10px;
		.colorStandard-2KCXvj {
			color: #fff;
		}
	}
}

/* Quickswitcher */
.quickswitcher-3JagVE {background-color: rgba(0,0,0,0.5);}
.input-2VB9rf {background-color: rgba(255,255,255,0.07);}
.scroller-zPkAnE {background-color: transparent;}

/* Discord Nitro Gift Payment */
.table-39R0Oe {background-color: transparent;}
.paymentSourceWrapper-2dIzE4 .lookFilled-1h1y05.select-1Pkeg4 {margin: 0 2px;}