/* SCREEN SHARE */
%screenshareSegmentControlOption {
  color: hsla(0, 0%, 100%, 0.7);
  %themeDark &%screenshareSegmentControlSelected {
    color: $main-color;
    border-bottom: 2px solid $main-color;
  }
}
%screenshareTile {
  &:hover {
    %screenshareSourceThumbnail {
      box-shadow: inset 0 0 0 2px $hover-color;
    }
  }
  %screenshareSourceThumbnail {
    &%screenshareSourceSelected {
      box-shadow: inset 0 0 0 2px $main-color;
    }
  }
}
%screenshareCard {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: 2px solid hsla(0, 0%, 100%, 0.09);
}
%themeDark {
  %screenshareSettingsSelector {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-color: hsla(0, 0%, 100%, 0.09);
    &:before {
      background-color: transparent;
    }
    &:hover {
      background-color: $hover-color;
    }
    &%screenshareSettingsSelected {
      background-color: $main-color;
    }
    &%screenshareSettingsUpsell {
      &:hover {
        background-color: #c269c3;
        %screenshareSettingsUpsellText {
          color: #fff;
        }
      }
    }
  }
}
%screenshareUpsell {
  background: transparent;
}

// CLIPS
%clipsShareTo {
  background: rgba(0, 0, 0, 0.4);
  &:hover {
    background: $hover-color;
    opacity: 0.8;
  }
}
%clipsUploadModal {
  background-color: transparent;
}
%clipsUploadGame {
  color: $main-color;
}
%clipsUploadTitle {
  color: #fff !important; //Important needed because discord used element style - Snow
}
%clipsInterfaceOptionsModal {
  background: transparent;
}
%clipsInterfaceGeneralInfo {
  background: transparent;
}
%clipsInterfaceParticipants {
  background: transparent;
}
%clipsInterfaceParticipantsCounter {
  background-color: rgba(0, 0, 0, 0.8);
}
%clipsInterfaceTimeScroller {
  background-color: $main-color;
}
%clipsInterfacePlayPause {
  background-color: rgba(0, 0, 0, 0.8);
}
%clipsInterfaceDragHandles {
  background-color: $main-color;
}
%clipInChatFooter {
  background: rgba(0, 0, 0, 0.8);
}
