/* SCREEN SHARE */
%screenshareSegmentControlOption {
    color: hsla(0, 0%, 100%, .7);
    %themeDark &%screenshareSegmentControlSelected {
        color: $main-color;
        border-bottom: 2px solid $main-color;
    }
}
%screenshareTile {
    &:hover {
        %screenshareSourceThumbnail {
            box-shadow: inset 0 0 0 2px var(--hover-color);
        }
    }
    %screenshareSourceThumbnail {
        &%screenshareSourceSelected {
            box-shadow: inset 0 0 0 2px var(--main-color);
        }
    }
}
%screenshareCard {
    background-color: hsla(0, 0%, 100%, .07);
	border: 2px solid hsla(0, 0%, 100%, .09);
}
%themeDark {
    %screenshareSettingsSelector {
        background-color: hsla(0, 0%, 100%, .07);
	    border-color: hsla(0, 0%, 100%, .09);
        &:not(%screenshareSettingsPremiumRequired){
            &:hover {
                background-color: $hover-color;
            }
            &%screenshareSettingsSelected {
                background-color: $main-color;
            }
        }
        
    }
}