/* SERVER BOOST */
%themeDark {
    .perksModal-1pSu7w {
        background-color: transparent;
    }
    .ctaBar-2nFzdG {
        background-color: hsla(0, 0%, 0%, .4);
        .guildIcon-8fJ64E {
            background-color: transparent;
        }
        .badgeIconWithoutSubscribers-3DQlA3 {
            color: #fff;
            opacity: .8;
        }
        .giftIcon-2nHRRI {
            color: currentColor;
        }
    }
    .tierMarkerBackground-3q29am {
        background-color: transparent;
    }
    .tierMarkerInProgress-24LMzJ,
    .barBackground-2EEiLw {
	    background-color: hsla(0, 0%, 0%, .4) !important;
    }
    .tierBody-3gjrjH,
    .tierHeaderLocked-CPaKnj,
    .perk-2YwViL {
        background-color: hsla(0, 0%, 0%, .4);
    }
    .tierHeaderLocked-CPaKnj     {
        color: hsla(0, 0%, 100%, .7);
    }
    .tierLock-1e5kZi {
        color: #fff;
        opacity: .3;
    }
}


// NEW SERVER BOOST PAGE
%themeDark {
    .wrapper-3qSb0d {
        background-color: transparent;
    }
    .navigationBar-2JJXBp {
        background-color: transparent;
    }
    .planCard-rYl0vk,
    .perksTable-7Z6tK2 {
        background-color: rgba(0, 0, 0, .4);
    }
    .perksTableRow-7kHR8w {
        +.perksTableRow-7kHR8w {
            border-top: hsla(0, 0%, 100%, .07);
        }
        +.perksTableRowBody-3adE9w:hover,
        +.perksTableRowFocused-37qPHa {
            background-color: rgba(255,255,255,.05);
            border-top: hsla(0, 0%, 100%, .07);
            +.perksTableRowBody-3adE9w {
                border-top: hsla(0, 0%, 100%, .07);
            }
        }
    }
    .perksTableRowPerkHighlighted-3bmp8T,
    .perksTableHighlightedColumnHeader-CkjCDK,
    .perksTableRow-7kHR8w:last-child .perksTableRowPerkHighlighted-3bmp8T:after {
        background-color: hsla(0,0%,100%,.05);
    }
    
    .perksTableHighlightedColumnHeader-CkjCDK {
        padding: 7px 12px;
    }
    .perksTableHighlightedColumnHeaderCopy-vcrleo {
        background-image: none;
        background-color: $main-color;
    }
    .perksTablePerkCheckmarkTier0-eK6gBQ {
        color: #fff;
        opacity: .7;
    }
    .perkPopout-1e9U4Y {
        background-color: rgba(0, 0, 0, .8);
    }
}
