/* SERVER BOOST */
%themeDark {
    .perksModal-fSYqOq {
        background-color: transparent;
    }
    .ctaBar-2UsjF2 {
        background-color: hsla(0, 0%, 0%, .4);
        .guildIcon-3raYf3 {
            background-color: transparent;
        }
        .badgeIconWithoutSubscribers-3A9Xol {
            color: #fff;
            opacity: .8;
        }
        .giftIcon-ZxlWk5 {
            color: currentColor;
        }
    }
    .tierMarkerBackground-3q29am {
        background-color: transparent;
    }
    .tierMarkerInProgress-24LMzJ,
    .barBackground-2EEiLw {
	    background-color: hsla(0, 0%, 0%, .4) !important;
    }
    .tierBody-16Chc9,
    .tierHeaderLocked-1s2JJz,
    .perk-2WeBWW {
        background-color: hsla(0, 0%, 0%, .4);
    }
    .tierHeaderLocked-1s2JJz {
        color: hsla(0, 0%, 100%, .7);
    }
    .tierLock-3CSxSX {
        color: #fff;
        opacity: .3;
    }
}


// NEW SERVER BOOST PAGE
.wrapper-3qSb0d {
	background-color: transparent;
}
.theme-dark .navigationBar-2JJXBp {
	background-color: transparent;
}
.planCard-rYl0vk,
.perksTable-7Z6tK2 {
	background-color: rgba(0, 0, 0, .4);
}
.perksTableRow-7kHR8w {
    +.perksTableRow-7kHR8w {
        border-top: hsla(0, 0%, 100%, .07);
    }
    +.perksTableRowBody-3adE9w:hover,
    +.perksTableRowFocused-37qPHa {
	    background-color: rgba(255,255,255,.05);
        border-top: hsla(0, 0%, 100%, .07);
        +.perksTableRowBody-3adE9w {
            border-top: hsla(0, 0%, 100%, .07);
        }
    }
}
.perksTablePerkCheckmarkTier0-eK6gBQ {
	color: #fff;
	opacity: .7;
}
.perkPopout-1e9U4Y {
	background-color: rgba(0, 0, 0, .8);
}