/* SOUNDBOARD */

%soundboard {
  background-color: cv('bg.general.popout');
}
%soundboardSound {
  background: transparent;
    border: 1px solid $main-color;
  box-shadow: inset 0 -4px $main-color;
    transition: all 0.15s ease-in-out;
  &:hover {
    background: $hover-color;
  }
  &:active:not(:focus-within) {
    background: $hover-color;
    border: 1px solid $main-color;
    box-shadow: inset 0 -2px $main-color;
    %soundboardSoundName {
      color: $text-normal;
    }
  }
}
%soundboardSoundName,
%soundboardAddText,
%soundboardSecondaryButton {
  color: $text-normal;
}