/* USER PROFILE MODAl */
%userModal {
	max-height: 100vh;
	background: transparent;
	box-shadow: 0 0 30px 5px rgba(0, 0, 0, .3);
	&:before {
		content: "";
		position: absolute;
		@include stretch;
		margin: calc(-2 * #{cv("bg.modal.blur")});
		background: cv("bg.modal.img") cv("bg.modal.pos")/cv("bg.modal.size") cv("bg.modal.repeat") cv("bg.modal.attach");
		@include filters(cv("bg.modal"));
		z-index: -1;
	}
	> %userModalTopSection {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)) center/cover;
	}
	> %userModalTopSectionStreaming {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)) center/cover,
			linear-gradient(to bottom, rgba(cv("const:colors.twitch-purple"), .4) calc(95% - 55px), transparent calc(110% - 55px));
	}
	> %userModalTopSectionSpotify {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)) center/cover,
		linear-gradient(to bottom, rgba(cv("const:colors.spotify-green"), .4) calc(95% - 55px), transparent calc(110% - 55px));
	}
	> %userModalTopSectionXbox {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)) center/cover,
			linear-gradient(to bottom, rgba(cv("const:colors.xbox-green"), .4) calc(95% - 55px), transparent calc(110% - 55px));
	}
}
%userModalAdditionalActionsIcon {
	width: 24px;
	height: 24px;
	background: url(https://clearvision.gitlab.io/icons/expand_more.svg) center/36px no-repeat;
	opacity: .3;
	transition: all .15s ease-in-out;
	&:hover {
		opacity: .7;
	}
	> g {
		display: none;
	}
}
%userModalHeaderFill {
	background: rgba(0, 0, 0, .04);
	> %userModalActivity {
		%activityHeaderText {
			color: hsla(0, 0%, 100%, .7);
		}
	}
}
%userModalNameTag {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

// PROFILE BADGES
%profileBadge {
	opacity: .7;
	transition: all .15s ease-in-out;
	filter: drop-shadow(0 0 3px rgba(0, 0, 0, .7));
	&:hover {
		opacity: 1;
	}
}
*,
%userModalTopSectionNormal * {
	&%profileBadgeStaff {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeStaff.svg);
	}
	&%profileBadgePartner {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgePartner.svg);
	}
	&%profileBadgeHypeSquad {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeHypeSquad.svg);
	}
	&%profileBadgeHypeSquadHouse1 {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeHypeSquadBravery.svg);
	}
	&%profileBadgeHypeSquadHouse2 {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeHypeSquadBrilliance.svg);
	}
	&%profileBadgeHypeSquadHouse3 {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeHypeSquadBalance.svg);
	}
	&%profileBadgeHypeSquadHouse1Winner {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeHypeSquadBraveryWinner.svg);
	}
	&%profileBadgeHypeSquadHouse2Winner {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeHypeSquadBrillianceWinner.svg);
	}
	&%profileBadgeHypeSquadHouse3Winner {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeHypeSquadBalanceWinner.svg);
	}
	&%profileBadgeEarlySupporter {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeEarlySupporter.svg);
	}
	&%profileBadgePremium {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeNitro.svg);
	}
	&%profileBadgeBugHunter {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeBugHunter.svg);
	}
	&%profileBadgeGuildSubscriber1 {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeGuildSubscriber1.svg);
	}
	&%profileBadgeGuildSubscriber2 {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeGuildSubscriber2.svg);
	}
	&%profileBadgeGuildSubscriber3 {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeGuildSubscriber3.svg);
	}
	&%profileBadgeGuildSubscriber4 {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgeGuildSubscriber4.svg);
	}
}
%userModalTopSectionPlaying {
	%profileBadgePartner {
		background-image: url(https://clearvision.gitlab.io/icons/discord/badgePartner.svg);
	}
}

// TAB BAR
%userModal {
	%userModalTabBarContainer {
		padding: 0 20px;
		border-color: hsla(0, 0%, 100%, .04);
	}
}
%userModalTabBar {
	> %tabBarItem {
		position: relative;
		margin: 10px 0 0;
		padding: 0 10px;
		border: none !important;
		color: hsla(0, 0%, 100%, .5) !important;
		transition: color .15s ease-in-out;
		z-index: 1;
		+ %tabBarItem {
			margin-left: 20px;
		}
		&:before {
			content: "";
			position: absolute;
			@include stretch;
			background: linear-gradient(to top, transparent, hsla(0, 0%, 100%, .07) 50%);
			border-radius: 3px 3px 0 0;
			opacity: 0;
			transition: all .15s ease-in-out, bottom .2s ease-in-out;
			z-index: -1;
		}
		&:after {
			content: "";
			position: absolute;
			@include pos(100%, 0, 0, 0);
			background: rgba(0, 0, 0, .25);
			border-radius: 3px 3px 0 0;
			transition: all .2s ease-in-out;
			z-index: -1;
		}
		&:hover,
		&[style*="color: rgb(255, 255, 255)"] {
			&:before {
				opacity: 1;
			}
		}
		&:hover {
			color: hsla(0, 0%, 100%, .7) !important;
		}
		&%tabBarItemSelected,
		&[style*="color: rgb(255, 255, 255)"] {
			color: #fff !important;
			&:after {
				top: 0;
				animation: cv-slide-top .2s ease-in-out;
			}
			&:before {
				bottom: 100%;
				animation: cv-slide-bottom .2s ease-in-out reverse;
			}
		}
	}
}
%userModalHeaderFill {
	%tabBarItem {
		&:after {
			background: rgba(0, 0, 0, .225);
		}
	}
}

// BODY
%userModal {
	> %userModalBody {
		height: 306px;
		background: rgba(0, 0, 0, .7);
	}
}
%userModalBody {
	%userModalInfoSection {
		+ %userModalInfoSection {
			border-color: hsla(0, 0%, 100%, .04);
		}
		> %userModalInfoSectionHeader {
			color: hsla(0, 0%, 100%, .7);
		}
		> %userModalNote {
			> textarea {
				background: transparent;
				color: hsla(0, 0%, 100%, .8);
				&:focus {
					background: transparent;
				}
				&::placeholder {	
					color: hsla(0, 0%, 100%, .5);
				}
			}
		}
	}
}
%userModalConnectedAccounts {
	> %userModalConnectedAccount {
		position: relative;
		background: hsla(0, 0%, 100%, .04);
		border-color: transparent;
		border-radius: 5px;
		transition: all .15s ease-in-out;
		&:hover {
			background: hsla(0, 0%, 100%, .07);
			%userModalConnectedAccountOpenIcon {
				opacity: .7;
			}
		}
		&:active {
			transform: scale(.95);
		}
	}
}
%userModalConnectedAccountVerifiedIcon {
	background: url(https://clearvision.gitlab.io/icons/verified.svg) center/18px no-repeat;
	opacity: .5;
	z-index: 1;
	%flowerStar {
		opacity: 0;
	}
	%flowerStarChild {
		display: none;
	}
}
%userModalConnectedAccountOpenIcon {
	background: url(https://clearvision.gitlab.io/icons/popout.svg) center/18px no-repeat;
	opacity: .3;
	transition: all .15s ease-in-out;
	&:after {
		content: "";
		position: absolute;
		@include stretch;
	}
}
%userModalEmptyIcon {
	filter: grayscale(1) brightness(2);
	opacity: .3;
}
%userModalEmptyText {
	color: hsla(0, 0%, 100%, .3);
}

// LIST
%userModalListScroller {
	%userModalListRow {
		position: relative;
		color: hsla(0, 0%, 100%, .5);
		transition: all .15s ease-in-out;
		z-index: 1;
		&:after {
			content: "";
			position: absolute;
			@include stretch;
			background: linear-gradient(to right, transparent ,hsla(0, 0%, 100%, .04) 10%, hsla(0, 0%, 100%, .04) 90%, transparent);
			opacity: 0;
			transition: inherit;
			z-index: -1;
		}
		&:hover {
			background: transparent;
			color: hsla(0, 0%, 100%, .7);
			&:after {
				opacity: 1;
			}
		}
		&:active {
			transform: scale(.97);
		}
	}
}
%userModalListAvatar {
	background-color: rgba(0, 0, 0, .2);
}