// Force bounding box to layer parent
%themeDark %modalRoot[style*='transform']:has(%userModalOuter) {
  transform: none !important;
  z-index: 0;
}
/* USER PROFILE MODAl */
%modalRoot {
  %userProfileOuterUnthemed {
    background: transparent;
    %userModalOverlayBackground {
      background-color: hsla(0, 0%, 0%, 0.4);
    }
    %userModalInner {
      background: rgba(0, 0, 0, 0.7);
      &::before {
        content: '';
        position: absolute;
        @include stretch;
        background: cv('bg.modal.img') cv('bg.modal.pos') / cv('bg.modal.size') cv('bg.modal.repeat') cv('bg.modal.attach');
        @include filters(cv('bg.modal'));
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
}
%userModalInner {
  %userProfileBanner {
    -webkit-mask: linear-gradient(to bottom, #000, transparent 93%);
    mask: linear-gradient(to bottom, #000, transparent 93%);
    &[style*='background-image'] {
      -webkit-mask: linear-gradient(to bottom, #000 50%, transparent);
      mask: linear-gradient(to bottom, #000 50%, transparent);
    }
  }
}

%userModalBadgeList {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// TAB BAR
%userModalTabBarContainer {
  padding: 0 20px;
  border-color: hsla(0, 0%, 100%, 0.04);
}
%userModalTabBarContainerNew {
  border-color: hsla(0, 0%, 100%, 0.04);
}
%modalRoot {
  %userProfileOuter {
    %tabBarItem {
      position: relative;
      height: 30px;
      padding: 5px 10px 0;
      transition: color 0.15s ease-in-out;
      z-index: 1;
      border-bottom-width: 2px;
      &:before {
        content: '';
        position: absolute;
        @include stretch;
        background: linear-gradient(to top, transparent, hsla(0, 0%, 100%, 0.05) 50%);
        border-radius: 3px 3px 0 0;
        opacity: 0;
        transition: all 0.15s ease-in-out, bottom 0.2s ease-in-out;
        z-index: -1;
      }
      &:after {
        content: '';
        position: absolute;
        @include pos(100%, 0, 0, 0);
        background: hsla(0, 0%, 100%, 0.07);
        border-radius: 3px 3px 0 0;
        transition: all 0.2s ease-in-out;
        z-index: -1;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      &%tabBarItemSelected {
        &:after {
          top: 0;
          animation: cv-slide-top 0.2s ease-in-out;
        }
        &:before {
          bottom: 100%;
          animation: cv-slide-bottom 0.2s ease-in-out reverse;
        }
      }
    }
  }
  %userProfileOuterUnthemed {
    %tabBarItem {
      &:hover {
        border-bottom-color: $hover-color;
      }
      &%tabBarItemSelected {
        border-bottom-color: $main-color;
      }
    }
  }
  %userProfileOuterThemed {
    %tabBarItem {
      &:hover {
        border-bottom-color: var(--profile-gradient-secondary-color);
      }
      &%tabBarItemSelected {
        border-bottom-color: var(--profile-gradient-primary-color);
      }
    }
  }
}

// BODY
%userModalOuter%userProfileOuterUnthemed {
  %userModalInfoSection {
    + %userModalInfoSection {
      border-color: hsla(0, 0%, 100%, 0.04);
    }
    > %userModalInfoSectionHeader {
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
}
%userModalConnectedAccounts {
  %userModalConnectedAccountContainer {
    position: relative;
    background: hsla(0, 0%, 100%, 0.04);
    border-color: transparent;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
    &:hover {
      background: hsla(0, 0%, 100%, 0.07);
      %userModalConnectedAccountOpenIcon {
        opacity: 0.7;
      }
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
%userModalConnectedAccountVerifiedIcon {
  background: url(https://clearvision.github.io/icons/verified.svg) center/18px no-repeat;
  opacity: 0.5;
  z-index: 1;
  %flowerStar {
    opacity: 0;
  }
  %flowerStarChild {
    display: none;
  }
}
%userModalConnectedAccountOpenIcon {
  background: url(https://clearvision.github.io/icons/popout.svg) center/18px no-repeat;
  opacity: 0.3;
  transition: all 0.15s ease-in-out;
  transform: none;
  > polygon {
    display: none;
  }
}

// LIST
%userModalOuter%userProfileOuterUnthemed %userModalListScroller {
  %userModalListRow {
    position: relative;
    color: hsla(0, 0%, 100%, 0.5);
    transition: all 0.15s ease-in-out;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      @include stretch;
      background: linear-gradient(to right, transparent, hsla(0, 0%, 100%, 0.04) 10%, hsla(0, 0%, 100%, 0.04) 90%, transparent);
      opacity: 0;
      transition: inherit;
      z-index: -1;
    }
    &:hover {
      background: transparent;
      color: hsla(0, 0%, 100%, 0.7);
      &:after {
        opacity: 1;
      }
    }
    &:active {
      transform: scale(0.97);
    }
  }
}
// ACTIVITY
%userModalOuter%userProfileOuterUnthemed {
  %userProfileActivityButton {
    background-color: $main-color;
  }
}

// NOTE
%userModalNote textarea:focus {
  background-color: hsla(0, 0%, 100%, 0.07);
}
