@use "cv" as *;

/* CHANNEL CATEGORY */
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerDefault)},
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerUserOver)},
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerDragBefore)},
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerDragAfter)} {
	padding-top: 20px;
}
#{cn(ChannelCategoryItem wrapper)} {
	padding-left: 10px;
	padding-right: 0;
	transition: all .3s ease-in-out;
}
#{cn(ChannelCategoryItem icon)} {
	display: none;
}
#{cn(ChannelCategoryItem name)} {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $main-color;
	font-weight: 700;
	text-align: center;
	transition: all .3s ease-in-out;
	opacity: .7;
	&:before {
		content: "";
		height: 2px;
		flex-grow: 1;
		transition: all .3s ease-in-out;
		background: linear-gradient(to left, $main-color 50%, transparent);
		margin-right: 5px;
	}
	&:after {
		content: "";
		height: 2px;
		flex-grow: 1;
		transition: all .3s ease-in-out;
		background: linear-gradient(to right, $main-color 50%, transparent);
		margin-left: 5px;
	}
	#{cn(ChannelCategoryItem wrapper)} &:hover {
		opacity: 1;
	}
}
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerDefault)},
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerUserOver)},
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerDragBefore)},
#{cn("FluxContainer(DropTarget(DragSource(Category)))" containerDragAfter)} {
	#{cn(ChannelCategoryItem wrapper)} {
		#{cn(ChannelCategoryItem name)} {
			color: $main-color;
		}
	}
}

// BUTTONS
#{cn(ChannelCategoryItem children)} {
	margin-left: 3px;
}

// COLLAPSED
#{cn(ChannelCategoryItem collapsed)} {
	#{cn(ChannelCategoryItem name)} {
		&:before,
		&:after {
			flex-grow: 0;
		}
	}
}

// MUTED
#{cn(ChannelCategoryItem muted)} { 
	opacity: .5;
}