@use "cv" as *;
@import "lib/legacy-selectors";

/* CHANNEL LIST */
#{cn("FluxContainer(AppView)" sidebar)} {
	width: cv("channels-width");
	background: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .3));
}
#{cn("FluxContainer(componentDispatchSubscriber(GuildSidebar))" container)} {
	background: transparent;

	// CHANNELS HEADER
	#{cn(GuildHeader container)} {
		z-index: 2;
	}
	#{cn(GuildHeader header)} {
		height: 48px;
		background: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .15));
		box-shadow: 0 2px 10px rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .3));
		color: #fff;
		font-weight: 600;
		text-shadow: 0 0 3px #000;
	}
	#{cn(GuildHeader header)}:hover,
	#{cn(GuildHeader selected)} #{cn(GuildHeader header)} {
		background: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .3));
	}
	
	// GUILD BADGE
	#{cn(GuildHeader guildIconContainer)} {
		%flowerStar {
			display: none;
		}
		%flowerStarChild {
			background: hsla(0, 0%, 100%, .07);
			border-radius: 50%;
		}
	}
	#{cn(GuildBadge partnered)} {
		background: hsla(0, 0%, 100%, .07);
		border-radius: 50%;
		#{cn(GuildBadge icon)} {
			color: $main-color;
			filter: drop-shadow(0 0 3px);
		}
	}
	#{cn(GuildBadge verified)} {
		background: url(https://clearvision.gitlab.io/icons/verified.svg) center/18px no-repeat;
		filter: drop-shadow(0 0 5px);
		%flowerStarChild {
			display: none;
		}
	}
	#{cn(GuildHeader premiumGuildIconGem)} {
		color: $main-color;
		filter: drop-shadow(0 0 3px);
	}

	// GUILD BANNER
	#{cn(GuildHeader animatedContainer)} {
		background: transparent;
		box-shadow: none;
	}
	#{cn(GuildHeader bannerImage)} {
		-webkit-mask: linear-gradient(to bottom, #000, transparent);
		mask: linear-gradient(to bottom, #000, transparent);
	}
}