/* CHANNEL INDICATORS */
%channelsUnreadIndicator,
%channelsMentionIndicator {
	position: relative;
	background: transparent;
	&:after {
		content: "";
		position: absolute;
		@include stretch;
		background: $main-color;
		border-radius: 3px;
		opacity: .9;
		z-index: -1;
		transition: all .15s ease-in-out;
	}
	&:hover {
		&:after {
			opacity: 1;
		}
	}
}