/* GAME LIBRARY */

// BODY
%libraryScroller {
  background: transparent;
}
%libraryTableHeader {
  background-color: transparent;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
  > %libraryTableHeaderCell {
    border-left-color: hsla(0, 0%, 100%, 0.07);
    color: hsla(0, 0%, 100%, 0.3);
    transition: all 0.3s ease-in-out;
    &:hover {
      &:not(%libraryTableHeaderCellSorted) {
        color: hsla(0, 0%, 100%, 0.5);
      }
    }
  }
  > %libraryTableHeaderCellSorted {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
%libraryTableRowWrapper {
  background-color: transparent;
  border-radius: 0;
  transition: all 0.15s ease-in-out;
  &,
  &:hover {
    margin: 0 20px;
    padding: 0;
    + %libraryTableRowWrapper {
      > %libraryTableRow {
        margin-top: -1px;
        border-top: 1px solid hsla(0, 0%, 100%, 0.04);
      }
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
%libraryTableRow {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.7);
  %libraryTableActionsCell {
    %button {
      background-color: hsla(0, 0%, 100%, 0.07);
      color: hsla(0, 0%, 100%, 0.7);
      transition: all 0.15s ease-in-out;
    }
    &:hover {
      %button:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}
%libraryTableTextCell {
  color: hsla(0, 0%, 100%, 0.5);
}
%libraryTableLastPlayedCellNew {
  color: $main-color;
}
%libraryTableSettingIcon {
  color: #fff;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
%libraryTableRowWrapperDim {
  %libraryTableNameCell,
  %libraryTableTextCell,
  %libraryTableSettingIcon {
    transition: all 0.15s ease-in-out;
  }
}
%libraryGameDownloadContainer {
  background-color: rgba(0, 0, 0, 0.6);
}

// SETTINGS
%librarySettingsScroller {
  background: transparent;
}
%themeDark {
  %libraryInstallationPath {
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.06);
  }
  %libraryUsageBackground {
    stroke: hsla(0, 0%, 0%, 0.6);
  }
  %libraryUsageForeground {
    stroke: $main-color;
  }
  %libraryDefaultIndicator {
    background-color: $main-color;
  }
}
