/* NITRO */
%nitro {
  background-color: rgba(0, 0, 0, calc(#{cv('bg.app.shading')} * 0.5));
}
%nitroScroller {
  background-color: transparent;
}
%nitroCard {
  background-color: hsla(0, 0%, 0%, 0.4);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
%nitroCardDescription {
  background-image: none;
}
%nitroPerkCard {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%nitroExpandButton {
  cursor: pointer;
  background-color: $main-color;
  color: #fff;
}
%nitroPerksCover {
  background-color: hsla(0, 0%, 0%, 0.6);
  background-image: none;
  backdrop-filter: blur(5px);
}
%nitroGiftContainer {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%nitroGiftTextContainer {
  background-image: none;
}
%nitroFooterInnerWrapper {
  background-color: hsla(0, 0%, 0%, 0.8);
}
