%messageReq, //main tab
%messageReqSpam, //spam
%messageReqActive%messageReqItem, 
%messageReqItem:hover {
  background: $hover-color;
  animation: cv-fade-to-8 0.3s ease-in-out;
}
/*was it spam*/
%messageReqSpamCheck {
  background: rgba(0, 0, 0, calc($bg-shading * 0.3));
}
