.selected-11Gl-y, //main tab
.selected-5uRER3, //spam
.messageRequestItem-1_NNAR.active-1iRyqF, 
.messageRequestItem-1_NNAR:hover {
    background: $hover-color;
	animation: cv-fade-to-8 0.3s ease-in-out;
}
/*was it spam*/
.hamBanner-2jDGhV {
    background: rgba(0,0,0,.3);
}