/* STAGE DISCOVERY */
.stageSection-3mAD8V {
    background: transparent;
}
.theme-dark .container-S9SaVf {
    background-color: hsla(0, 0%, 0%, .4);
    &:hover {
        background-color: hsla(0, 0%, 0%, .6);
    }
}
.featuredTag-3pT1Rf {
    background-color: $main-color;
}
.container-7Unqij {
    background-color: transparent;
}