/* STORE */
%base {
	%applicationStore {
		background: transparent;
	}
}
%storeHomeWrapper,
%storeBrowseWrapper,
%storeListingWrapper {
	> %scrollerWrap {
		background-color: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .5));
	}
}
%applicationStore {
	%storeMatureListing,
	> %flex:last-child {
		background-color: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .5));
	}
	%scroller {
		background-color: transparent;
	}
}

// HERO CAROUSEL
%heroCarousel {
	%heroCarouselItemBackground {
		background-color: transparent;
		-webkit-mask: radial-gradient(ellipse at 50% 10%, #000, transparent 70%);
		mask: radial-gradient(ellipse at 50% 10%, #000, transparent 70%);
		&:before {
			display: none;
		}
	}
	%heroCarouselItemDescription {
		color: hsla(0, 0%, 100%, .7);
	}
	%heroCarouselItemHeader {
		color: hsla(0, 0%, 100%, .5);
	}
	%heroCarouselItemTitle {
		color: #fff;
	}
}
%heroCarouselPagination {
	%heroCarouselPaginationItemContainer {
		opacity: .5;
		transition: all .3s ease-in-out;
		&:after {
			content: "";
			position: absolute;
			@include stretch;
			border: 2px solid transparent;
			border-radius: 3px;
			transition: all .3s ease-in-out;
		}
		&:hover {
			opacity: 1;
		}
		&%heroCarouselPaginationItemContainerSelected {
			box-shadow: 0 0 3px $main-color, inset 0 0 3px rgba(0, 0, 0, .3);
			opacity: 1;
			&:after {
				border-color: $main-color;
			}
		}
	}
	%heroCarouselPaginationItemBorder {
		display: none;
	}
}

// BODY
%applicationStore {

	// CATEGORY
	%storeCategoryHeader {
		border-color: hsla(0, 0%, 100%, .07);
		color: #fff;
		text-shadow: 0 0 3px #000;
	}
	%storeCategoryContainer {
		-webkit-mask: linear-gradient(to right, transparent, #000 5%, #000 95%, transparent);
		mask: linear-gradient(to right, transparent, #000 5%, #000 95%, transparent);
	}
	%storeCategoryScrollerButton {
		background: rgba(0, 0, 0, .3);
		transition: all .15s ease-in-out;
		&:hover {
			background: rgba(0, 0, 0, .5);
		}
	}
	%storeCategoryGradientOverlayLeft,
	%storeCategoryGradientOverlayRight {
		display: none;
	}

	// TILES
	%storePerkTile,
	%storeTileMedia {
		background: hsla(0, 0%, 100%, .07);
		background: rgba(0, 0, 0, .3);
		transition: all .3s ease-in-out;
		&:hover {
			background: rgba(0, 0, 0, .5);
		}
	}
	%storePerkTileTitle {
		color: $main-color;
	}
	%storePerkTileTagline {
		color: hsla(0, 0%, 100%, .5);
	}
	%storePerkTilePerkTag {
		background: $main-color;
	}
	%storeTileTitle {
		color: #fff;
	}
	%storeTileGenreTag {
		background: hsla(0, 0%, 100%, .07);
		color: hsla(0, 0%, 100%, .7);
	}

	// FOOTER
	%storeFooter {
		position: relative;
		background-size: 0, 0;
		&:after {
			content: "";
			position: absolute;
			@include stretch;
			background: inherit;
			background-size: auto, 100%;
			opacity: .3;
			filter: grayscale(1) brightness(1.5);
			pointer-events: none;
		}
	}
	%storeFooterMain {
		color: hsla(0, 0%, 100%, .7);
	}
	%storeFooterSub {
		color: hsla(0, 0%, 100%, .3);
	}
}

// BROWSE
%storeBrowseWrapper {
	%storeBrowseFilterBar {
		border-color: hsla(0, 0%, 100%, .07);
	}
	%storeBrowseFilterAndSort,
	%storeBrowseHideGames {
		color: hsla(0, 0%, 100%, .5);
	}
	%storeBrowseCheckbox {
		position: relative;
		width: 35px !important;
		height: 18px !important;
		background: hsla(0, 0%, 100%, .04) !important;
		border: none !important;
		border-radius: 10px;
		box-shadow: 0 0 5px rgba(0, 0, 0, .5);
		&:before {
			content: "";
			position: absolute;
			@include pos(0, 100%, 0, 0);
			border-radius: 10px;
			transition: all .2s ease-in-out;
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			width: 18px;
			height: 18px;
			background: #fff;
			border-radius: 50%;
			box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
			transition: all .2s ease-in-out;
		}
		&%storeBrowseCheckboxChecked {
			&:before {
				right: 0;
				background: $main-color;
			}
			&:after {
				left: 100%;
				margin-left: -18px;
			}
		}
		> svg {
			display: none;
		}
	}
}
%popouts {
	%selectPopout {
		background: rgba(0, 0, 0, .7);
	}
}
%selectPopout {
	%selectPopoutOption {
		border-radius: 3px;
		color: hsla(0, 0%, 100%, .5);
		transition: all .15s ease-in-out;
		&:hover {
			background: rgba(0, 0, 0, .5);
			color: #fff;
		}
		&%selectPopoutOptionActive {
			background: $main-color;
			color: #fff;
		}
	}
}

// MEDIA CAROUSEL
%mediaCarouselButtonsContainer {
	%mediaCarouselItem {
		background: rgba(0, 0, 0, .3);
	}
	%mediaCarouselArrowButton {
		background: rgba(0, 0, 0, .2);
		border-radius: 50%;
		color: hsla(0, 0%, 100%, .3);
		opacity: 1;
		transition: all .15s ease-in-out;
		&:hover {
			background: rgba(0, 0, 0, .5);
			color: hsla(0, 0%, 100%, .7);
		}
	}
}
%mediaCarouselPagination {
	%mediaCarouselPaginationContainerHorizontal {
		-webkit-mask: linear-gradient(to right, transparent, #000 5%, #000 95%, transparent);
		mask: linear-gradient(to right, transparent, #000 5%, #000 95%, transparent);
	}
	%mediaCarouselPaginationItem {
		opacity: .5;
		transition: all .3s ease-in-out;
		&:after {
			content: "";
			position: absolute;
			@include stretch;
			border: 2px solid transparent;
			border-radius: 3px;
			transition: all .3s ease-in-out;
		}
		&:hover {
			opacity: 1;
		}
		&%mediaCarouselPaginationItemSelected {
			box-shadow: 0 0 3px $main-color, inset 0 0 3px rgba(0, 0, 0, .3);
			opacity: 1;
			&:after {
				border-color: $main-color;
			}
		}
	}
	%mediaCarouselPaginationItemBorder {
		display: none;
	}
}

// LISTING
%storeListing {
	%storeListingDivider {
		background: hsla(0, 0%, 100%, .07);
	}
	%buttonFilledPrimary {
		background: hsla(0, 0%, 100%, .1);
		color: hsla(0, 0%, 100%, .7);
		&:hover {
			background: hsla(0, 0%, 100%, .2);
			color: #fff;
		}
	}
	%storeListingRecommendation {
		background: hsla(0, 0%, 100%, .07);
	}
}
%storeListingRecommendation {
	%storeListingRecommendationActivityDescription,
	%storeListingRecommendationReasonText {
		color: hsla(0, 0%, 100%, .7);
		strong {
			color: #fff;
		}
	}
	%storeListingRecommendationActivityUsername {
		color: $main-color;
		@include hover-shadow;
	}
	%storeListingRecommendationIconCircle {
		background: rgba(0, 0, 0, .2);
		color: hsla(0, 0%, 100%, .7);
	}
	%storeListingRecommendationPremiumCircle {
		background: rgba(0, 0, 0, .2);
		color: $main-color;
		> svg {
			filter: drop-shadow(0 0 1px);
		}
	}
}
%storeListingNews {
	%storeListingNewsItem {
		background: rgba(0, 0, 0, .3);
		transition: all .15s ease-in-out;
		&:hover {
			background: rgba(0, 0, 0, .5);
			text-shadow: none;
		}
	}
}
%storeListingRequirements {
	%storeListingRequirementKey {
		color: hsla(0, 0%, 100%, .7);
		font-weight: 600;
	}
	%storeListingRequirement {
		color: hsla(0, 0%, 100%, .5);
	}
}
%storeListingPurchase {
	%storeListingPurchaseHeader {
		background: $main-color;
		color: #fff;
	}
	%storeListingPurchaseHeaderFancy {
		position: relative;
		background-size: 0;
		overflow: hidden;
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			@include stretch;
			background: linear-gradient(to right, $main-color, $hover-color);
			z-index: -1;
		}
		&:after {
			content: "";
			position: absolute;
			@include stretch;
			background-image: inherit;
			background-size: auto, 0;
			opacity: .1;
			filter: grayscale(1) brightness(1.5);
			z-index: -1;
		}
	}
	%storeListingPurchasePremiumHeaderPrice {
		background: #fff;
		color: #000;
		mix-blend-mode: screen;
	}
	%storeListingPurchaseOS {
		color: hsla(0, 0%, 100%, .4);
		transition: all .15s ease-in-out;
		&:hover {
			color: hsla(0, 0%, 100%, .7);
		}
	}
	%storeListingPurchaseSection {
		background: rgba(0, 0, 0, .3);
		border-top-color: hsla(0, 0%, 100%, .07);
	}
	%storeListingPurchaseSkuNormal {
		border-bottom-color: hsla(0, 0%, 100%, .04);
	}
	%storeListingPurchaseLabel {
		color: hsla(0, 0%, 100%, .7);
		font-weight: 600;
	}
	%storeListingPurchaseInfo {
		color: hsla(0, 0%, 100%, .5);
	}
	%storeListingPurchaseGenre {
		color: $main-color;
		@include hover-shadow;
	}
}
%storeListingPurchaseSku {
	%storeListingPurchaseSkuName {
		color: hsla(0, 0%, 100%, .7);
		transition: all .15s ease-in-out;
	}
	%storeListingPurchaseSkuPrice {
		background: hsla(0, 0%, 100%, .04);
		color: hsla(0, 0%, 100%, .7);
		transition: all .15s ease-in-out;
	}
	&:hover {
		%storeListingPurchaseSkuName {
			color: #fff;
		}
		%storeListingPurchaseSkuPrice {
			background: hsla(0, 0%, 100%, .1);
			color: #fff;
		}
	}
}
%storeListingInvite {
	%storeListingInviteContent {
		background: hsla(0, 0%, 100%, .04);
	}
	%storeListingInviteGuildIcon {
		background-color: rgba(0, 0, 0, .1);
	}
	%storeListingInviteGuildName {
		color: hsla(0, 0%, 100%, .7);
	}
	%storeListingInviteMemberInfo {
		color: hsla(0, 0%, 100%, .3);
	}
	%storeListingInviteStatusOnline {
		background: cv("colors.online");
		box-shadow: 0 0 3px, 0 0 5px rgba(0, 0, 0, .5);
		color: cv("colors.online");
	}
	%storeListingInviteStatusOffline {
		background: cv("colors.offline");
		box-shadow: 0 0 3px, 0 0 5px rgba(0, 0, 0, .5);
		color: cv("colors.offline");
	}
}
%storeListing {
	%storeListingInvite {
		%buttonFilledPrimary {
			background: cv("colors.success");
			color: #fff;
			opacity: .7;
			&:hover {
				background: cv("colors.success");
				color: #fff;
				opacity: 1;
			}
		}
	}
}
%storeListingFeatures {
	%storeListingFeature {
		background: hsla(0, 0%, 100%, .04);
		color: hsla(0, 0%, 100%, .5);
	}
	%storeListingFeatureIcon {
		color: hsla(0, 0%, 100%, .5);
	}
	%storeListingFeatureCheckmark {
		color: cv("colors.success");
	}
}