// APP
body {
	&:after {
		content: "";
		position: fixed;
		@include stretch;
		@include bg($img: map-get($bg, img), $pos: map-get($bg, pos), $size: map-get($bg, size));
		@include filters($bg);
		z-index: -9999;
	}
}
%appMount {
	background: map-get($bg, overlay);
}

// LAYERS
%appMount {
	%layers,
	%layer {
		background-color: transparent;
	}
}
%layer > %containerMain {
	background-color: transparent;
}
%base {
	border-radius: 0;	
}

// SELECTION
::selection {
	color: #fff;
	background: $main-color;
}

// ANCHORS
%anchor {
	color: $main-color;
	@include hover-shadow;
}