// APP
body {
	@include pseudo(after) {
		content: "";
		position: fixed;
		@include stretch;
		@include bg($img: $bg-img, $pos: center, $size: cover);
		filter: brightness($bg-brightness) blur($bg-blur);
		z-index: -9999;
	}
}
%appMount {
	background: $bg-overlay;
}

// LAYERS
%layers,
%layer,
%layer > %containerMain {
	@include clear;
}
%layer > %containerMain > %base {
	border-radius: 0;	
}

// SELECTION
::selection {
	color: #fff;
	background: $main-color;
}

// ANCHORS
%anchor {
	color: $main-color;
	@include hover-shadow;
}