// BADGE
%badge {
	background-color: var(--main-color) !important;
	color: #fff !important;
	padding: 3px 5px;
    font-weight: 600;
	box-shadow: none;
	transition: all .3s ease-in-out;
}
%channelContentSelectedText {
	%badge {
		background-color: #fff !important;
		color: #000 !important;
		mix-blend-mode: screen;
	}
}