// BUTTON
%button {
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

// BUTTON FILLED
%buttonFilledGreen,
%buttonFilledBrand,
%buttonFilledPrimary {
	background-color: $main-color;
	&:hover {
		background-color: $hover-color;
	}
	&:disabled {
		background-color: $main-color;
	}
}
%buttonFilledWhite {
	background-color: hsla(0, 0%, 100%, .1);
	> %buttonContents {
		color: hsla(0, 0%, 100%, .7);
		transition: inherit;
	}
	&:hover {
		background-color: hsla(0, 0%, 100%, .2) !important;
		> %buttonContents {
			color: #fff;
		}
	}
	&:disabled {
		background-color: hsla(0, 0%, 100%, .1);
	}
}

// BUTTON INVERTED
%buttonInverted,
%buttonInvertedBrand,
%buttonInvertedGreen {
	background-color: hsla(0, 0%, 100%, .1);
	color: hsla(0, 0%, 100%, .7);
	&:hover {
		background-color: hsla(0, 0%, 100%, .2);
		color: #fff;
	}
}

// BUTTON OUTLINED
%appMount {
	%buttonOutlinedWhite,
	%buttonOutlinedPrimary {
		background-color: hsla(0, 0%, 100%, .05);
		border-color: transparent;
		color: hsla(0, 0%, 100%, .7);
		&:hover {
			background-color: hsla(0, 0%, 100%, .1);
			border-color: transparent;
			color: #fff;
		}
	}
}

// BUTTON LINK
%buttonLinkWhite {
	color: #fff;
	&:hover {
		text-shadow: 0 0 3px;
		> %buttonContents {
			background-image: none;
		}
	}
}