// BUTTON
%buttonFilledGreen,
%buttonFilledBrand,
%buttonFilledPrimary {
	background-color: $main-color;
	transition: all .3s ease-in-out;
	&:hover {
		background-color: $hover-color;
	}
	&:disabled {
		background-color: $main-color;
	}
}
%buttonInverted,
%buttonInvertedBrand,
%buttonInvertedGreen {
	background-color: hsla(0, 0%, 100%, .1);
	color: hsla(0, 0%, 100%, .7);
	transition: all .3s ease-in-out;
	&:hover {
		background-color: hsla(0, 0%, 100%, .2);
		color: #fff;
	}
}
%buttonFilledWhite {
	background-color: hsla(0, 0%, 100%, .1);
	transition: all .3s ease-in-out;
	> %buttonContents {
		color: hsla(0, 0%, 100%, .7);
		transition: all .3s ease-in-out;
	}
	&:hover {
		background-color: hsla(0, 0%, 100%, .2) !important;
		> %buttonContents {
			color: #fff;
		}
	}
}
%buttonOutlinedWhite {
	background-color: hsla(0, 0%, 100%, .05);
	border-color: transparent;
	color: hsla(0, 0%, 100%, .7);
	transition: all .3s ease-in-out;
	&:hover {
		background-color: hsla(0, 0%, 100%, .1);
		border-color: transparent;
		color: #fff;
	}
}