// CHECKBOX
%checkbox {
	%checkboxInner {
		width: 35px;
		height: 18px;
		background-color: hsla(0, 0%, 100%, .04);
		border-radius: 10px;
		left: 0;
		> span {
			width: 0;
			background-color: transparent;
			border: none;
			border-radius: 10px;
			transition: all .2s ease-in-out;
			&:after {
				content: "";
				display: block;
				top: 0 !important;
				left: 0 !important;
				width: 18px !important;
				height: 18px !important;
				margin: 0;
				background-color: #fff;
				border: none !important;
				border-radius: 50%;
				box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
				transition: all .2s ease-in-out;
				transform: none !important;
			}
		}
		%checkboxElement:checked {
			+ span {
				width: 100%;
				background-color: $main-color;
				&:after {
					margin-left: 17px;
				}
			}
		}
	}
}