// HEADER BAR
%base %headerBar {
	height: 48px;
	background-color: rgba(0, 0, 0, .6);
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
%headerBar {
	%headerBarTitle {
		color: #fff;
	}
}

// TOOLBAR
%toolbarIconMargin {
	height: 28px;
	margin: 0 1px;
}
%toolbarIcon {
	padding: 2px 3px;
	box-sizing: content-box;
	border-radius: 3px;
	opacity: 1 !important;
	transition: all .3s ease-in-out;
	%toolbarIconForeground {
		opacity: .5;
		transition: all .15s ease-in-out;
	}
	&%toolbarIconActive,
	&%toolbarIconPopoutOpen {
		background-color: hsla(0, 0%, 100%, .1);
		%toolbarIconForeground {
			opacity: .7;
		}
	}
	&:hover {
		%toolbarIconForeground {
			opacity: 1;
		}
	}
}
%toolbar %toolbarDivider {
	background-color: hsla(0, 0%, 100%, .1);
}