// HEADER BAR
%base %headerBar {
	height: 48px;
	background-color: rgba(0, 0, 0, .6);
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
%headerBar {
	%headerBarTitle {
		color: #fff;
	}
}

// TOOLBAR
%toolbar {
	%toolbarDivider {
		background-color: hsla(0, 0%, 100%, .1);
	}
	%toolbarIconBadge {
		margin: 2px;
		background-color: $main-color;
		border: none;
		color: $main-color;
		box-shadow: 0 0 3px, 0 0 5px;
	}
}
%toolbarIconMargin {
	height: 28px;
	margin: 0 1px;
}
%toolbarIcon {
	padding: 2px 3px;
	box-sizing: content-box;
	border-radius: 3px;
	opacity: .5;
	transition: all .15s ease-in-out, background-color .3s ease-in-out;
	%toolbarIconForeground {
		opacity: 1 !important;
	}
	&%toolbarIconActive,
	&%toolbarIconPopoutOpen {
		background-color: hsla(0, 0%, 100%, .1) !important;
		opacity: .7;
	}
	&:hover {
		opacity: 1;
	}
	&[name=NotificationBell],
	&[name=NotificationBellOff],
	&[name=Pin],
	&[name=People],
	&[name=Mention],
	&[name=QuestionMark],
	&%toolbarIconUpdateAvailable,
	&[name=Downloading] {
		> g,
		> path {
			display: none;
		}
	}
	&[name=NotificationBell] {
		@include bg($img: url(https://clearvision.gitlab.io/icons/notifications.svg), $rep: no-repeat, $pos: center, $size: 24px);
	}
	&[name=NotificationBellOff] {
		@include bg($img: url(https://clearvision.gitlab.io/icons/notifications_off.svg), $rep: no-repeat, $pos: center, $size: 24px);
	}
	&[name=Pin] {
		@include bg($img: url(https://clearvision.gitlab.io/icons/pin.svg), $rep: no-repeat, $pos: center, $size: 24px);
		+ %toolbarIconBadge {
			&:after {
				content: "";
				position: absolute;
				@include stretch;
				background-color: $main-color;
				-webkit-mask-image: url(https://clearvision.gitlab.io/icons/pin.svg);
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 24px;
				mask-image: url(https://clearvision.gitlab.io/icons/pin.svg);
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: 24px;
			}
			top: 0;
			left: 0;
			width: 30px;
			height: 28px;
			margin: 0;
			background-color: transparent;
			box-shadow: none;
			transform: translateZ(0);
			filter: drop-shadow(0 0 5px);
		}
	}
	&[name=People] {
		@include bg($img: url(https://clearvision.gitlab.io/icons/people.svg), $rep: no-repeat, $pos: center, $size: 24px);
	}
	&[name=Mention] {
		@include bg($img: url(https://clearvision.gitlab.io/icons/mail.svg), $rep: no-repeat, $pos: center, $size: 24px);
	}
	&[name=QuestionMark] {
		@include bg($img: url(https://clearvision.gitlab.io/icons/help.svg), $rep: no-repeat, $pos: center, $size: 24px);
	}
	&%toolbarIconUpdateAvailable {
		@include bg($img: url(https://clearvision.gitlab.io/icons/sync.svg), $rep: no-repeat, $pos: center, $size: 24px);
		animation: cv-update-spin 2s linear infinite;
	}
	&[name=Downloading] {
		position: relative;
		background: url(https://clearvision.gitlab.io/icons/cloud_download.svg) no-repeat center/24px,
			linear-gradient(to bottom, $main-color, $main-color) no-repeat 50% 10px/10px 10px;
		animation: cv-update-downloading 2.5s ease-in-out infinite;
	}
	&[name=Update] {
		opacity: 1;
		filter: drop-shadow(0 0 5px $main-color);
		> g {	
			> path {
				display: none;
			}
		}
		%toolbarIconUpdateForeground {
			display: inline;
			fill: $main-color;
			d: path("M10,17L6.5,13.5L7.91,12.08L10,14.17L15.18,9L16.59,10.41M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z");
		}
	}
}