// APP NOTICE
%notice {
    border-radius: 3px;
    color: hsla(0, 0%, 100%, .7);
    &%noticeDefault {
        background-color: rgba(#f26522, .6);
    }
    &%noticePremium {
        background-color: rgba(#202225, .6);
    }
    &%noticeInfo {
        background-color: rgba(#4a90e2, .6);
    }
    &%noticeSuccess {
        background-color: rgba(#43b581, .6);
    }
    &%noticeDanger {
        background-color: rgba(#f04747, .6);
    }
    &%noticeStreamerMode {
        background-color: rgba($twitch-purple, .6);
    }
    &%noticeFacebook {
        background-color: rgba($facebook-blue, .6);
    }
    &%noticeSpotify {
        background-color: rgba($spotify-green, .6);
    }
    &%noticeBrand {
        background-color: rgba($discord-blurple, .6);
    }
    %noticeButton {
        background-color: hsla(0, 0%, 100%, .1);
        border: 1px solid transparent;
        color: #fff;
        transition: all .15s ease-in-out;
        mix-blend-mode: screen;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    %noticeDismiss {
        @include bg($img: url(https://clearvision.gitlab.io/icons/close.svg), $size: 18px, $pos: center);
        opacity: .5;
        transition: all .15s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}