// APP NOTICE
%notice {
    border-radius: 3px !important;
    color: hsla(0, 0%, 100%, .7);
    &%noticeDefault {
        background: rgba(#f26522, .6);
    }
    &%noticePremium {
        background: rgba(#202225, .6);
    }
    &%noticeInfo {
        background: rgba(#4a90e2, .6);
    }
    &%noticeSuccess {
        background: rgba(#43b581, .6);
    }
    &%noticeDanger {
        background: rgba(#f04747, .6);
    }
    &%noticeStreamerMode {
        background: rgba($twitch-purple, .6);
    }
    &%noticeFacebook {
        background: rgba($facebook-blue, .6);
    }
    &%noticeSpotify {
        background: rgba($spotify-green, .6);
    }
    &%noticeBrand {
        background: rgba($discord-blurple, .6);
    }
    %noticeButton {
        background: hsla(0, 0%, 100%, .1);
        border: 1px solid transparent;
        color: #fff;
        transition: all .15s ease-in-out;
        mix-blend-mode: screen;
        transform: translateZ(0);
        &:hover {
            background: #fff;
            color: #000;
        }
    }
    %noticeDismiss {
        background: url(https://clearvision.gitlab.io/icons/close.svg) center/18px no-repeat;
        opacity: .5;
        transition: all .15s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}