// STATUS
%status,
%avatarWrapper > %statusProfile,
%inviteStatus {
	box-shadow: 0 0 3px, 0 0 5px rgba(0, 0, 0, .5);
	transition: all .3s ease-in-out;
}
%status {
	border: none !important;
	%avatarSmall > & {
		margin-bottom: 2px;
	}
}
%statusProfile {
	margin-right: 1px;
	margin-bottom: 1px;
}
%statusOnline {
	background-color: $online-color;
	color: $online-color;
}
%statusIdle {
	background-color: $idle-color;
	color: $idle-color;
}
%statusDnd {
	background-color: $dnd-color;
	color: $dnd-color;
}
%statusOffline,
%statusInvisible {
	background-color: $offline-color;
	color: $offline-color;
}
%statusStreaming {
	background-color: $streaming-color;
	color: $streaming-color;
}