// TITLEBAR
%titlebarWin {
	height: 18px;
	width: 100vw;
	margin: 0;
	padding-top: 4px;
	background-color: rgba(0, 0, 0, .6);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .6);
	> %titlebarWordmark {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		opacity: 1;
		pointer-events: none;
		@include user-select(none);
		@include pseudo(after) {
			content: "ClearVision";
			margin-left: 3px;
			color: hsla(0, 0%, 100%, .7);
			font-size: 14px;
			font-weight: 600;
			white-space: nowrap;
		}
		> svg {
			> path {
				fill: $main-color;
			}
		}
	}
	> %titlebarWinButton {
		opacity: 1 !important;
		&:hover {
			background-color: hsla(0, 0%, 100%, .1);
		}
	}
	> %titlebarWinButtonClose {
		&:hover {
			background-color: $dnd-color;
		}
	}
}