// TITLEBAR WINDOWS
%titlebarWin {
	height: 18px;
	width: 100vw;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	background: rgba(0, 0, 0, .6);
	box-shadow: 0 0 20px rgba(0, 0, 0, .6);
	> %titlebarWordmark {
		position: static;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		pointer-events: none;
		user-select: none;
		order: 1;
		&:before,
		&:after {
			margin-left: 3px;
			font-weight: 600;
			white-space: nowrap;
			order: 1;
		}
		&:before {
			content: "#{$titlebar-text}";
			color: hsla(0, 0%, 100%, .7);
			font-size: 14px;
			text-shadow: 0 0 3px #000;
		}
		&:after {
			content: "#{$titlebar-version}";
			color: hsla(0, 0%, 100%, .3);
			font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
			font-size: 10px;
		}
		> svg {
			filter: drop-shadow(0 0 5px $main-color);
			> path {
				fill: $main-color;
			}
		}
	}
	> %titlebarWinButton {
		top: -2px;
		opacity: 1 !important;
		&:hover {
			background: hsla(0, 0%, 100%, .1);
		}
	}
	> %titlebarWinButtonClose {
		&:hover {
			background: $danger-color;
		}
	}
}

// TITLEBAR OSX
%titlebarMac {
	width: 70px;
	height: 48px;
	&%titlebarUnfocused {
		%titlebarMacButton {
			background: hsla(0, 0%, 100%, .7);
		}
	}
	> %titlebarMacButtons {
		padding: 0 10px;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	&:before,
	&:after {
		margin: 0 2px;
		font-size: 10px;
		order: 1;
	}
	&:before {
		content: "#{$titlebar-short}";
		color: $main-color;
		font-weight: 700;
		text-shadow: 0 0 3px;
	}
	&:after {
		content: "#{$version}";
		color: hsla(0, 0%, 100%, .3);
	}
}