// TOOLTIP
%tooltip {
	padding: 5px 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	border-radius: 3px;
	font-size: 13px;
	font-weight: 600;
	z-index: 3002;
	&%tooltipBlack,
	&%tooltipRed {
		background: $main-color;
		color: #fff;
		@each $e in Top, Right, Bottom, Left {
			&%tooltip#{$e} {
				&:after {
					border-#{$e}-color: $main-color;
				}
			}
		}
	}
	&%tooltipTop,
	&%tooltipBottom {
		animation: cv-menu-fold .15s cubic-bezier(.2, .6, .5, 1.1);
	}
	&%tooltipTop {
		transform-origin: 50% 100%;
	}
	&%tooltipBottom {
		transform-origin: 50% 0;
	}
	&%tooltipRight,
	&%tooltipLeft {
		animation: cv-menu-slide .15s cubic-bezier(.2, .6, .5, 1.1);
	}
	&%tooltipRight {
		transform-origin: 0 50%;
	}
	&%tooltipLeft {
		transform-origin: 100% 50%;
	}
}