// VERTICAL PRIVATE CHANNEL TABS
%privateChannel {
	display: inline;
	> a {
		position: relative;
	}
	> [href="/activity"],
	> [href="/library"],
	> [href="/store"],
	> [href="/channels/@me"] {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 5px 9px;
		&:after {
			right: 0 !important;
			animation: none !important;
		}
		> %privateChannelName {
			position: absolute;
			bottom: -33px;
			padding: 3px 7px;
			background-color: $main-color;
			border-radius: 3px;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
			color: #fff !important;
			font-size: 13px;
			font-weight: 600;
			overflow: visible;
			animation: cv-menu-fold-y .15s cubic-bezier(.2, .6, .5, 1.1);
			transform-origin: 0 0;
			z-index: 1;
			pointer-events: none;
			&:before {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				bottom: 100%;
				left: 50%;
				margin-left: -5px;
				border: 5px solid transparent;
				border-bottom-color: $main-color;
				pointer-events: none;
			}
		}
		&:not(:hover) {
			> %privateChannelName {
				display: none;
			}
		}
		> %privateChannelIcon {
			margin: 0;
		}
	}
}