// POPOUT BUTTON
%appPopoutButton {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  height: 48px;
  width: 48px;
}

// BACKGROUND
%appPopoutWrapper {
  background-color: cv('bg.general.popout');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
%appPopoutContainer {
  background-color: transparent;
}

// ITEM
%appPopoutItemLoading {
  background-color: transparent;
}
%appPopoutItem {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  &%appPopoutRowItem {
    background-color: transparent;
    &:hover,
    &:active {
      background-color: hsla(0, 0%, 100%, 0.07);
      border-radius: 3px;
    }
  }
}
%appPopoutRowItemUnderline {
  right: 4px;
}
%appPopoutViewMore {
  %textMediumMedium {
    color: $main-color !important;
  }
}

// APP DETAILS
%appPopoutDetails {
  background-color: transparent;
}
%appPopoutDetailsBackButton {
  background-color: hsla(0, 0%, 0%, 0.3);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.5);
  }
}
%appPopoutStickyBanner {
  visibility: hidden;
}
%appPopoutBanner {
  -webkit-mask: linear-gradient(to bottom, #000, transparent);
  mask: linear-gradient(to bottom, #000, transparent);
}
%appPopoutAppIcon {
  background-color: hsla(0, 0%, 0%, 0.3);
  border-color: transparent;
}
%appPopoutAppOverview,
%appPopoutAppOverviewWithVideo {
  background-color: transparent;
}
%appPopoutAppOverviewShowMore {
  %textSmallSemibold {
    color: $main-color !important;
  }
  path {
    fill: $main-color;
  }
}

// BOT APP DETAILS
%appPopoutDropdown {
  background-color: transparent;
}
%appPopoutCommandContainer {
  background-color: transparent;
}
%appPopoutCommand {
  background-color: transparent;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
}
%appPopoutTag {
  background-color: $main-color;
  path {
    fill: #fff;
  }
  %textSmallSemibold {
    color: #fff;
  }
}

// LEARN MORE
%appPopoutLearnMore {
  background-color: transparent;
}

// SEARCH
%appPopoutSearchItem {
  background-color: transparent;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 3px;
  }
}
%appPopoutSearchItemUnderline {
  right: 4px;
}
