/* EMOJI PICKER */

.drawerSizingWrapper__30274 {
  min-width: 430px;
}
.contentWrapper__321ed {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
// NAV BAR
.navButtonActive__735cb {
  background-color: $main-color;
}

%emojiPicker {
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 430px;
  border-radius: 0;
}
%emojiPickerHeader {
  background-color: rgba(0, 0, 0, 0.8);
}

// SEARCH BAR
%emojiPickerSearchBar {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin-top: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px $main-color;
    transition: all 0.15s ease-in-out;
    %popoutInput {
      color: #fff;
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}

// DIVERSITY SELECTOR
%emojiPickerDiversitySelectorPopout {
  border: none;
  padding: 2px;
  background-color: hsla(0, 0%, 0%, 0.8);
  %emojiPickerDiversityItem {
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.07);
    }
  }
}

// EMOJI ITEM
%emojiPickerCategoryHeaderWrapper {
  background-color: transparent;
  %emojiPickerCategoryHeader {
    color: #fff;
  }
}
%emojiPickerItem {
  border-radius: 3px;
  transition: all 0.15s ease-in-out, filter 0s;
  &%emojiPickerItemSelected {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  &%emojiPickerItemDisabled {
    filter: grayscale(1);
  }
}
%emojiPickerItemLoading {
  %themeDark & {
    background-image: none;
  }
}
%emojiPickerInspector {
  background-color: transparent;
}

// CATEGORIES
%emojiCategoryList {
  background-color: transparent;
}
%emojiCategoryItem {
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
  &%emojiCategoryItemSelected {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
}
%emojiCategoryItemIcon {
  color: hsla(0, 0%, 100%, 0.7);
  %emojiCategoryItemSelected & {
    color: #fff;
  }
}
%emojiCategoryGuildIcon {
  background-color: transparent;
}
%emojiCategoryUnicodeShortcut {
  background-color: $main-color;
  svg {
    color: hsla(0, 0%, 100%, 0.9);
  }
  &:hover {
    background-color: $hover-color;
    svg {
      color: #fff;
    }
  }
}

// NO NITRO
.premiumPromo__2d678 {
  background-color: hsla(0, 0%, 0%, 0.9);
}
.premiumPromoClose__11b8f {
  filter: brightness(0) invert(1);
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
}
.premiumPromoTitle__68b72 {
  color: #fff;
}
.premiumPromoTitle__68b72 {
  color: hsla(0, 0%, 100%, 0.7);
}
.notice-1Qe0b_ {
  background-color: transparent;
}
.upsell__780f6 {
  background-color: transparent;
}
.perks-2IIbWQ {
  background-color: transparent;
}
.perkRow-10K6XE {
  border-bottom: none;
}

// REACTIONS
.contentWrapper_eab878 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navButtonActive_b003de {
  background-color: $main-color;
}
