/* EMOJI PICKER *//*
%emojiPicker {
	background-color: rgba(0, 0, 0, .7);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);

	// SEARCH BAR
	%emojiPickerSearchBar {
		background-color: transparent;
		%emojiPickerSearchBarInner {
			position: relative;
			background-color: hsla(0, 0%, 100%, .07);
		}
		%emojiPickerSearchInput {
			color: #fff;
			&::placeholder {
				color: hsla(0, 0%, 100%, .3);
			}
		}
	}

	// DIVERSITY SELECTOR
	%emojiPickerDiversitySelector {
		margin: -2px 10px -2px -2px;
		padding: 2px;
		> %emojiPickerCategoriesItem {
			border-radius: 3px;
		}
		%emojiPickerCategoriesItem {
			transition: all .15s ease-in-out;
			&:hover {
				background-color: hsla(0, 0%, 100%, .07);
			}
		}
	}
	%emojiPickerDiversitySelectorPopout {
		margin: 0;
		background-color: hsla(0, 0%, 100%, .07);
		border: none;
	}

	// SCROLLER
	%emojiPickerStickyHeader {
		background-color: transparent;
		> %emojiPickerCategory {
			background-color: $main-color;
			border-radius: 0 0 5px 5px;
			color: #fff;
			+ %emojiPickerCategory {
				display: none;
			}
		}
	}
	%emojiPickerCategory {
		background-color: hsla(0, 0%, 100%, .07);
		border-radius: 5px;
		color: hsla(0, 0%, 100%, .7);
		text-align: center;
	}
	%emojiPickerScroller {
		%emojiPickerEmojiItem {
			border-radius: 3px;
			transition: all .15s ease-in-out, filter 0s;
			&%emojiPickerEmojiItemSelected  {
				background-color: hsla(0, 0%, 100%, .07);
			}
			&%emojiPickerEmojiItemDisabled  {
				filter: grayscale(1) blur(1px)  ;
				&%emojiPickerEmojiItemSelected  {
					filter: grayscale(1);
				}
			}
		}
	}

	// CATEGORIES
	%emojiPickerCategories {
		%emojiPickerCategoriesItem {
			border-bottom: 2px solid transparent;
			transition: all .15s ease-in-out;
			&:hover {
				background-color: $main-color;
				opacity: 1;
			}
			&%emojiPickerCategoriesItemSelected {
				border-bottom-color: $main-color;
			}
			&%emojiPickerCategoriesItemPeople {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiSmileys.svg);
			}
			&%emojiPickerCategoriesItemNature {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiNature.svg);
			}
			&%emojiPickerCategoriesItemFood {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiFood.svg);
			}
			&%emojiPickerCategoriesItemActivity {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiActivity.svg);
			}
			&%emojiPickerCategoriesItemTravel {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiTravel.svg);
			}
			&%emojiPickerCategoriesItemObjects {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiObject.svg);
			}
			&%emojiPickerCategoriesItemSymbols {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiSymbol.svg);
			}
			&%emojiPickerCategoriesItemFlags {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiFlags.svg);
			}   
			&%emojiPickerCategoriesItemCustom {
				background-image: url(https://clearvision.gitlab.io/icons/discord/emojiCustom.svg);
			}
		}
	}

	// PREMIUM PROMO
	%emojiPickerPremiumPromo {
		background-color: rgba(0, 0, 0, .85);
		%emojiPickerPremiumPromoClose {
			background: url(https://clearvision.gitlab.io/icons/close.svg) center/18px no-repeat;
			opacity: .3;
			transition: all .15s ease-in-out;
			&:hover {
				opacity: .7;
			}
		}
		%emojiPickerPremiumPromoImage {
			opacity: .7;
		}
		%emojiPickerPremiumPromoTitle {
			color: hsla(0, 0%, 100%, .7);
		}
		%emojiPickerPremiumPromoDescription {
			color: hsla(0, 0%, 100%, .5);
		}
	}
}
*/

.contentWrapper-SvZHNd {
	background-color: rgba(0, 0, 0, .7);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
	
//Nav bar active
.navButtonActive-1MkytQ {
	background-color: $main-color;
}

//Search bar
.searchBar-5di9mG {
	background-color: rgba(255, 255, 255, 0.05);
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.07);
	margin-top: 2px;
	&:focus-within {
		box-shadow: 0 0 2px 2px $main-color;
		transition: all .15s ease-in-out;
		.input-1Rv96N {
		color: #fff;
			&::placeholder {
			color: hsla(0, 0%, 100%, .3);
			}
		}
	}
}

// Diversity SELECTOR	
.diversitySelectorPopout-3FiGaM {
	border: none;
	padding: 2px;
	background-color: hsla(0, 0%, 0%, .5);
	.diversityEmojiItem-L6_IXw {
		border-radius: 3px;
		transition: all .15s ease-in-out;
		&:hover {
			background-color: hsla(0, 0%, 100%, .07);
		}
	}
}

//Scroller
.theme-dark .header-ywPcAE {
	background-color: transparent;
}
.emojiItem-14v6tW {
	border-radius: 3px;
	transition: all .15s ease-in-out, filter 0s;
	&.emojiItemSelected-1aLkfV  {
		background-color: hsla(0, 0%, 100%, .07);
	}
	&%emojiPickerEmojiItemDisabled  {
		filter: grayscale(1) blur(1px);
		&%emojiPickerEmojiItemSelected  {
			filter: grayscale(1);
		}
	}
}
.theme-dark .imageLoading-bpSr0M {
	background-image: none;
}

// Categories
.none-2Eo-qx::-webkit-scrollbar {
	width: 0px !important;
}
.wrapper-2Gsate {
	background-color: transparent;
	.categoryItemDefaultCategorySelected-_HCKoz,
	.guildIcon-3h-1IH {
		background-color: transparent;
		&:hover {
			background-color: hsla(0, 0%, 100%, .07);
		}
	}
}
.unicodeShortcut-15J8Ck {
	background-color: $main-color;
	svg {
		color: #fff;
		opacity: 0.7;
	}
	&:hover {
		background-color: $hover-color;
		svg {
			opacity: 1;
		}
	}
}

// Inspector
.inspector-S2gM3e {
	background-color: transparent;
}