/* EMOJI PICKER */
%emojiPickerSizer {
  min-width: 430px;
}
%emojiPickerWrapper {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
// NAV BAR
%emojiPickerNavButton {
  background-color: $main-color;
}

%emojiPicker {
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 430px;
  border-radius: 0;
}
%emojiPickerHeader {
  background-color: rgba(0, 0, 0, 0.8);
}

// SEARCH BAR
%emojiPickerSearchBar {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin-top: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px $main-color;
    transition: all 0.15s ease-in-out;
    %popoutInput {
      color: #fff;
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}

// DIVERSITY SELECTOR
%emojiPickerDiversitySelectorPopout {
  border: none;
  padding: 2px;
  background-color: hsla(0, 0%, 0%, 0.8);
  %emojiPickerDiversityItem {
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.07);
    }
  }
}

// EMOJI ITEM
%emojiPickerCategoryHeaderWrapper {
  background-color: transparent;
  %emojiPickerCategoryHeader {
    color: #fff;
  }
}
%emojiPickerItem {
  border-radius: 3px;
  transition: all 0.15s ease-in-out, filter 0s;
  &%emojiPickerItemSelected {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  &%emojiPickerItemDisabled {
    filter: grayscale(1);
  }
}
%emojiPickerItemLoading {
  %themeDark & {
    background-image: none;
  }
}
%emojiPickerInspector {
  background-color: transparent;
}

// CATEGORIES
%emojiCategoryList,
%emojiCategoryListWrapper {
  background-color: transparent;
}
%emojiCategoryItem {
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
  &%emojiCategoryItemSelected {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
}
%emojiCategoryItemIcon {
  color: hsla(0, 0%, 100%, 0.7);
  %emojiCategoryItemSelected & {
    color: #fff;
  }
}
%emojiCategoryGuildIcon {
  background-color: transparent;
}
%emojiCategoryUnicodeShortcut {
  background-color: $main-color;
  svg {
    color: hsla(0, 0%, 100%, 0.9);
  }
  &:hover {
    background-color: $hover-color;
    svg {
      color: #fff;
    }
  }
}

// NO NITRO
%emojiPickerPremiumPromo {
  background-color: hsla(0, 0%, 0%, 0.9);
}
%emojiPickerPremiumPromoClose {
  filter: brightness(0) invert(1);
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
}
%emojiPickerPremiumPromoTitle {
  color: #fff;
}
%emojiPickerPremiumUpsell {
  background-color: transparent;
}

// NITRO EXPIRING NOTICE
.premiumRetentionNotice__7e7c4 {
  background-color: hsla(0, 0%, 100%, 0.1);
}
