/* INBOX POPOUT */
%inboxContainer,
%messagesPopoutWrap {
    background-color: hsla(0, 0%, 0%, .8);
    animation: cv-menu-fold-y .2s cubic-bezier(.2, .6, .5, 1.1);
	transform-origin: 50% 0;
    border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
%inboxMentionsIcon {
    background-color: transparent;
    color: #fff;
}
%inboxHeader {
    background-color: transparent;
}

// TAB BAR
%themeDark {
	%inboxHeader {
		%inboxHeaderTabBar {
            %inboxHeaderTab {
                color: #fff;
                %inboxHeaderTabActive {
                    background-color: $main-color;
                }
                &:hover:not(%tabBarItemDisabled) {
                    color: hsla(0, 0%, 100%, .7);
                    background-color: hsla(0, 0%, 100%, .08);
                }
            }
        }
	}
}

// TUTORIAL
%inboxTutorial {
    background: rgba(0, 0, 0, 0.4);
}
%inboxTutorialIcon {
    background-color: var(--main-color);
    color: #fff;
}

// MESSAGES
%inboxChannel,
%inboxMessages {
	background: rgba(0, 0, 0, 0.4);
    padding-right: 10px;
    padding-left: 20px;
}
%inboxCollapseButton {
    padding-left: 9px;
}
%inboxJumpButton {
	background-color: var(--main-color);
	%inboxJumpButtonText {
        color: #fff;
    }
    &:hover {
        background-color: var(--hover-color);
        %inboxJumpButtonText {
            color: #fff;
        }
    }
}