/* MESSAGE OPTIONS POPOUT */
%popoutLayer {
	%messageOptions {
		border: 1px solid transparent;
		background: rgba(0, 0, 0, .5);
		box-shadow: 0 0 10px rgba(0, 0, 0, .3);
		animation: cv-menu-fold-y .2s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 50% 0;
		%popoutItem {
			background: transparent !important;
			color: hsla(0, 0%, 100%, .4);
			transition: all .15s ease-in-out;
			&:hover {
				color: hsla(0, 0%, 100%, .7);
			}
		}
	}
}