// VC ACTIVITY STATUS POPOUT
%vcActivityPopout,
%vcSetActivityPopout {
  background-color: cv('bg.general.popout');
}
%vcSetActivityPopoutIcon {
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: hsla(0, 0%, 100%, 0.09);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-color: $hover-color;
  }
}
%vcSetActivityPopoutButton {
  background-color: $main-color;
  border-color: transparent;
  &:hover {
    background-color: $hover-color;
    border-color: transparent;
  }
}

// LEAVE SERVER REASON
%serverLeave {
  background-color: transparent;
}
%serverLeaveOption {
  color: #fff;
  background: hsla(0, 0%, 100%, 0.03);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-top: none;
  &:first-child {
    border-top: 1px solid hsla(0, 0%, 100%, 0.05);
  }
  &:hover {
    background: hsla(0, 0%, 100%, 0.06);
  }
}

// NITRO PROFILE PICTURE UPSELL
/*right popout*/
%sidebarPFPUpsell {
  background: var(--background-overlay);
  border-left: 5px solid $main-color;
}
