/* Region Selector */

%themeDark %regionSelectPopout {
  background-color: cv('bg.general.popout');

  %regionSelectPopoutOption {
    background-color: transparent;
    border: none;
    //box-shadow: 0 0 0 2px rgba(255,255,255,0.07);
    &.selected {
      background-color: $main-color;
    }
    &:hover {
      //box-shadow: 0 0 2px 2px $hover-color;
      background-color: $hover-color;
    }

    %regionSelectName {
      color: #fff;
    }
  }
}
