/* STATUS PICKER */
%popoutAnimatorTop {
	%guildHeaderPopout {
		margin-left: -10px;
	}
}

.colorDefault-2K3EoJ.focused-3afm-j#status-picker-online {background: var(--online-color);}
.colorDefault-2K3EoJ.focused-3afm-j#status-picker-idle {background: var(--idle-color);}
.colorDefault-2K3EoJ.focused-3afm-j#status-picker-dnd {background: var(--dnd-color);}
.colorDefault-2K3EoJ.focused-3afm-j#status-picker-invisible {background: var(--offline-color);}
.colorDefault-2K3EoJ.focused-3afm-j {transition: all .15s ease-in-out;}
