/* STATUS PICKER */
%popoutAnimatorTop {
	%menuPopout {
		margin-left: -10px;
	}
}
%menuPopoutItem {
	&#status-picker-online {
		&:not(%menuPopoutItemHover) {
			%statusPickerIcon {
				background-color: var(--online-color) !important;
			}
		}
		&%menuPopoutItemHover {
			background-color: var(--online-color);
		}
	}
	&#status-picker-idle {
		&:not(%menuPopoutItemHover) {
			%statusPickerIcon {
				background-color: var(--idle-color) !important;
			}
		}
		&%menuPopoutItemHover {
			background-color: var(--idle-color);
		}
	}
	&#status-picker-dnd {
		&:not(%menuPopoutItemHover) {
			%statusPickerIcon {
				background-color: var(--dnd-color) !important;
			}
		}
		&%menuPopoutItemHover {
			background-color: var(--dnd-color);
		}
	}
	&#status-picker-invisible {
		&:not(%menuPopoutItemHover) {
			%statusPickerIcon {
				background-color: var(--offline-color) !important;
			}
		}
		&%menuPopoutItemHover {
			background-color: var(--offline-color);
		}
	}
}