/* STATUS PICKER */
%popoutLayer {
	%statusPicker {
		margin-left: -8px;
		background: rgba(0, 0, 0, .7);
	}
}
%statusPicker {
	> %guildHeaderPopoutItem {
		position: relative;
		display: flex;
		justify-content: center;
		%statusPickerText {
			position: absolute;
			%statusDnd,
			%statusInvisible {
				+ div {
					color: hsla(0, 0%, 100%, .7);
					opacity: 1;
					transition: all .15s ease-in-out;
				}
			}
		}
		%statusPickerStatusInner {
			&[style*="rgb(67, 181, 129)"] {
				background: cv("colors.online") !important;
			}
			&[style*="rgb(250, 166, 26)"] {
				background: cv("colors.idle") !important;
			}
			&[style*="rgb(240, 71, 71)"] {
				background: cv("colors.dnd") !important;
			}
			&[style*="rgb(116, 127, 141)"] {
				background: cv("colors.offline") !important;
			}
		}
		%statusPickerHelper {
			min-height: 18px;
			color: hsla(0, 0%, 100%, .7);
			opacity: 0;
			transition: all .15s ease-in-out;
		}
		&:hover {
			&:nth-child(4),
			&:nth-last-child(2) {
				%statusPickerText > div {
					opacity: 0;
				}
			}
			%statusPickerHelper {
				opacity: 1;
			}
		}
	}
}