/* STICKERS */

// SEARCH
.container-1SX9VC {
    background-color: hsla(0, 0%, 100%, .07);
    border: none;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .09);
    margin-top: 2px;
    &:focus-within {
        box-shadow: 0 0 2px 2px $main-color;
        transition: all .15s ease-in-out;
    }
    .input-2FSSDe {
        color: #fff;	
        &::placeholder {
            color: hsla(0, 0%, 100%, .3);
        }
    }
}

// CATEGORY
.wrapper-22rqw6 {
    background-color: transparent;
}
.stickerCategory-2f6iSo {
    color:  hsla(0, 0%, 100%, .7);
	&:hover {
		background-color: hsla(0, 0%, 100%, .07);
		border-radius: 4px;		
	}
}
.stickerCategorySelected-2uaMAG, 
.stickerCategorySelected-2uaMAG:hover {
    background-color: $main-color;
    color: #fff
}

// PICKER
.upsellContent-1ppSei {
    background-color: hsla(0, 0%, 0%, .8);
}
.row-2mBMW2 {
    column-gap: 8px !important;
}
.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
	background-color: $main-color;
}

// SUGGESTION
%themeDark .containerBackground-Ang24O {
    opacity: 1;
    background-color: hsla(0, 0%, 0%, .8);
    border: none;
}
