/* STICKERS */

// SEARCH
.container-2XeR5Z {
    background-color: hsla(0, 0%, 100%, .07);
    border: none;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .09);
    margin-top: 2px;
    &:focus-within {
        box-shadow: 0 0 2px 2px $main-color;
        transition: all .15s ease-in-out;
    }
    .input-1Rv96N {
        color: #fff;	
        &::placeholder {
            color: hsla(0, 0%, 100%, .3);
        }
    }
}

// CATEGORY
.wrapper-2Gsate {
    background-color: transparent;
}
.stickerCategory-3Yz7vN {
    color:  hsla(0, 0%, 100%, .7);
	&:hover {
		background-color: hsla(0, 0%, 100%, .07);
		border-radius: 4px;		
	}
}
.stickerCategorySelected-2uaMAG, .stickerCategorySelected-2uaMAG:hover {
    background-color: $main-color;
    color: #fff
}

// PICKER
.upsell-voV9AC {
    background-color: transparent;
}
.row-2psonc {
    column-gap: 8px !important;
}
.stickerInspected-2EM4w- .inspectedIndicator-59EII8 {
	background-color: $main-color;
}

// SUGGESTION
%themeDark .containerBackground-LlUax5 {
    opacity: 1;
    background-color: hsla(0, 0%, 0%, .8);
    border: none;
}