/* THREADS POPOUT */
%popoutLayer %threadsPopoutContainer {
  background-color: cv('bg.general.popout');
  animation: cv-menu-fold-y 0.2s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  transform-origin: 50% 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
%threadsSearch {
  background: hsla(0, 0%, 100%, 0.07);
  &::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
  }
}
%threadsPopoutHeader {
  background-color: transparent;
}
%threadsPopoutIcon {
  background-color: $main-color;
  color: #fff;
}
