// Force bounding box to layer parent
%fullMotion %popoutTranslate:has(%userPopoutOuter) {
  transform: unset !important;
  position: relative;
  z-index: 0;
}
/* USER POPOUT */
%userPopoutOuter {
  &%userProfileOuterUnthemed {
    background: transparent;
    %userPopoutInner {
      background: cv('bg.popout.overlay');
    }
    %userPopoutOverlayBackground {
      background-color: hsla(0, 0%, 0%, 0.4);
    }
    &:not(%userPopoutCustomizationPreview) {
      %userPopoutInner {
        &::before {
          content: '';
          position: absolute;
          @include stretch;
          background: cv('bg.popout.img') cv('bg.popout.pos') / cv('bg.popout.size') cv('bg.popout.repeat') cv('bg.popout.attach');
          @include filters(cv('bg.popout'));
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
    }
  }
  %popoutAnimatorLeft > & {
    transform-origin: 100% 50%;
  }

  // BANNER
  %userProfileBanner {
    -webkit-mask: linear-gradient(to bottom, #000, transparent 93%);
    mask: linear-gradient(to bottom, #000, transparent 93%);
    &[style*='background-image'] {
      -webkit-mask: linear-gradient(to bottom, #000 50%, transparent);
      mask: linear-gradient(to bottom, #000 50%, transparent);
    }
  }
}
%userPopoutProfileBadges {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// STATUS BUBBLE
%userProfileOuterUnthemed {
  %userProfileStatusBubbleOuter {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-color: transparent;
    &::before {
      background-color: hsla(0, 0%, 0%, 0.6);
      border-color: transparent;
      border-radius: 16px 16px 0 0;
      height: 8.5px;
    }
    &::after {
      background-color: hsla(0, 0%, 0%, 0.6);
      border-color: transparent;
    }
  }
  %userProfileStatusBubble {
    background-color: transparent;
  }
}

// ACTIVITY
%userPopoutActivity {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%userPopoutActivityButton {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
}

// NOTE
%userPopoutNote {
  textarea:focus {
    background-color: rgba(255, 255, 255, 0.07);
  }
}

// BOTTOM LEFT PROFILE
%userPopoutOuter {
  %userPopoutMenu {
    background-color: transparent;
  }
}
