//Voice Channel listening to or playing x game
%voiceChannelListening {
  background: rgba(0, 0, 0, 0.8);
}
%voiceChannelListeningIcon {
  background: $main-color;
  %textSmallNormal {
    color: #fff !important;
  }
  > svg {
    color: #fff;
  }
}
