//Voice Channel listening to or playing x game
%voiceChannelListening {
  background: cv('bg.general.popout');
  backdrop-filter: blur(1px);
}
%voiceChannelListeningIcon {
  background: $main-color;
  > svg {
    color: #fff;
  }
}
