//Voice Channel listening to or playing x game
.container-2dqNWc {
	background-color: rgba(0,0,0,0.8);
}
.button-uXr0L2 {
	&:hover {
		background-color: var(--hover-color);
		border-color: var(--main-color)!important;
	}
}
.iconButton-285DXF {
	&:hover {
		background-color: var(--hover-color);
		border-color: var(--main-color)!important;
	}
}