//Voice Channel listening to or playing x game
.container-8Futzw {
  background-color: rgba(0, 0, 0, 0.8);
}
.button-1Ofqs0 {
  &:hover {
    background-color: var(--hover-color);
    border-color: var(--main-color) !important;
  }
}
.iconButton-285DXF {
  &:hover {
    background-color: var(--hover-color);
    border-color: var(--main-color) !important;
  }
}