//Voice Channel listening to or playing x game
.container__56cd1 {
  background-color: rgba(0, 0, 0, 0.8);
}
.button__6ac9e {
  &:hover {
    background-color: var(--hover-color);
    border-color: var(--main-color) !important;
  }
}
.iconButton-285DXF {
  &:hover {
    background-color: var(--hover-color);
    border-color: var(--main-color) !important;
  }
}
