// KEYBOARD SHORTCUTS MODAL
%appMount {
    %keybindShortcut {
        > span {
            background-color: transparent;
            border: 1px solid var(--hover-color);
            border-radius: 3px;
            box-shadow: inset 0 -4px 0 var(--main-color);
            color: hsla(0, 0%, 100%, .7);
            transition: all .15s ease-in-out;
            &:hover {
                background-color: var(--hover-color);
                color: #fff;
            }
            &:active {
                border: 1px solid var(--hover-color);
                box-shadow: inset 0 -2px 0 var(--main-color);
                color: #fff;
            }
        }
    }
}