// USER PROFILE MODAl
%userModal {
	@include pseudo(before) {
		content: "";
		position: absolute;
		@include stretch;
		margin: calc(-2 * (#{$bg-blur} + 3px));
		@include bg($img: $bg-img, $pos: center, $size: cover, $attach: fixed);
		filter: blur(calc(#{$bg-blur} + 3px));
		z-index: -1;
	}
	> %userModalBody {
		background: rgba(0, 0, 0, .7);
	}
	> %userModalTopSection {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6));
	}
	> %userModalTopSectionStreaming {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), rgba($twitch-purple, .4);
	}
	> %userModalTopSectionSpotify {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), rgba($spotify-green, .4);
	}
	> %userModalTopSectionXbox {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), rgba($xbox-green, .4);
	}
}
%userModalAdditionalActionsIcon {
	width: 24px;
	height: 24px;
	@include bg($img: url(https://zerthox.github.io/ClearVision/icons/expand_more.svg), $pos: center, $size: 36px, $repeat: no-repeat);
	opacity: .3;
	transition: all .15s ease-in-out;
	&:hover {
		opacity: .7;
	}
}
%userModalHeaderFill {
	background: rgba(0, 0, 0, .04);
	> %activity{
		%activityHeaderText {
			color: hsla(0, 0%, 100%, .7);
		}
	}
}

// PROFILE BADGES
%profileBadge {
	opacity: .7;
	transition: all .15s ease-in-out;
	&:hover {
		opacity: 1;
	}
}
%profileBadgeStaff {
    background-image: url(https://discordapp.com/assets/4358ad1fb423b346324516453750f569.svg);
}
%profileBadgePartner {
    background-image: url(https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg);
}
%profileBadgeHypeSquad {
    background-image: url(https://discordapp.com/assets/6c73f47daf179ffade99f501bfc5101b.svg);
}
%profileBadgeHypeSquadHouse1 {
    background-image: url(https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg);
}
%profileBadgeHypeSquadHouse2 {
    background-image: url(https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg);
}
%profileBadgeHypeSquadHouse3 {
    background-image: url(https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg);
}
%profileBadgeHypeSquadHouse3KOH {
    background-image: url(https://discordapp.com/assets/6481784048fd484e77e63dcc9c2c34cb.svg);
}
%profileBadgeEarlySupporter {
    background-image: url(https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg);
}
%profileBadgePremium {
    background-image: url(https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg);
}
%profileBadgeBugHunter {
    background-image: url(https://discordapp.com/assets/f61b8981e92feead854f52e5a1ba14f0.svg);
}

// TAB BAR
%userModalTabBarContainer {
	border-color: hsla(0, 0%, 100%, .04);
}
%userModalTabBar {
	> %tabBarItem {
		color: hsla(0, 0%, 100%, .5) !important;
		transition: all .2s ease-in-out;
		&:hover {
			color: hsla(0, 0%, 100%, .7) !important;
			border-color: hsla(0, 0%, 100%, .7) !important;
		}
		&%tabBarItemSelected {
			border-color: $main-color !important;
			color: $main-color !important;
		}
	}
}

// BODY
%userModalBody {
	%userModalInfoSection {
		+ %userModalInfoSection {
			border-color: hsla(0, 0%, 100%, .04);
		}
		> %userModalInfoSectionHeader {
			color: hsla(0, 0%, 100%, .7);
		}
		> %userModalNote {
			> textarea {
				background-color: transparent;
				color: hsla(0, 0%, 100%, .8);
				&:focus {
					background-color: transparent;
				}
				&::-webkit-input-placeholder {	
					color: hsla(0, 0%, 100%, .5);
				}
			}
		}
	}
}
%userModalConnectedAccounts {
	> %userModalConnectedAccount {
		background-color: hsla(0, 0%, 100%, .04);
		border-color: transparent;
	}
}
%userModalConnectedAccountVerifiedIcon {
	@include bg($img: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/verified.svg), $pos: center, $size: 18px, $repeat: no-repeat);
    opacity: .5;
	> g {
		display: none;
	}
}
%userModalConnectedAccountOpenIcon {
	@include bg($img: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/popout.svg), $pos: center, $size: 18px, $repeat: no-repeat);
	opacity: .3;
	transition: all .15s ease-in-out;
	&:hover {
		opacity: .7;
	}
}
%userModalEmptyIcon {
	filter: grayscale(1) brightness(2);
	opacity: .3;
}
%userModalEmptyText {
	color: hsla(0, 0%, 100%, .3);
}