// CUSTOM FUNCTIONS
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}
@function str-classify($string) {
    @each $e in " ", "(", ")", "/", "+", "#", "'", "." {
        $string: str-replace($string, $e);
    }
    @return $string;
}

// LANGUAGE MAP
$languages: (
    "1c": "1c",
    "ABNF": "abnf",
    "Access Log": "accesslog",
    "ActionScript": ("actionscript", "as"),
    "Ada": "ada",
    "Apache": ("apache", "apacheconf"),
    "Applescript": ("applescript", "osascript"),
    "Arduino": "arduino",
    "ARM Assembly": ("armasm", "arm"),
    "AsciiDoc": ("asciidoc", "adoc"),
    "AspectJ": "aspectj",
    "Atom Feed (XML)": "atom",
    "AutoHotkey": ("autohotkey", "ahk"),
    "AutoIt": "autoit",
    "AVR Assembler": "avrasm",
    "Awk": "awk",
    "Axapta": "axapta",
    "Bash": ("bash", "sh", "zsh"),
    "Basic": "basic",
    "Batch": ("dos", "bat", "cmd"),
    "BNF": "bnf",
    "Brainfuck": "brainfuck",
    "C/C++": ("c", "cc", "cpp", "h", "hpp"),
    "C#": ("cs", "csharp"),
    "CAL": "cal",
    "Cap'n Proto": ("capnproto", "capnp"),
    "Ceylon": "ceylon",
    "Clean": ("clean", "icl", "dcl"),
    "Clojure": ("clojure", "clj"),
    "Clojure REPL": "clojure-repl",
    "CMake": "cmake",
    "CoffeeScript": ("coffeescript", "coffee", "cson", "iced"),
    "Coq": "coq",
    "Caché Object Script": ("cos", "cls"),
    "CocoaPod": "podspec",
    "crmsh": ("crmsh", "crm", "pcmk"),
    "Crystal": ("crystal", "cr"),
    "CSP": "csp",
    "CSS": "css",
    "D": "d",
    "Dart": "dart",
    "Delphi (Object Pascal)": ("delphi", "dfm", "dpr"),
    "Diff": ("diff", "patch"),
    "Django": ("django", "jinja"),
    "DNS Zone File": "dns",
    "Dockerfile": ("dockerfile", "docker"),
    "dsconfig": "dsconfig",
    "Device Tree": "dts",
    "Dust": ("dust", "dst"),
    "EBNF": "ebnf",
    "Elixir": "elixir",
    "Elm": "elm",
    "ERB": "erb",
    "Erlang": ("erlang", "erl"),
    "Erlang REPL": "erlang-repl",
    "Excel": ("excel", "xls", "xlsx"),
    "F#": ("fs", "fsharp"),
    "Fix": "fix",
    "Flix": "flix",
    "Fortran": ("fortran", "f90", "f95"),
    "GAMS": ("gams", "gms"),
    "Gauss": ("gauss", "gss"),
    "G-code": ("gcode", "nc"),
    "Gherkin": ("gherkin", "feature"),
    "GLSL": "glsl",
    "Go": ("go", "golang"),
    "Golo": "golo",
    "Gradle": "gradle",
    "Groovy": "groovy",
    "Haml": "haml",
    "Handlebars": ("handlebars", "hbs"),
    "Haskell": ("haskell", "hs"),
    "Haxe": ("haxe", "hx"),
    "HSP": "hsp",
    "HTML": "html",
    "HTMLBars": "htmlbars",
    "HTTP": "http",
    "HTTPS": "https",
    "Hy": ("hy", "hylang"),
    "Inform7": ("inform7", "i7"),
    "Ini": ("ini", "toml"),
    "IRPF90": "irpf90",
    "Java": ("java", "jsp"),
    "JavaScript (Babel)": ("javascript", "js", "jsx"),
    "JAXB (XML)": "xjb",
    "JBoss CLI": ("jboss-cli", "wildfly-cli"),
    "JSON": "json",
    "Julia": "julia",
    "Julia REPL": "julia-repl",
    "Kotlin": "kotlin",
    "Lasso": ("lasso", "lassoscript", "ls"),
    "LDIF": "ldif",
    "Leaf": "leaf",
    "Less": "less",
    "Lisp": "lisp",
    "LiveCode Server": "livecodeserver",
    "LiveScript": ("livescript", "ls"),
    "LLVM IR": "llvm",
    "LSL": "lsl",
    "Lua": "lua",
    "Makefile": ("makefile", "mk", "mak"),
    "Markdown": ("markdown", "md", "mkd", "mkdown"),
    "Mathematica": ("mathematica", "mma"),
    "MatLab": "matlab",
    "Maxima": "maxima",
    "MEL": "mel",
    "Mercury": ("mercury", "m", "moo"),
    "MISP Assembly": ("mipsasm", "mips"),
    "Mikrotik RouterOS": ("routeros", "mikrotik"),
    "Mizar": "mizar",
    "Mojolicious": "mojolicious",
    "Monkey": "monkey",
    "MoonScript": ("moonscript", "moon"),
    "N1QL": "n1ql",
    "Nginx": ("nginx", "nginxconf"),
    "Nimrod": ("nimrod", "nim"),
    "Nix": ("nix", "nixos"),
    "NSIS": "nsis",
    "Objective-C": ("objectivec", "objc", "obj-c", "mm"),
    "OCaml": ("ocaml", "ml"),
    "OpenSCAD": ("openscad", "scad"),
    "Oracle Rules Language": "ruleslanguage",
    "Oxygene": "oxygene",
    "Parser3": "parser3",
    "Pascal/Object Pascal": ("pascal", "pas", "freepascal", "lazarus", "lfm", "lpr"),
    "Perl": ("perl", "pl", "pm"),
    "PF": "pf",
    "PHP": ("php", "php3", "php4", "php5", "php6"),
    "Pony": "pony",
    "PowerShell": ("powershell", "ps"),
    "Processing": "processing",
    "Prolog": "prolog",
    "Property List": "plist",
    "Protocol Buffers": "protobuf",
    "Puppet": ("puppet", "pp"),
    "PureBASIC": ("purebasic", "pb", "pbi"),
    "Python": ("python", "py", "gyp"),
    "Python profile": "profile",
    "Q": ("q", "k", "kdb"),
    "QML": ("qml", "qt"),
    "R": "r",
    "RenderMan RIB": "rib",
    "RenderMan RSL": "rsl",
    "Roboconf": ("roboconf", "graph", "instances"),
    "RSS Feed (XML)": "rss",
    "Ruby": ("ruby", "rb"),
    "Thor": "thor",
    "IRB": "irb",
    "Ruby Gem": "gemspec",
    "Rust": ("rust", "rs"),
    "Scala": "scala",
    "Scheme": "scheme",
    "Scilab": ("scilab", "sci"),
    "SCSS": "scss",
    "Shell": ("shell", "console"),
    "Smali": "smali",
    "Smalltalk": ("smalltalk", "st"),
    "SML": ("sml", "ml"),
    "SQF": "sqf",
    "SQL": "sql",
    "Stan": "stan",
    "Stata": ("stata", "do", "ado"),
    "STEP Part 21": ("step21", "step", "stp", "p21"),
    "Stylus": ("stylus", "styl"),
    "SubUnit": "subunit",
    "Swift": "swift",
    "Tagger Script": "taggerscript",
    "TAP": "tap",
    "Tcl": ("tcl", "tk"),
    "TeX": "tex",
    "Thrift": "thrift",
    "TP": "tp",
    "Twig": ("twig", "craftcms"),
    "TypeScript": ("typescript", "ts"),
    "Vala": "vala",
    "VB.NET": ("vbnet", "vb"),
    "VBScript": ("vbscript", "vbs"),
    "VBScript HTML": "vbscript-html",
    "Verilog": ("verilog", "v", "sv", "svh"),
    "VHDL": "vhdl",
    "Vim Script": "vim",
    "x86 Assembly": "x86asm",
    "XL": ("xl", "tao"),
    "XQuery": ("xquery", "xq" "xpath"),
    "YAML": ("yaml", "yml"),
    "XHTML": "xhtml",
    "XML": "xml",
    "XML Schema": "xsd",
    "XSL": "xsl",
    "Zephir": ("zephir", "zep")
);

// OUTPUT
%messageGroup .hljs {
    @each $l in map-keys($languages) {
        &%t#{str-classify($l)} {
            @include pseudo(before) {
                content: "#{$l}";
            }
        }
        @each $e in map-get($languages, $l) {
            &[class~="#{$e}" i] {
                @extend %t#{str-classify($l)};
            }
        }
    }
}