// CODEBLOCK
%messageGroup %markup code {
    &%codeInline {
        background-color: hsla(0, 0%, 100%, .1);
        color: hsla(0, 0%, 100%, .7);
        padding: 3.5px 7.5px;
        border-radius: 3px;
        line-height: 22px;
        & + pre {
            margin-top: -1px;
        }
    }
}
%codePre {
    max-width: 93%;
    @include clear;
    border-width: 2px;
    border-color: transparent !important;
    padding: 0;
}
%codeHLJS {
    position: relative;
    padding: 6px !important;
    background-color: rgba(0, 0, 0, .42) !important;
    color: hsla(0, 0%, 100%, .7) !important;
    border-radius: 5px;
    @include pseudo(before) {
        display: block;
        float: right;
        height: 10px;
        color: hsla(0, 0%, 100%, .3);
        text-align: right;
        line-height: 10px;
        pointer-events: none;
    }
}