// INVITE LINK
%messageGroup %inviteWrapper {
    background-color: rgba(0, 0, 0, .4);
    border-color: transparent;
    %inviteTitle {
        color: hsla(0, 0%, 100%, .5);
    }
    %inviteGuildName{
        color: $main-color;
        @include hover-shadow;
    }
    %inviteGuildNameExpired {
        color: $dnd-color;
    }
    %inviteGuildIconExpired {
        position: relative;
        background-size: 0;
        background-color: hsla(0, 0%, 100%, .04);
        @include pseudo(before, after) {
            content: "";
            position: absolute;
            top: 10%;
            bottom: 10%;
            left: 50%;
            width: 6px;
            background-color: $dnd-color;
            border-radius: 1px;
        }
        @include pseudo(after) {
            transform: translateX(-50%) rotate(45deg);
        }
        @include pseudo(before) {
            transform: translateX(-50%) rotate(-45deg);
        }
    }
    %inviteGuildDetail {
        padding-left: 1px;
        margin-left: -1px;
        color: hsla(0, 0%, 100%, .3);
    }
    %inviteStatusOnline {
        background-color: $online-color;
    }
    %inviteStatusOffline {
        background-color: $offline-color;
    }
    %inviteButton{
        border-color: transparent;
    }
    %inviteButtonAccept {
        background-color: transparent;
        border: 1px solid $online-color;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: $online-color;
        }
    }
    %inviteButtonJoined {
        background-color: hsla(0, 0%, 100%, .1);
        border-color: transparent;
        opacity: .3;
        cursor: default;
    }
    %inviteButtonExpired {
        background-color: transparent;
        border: 1px solid $dnd-color;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: $dnd-color;
        }
    }
}