// MENTIONS
%markup {
	> %mention,
	> %roleMention {
		padding: 1px 4px;
		border-radius: 5px;
		line-height: 22px;
		transition: all .15s ease-in-out;
		white-space: nowrap;
		cursor: pointer;
	}
}
%markup > %mention {
	background-color: hsla(0, 0%, 100%, .04);
	color: hsla(0, 0%, 100%, .7);
	&:hover {
		background-color: var(--main-color);
		color: #fff;
	}
}
%mentioned %markup > %roleMention {
	padding: 0;
	@include clear;
	color: var(--main-color);
	@include hover-shadow;
	&:hover {
		color: var(--main-color);
	}
}