// MENTIONS
%markup > %mention {
	padding: 1px 4px;
	background-color: hsla(0, 0%, 100%, .04);
	color: hsla(0, 0%, 100%, .7);
	line-height: 22px;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	white-space: nowrap;
	cursor: pointer;
	&:hover {
		background-color: var(--main-color);
		color: #fff;
	}
}
%mentioned %markup > %roleMention {
	padding: 0;
	@include clear;
	color: var(--main-color);
	@include hover-shadow;
	&:hover {
		color: var(--main-color);
	}
}