// MESSAGE
%messagesWrapper {
	@include clear;
}
%messageGroup {
	%avatarLarge {
		transition: all .3s ease-in-out, transform .1s ease-in-out;
		&:active {
			@include transform(scale(.9));
		}	
	}
	%dividerEnabled {
		border-bottom-color: hsla(0, 0%, 100%, .04);
	}
	%messageContent {
		line-height: 1em;
	}
	%messageTimestamp {
		color: hsla(0, 0%, 100%, .3);
		transition: all .3s ease-in-out;
	}
	&:hover {
		%messageTimestamp {
			color: hsla(0, 0%, 100%, .7);
		}
	}
	%message {
		a,
		%anchor {
			color: var(--main-color);
			@include hover-shadow;
		}
	}
	%mentioned {
		background-color: hsla(0, 0%, 100%, .1);
		@include pseudo(after) {
			background: hsla(0, 0%, 100%, .1);
			border-left: 4px solid var(--main-color);
			border-radius: 2px 0 0 2px;
		}
	}
	%operations {
		color: hsla(0, 0%, 100%, .3);
	}
}