/*Shiki code blocks*/
.shiki-plain {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.2)) !important;
}

.shiki-container {
  background: rgba(0, 0, 0, 0.2) !important;
}

.shiki-btn {
  background-color: $main-color !important;
  border-radius: 4px !important;
  right: 4px !important;
  bottom: 4px !important;
}

.shiki-btn:hover {
  background-color: $hover-color !important;
  transition: ease-in-out 0.2s;
}

/*Spotify controls*/
%themeDark #vc-spotify-player {
  background: transparent;
}

#vc-spotify-player {
  border-top: 1px solid var(--background-modifier-accent);
}

#vc-spotify-player:hover [class^='barFill__'] {
  background-color: $hover-color;
  border-color: $hover-color;
  color: $hover-color;
}

#vc-spotify-progress-bar:hover > [class^='slider'] [class^='grabber'] {
  background-color: $hover-color;
  border-color: $hover-color;
  color: $hover-color;
}

#vc-spotify-progress-bar > [class^='slider'] [class^='grabber'] {
  background-color: $main-color;
  border-color: $main-color;
  color: $main-color;
  margin-top: 5px;
}

// SHOW HIDDEN CHANNELS
// SHOW HIDDEN CHANNELS
.shc-lock-screen-allowed-users-and-roles-container {
  background-color: rgba(0, 0, 0, 0.8);
}

.shc-lock-screen-allowed-users-and-roles-container button {
  background: transparent;
  color: #fff;
  border-radius: 10px;
  z-index: 10;
  &:hover {
    background: $hover-color;
    color: #fff;
    border-radius: 10px;
    z-index: 10;
  }
}

.shc-lock-screen-container {
  background: transparent;
}

.shc-lock-screen-allowed-users-and-roles-container %emptyChannelRole {
  position: relative;
  background-color: transparent;
  %emptyChannelRoleColor {
    z-index: -1;
  }
  &:hover {
    background-color: $hover-color;
  }
}

.scroller_ccc074 {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Summaries in chat BETA */
.topicsPillContainer__2c107 {
  background: rgba(0, 0, 0, 0.6);
}
.topicsPillContainer__2c107:hover {
  background: rgba(0, 0, 0, 0.8);
}
.newTopicsBarContainer__8c1e3 {
  background-color: $main-color;
  opacity: 0.5;
}
.topicsPillCaret__46c3b {
  background: $main-color;
  color: #fff;
}
.topicsPillCaret__46c3b:hover {
  background: $hover-color;
  color: #fff;
}
.topicsPillTextSelected__717ea {
  background: rgba(0, 0, 0, 0.8);
}
.topicsDropdownHeading__6fa9b {
  background: rgba(0, 0, 0, 0.8);
}
.topicsScroller__64e73 {
  background: rgba(0, 0, 0, 0.8);
}
.container_df5675:hover {
  background: rgba(0, 0, 0, 0.8);
}
.thumbIcon__954fb {
  color: #fff;
  background: $main-color;
}
.summaryFeedbackWrapper_a4b82f {
  display: none;
}
.summaryEndIcon__71ddc {
  color: $main-color;
  background: transparent;
  margin-right: 93.5%;
  width: 2.5rem;
  height: 3rem;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: auto;
}
.summaryStartIcon_f4a16a {
  color: $main-color;
  width: 2.5rem;
  height: 3rem;
  font-weight: 900;
  margin-left: 42px;
}
