/*Shiki code blocks*/
.shiki-plain {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.2)) !important;
}
.shiki-container {
  background: rgba(0, 0, 0, 0.2) !important;
}
.shiki-btn {
  background-color: $main-color !important;
  border-radius: 4px !important;
  right: 4px !important;
  bottom: 4px !important;
}
.shiki-btn:hover {
  background-color: $hover-color !important;
  transition: ease-in-out 0.2s;
}
/*Spotify controls*/
%themeDark #vc-spotify-player {
  background: transparent;
}
#vc-spotify-player {
  border-top: 1px solid var(--background-modifier-accent);
}
#vc-spotify-progress-bar > [class^='slider'] [class^='grabber'] {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--main-color);
}
.mini_d6d84c .grabber_d2868c {
  margin-top: 5px;
}
// SHOW HIDDEN CHANNELS
.shc-lock-screen-allowed-users-and-roles-container {
  background-color: rgba(0, 0, 0, 0.8);
}
.shc-lock-screen-allowed-users-and-roles-container button {
  background: var(--main-color);
  color: #fff;
  border-radius: 10px;
  &:hover {
    background: var(--hover-color);
    color: #fff;
    border-radius: 10px;
  }
}
.shc-lock-screen-container {
  background: transparent;
}
.shc-lock-screen-allowed-users-and-roles-container %emptyChannelRole {
  position: relative;
  background-color: transparent;
  %emptyChannelRoleColor {
    z-index: 10;
  }
}
