/*Shiki code blocks*/
.shiki-container { 
    background: rgba(0,0,0,0.2) !important;
}
.shiki-btn{
    background-color: $main-color !important;
    border-radius: 4px !important;
    right: 4px !important;
    bottom: 4px !important;
}
.shiki-btn:hover{
    background-color: $hover-color !important;
    transition: ease-in-out .2s;
}