.vc-addon-card {
  background: var(--background-overlay);
  border: 2px solid $main-color;
  &:hover {
    background: var(--background-overlay);
    border: 2px solid $hover-color;
  }
}
.vc-plugins-info-button svg:not(:hover, :focus) {
  color: #fff;
}

//update popup
.vc-notification-root {
  background-color: rgba(0, 0, 0, 0.8);
  &:hover {
    background-color: $hover-color;
  }
}
// plugin authors
.vc-author-modal-name {
  background: rgba(0, 0, 0, 0.4);
}

.vc-author-modal-name:before {
  background: rgba(0, 0, 0, 0.4);
}
// vencord quick action pills
.vc-settings-quickActions-pill {
  background: rgba(0, 0, 0, 0.4);
  color: $text-normal;
  border: 1px solid $main-color;
  transition: all 0.5s ease-in-out;
}
.vc-settings-quickActions-pill:hover {
  background: $hover-color;
  color: $text-normal;
  border: transparent;
}
