/* USER ACTIVITY */
%activity {
	%activityNameNormal {
		color: $main-color;
		text-shadow: 0 0 5px rgba(0, 0, 0, .5);
		font-weight: 600;
		> %activityName {
			color: inherit;
			&%activityBodyLink:hover {
				text-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 1px;
			}
			&%activityNameTextHover {
				transition: all .1s ease-in-out;
				&:hover {
					text-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 1px;
					text-decoration: none;
				}
			}
		}
	}
	%activityTimestamp {
		font-style: italic;
	}
	%activityBodyLink {
		@include hover-shadow;
	}
}