/* SERVER DISCOVER */
%base {
  %pageWrapper,
  %hubDiscoverScroller {
    background: rgba(0, 0, 0, calc(#{cv('bg.app.shading')} * 0.5));
  }
}

// SIDEBAR
%discoverCategory {
  background-color: transparent;
}
%discoverCategoryItem {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    transition: all 0.15s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:hover {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }
  &%discoverCategoryItemSelected {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
    &:after {
      right: 0;
      background: $main-color;
      animation: cv-channel-select 0.3s ease-in-out;
    }
  }
  &:is(%discoverCategoryItemSelected, :hover, :active) {
    background-color: transparent;
  }
}

// SEARCH BOX
%discoverSearch {
  %discoverSearchBox {
    background: hsla(0, 0%, 0%, 0.6);
    border: none;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
    &:focus-within {
      border: none;
      box-shadow: 0 0 2px 2px $main-color;
    }
    %input {
      border: none;
      box-shadow: none;
    }
    %discoverSearchBoxInput {
      color: var(--text-normal);
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
    %discoverSearchBoxIconSearch {
      color: $main-color;
    }
  }
  %discoverSearchPage & {
    %discoverSearchBox {
      background: hsla(0, 0%, 100%, 0.07);
      border: none;
      box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
      &:focus-within {
        border: none;
        box-shadow: 0 0 2px 2px $main-color;
      }
      %input {
        border: none;
        box-shadow: none;
      }
      %discoverSearchBoxInput {
        color: var(--text-normal);
        &::placeholder {
          color: hsla(0, 0%, 100%, 0.3);
        }
      }
    }
  }
}

// GUILD LIST
%themeDark {
  %discoverGuildCard,
  %discoverHubCard,
  %discoverGuildCardIcon {
    background-color: hsla(0, 0%, 0%, 0.4);
    transition: all 0.15s ease-in-out;
    &:hover,
    &:hover %discoverGuildCardIcon {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
}
%discoverGuildCardLoading {
  background-color: transparent;
}
%discoverGuildList {
  %spinner {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
}
%discoverGuildStatusOnline {
  background-color: cv('colors.online');
}
%discoverGuildStatusOffline {
  background-color: cv('colors.offline');
}

// SEARCH CATEGORY
%categoryPill {
  &%categoryPillSelected {
    background-color: $main-color;
  }
}

// EMPTY RESULTS
%discoverEmptyResults {
  background-color: hsla(0, 0%, 0%, 0.6);
}

// QUESTS
%discoverQuestHeaderBackdrop {
  background-color: rgba($color: #0c1522, $alpha: 0.7);
  backdrop-filter: blur(5px);
}
%discoverQuest {
  background-color: transparent;
}
%discoverQuestTabSelected {
  border-bottom-color: $main-color !important;
}
%discoverQuestItem {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%discoverQuestItemGradient {
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.9) 10%, hsla(0, 0%, 0%, 0.6) 25%, transparent 35%);
}
%discoverQuestItemDescription {
  background-color: transparent;
}
%discoverQuestItemName {
  color: $main-color !important;
}