/* SERVER DISCOVERY */
%base {
	%pageWrapper {
		background: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .5));
	}
}
%discoveryBG {
	-webkit-mask: linear-gradient(to bottom, #000, transparent);
	mask: linear-gradient(to bottom, #000, transparent);
}
%discoveryMainHeader {
	color: #fff;
	text-shadow: 0 0 3px #000;
	font-weight: 600;
	&:before {
		content: "Discovery: ";
		color: $main-color;
		text-shadow: 0 0 3px;
	}
	&:after {
		content: "!";
	}
}

// SEARCH BOX
%appMount {
	%searchBox {
		background: hsla(0, 0%, 100%, .1);
		box-shadow: none;
	}
	%searchHelpText {
		color: transparent;
		transition: all 0s .3s, color .3s ease-in-out;
		&%searchHelpTextVisible {
			color: hsla(0, 0%, 100%, .3);
			transition-delay: 0s;
		}
	}
}
%searchBox {
	%searchBoxInput {
		color: hsla(0, 0%, 100%, .7);
		&::placeholder {
			color: hsla(0, 0%, 100%, .3);
		}
	}
	%searchBoxIconSearch {
		color: hsla(0, 0%, 100%, .3);
	}
	%searchBoxIconClear {
		color: hsla(0, 0%, 100%, .3);
		transition: all .15s ease-in-out;
		&:hover {
			color: hsla(0, 0%, 100%, .7);
		}
	}
}

// GUILD LIST
%discoverySectionHeader {
	color: hsla(0, 0%, 100%, .7);
}
%discoveryGuildCard {
	%discoveryCard {
		background: hsla(0, 0%, 100%, .04);
		transition: all .15s ease-in-out;
		&:hover {	
			background: hsla(0, 0%, 100%, .1);
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
		}
	}
	%discoveryGuildVerifiedIcon {
		background: url(https://clearvision.gitlab.io/icons/verified.svg) center/16px no-repeat;
		opacity: .7;
		filter: drop-shadow(0 0 3px #000);
		%flowerStar,
		%flowerStarChild {
			display: none;
		}
	}
	%discoveryGuildStatusOnline {
		background-color: cv("colors.online");
		box-shadow: 0 0 3px, 0 0 5px rgba(0, 0, 0, .5);
		color: cv("colors.online");
	}
	%discoveryGuildStatusOffline{
		background-color: cv("colors.offline");
		box-shadow: 0 0 3px, 0 0 5px rgba(0, 0, 0, .5);
		color: cv("colors.offline");
	}
}
%discoveryGuildList {
	%discoveryGuildCardLoading {
		background: hsla(0, 0%, 100%, .1);
	}
}
%pageWrapper {
	%discoverySectionSeparator {
		background: hsla(0, 0%, 100%, .07);
	}
}

// PAGE CONTROl
%discoveryPageControlContainer {
	%discoveryPageControl {
		%discoveryPageButtonEnd{
			background: hsla(0, 0%, 100%, .04);
			color: hsla(0, 0%, 100%, .5);
			transition: all .15s ease-in-out;
			&:hover {
				background: hsla(0, 0%, 100%, .1);
				color: hsla(0, 0%, 100%, .7);
			}
			&:disabled {
				background: hsla(0, 0%, 100%, .04);
				color: hsla(0, 0%, 100%, .5);
				opacity: .5;
			}
		}
		%discoveryPageButtonRound {
			color: hsla(0, 0%, 100%, .5);
			transition: all .15s ease-in-out;
			&:hover {
				background: hsla(0, 0%, 100%, .07);
				color: hsla(0, 0%, 100%, .7);
			}
			&%discoveryPageButtonActive {
				background: $main-color;
				color: #fff;
			}
		}
	}
}

// EMPTY
%pageBody {
	%discoveryEmptyResults {
		padding: 10px 20px;
		background: linear-gradient(to bottom, transparent, hsla(0, 0%, 100%, .1));
	}
}
%discoveryEmptyResults {
	%discoveryEmptyImage {
		filter: grayscale(1) brightness(1.5);
		opacity: .3;
	}
	%discoveryEmptyTitle {
		color: hsla(0, 0%, 100%, .7);
		font-weight: 600;
	}
	%discoveryEmptyDescription {
		color: hsla(0, 0%, 100%, .5);
	}
}

// Discover Header
.discoverHeader-1TWTqG {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-color);
	&:after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: linear-gradient(to right, var(--main-color) 50%, transparent);
		margin-left: 5px;
	}
	&:before {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: linear-gradient(to left, var(--main-color) 50%, transparent);
		margin-right: 5px;
	}
}