/* DISCOVER */
%discover {
  background-color: transparent;
}
%discoverHeaderBackdrop {
  background-color: rgba($color: #0c1522, $alpha: 0.7);
  backdrop-filter: blur(5px);
}
%discoverTabSelected {
  border-bottom-color: $main-color !important;
}


// SIDEBAR
%discoverCategory {
  background-color: transparent;
}
%discoverCategoryItem {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    transition: all 0.15s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:hover {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }
  &%discoverCategoryItemSelected {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
    &:after {
      right: 0;
      background: $main-color;
      animation: cv-channel-select 0.3s ease-in-out;
    }
  }
  &:is(%discoverCategoryItemSelected, :hover, :active) {
    background-color: transparent;
  }
}

// GUILD LIST
%themeDark {
  %discoverGuildCard,
  %discoverHubCard,
  %discoverGuildCardIcon {
    background-color: hsla(0, 0%, 0%, 0.4);
    transition: all 0.15s ease-in-out;
    &:hover,
    &:hover %discoverGuildCardIcon {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
}
%discoverGuildCardLoading {
  background-color: transparent;
}
%discoverGuildList {
  %spinner {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
}
%discoverGuildStatusOnline {
  background-color: cv('colors.online');
}
%discoverGuildStatusOffline {
  background-color: cv('colors.offline');
}
%discoverGuildLoading {
  background-color: hsla(0, 0%, 0%, 0.4);
}


// SEARCH RESULTS
%discoverSearchHeader {
  background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  box-shadow: 0 0 10px rgba(0, 0, 0, calc($bg-shading * 0.6));
}
%discoverSearch {
  background: rgba(0, 0, 0, calc($bg-shading * 0.5));
}
%discoverSearchBackButton {
  background-color: $main-color;
}
%discoverSearchEmpty {
  background-color: transparent;
}
%discoverSearchCategory {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    transition: all 0.15s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:hover {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }
  &%discoverSearchCategorySelected {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
    &:after {
      right: 0;
      background: $main-color;
      animation: cv-channel-select 0.3s ease-in-out;
    }
  }
  %textSmallNormal {
    color: hsla(0,0%,100%,.7) !important;
  }
}

// QUESTS
%discoverQuestItem {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%discoverQuestItemGradient {
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.9) 10%, hsla(0, 0%, 0%, 0.6) 25%, transparent 35%);
}
%discoverQuestItemDescription {
  background-color: transparent;
}
%discoverQuestItemName {
  color: $main-color !important;
}
