/* DISCORD SHOP */

%shop {
  background-color: transparent;
}

// LOADING
%shopLoadingSkeleton {
  background-color: hsla(0, 0%, 100%, 0.07);
}
%shopLoadingBanner,
%shopLoadingCard {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%shopLoadingCardContent {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// CONTENT
%shopChatPreview {
  left: 0;
  bottom: 0;
  margin: 10px auto 0 auto;
}
%shopMockInput {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// SERVER SHOP
/* intro container */
%serverShopIntro {
  background: var(--background-overlay);
  border: 2px solid $main-color;
  &:hover {
    background: var(--background-overlay);
    border: 2px solid $hover-color;
  }
}
/* support the server perks */
%serverShopSelected {
  background: $main-color;
}

// Nitro Home shop
%nitroShopCard {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-color: $main-color !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-color: $hover-color !important;
  }
}

%nitroShopCardBackground%nitroShopCardDarkBackground {
  background-color: rgba(0, 0, 0, 0.8);
}

%nitroShopBackground {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.4));
}

%nitroShopBackgroundPrime {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.4));
}

// Buy Nitro
%unleashMoreBackground {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.6));
}

@supports (color:rgba(0,0,0,0))and (top:var(--f)){
  %giftNitro {
    color: var(--text-normal) !important;
    background-color: $main-color !important;
    border-color: transparent !important;
    &:hover { 
      background-color: $hover-color !important;
      color: var(--text-normal) !important;
    }
}
}

%cardText {
  color: $main-color;
}

%mostPopular {
  display: none; // It had to go - Snow
}

// Subscribe button
%buttonInverted%buttonColorBrand {
  background: $main-color;
  color: var(--text-normal);
  &:hover {
    background: $hover-color;
    color: var(--text-normal);
  }
} 