/* PREVIEW SERVER */

// WELCOME MODAL
.optionContainer__5d0b1 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
  .optionArrow__4c748 {
    color: #fff;
  }
}
.channelIcon__1565e {
  background-color: transparent;
}

%themeDark .notice__99c03 {
  background-color: transparent;
}
.notice__99c03 .header__72166::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
  border-radius: 3px;
}

.container_d4b118 {
  background-color: rgba(0, 0, 0, 0.8);
}

// TOP BAR JOIN AND BACK BUTTON
.button__671cf:hover {
  background-color: $hover-color;
}

// WELCOME TO SERVER CARDS
%serverWelcomeCards {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%serverInviteTick {
  background-color: $main-color;
}

// SERVER STATUS (E.G. PUBLIC OR PRIVATE)
.communityInfoPill_d3f445 {
  background: rgba(0, 0, 0, 0.6);
}

// Nyx's fixes
.container__92dc8,
.container_acafc1 {
  background: transparent;
}
.icon_f71c55 {
  border: 4px solid transparent;
}
.interactiveCard_d5a839,
.interactiveCard_d5a839.selected__715e8 {
  border: 1px solid var(--main-color);
}
.interactiveCard_d5a839:active,
.interactiveCard_d5a839:hover {
  border: 1px solid var(--hover-color);
}
.card_d4f6c7 {
  background: rgba(0, 0, 0, 0.4);
}
.iconContainer__6fc72 {
  background: var(--main-color);
  color: #fff;
}
.container__16581:hover {
  background: var(--hover-color);
}
.conversationRoot__11fa6:after,
.replySpine_ed1feb {
  border-left: 2px solid var(--main-color);
}
.conversationMessage__0d40e:after {
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
