/* STUDENT HUBS */
%base {
  %hubContainer {
    background: rgba(0, 0, 0, calc(#{cv('bg.app.shading')} * 0.5));
  }
}

// HUB SIDEBAR
%hubCategoryItem {
  &%hubCategoryItemSelected {
    %hubCategoryItemLayout {
      background-color: var(--main-color);
    }
  }
}

// SERVER SEARCH
%hubCard {
  background-color: hsla(0, 0%, 0%, 0.4);
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
%hubSplash {
  background: transparent;
}