/* STUDENT HUBS */
%base {
  %hubContainer {
    background: rgba(0, 0, 0, calc(#{cv('bg.app.shading')} * 0.5));
  }
}

// HUB SIDEBAR
%hubCategoryItem {
  &%hubCategoryItemSelected {
    %hubCategoryItemLayout {
      background-color: var(--main-color);
    }
  }
}
%hubCategoryItemIcon>svg>path {
  fill: var(--interactive-active);
}

// SERVER LIST
%hubTabBar {
  margin-bottom: 0;
}
%hubCard {
  background-color: hsla(0, 0%, 0%, 0.4);
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
  %hubCardIconMask {
    background-color: rgba(0, 0, 0, .4);
    transition: all .15s ease-in-out;
  }
  %hubCardIcon {
    background-color: $main-color;
    color: #fff;
  }
}
%hubSplash {
  background: transparent;
}

// SEARCH BOX
%hubHeader {
  %searchBox {
    background: hsl(247, 55%, 24%);
    border: none;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
    &:focus-within {
      border: none;
      box-shadow: 0 0 2px 2px var(--main-color);
    }
    %input {
      border: none;
      box-shadow: none;
    }
    %searchBoxInput {
      color: var(--text-normal);
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
    %searchBoxIconSearch {
      color: var(--main-color);
    }
    %searchBoxCloseIcon {
      color: var(--main-color);
      &:hover {
        color: var(--hover-color);
      }
    }
  }
}
%searchHubHeader {
  %searchPageBox {
    background: hsla(0, 0%, 100%, 0.07);
    border: none;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
    &:focus-within {
      border: none;
      box-shadow: 0 0 2px 2px var(--main-color);
    }
    %input {
      border: none;
      box-shadow: none;
    }
    %searchBoxInput {
      color: var(--text-normal);
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
    %searchBoxCloseIcon {
      color: var(--main-color);
      &:hover {
        color: var(--hover-color);
      }
    }
  }
}