// USER POPOUT
%userPopout {
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	animation: cv-menu-slide .2s cubic-bezier(.2, .6, .5, 1.1);
	transform-origin: 0 50%;
	&:before {
		content: "";
		position: absolute;
		@include stretch;
		margin: calc(-2 * #{map-get($popout, blur)});
		background: map-get($popout, img) map-get($popout, pos)/map-get($popout, size) fixed;
		@include filters($popout);
		z-index: -1;
	}
	%popoutLeft > & {
		margin-right: 15px;
		transform-origin: 100% 50%;
		&:before {
			left: calc(-100% - 15px);
			right: calc(100% + 15px);
			transform: translateX(calc(100% + 15px - 4 * #{map-get($popout, blur)}));
		}
	}

	// USER POPOUT HEADER
	%userPopoutHeader {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)) center/cover;
	}
	%userPopoutHeaderStreaming {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)) center/cover,
			linear-gradient(to bottom, rgba($twitch-purple, .4) 93%, transparent 100%);
	}
	%userPopoutHeaderSpotify {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)) center/cover,
			linear-gradient(to bottom, rgba($spotify-green, .4) 93%, transparent 100%);
	}
	%userPopoutHeaderXbox {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)) center/cover,
			linear-gradient(to bottom, rgba($xbox-green, .4) 93%, transparent 100%);
	}
	%userPopoutActivity {
		background: rgba(0, 0, 0, .04);
	}
	%userPopoutMobileIndicator {
		color: hsla(0, 0%, 100%, .4);
	}

	// USER POPOUT BODY
	%userPopoutBody {
		background: rgba(0, 0, 0, .65);
	}
	%userPopoutBodyTitle {
		color: hsla(0, 0%, 100%, .7);
	}
	%userPopoutRolesList {
		max-height: 230px;
		padding-right: 5px;
		margin-right: -5px;
		overflow-y: auto;
	}
	%userPopoutNote {
		textarea {
			background: transparent;
			color: hsla(0, 0%, 100%, .8);
			&:focus {
				background: transparent;
			}
			&::placeholder {	
				color: hsla(0, 0%, 100%, .5);
			}
		}
	}
	
	// USER POPOUT FOOTER
	%userPopoutFooter {
		background: rgba(0, 0, 0, .65);
		border-color: hsla(0, 0%, 100%, .04);
	}
	%userPopoutQuickMessage {
		background: rgba(0, 0, 0, .3);
		border-color: transparent;
		color: #fff;
		transition: all .3s ease-in-out;
		&::placeholder {	
			color: hsla(0, 0%, 100%, .5);
		}
		&:focus {
			border-color: $main-color;
			box-shadow: 0 0 1px $main-color;
		}
	}
	%userPopoutTip {
		color: hsla(0, 0%, 100%, .5);
		opacity: 1;
	}
}