/* APP */
body {
	&:before {
		content: "";
		position: fixed;
		@include stretch;
		background: map-get($bg, img) map-get($bg, pos)/map-get($bg, size);
		@include filters($bg);
		z-index: -9999;
	}
}
%appMount {
	background: map-get($bg, overlay);
}
%appMount {
	%layers,
	%layer {
		background: transparent;
	}
}
%layer {
	%containerMain {
		background: transparent;
	}
	%standardSidebarView {
		background: transparent;
	}
}
%containerMain {
	%base {
		border-radius: 0;
	}
}
%backdrop {
	&:before {
		content: "";
		position: fixed;
		@include stretch;
		background: map-get($backdrop, img) map-get($backdrop, pos)/map-get($backdrop, size);
		@include filters($backdrop);
		pointer-events: none;
	}
	&:after {
		content: "";
		position: fixed;
		@include stretch;
		background: map-get($backdrop, overlay);
		pointer-events: none;
	}
}

// FONT
body,
button,
input,
select,
textarea,
::placeholder {
    font-family: $main-font;
}

// SELECTION
::selection {
	color: #fff;
	background: $main-color;
}

// ANCHORS
%anchor {
	color: $main-color;
	@include hover-shadow;
}