// HEADER BAR
%base {
	%headerBar {
		height: 48px;
		background: rgba(0, 0, 0, calc(#{map-get($bg, shading)} * .6));
		box-shadow: 0 0 10px rgba(0, 0, 0, calc(#{map-get($bg, shading)} * .6));
		color: hsla(0, 0%, 100%, .5);
	}
}
%headerBar {
	%headerBarChildren {
		-webkit-mask: linear-gradient(to left, transparent, #000 20px);
		mask: linear-gradient(to left, transparent, #000 20px);
		&:after {
			display: none;
		}
		%headerBarIcon {
			width: 20px;
			color: $main-color;
			filter: drop-shadow(0 0 3px);
		}
	}
	%headerBarTitle {
		margin-left: 5px;
		color: #fff;
		text-shadow: 0 0 3px #000;
		&%headerBarTitleMuted {
			color: hsla(0, 0%, 100%, .3);
			text-shadow: none;
		}
	}
	%headerBarTopic {
		color: hsla(0, 0%, 100%, .5);
		> %anchor {
			color: $main-color;
			@include hover-shadow;
		}
	}
	%headerBarDivider {
		background: hsla(0, 0%, 100%, .1);
	}
}
%headerBarIconWrapper {
	margin: 0 1px;
	padding: 2px 3px;
	box-sizing: content-box;
}
%chat {
	%headerBarTitle {
		margin-left: 0;
	}
}

// TOOLBAR
%toolbar {
	%headerBarIconWrapper {
		border-radius: 3px;
		transition: all .3s ease-in-out;
		%headerBarIcon {
			opacity: .5;
			transition: all .15s ease-in-out;
		}

		// SELECTED & POPOUT OPEN
		&%headerBarIconSelected,
		&%headerBarIconPopoutOpen {
			background: hsla(0, 0%, 100%, .1);
			%headerBarIcon {
				opacity: .7;
			}
		}

		// HOVER
		&%headerBarIconClickable:hover {
			%headerBarIcon {
				opacity: 1;
			}
		}

		// UNREAD
		> svg:not(%headerBarIcon) {
			color: $main-color;
			filter: drop-shadow(0 0 5px);
			transition: filter .3s ease-in-out;
		}
		[mask] {
			-webkit-mask: url(https://clearvision.gitlab.io/icons/pin.svg);
			mask: url(https://clearvision.gitlab.io/icons/pin.svg);
			> %headerBarIcon {
				background: $main-color;
				opacity: 1;
			}
		}
		&:hover {
			> svg:not(%headerBarIcon) {
				filter: drop-shadow(0 0 5px) drop-shadow(0 0 10px);
			}
		}
	}
	%headerBarIconBadge {
		display: none;
	}

	// ICONS
	%headerBarIcon {
		&[name=Nova_Bell],
		&[name=Nova_BellOff],
		&[name=Nova_Pin],
		&[name=Nova_People],
		&[name=Nova_Downloading],
		&[name=Nova_At],
		&[name=Nova_Help] {
			> g,
			> path {
				display: none;
			}
		}
		&[name=Nova_Bell] {
			background: url(https://clearvision.gitlab.io/icons/notifications.svg) center/24px no-repeat;
		}
		&[name=Nova_BellOff] {
			background: url(https://clearvision.gitlab.io/icons/notifications_off.svg) center/24px no-repeat;
		}
		&[name=Nova_Pin] {
			background: url(https://clearvision.gitlab.io/icons/pin.svg) center/24px no-repeat;
		}
		&[name=Nova_People] {
			background: url(https://clearvision.gitlab.io/icons/people.svg) center/24px no-repeat;
		}
		&[name=Nova_At] {
			background: url(https://clearvision.gitlab.io/icons/mail.svg) center/24px no-repeat;
		}
		&[name=Nova_Help] {
			background: url(https://clearvision.gitlab.io/icons/help.svg) center/24px no-repeat;
		}
		&%headerBarIconUpdateAvailable {
			background: url(https://clearvision.gitlab.io/icons/sync.svg) center/24px no-repeat;
			animation: cv-update-spin 2s linear infinite;
		}
		&[name=Nova_Downloading] {
			position: relative;
			background: url(https://clearvision.gitlab.io/icons/cloud_download.svg) center/24px no-repeat,
				linear-gradient(to bottom, $main-color, $main-color) 50% 10px/10px 10px no-repeat;
			animation: cv-update-downloading 2.5s ease-in-out infinite;
		}
	}
	%headerBarIconWrapper {
		%headerBarIcon[name=Nova_Download] {
			color: $main-color;
			opacity: 1;
			filter: drop-shadow(0 0 5px);
			transition: filter .3s ease-in-out;
			%headerBarIconUpdateForeground {
				display: inline;
				fill: $main-color;
				d: path("M10,17L6.5,13.5L7.91,12.08L10,14.17L15.18,9L16.59,10.41M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z");
			}
		}
		&:hover {
			%headerBarIcon[name=Nova_Download] {
				filter: drop-shadow(0 0 5px) drop-shadow(0 0 10px);
			}
		}
	}
	%headerBarLinkButton {
		opacity: .5;
		transition: all .15s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	%headerBarLinkIcon {
		background: url(https://clearvision.gitlab.io/icons/share.svg) center/24px no-repeat;
		> g {
			display: none;
		}
	}
}

// SEARCH
%chatSearch %chatSearchBar,
%librarySearch,
%storeSearch {
	width: 140px;
	height: 28px;
	padding: 2px;
	background: hsla(0, 0%, 100%, .1);
	border-radius: 3px;
	transition: width .2s ease-in-out .1s;
}
%chatSearchFocused %chatSearchBar,
%librarySearchFocused,
%storeSearchFocused {
	width: 240px;
}
%chatSearch {
	> %chatSearchRoot {
		color: #fff;
	}
	%chatSearchPlaceholder {
		color: hsla(0, 0%, 100%, .3);
	}
	%chatSearchFilter,
	%chatSearchAnswer {
		background: rgba(0, 0, 0, .3);
		color: #fff;
	}
	%chatSearchFilter {
		padding: 0 3px;
	}
	%chatSearchAnswer {
		margin: 0 2px 0 0;
		padding: 0 3px 0 0;
	}
}
%librarySearch {
	%librarySearchBar {
		background: transparent;
	}
	%librarySearchInput {
		color: #fff;
		&::placeholder {
			color: hsla(0, 0%, 100%, .3);
		}
	}
	%librarySearchIcon {
		color: hsla(0, 0%, 100%, .5);
		transition: all .15s ease-in-out;
	}
	%librarySearchIconLayout:hover {
		%librarySearchIconClear {
			color: #fff;
		}
	}
}
%storeSearch {
	%storeSearchBar {
		background: transparent;
	}
	%librarySearchInput {
		color: #fff;
		&::placeholder {
			color: hsla(0, 0%, 100%, .3);
		}
	}
	%storeSearchIcon {
		color: hsla(0, 0%, 100%, .5);
		transition: all .15s ease-in-out;
	}
	%storeSearchIconLayout:hover {
		%storeSearchIconClear {
			color: #fff;
		}
	}
}

// TOP PILL
%headerBar {
	%topPill {
		%topPillItem {
			font-size: 14px;
			&%topPillItemThemed {
				background: transparent !important;
				color: hsla(0, 0%, 100%, .5) !important;
				transition: all .3s ease-in-out;
				&:hover {
					background-color: rgba(0, 0, 0, .5) !important;
					color: hsla(0, 0%, 100%, .7) !important;
				}
				&%topPillItemSelected {
					background-color: $main-color !important;
					color: #fff !important;
				}
			}
		}
	}
}


// BREADCRUMBS
%breadcrumbs {
	margin-left: 2px;
	%breadcrumb {
		margin: 0 3px;
		transition: all .15s ease-in-out;
	}
	%breadcrumbArrow {
		transition: all .15s ease-in-out;
	}
	%breadcrumbWrapper {
		color: hsla(0, 0%, 100%, .3);
		&:hover {
			%breadcrumb {
				color: hsla(0, 0%, 100%, .7);
				text-decoration: none;
			}
			%breadcrumbArrow {
				&%directionRight {		
					color: hsla(0, 0%, 100%, .7);
					transform: rotateY(180deg) rotateZ(-90deg) translateY(3px);
				}
			}
		}
	}
}