// GUILDS
%layer {
	%guildsWrapper {
		background-color: transparent;
	}
}
%platformOSX {
	%guildsWrapper {
		margin-top: 0;
		padding-top: 48px;
		&:before {
			content: "";
			height: 48px;
			margin-top: -48px;
			background-color: rgba(0, 0, 0, .3);
		}
	}
}
%guildsWrapper {
	width: 70px;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
}

// GUILD LIST
%guilds {
	%guildIcon {
		background-color: rgba(0, 0, 0, .3);
	}
	%guildPlaceholder {
		background: hsla(0, 0%, 100%, .07);
	}

	// PILL
	%guildPill {
		overflow: visible;
	}
	%guildPillItem {
		width: 12px;
		margin-left: -6px;
		border-radius: 20px;
		background: $main-color;
		box-shadow: 0 0 20px -1px $main-color;
		&[style*="height: 8px"] {
			height: 10px !important;
		}
	}

	// ACRONYM
	%guildAcronym {
		background: rgba(0, 0, 0, .3);
		color: hsla(0, 0%, 100%, .7);
		transition: all .3s ease-in-out;
		&:hover,
		&%guildAcronymSelected {
			background: $main-color;
			color: #fff;
		}
	}

	// BADGE
	%guildBadgeNumber {
		background: $main-color !important;
		box-shadow: 0 0 0 1px $main-color, 0 0 20px -3px $main-color;
		color: #fff;
		text-shadow: 0 0 3px;
		font-weight: 600;
		transition: all .3s ease-in-out;
	}
	%guildBadgeIcon {
		background: hsla(0, 0%, 100%, .04);
		box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .04);
	}
	%guildBadgeIconSVG {
		padding: 1px;
		color: $main-color;
		filter: drop-shadow(0 0 3px $main-color);
	}

	// GUILDS ERROR
	%guildsError {
		background-color: rgba(0, 0, 0, .5);
		border-color: $danger-color;
		color: #fff;
		transition: all .3s ease-in-out;
		&:hover {
			background-color: $danger-color;
		}
	}

	// HOME BUTTON
	%homeButton {
		background: map-get($home, icon) map-get($home, pos)/map-get($home, size) no-repeat;
		&:hover,
		&%homeButtonSelected {
			background-color: $main-color;
		}
	}
	%homeIcon {
		display: none;
	}

	// FRIENDS COUNT
	%friendsOnline {
		background: transparent;
		color: hsla(0, 0%, 100%, .7);
		text-transform: uppercase;
		border-radius: 25px;
		transition: all .3s ease-in-out;
		cursor: default;
		&:hover {
			color: #fff;
		}
	}

	// ICON BUTTON
	%circleIconButton {
		background-color: rgba(0, 0, 0, .5);
		color: #333539;
		border: 1px solid currentColor;
		border-radius: 50%;
		opacity: .7;
		transition: all .1s ease-in-out;
		&:hover {
			animation: cv-pulsate-color 2s infinite ease-in-out;
		}
		&:active {
			transform: scale(.9);
		}
	}
}

// SEPARATOR
%guildSeparator {
	background-color: hsla(0, 0%, 100%, .1);
}