/* GUILDS */
%layer {
  %guildsWrapper {
    background-color: transparent;
  }
}
%platformOSX {
  %guildUnreadMentionsTop {
    top: 24px;
  }
  %guildsWrapper {
    margin-top: 0;
    padding-top: 48px;
    &:before {
      content: '';
      height: 48px;
      margin-top: -48px;
    }
  }
}
%guildsWrapper {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, calc($bg-shading * 0.3));
}

// HOME BUTTON
%guildChildWrapper > svg {
  width: 100%;
  height: 100%;
  background: cv('bg.home.icon') cv('bg.home.pos') / cv('bg.home.size') no-repeat;
  > path {
    display: none;
  }
}

// GUILD ICON
%guildIcon {
  background-color: rgba(0, 0, 0, 0.3);
}

// GUILD LIST
%guildsTree {
  outline: none;
}

// HOME & ACRONYM
%guildChildWrapper {
  background-color: rgba(0, 0, 0, 0.3);
  color: hsla(0, 0%, 100%, 0.7);
  transition: all 0.3s ease-in-out;
}
%guildNav {
  &:hover,
  &%guildNavSelected {
    %guildChildWrapper {
      background-color: $main-color;
      color: #fff;
    }
  }
}

// PILL
%guildPill {
  overflow: visible;
}
%guildPillItem {
  width: 12px;
  margin-left: -6px;
  border-radius: 20px;
  background: var(--server-unread);
  box-shadow: 0 0 20px -1px var(--server-unread);
  &[style*='height: 8px'] {
    height: 10px !important;
  }
}

// PLACEHOLDER
%guildDragInner {
  background: hsla(0, 0%, 100%, 0.1);
}

// BADGE
%guildBadge {
  background: hsla(0, 0%, 0%, 0.7);
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.7);
  %guildBadgeIcon {
    padding: 1px;
    color: $main-color;
    filter: drop-shadow(0 0 3px $main-color);
  }
  &%guildBadgeConnected {
    background: $main-color;
    box-shadow: 0 0 0 1px $main-color;
    %guildBadgeIcon {
      color: #fff;
    }
  }
}

// FOLDER
%guildFolder {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  &%guildFolderHover {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}
%guildFolderGuildNoIcon {
  background: rgba(0, 0, 0, 0.4);
}
%guildExpandedFolderBackground {
  background: hsla(0, 0%, 100%, 0.07);
  border-radius: 16px 16px 24px 24px;
  transition: background-color 0.3s ease-in-out;
}

// CIRCLE ICON BUTTON
%circleIconButton {
  background: rgba(0, 0, 0, 0.3);
  color: hsla(0, 0%, 100%, 0.7);
  transition: all 0.3s ease-in-out;
  &:hover,
  &%circleIconButtonSelected {
    background: $main-color;
    color: #fff;
  }
}

// GUILDS ERROR
%guildsError {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid cv('colors.danger');
  color: #fff;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: cv('colors.danger');
    border-color: cv('colors.danger');
  }
}

// SEPARATOR
%guildSeparator {
  background: hsla(0, 0%, 100%, 0.1);
}

// FOOTER
%guildsFooter {
  background: transparent;
}
