// ICON MAP
$icons: (

    // USER SETTINGS 
    "My Account": "https://clearvision.gitlab.io/icons/person.svg",
    "Privacy & Safety": "https://clearvision.gitlab.io/icons/security.svg",
    "Authorized Apps": "https://clearvision.gitlab.io/icons/apps.svg",
    "Connections": "https://clearvision.gitlab.io/icons/link.svg",
    "Billing": "https://clearvision.gitlab.io/icons/payment.svg",

    "Discord Nitro": "https://clearvision.gitlab.io/icons/nitro.svg",
    "HypeSquad": "https://clearvision.gitlab.io/icons/hypesquad.svg",

    "Voice & Video": "https://clearvision.gitlab.io/icons/mic.svg",
    "Overlay": "https://clearvision.gitlab.io/icons/aspect_ratio.svg",
    "Notifications": "https://clearvision.gitlab.io/icons/notifications.svg",
    "Keybinds": "https://clearvision.gitlab.io/icons/keyboard.svg",
    "Game Activity": "https://clearvision.gitlab.io/icons/games.svg",
    "Activity Feed": "https://clearvision.gitlab.io/icons/newspaper.svg",
    "Game Library": "https://clearvision.gitlab.io/icons/view_carousel.svg",
    "Text & Images": "https://clearvision.gitlab.io/icons/chat.svg",
    "Appearance": "https://clearvision.gitlab.io/icons/camera.svg",
    "Streamer Mode": "https://clearvision.gitlab.io/icons/videocam.svg",
    "Language": "https://clearvision.gitlab.io/icons/language.svg",
    "Windows Settings": "https://clearvision.gitlab.io/icons/windows.svg",
    "Linux Settings": "https://clearvision.gitlab.io/icons/linux.svg",

    "Change Log": "https://clearvision.gitlab.io/icons/history.svg",

    "Log Out": "https://clearvision.gitlab.io/icons/exit.svg",

    // BD USER SETTINGS
    "Core": "https://clearvision.gitlab.io/icons/betterdiscord.svg",
    "Bandages": "https://clearvision.gitlab.io/icons/bandage.svg",
    "Emotes": "https://clearvision.gitlab.io/icons/emote.svg",
    "Custom CSS": "https://clearvision.gitlab.io/icons/code_braces.svg",
    "Plugins": "https://clearvision.gitlab.io/icons/puzzle.svg",
    "Themes": "https://clearvision.gitlab.io/icons/palette.svg"
);

// GENERAL STUFF
[aria-label="USER_SETTINGS"] %settingsSide %tabBarItem,
%settingsSide #bd-settings-sidebar .ui-tab-bar-item {
    padding-left: 50px;
    @include pseudo(before) {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        left: 15px;
        margin-top: -2px;
    }
}

// USER SETTINGS GENERAL
[aria-label="USER_SETTINGS"] %settingsSide %tabBarItem {
    &:nth-child(2) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "My Account")});
        }
    }
    &:nth-child(3) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Privacy & Safety")});
        }
    }
    &:nth-child(4) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Authorized Apps")});
        }
    }
    &:nth-child(5) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Connections")});
        }
    }
    &:nth-child(6) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Billing")});
        }
    }
    &:nth-child(8) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Discord Nitro")});
        }
    }
    &:nth-child(9) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "HypeSquad")});
        }
    }
    &:nth-last-child(3) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Log Out")});
        }
    }
}

// USER SETTINGS WINDOWS
%platformWin [aria-label="USER_SETTINGS"] %settingsSide %tabBarItem {
    &:nth-child(12) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Voice & Video")});
        }
    }
    &:nth-child(13) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Overlay")});
        }
    }
    &:nth-child(14) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Notifications")});
        }
    }
    &:nth-child(15) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Keybinds")});
        }
    }
    &:nth-child(16) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Game Activity")});
        }
    }
    &:nth-child(17) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Activity Feed")});
        }
    }
    &:nth-child(18) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Game Library")});
        }
    }
    &:nth-child(19) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Text & Images")});
        }
    }
    &:nth-child(20) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Appearance")});
        }
    }
    &:nth-child(21) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Streamer Mode")});
        }
    }
    &:nth-child(22) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Language")});
        }
    }
    &:nth-child(23) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Windows Settings")});
        }
    }
    &:nth-child(25) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Change Log")});
        }
    }
}

// USER SETTINGS OSX
%platformOSX [aria-label="USER_SETTINGS"] %settingsSide %tabBarItem {
    &:nth-child(12) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Voice & Video")});
        }
    }
    &:nth-child(13) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Notifications")});
        }
    }
    &:nth-child(14) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Keybinds")});
        }
    }
    &:nth-child(15) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Game Activity")});
        }
    }
    &:nth-child(16) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Activity Feed")});
        }
    }
    &:nth-child(17) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Text & Images")});
        }
    }
    &:nth-child(18) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Appearance")});
        }
    }
    &:nth-child(19) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Streamer Mode")});
        }
    }
    &:nth-child(20) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Language")});
        }
    }
    &:nth-child(22) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Change Log")});
        }
    }
}

// USER SETTINGS LINUX
%platformLinux [aria-label="USER_SETTINGS"] %settingsSide %tabBarItem {
    &:nth-child(12) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Voice & Video")});
        }
    }
    &:nth-child(13) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Notifications")});
        }
    }
    &:nth-child(14) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Keybinds")});
        }
    }
    &:nth-child(15) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Game Activity")});
        }
    }
    &:nth-child(16) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Activity Feed")});
        }
    }
    &:nth-child(17) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Text & Images")});
        }
    }
    &:nth-child(18) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Appearance")});
        }
    }
    &:nth-child(19) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Streamer Mode")});
        }
    }
    &:nth-child(20) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Language")});
        }
    }
    &:nth-child(21) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Linux Settings")});
        }
    }
    &:nth-child(23) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Change Log")});
        }
    }
}

// BD USER SETTINGS
%settingsSide #bd-settings-sidebar .ui-tab-bar-item {
    &:nth-child(3) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Core")});
        }
    }
    &:nth-child(4) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Bandages")});
        }
    }
    &:nth-child(5) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Emotes")});
        }
    }
    &:nth-child(6) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Custom CSS")});
        }
    }
    &:nth-child(7) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Plugins")});
        }
    }
    &:nth-child(8) {
        @include pseudo(before) {
            background-image: url(#{map-get($icons, "Themes")});
        }
    }
}