// SETTINGS SIDEBAR
%standardSidebarView {
	%settingsSidebarRegion {
		background: transparent;
		%settingsSidebar {
			height: 100%;
			padding: 0px 6px 0px 20px;
		}
	}
}
%settingsSidebarRegion {
	%scroller {
		margin: 30px 8px 30px 0;
		-webkit-mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 95%, transparent);
		mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 95%, transparent);
		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}
}
%standardSidebarView %settingsSide {
	padding: 30px 0;
	%tabBarHeader {
		color: $main-color;
	}
	%tabBarItem {
		height: unset;
		padding: 8px 0 8px 20px;
		margin: 0;
		background: transparent;
		color: hsla(0, 0%, 100%, .3);
		transition: all .15s ease-in-out;
		cursor: pointer;
		backface-visibility: hidden;
		&:hover {
			background: hsla(0, 0%, 100%, .07);
			color: hsla(0, 0%, 100%, .7);
			&:before {
				opacity: .7;
			}
		}
		&%tabBarItemSelected {
			background: $main-color;
			color: #fff;
			&:before {
				opacity: 1;
			}
		}
	}
	%tabBarSeparator {
		background: hsla(0, 0%, 100%, .07);
	}
}
%settingsSidebar {
	%tabBarItem {
		&:before {
			opacity: .3;
			transition: inherit;
		}
		&[style*="color: rgb(114, 137, 218)"] {
			background: transparent !important;
			color: hsla(0, 0%, 100%, .3) !important;
			&:hover {
				background: hsla(0, 0%, 100%, .07) !important;
				color: hsla(0, 0%, 100%, .7) !important;
			}
			&%tabBarItemSelected {
				background: $main-color !important;
				color: #fff !important;
			}
		}
		&[style*="color: rgb(240, 71, 71)"] {
			background: transparent !important;
			color: hsla(0, 0%, 100%, .5) !important;
			&:before {
				opacity: .5;
			}
			&:after {
				content: "";
				position: absolute;
				@include stretch;
				background: $danger-color;
				opacity: .5;
				transition: inherit;
				z-index: -1;
			}
			&:hover {
				color: #fff !important;
				&:before {
					opacity: 1;
					transform: rotateY(180deg);
				}
				&:after {
					opacity: .7;
				}
			}
		}
	}
}