/* MEMBERS */
%membersWrap {
	min-width: auto;
	flex-basis: $members-width;
}
%membersScrollerWrap > %members {
	max-width: $members-width;
	background: rgba(0, 0, 0, calc(#{map-get($bg, shading)} * .6));
}
%members {

	// GROUP
	> %membersGroup {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $main-color;
		font-size: 11px;
		font-weight: 700;
		text-align: center;
		transition: all .15s ease-in-out;
		opacity: .85;
		&[style*="color:"] {
			opacity: 1;
		}
		&:before {
			content: "";
			height: 2px;
			flex-grow: 1;
			background: linear-gradient(to left, currentColor 50%, transparent);
			margin-right: 5px;
		}
		&:after {
			content: "";
			height: 2px;
			flex-grow: 1;
			background: linear-gradient(to right, currentColor 50%, transparent);
			margin-left: 5px;
		}
	}

	// MEMBER
	> %member {
		backface-visibility: hidden;
		%memberContent {
			position: relative;
			background: transparent !important;
			border-radius: 5px;
			transition: all .15s ease-in-out, transform .1s ease-in-out;
			z-index: 1;
			&:before {
				content: "";
				position: absolute;
				@include stretch;
				background: linear-gradient(to right, hsla(0, 0%, 100%, .04) 90%, transparent);
				opacity: 0;
				transition: all .15s ease-in-out;
				z-index: -1;
			}
		}
		%memberNameTag {
			color: hsla(0, 0%, 100%, .6);
			&:after {
				content: "";
				position: absolute;
				@include pos(0, 100%, 0, 0);
				background: linear-gradient(to right, $main-color 90%, transparent);
				opacity: .8;
				transition: all .3s ease-in-out;
				z-index: -1;
			}	
			&[style]:after {
				background: linear-gradient(to right, currentColor 90%, transparent);
			}
		}
		%memberUsername {
			font-size: 14px;
			transition: all .15s ease-in-out;
		}
		%memberActivity,
		%memberMobileIndicator {
			color: hsla(0, 0%, 100%, .4);
			transition: all .15s ease-in-out;
		}
		%memberActivityText {
			> strong {
				color: $main-color;
				font-weight: 700;
				transition: all .15s ease-in-out;
			}
		}
		%avatarOffline {
			filter: grayscale(100%) blur(1px);
			transition: all .5s ease-in-out;
		}
		&:hover {
			%avatarOffline {
				filter: none;
			}
		}
		&:hover,
		&%memberPopoutOpen {
			%memberContent {
				&:before {
					opacity: 1;
				}
			}
		}
		&%memberPopoutOpen {
			%memberNameTag {
				&:after {
					right: 0;
				}
			}
			%memberUsername {
				color: #fff !important;
			}
			%memberActivity {
				color: hsla(0, 0%, 100%, .7);
			}
			%memberActivityText {
				> strong {
					color: #fff;
				}
			}
			%memberOwnerIcon > g > path,
			%memberActivityIconForeground {
				fill: hsla(0, 0%, 100%, .7);
			}
		}
		&:active {
			> %memberContent {
				transform: scale(.9);
			}
		}
	}

	// PLACEHOLDERS
	%memberGroupPlaceholder {
		margin: 0 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 50%;
		color: hsla(0, 0%, 100%, .3);
		&:before,
		&:after {
			content: "";
			height: 2px;
			flex-grow: 1;
		}
		&:before {
			background: linear-gradient(to left, currentColor 50%, transparent);
			margin-right: calc(50% + 5px);
			margin-left: -50%;
		}
		&:after {
			background: linear-gradient(to right, currentColor 50%, transparent);
			margin-right: -50%;
			margin-left: calc(50% + 5px);
		}
	}
	%memberGroupPlaceholder,
	%memberPlaceholderAvatar,
	%memberPlaceholderUsername,
	%memberPlaceholderUsernameMultiple {
		background: hsla(0, 0%, 100%, .3);
	}
}
%memberOwnerIcon > g > path,
%memberActivityIconForeground {
	fill: hsla(0, 0%, 100%, .4);
	transition: all .15s ease-in-out;
}