/* CREATE THREAD */
.threadSidebar-1o3BTy {
    background-color: hsla(0, 0%, 0%, .6);
}
.iconWrapper-3plkqh {
    background-color: $main-color;
}
.scroller-oTbAWP {
    justify-content: flex-start;
}
.container-3XgAHv {
    background: hsla(0, 0%, 0%, .6);
}