@use "cv" as *;

/* GUILDS */
#{cn(Guilds wrapper)} {
	position: static;
	background-color: transparent;
	width: calc(#{cv("server-columns")} * 72px);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .3));
}
#{cn(Guilds scrollerWrap)} {
	width: auto;
}

// GUILD LIST
#{cn(Guilds scroller)} {
	display: grid;
	grid-template-columns: repeat(cv("server-columns"), 1fr);
	grid-auto-columns: fit-content(72px);
	grid-auto-rows: fit-content(72px);
	margin-right: -18px;
	padding-right: 18px;
	background: transparent;
	> %guild {
		&:first-child,
		&:nth-child(2),
		&.bd-guild-separator {
			margin-right: auto;
			margin-left: auto;
			grid-column: 1 / span cv("server-columns");
		}
	}
	> :not(#{cn(CircleIconButton listItem)}):nth-child(2) {
		height: auto !important;
		display: flex;
		flex-flow: row wrap;
		grid-column: 1 / span cv("server-columns");
		align-items: center;
		justify-content: center;
		+ #{cn(CircleIconButton listItem)} {
			margin-right: auto;
			margin-left: auto;
			grid-column: 1 / span cv("server-columns");
		}
	}
}

// HOME BUTTON
#{cn(DefaultHomeButton homeIcon)} {
	width: 100%;
	height: 100%;
	background: cv("bg.home.icon") cv("bg.home.pos")/cv("bg.home.size") no-repeat;
	> path {
		display: none;
	}
}

// FRIENDS COUNT
.friendsOnline-2JkivW {
	background: transparent;
	color: hsla(0, 0%, 100%, .7);
	text-transform: uppercase;
	border-radius: 25px;
	transition: all .3s ease-in-out;
	cursor: default;
	&:hover {
		color: #fff;
	}
}

// NAVITEM
#{cn(NavItem icon)} {
	background-color: rgba(0, 0, 0, .3);
}
#{cn(NavItem wrapper)} {
	#{cn(NavItem childWrapper)} {
		background: rgba(0, 0, 0, .3);
		color: hsla(0, 0%, 100%, .7);
		transition: all .3s ease-in-out;
	}
	&:hover,
	&#{cn(NavItem selected)} {
		#{cn(NavItem childWrapper)} {
			background: $main-color;
			color: #fff;
		}
	}
}

// GUILD ICON
#{cn(GuildIconWrapper noIcon)} {
	background: rgba(0, 0, 0, .3) !important;
	color: hsla(0, 0%, 100%, .7);
}

// PILL
// TODO: anonymous ref...
.wrapper-sa6paO {
	overflow: visible;
}
.item-2hkk8m {
	width: 12px;
	margin-left: -6px;
	border-radius: 20px;
	background: $main-color;
	box-shadow: 0 0 20px -1px $main-color;
	&[style*="height: 8px"] {
		height: 10px !important;
	}
}

// FOLDER
#{cn(GuildFolder wrapper)} {
	#{cn(GuildFolder expandedFolderBackground)} {
		background: hsla(0, 0%, 100%, .04);
		border-radius: 16px 16px 24px 24px;
		transition: background-color .3s ease-in-out;
		&#{cn(GuildFolder collapsed)} {
			background: transparent;
		}
	}
}
#{cn(GuildFolder folder)} {
	background: hsla(0, 0%, 100%, .07);
	transition: all .3s ease-in-out;
	&#{cn(GuildFolder hover)} {
		background: hsla(0, 0%, 100%, .1);
	}
}
#{cn(GuildFolder expandedGuilds)} {
	> #{cn(CircleIconButton listItem)} {
		animation: cv-fade-in .3s ease-in-out;
	}
}

// PLACEHOLDER
#{cn(CircleIconButton dragInner)} {
	background: hsla(0, 0%, 100%, .1);
}

// BADGE
#{cn(CircleIconButton iconBadge)} {
	background: hsla(0, 0%, 100%, .07);
	box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .07);
}

// ICON BUTTON
#{cn(CircleIconButton circleIconButton)} {
	background: rgba(0, 0, 0, .3);
	color: hsla(0, 0%, 100%, .3);
	transition: all .3s ease-in-out;
	&:hover,
	&#{cn(CircleIconButton selected)} {
		background: $main-color;
		color: #fff;
	}
}

// GUILDS ERROR
#{cn(CircleIconButton guildsError)} {
	background: rgba(0, 0, 0, .5);
	border: 2px solid cv("colors.danger");
	color: #fff;
	transition: all .3s ease-in-out;
	&:hover {
		background: cv("colors.danger");
		border-color: cv("colors.danger");
	}
}

// SEPARATOR
#{cn(CircleIconButton guildSeparator)} {
	background: hsla(0, 0%, 100%, .1);
	align-self: center;
}