/* HEADER BAR TOP PILL */
%headerBar {
	%topPill {
		%topPillItem {
			font-size: 14px;
			&%topPillItemThemed {
				background-color: transparent;
				color: hsla(0, 0%, 100%, .5);
				transition: all .3s ease-in-out;
				&:hover {
					background-color: rgba(0, 0, 0, .5);
					color: hsla(0, 0%, 100%, .7);
				}
				&%topPillItemSelected {
					background-color: $main-color;
					color: #fff;
				}
			}
		}
	}
}