@use "cv" as *;

/* APP */
#app-mount {
	background: cv("bg.app.overlay");
}
#{cn(Chat app)} {
	background: transparent;
}
#{cn(ConnectedLayers bg)} {
	background: cv("bg.app.img") cv("bg.app.pos")/cv("bg.app.size") cv("bg.app.repeat") cv("bg.app.attach");
	@include filters(cv("bg.app"));
	z-index: -9999;
}
#app-mount {
	#{cn(ConnectedLayers layers)},
	#{cn(ConnectedLayers layer)} {
		background: transparent;
	}
}
#{cn(StandardSidebarView standardSidebarView)} {
	background: transparent;
}
#{cn("FluxContainer(AppView)" base)} {
	border-radius: 0;
}
#{cn(Backdrop backdrop)} {
	&:before {
		content: "";
		position: fixed;
		@include stretch;
		background: cv("bg.backdrop.img") cv("bg.backdrop.pos")/cv("bg.backdrop.size") cv("bg.backdrop.repeat") cv("bg.backdrop.attach");
		@include filters(cv("bg.backdrop"));
		pointer-events: none;
	}
	&:after {
		content: "";
		position: fixed;
		@include stretch;
		background: cv("bg.backdrop.overlay");
		pointer-events: none;
	}
}

// FONT
body,
button,
input,
select,
textarea,
::placeholder {
	font-family: cv("font.main");
}

// SELECTION
::selection {
	color: #fff;
	background: $main-color;
}

// ANCHORS
#{cn(Anchor anchor)} {
	color: $main-color;
	@include hover-shadow;
}