@use "cv" as *;

/* APP NOTICE */
#app-mount {
	#{cn(ActivityJoinRequestNotice notice)} {
		border-radius: 3px !important;
		color: hsla(0, 0%, 100%, .7);
	}
}
#{cn(ActivityJoinRequestNotice notice)} {
	&#{cn(ActivityJoinRequestNotice noticeDefault)} {
		background: rgba(#f26522, .6);
	}
	&#{cn(ActivityJoinRequestNotice noticePremium)} {
		background: rgba(#202225, .6);
	}
	&#{cn(ActivityJoinRequestNotice noticeInfo)} {
		background: rgba(#4a90e2, .6);
	}
	&#{cn(ActivityJoinRequestNotice noticeSuccess)} {
		background: rgba(#43b581, .6);
	}
	&#{cn(ActivityJoinRequestNotice noticeDanger)} {
		background: rgba(#f04747, .6);
	}
	&#{cn(ActivityJoinRequestNotice noticeStreamerMode)} {
		background: rgba(cv("const:colors.twitch-purple"), .6);
	}
	&#{cn(ActivityJoinRequestNotice noticeFacebook)} {
		background: rgba(cv("const:colors.facebook-blue"), .6);
	}
	&#{cn(ActivityJoinRequestNotice noticeSpotify)} {
		background: rgba(cv("const:colors.spotify-green"), .6);
	}
	&#{cn(ActivityJoinRequestNotice noticeBrand)} {
		background: rgba(cv("const:colors.discord-blurple"), .6);
	}
	#{cn(ActivityJoinRequestNotice button)} {
		background: hsla(0, 0%, 100%, .1);
		border: 1px solid transparent;
		color: #fff;
		transition: all .15s ease-in-out;
		mix-blend-mode: screen;
		transform: translateZ(0);
		&:hover {
			background: #fff;
			color: #000;
		}
	}
	#{cn(ActivityJoinRequestNotice dismiss)} {
		background: url(https://clearvision.gitlab.io/icons/close.svg) center/18px no-repeat;
		opacity: .5;
		transition: all .15s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}