// AVATAR
%avatar {
	background-color: transparent;
	border-radius: $avatar-roundness;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
%avatarMask:not(%avatarMaskProfile) {
	-webkit-mask: none;
	mask: none;
}
%avatarWrapper {
	&%avatarPopout,
	&%avatarProfile {
		box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	}
}