// BADGE
%badge {
	padding: 3px 5px !important;
	background: $main-color;
	box-shadow: 0 0 20px -3px $main-color;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	line-height: 12px;
	transition: all .3s ease-in-out;
}
%tabBarItemSelected,
%topPillItemSelected {
	%badge {
		background: #fff;
		box-shadow: none;
		color: #000;
		mix-blend-mode: screen;
		transform: translateZ(0);
	}
}