// BADGE
%badge {
	background: $main-color;
	color: #fff;
	padding: 3px 5px;
    font-weight: 600;
	box-shadow: 0 0 20px -3px $main-color;
	transition: all .3s ease-in-out;
}
%channelContentSelectedText,
%tabBarItemSelected {
	%badge {
		background: #fff;
		color: #000;
		box-shadow: none;
		mix-blend-mode: screen;
		transform: translateZ(0);
	}
}