// NUMBER BADGE (AKA PINGS)
%numberBadge,
%textBadge {
  background: $main-color !important;
  box-shadow: 0 0 10px -3px $main-color, 0 0 0 1px $main-color;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
%numberBadge {
  font-size: 12px;
  line-height: 12px;
}
%channelWrapperSelected,
%privateChannelInteractiveSelected,
%tabBarItemSelected {
  %numberBadge,
  %textBadge {
    background: #fff !important;
    box-shadow: none;
    color: $main-color;
    mix-blend-mode: screen;
  }
}

// FLOWER STAR BADGE
%flowerStarContainer {
  color: $main-color;
  %flowerStarIcon {
    color: #fff;
  }
  %flowerStarChild {
    > svg {
      color: #fff;
    }
  }
}

%gameVerifiedIcon > svg > path {
  fill: $main-color;
}

// COMMUNITY GUILD BADGE
%guildIconChildContainer path[fill='var(--primary-500)'] {
  fill: hsla(0, 0%, 0%, 0.9);
}

// 1 MONTH FREE NITRO
%nitroTrialBadge {
  background-color: $main-color;
}
