/* CHECKBOX */
.theme-dark {
	%checkbox {
		&%checkboxChecked {
			background-color: transparent;
			border-color: var(--main-color) !important;
			
			>svg {
				>path {
					fill: var(--main-color);
				}
			}
		}
	}
}


%checkboxWrapper {
	%checkbox {
		&%checkboxChecked {
			background-color: #fff;
		}
	}
}