/* CHECKBOX */

%themeDark %checkbox {
  border-color: hsla(0, 0%, 100%, 0.5);
  &%checkboxChecked {
    background-color: transparent !important;
    border-color: var(--main-color) !important;
    >svg {
      >path {
        fill: #fff;
      }
    }
  }
}