/* CHECKBOX */

%themeDark %checkbox {
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}
%checkboxChecked {
  background-color: transparent;
  border: 2px solid $main-color;
  > svg {
    > path {
      fill: #fff;
    }
  }
}
