/* INPUT */
%inputWrapper {
  padding: 2px;
}
%input {
  color: $text-normal;
  background-color: hsla(0, 0%, 100%, 0.07);
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  &::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
  }
  &:hover {
    border: none;
  }
  &:focus,
  &%inputFocused {
    box-shadow: 0 0 2px 2px $main-color;
  }
  &%inputField {
    border: none;
    box-shadow: none;
    background: none;
  }
  %inputMultiField {
    background-color: transparent;
    box-shadow: none;
  }
  %inputCopy & {
    background-color: transparent;
    box-shadow: none;
  }
}
