/* LIST ITEM */
%listItem {
	%listItemName {
		font-size: 14px;
		color: hsla(0, 0%, 100%, .6);
		transition: all .15s ease-in-out;
		overflow: hidden;
	}
	%listItemActivity,
	%listItemActivityText,
	%memberListItemActivity,
	%memberListItemActivityText {
		color: hsla(0, 0%, 100%, .4);
		transition: all .15s ease-in-out;
	}
	%listItemActivityText,
	%memberListItemActivityText {
		> strong {
			color: $main-color;
			font-weight: 700;
			transition: all .15s ease-in-out;
		}
	}
	&%listItemSelected {
		%listItemName {
			color: #fff;
		}
		%listItemActivity,
		%listItemActivityText,
		%memberListItemActivity,
		%memberListItemActivityText {
			text-shadow: 0 0 3px rgba(0, 0, 0, .7);
			color: hsla(0, 0%, 100%, .7);
		}
		%listItemActivityText,
		%memberListItemActivityText {
			> strong {
				color: #fff;
			}
		}
		%memberOwnerIcon {
			filter: drop-shadow(0 0 3px rgba(0, 0, 0, .7));
			opacity: .7;
		}
		%listItemActivityIcon,
		%listItemActivityEmoji,
		%memberListItemActivityEmoji {
			filter: drop-shadow(0 0 3px rgba(0, 0, 0, .7));
		}
		%listItemActivityIconForeground {
			fill: hsla(0, 0%, 100%, .7);
			transition: all .15s ease-in-out;
		}
	}
}