// PAGE CONTROL
%themeDark {
    %pageButton {
        &%pageButtonActive {
            background-color: var(--main-color);
        }
        &%pageButtonActive:hover {
            background-color: var(--main-color);
        }
        &:hover {
            background-color: var(--hover-color);
            &:disabled {
                background-color: transparent;
            }
        }
    }
}