%search,
%studentHubJoinServersHeader {
  %searchBox {
    background: hsla(0, 0%, 0%, 0.6);
    border: none;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
    &:focus-within {
      border: none;
      box-shadow: 0 0 2px 2px $main-color;
    }
    %input {
      border: none;
      box-shadow: none;
    }
    %searchBoxInput {
      color: var(--text-normal);
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
    %searchBoxIconSearch {
      color: $main-color;
    }
    %searchBoxCloseIcon {
      color: $main-color;
      &:hover {
        color: $hover-color;
      }
    }
  }
}
%searchPage %search %searchBox,
%studentHubSearchHeader %studentHubSearchBox {
  background: hsla(0, 0%, 100%, 0.07);
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  &:focus-within {
    border: none;
    box-shadow: 0 0 2px 2px $main-color;
  }
  %input {
    border: none;
    box-shadow: none;
  }
  %searchBoxInput {
    color: var(--text-normal);
    &::placeholder {
      color: hsla(0, 0%, 100%, 0.3);
    }
  }
  %searchBoxCloseIcon {
    color: $main-color;
    &:hover {
      color: $hover-color;
    }
  }
}
