/* SLIDER */
%sliderContainer {
	background-color: hsla(0, 0%, 100%, .1) !important;	
	&[style*="background-color: rgb(67, 181, 129);"] {
		background-color: $main-color !important;
	}
	path {
		fill: $main-color
	}
}