/* SLIDER */
%slider {
	%sliderBar {
		background: hsla(0, 0%, 100%, .04);
		transition: all .15s ease-in-out;
	}
	%sliderBarFill {
		background: $main-color;
	}
	%sliderGrabber {
		background: #fff;
		border: none;
		border-radius: 5px;
		box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
	}
	&:focus {
		%sliderGrabber {
			box-shadow: 0 0 3px 3px var(--hover-color);
		}
	}
}