/* SWITCH */
%switchContainer {
  background-color: hsla(0, 0%, 100%, 0.15) !important;
  transition: all 0.1s ease-in-out;
  &%switchChecked {
    background-color: $main-color !important;
  }
  path {
    fill: $main-color;
  }
}
