/* TOOLTIP */
%themeDark %tooltip {
	padding: 5px 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	border-radius: 3px;
	font-size: 13px;
	font-weight: 600;
	%layerContainer & {
		color: #fff;
	}
	%tooltipContent {
		padding: 0;
	}
	&%tooltipPrimary {
		background: rgba(0, 0, 0, .9);
		> %tooltipPointer {
			border-top-color: rgba(0, 0, 0, .9);
		}
	}
	&%tooltipBrand {
		background: $main-color;
		> %tooltipPointer {
			border-top-color: $main-color;
		}
	}
	&%tooltipRed {
		background: cv("colors.danger");
		> %tooltipPointer {
			border-top-color: cv("colors.danger");
		}
	}
	&%tooltipGreen {
		background: cv("colors.success");
		> %tooltipPointer {
			border-top-color: cv("colors.success");
		}
	}
	&%tooltipTop {
		animation: cv-menu-fold-y .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 50% 100%;
	}
	&%tooltipBottom {
		animation: cv-menu-fold-y .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 50% 0;
	}
	&%tooltipRight {
		animation: cv-menu-fold-x .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 0 50%;
	}
	&%tooltipLeft {
		animation: cv-menu-fold-x .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 100% 50%;
	}
}