/* CONNECTIONS */
$colours: (
  'Reddit': #ff4500,
  'Steam': #000000,
  'Twitter': #009ef7,
  'Spotify': #1db954,
  'Xbox Live': #107c10,
  'Battle.net': #0566b0,
  'Facebook': #1877f2,
  'GitHub': #222222,
  'Twitch': #9146ff,
  'YouTube': #ff0000,
);

.connection_fff5f6 {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.connectionHeader__3c82d {
  background-color: transparent;
}

.connection_fff5f6 {
  @each $i, $u in $colours {
    &:has(.connectionIcon__1428c[alt*='#{$i}']) {
      background-color: rgba($u, 0.5);
    }
  }
}
.connectionHeader__3c82d {
  @each $i, $u in $colours {
    &:has(.connectionIcon__1428c[alt*='#{$i}']) {
      background-color: rgba($u, 0.2);
    }
  }
}
.connectionAccountLabel_a71192 {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
.connectionDelete__988b5 {
  color: hsla(0, 0%, 100%, 0.7);
}
.metadataContainer__7b316 {
  background-color: hsla(0, 0%, 100%, 0.1);
}
