/* CHANNEL SETTINGS */

// HEADER
%settingsSidebar {
  %settingsHeader {
    &:has(%channelSettingsCategory) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 0.5fr 0.5fr;
      padding: 20px 0;
    }
    &::before {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &:after {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}
%settingsHeaderText {
  &:has(%channelSettingsCategory) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1.5fr 1fr;
    column-gap: 2px;
    justify-items: center;
  }
}
%channelSettingsCategory {
  color: $main-color !important;
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  &::before {
    content: '< ';
  }
  &:after {
    content: ' >';
  }
}

// PERMISSIONS
%channelSettingsPermissionsGroup {
  border: 1px solid hsla(0, 0%, 100%, 0.07);
}
%channelSettingsPermissionsItem {
  background-color: hsla(0, 0%, 0%, 0.4);
  border-color: hsla(0, 0%, 100%, 0.07);
  cursor: pointer;
  &%channelSettingsPermissionsSelected {
    &%channelSettingsPermissionsDeny {
      background-color: rgba($color: #f04747, $alpha: 0.6);
      border-color: #f04747;
    }
    &%channelSettingsPermissionsPassthrough {
      background-color: rgba($color: #faa61a, $alpha: 0.6);
      border-color: #faa61a;
    }
    &%channelSettingsPermissionsAllow {
      background-color: rgba($color: #43b581, $alpha: 0.6);
      border-color: #43b581;
    }
  }
}
%channelSettingsCard {
  background-color: rgba(0, 0, 0, 0.4);
  &%channelSettingsCardActive {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
%channelSettingsCardPanel {
  background-color: transparent;
}

%integrationsIconWrapper {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// ROLES/MEMBERS DROPDOWN
%themeDark %channelSettingsRoleDropdownHeader,
%themeDark %channelSettingsRoleDropdownContainer %channelSettingsRoleDropdownTag {
  background-color: cv('bg.general.popout');
}
%channelSettingsRoleDropdownRow%channelSettingsRoleDropdownSelected %channelSettingsRoleDropdownRowInner {
  background-color: hsla(0, 0%, 100%, 0.1);
}
