/* CONNECTIONS */
$colours: (
    "Twitch": #593695,
    "Youtube": #E5151A,
    "Battle.net": #0566b0,
    "Steam": #212121,
    "Reddit": #FF5900,
    "Facebook": #355089,
    "Twitter": #33AEFA,
    "Spotify": #1db954,
    "Xbox Live": #107c10,
    "Github": #333333,
);

@each $i, $u in $colours {
    .connection-1fbD7X[alt*="#{$i}"] {
        background-color: rgba( $u, .6) ;	
    }
    .connectionHeader-2MDqhu[alt*="#{$i}"] {
        background-color: rgba( $u, .5) ;	
    }
}
.connectionAccountLabel-1DiK0A {
    color: hsla(0, 0%, 100%, .7);
}
.connectionDelete-2Odoln {
    color: hsla(0, 0%, 100%, .7);
}

.integrationsWrapper-VkM_zO {
    background-color: cv("const:colors.twitch-purple");
    border-radius: 0 0 8px 8px;
}
.integration-3kMeY4  {
    background-color: cv("const:colors.twitch-purple");
}