/* CONNECTIONS */
.connection-1fbD7X,
.connectionHeader-2MDqhu {
    background: transparent;
}

.connectionIcon-2ElzVe {
    + div {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: .6;
            border-radius: 8px 8px 0 0;
            pointer-events: none;
            z-index: -1;
            background-color: #000;
        }
        &:after {
            content: "";
            position: absolute;
            top: 72px;
            right: 0;
            left: 0;
            bottom: -64px;
            opacity: .5;
            border-radius: 0 0 8px 8px;
            pointer-events: none;
            z-index: -1;
            background-color: #000;
        }
    }
    
    // Twitch
    &[alt*="Twitch"] {
        + div {
            &:before {
                background-color: cv("const:colors.twitch-purple");
            }
            &:after {
                background-color: cv("const:colors.twitch-purple");
            }
        }
    }

    // BATTLE.NET
    &[alt*="Battle.net"] {
        + div {
            &:before {
                background-color: #0566b0;
            }
            &:after {
                background-color: #0566b0;
            }
        }
    }

    // STEAM
    &[alt*="Steam"] {
        + div {
            &:before {
                background-color: #171a21;
            }
            &:after {
                background-color: #171a21;
                bottom: -64px;
            }
        }
    }
    
    // SPOTIFY
    &[alt*="Spotify"]{
        + div {
            &:before {
                background-color: cv("const:colors.spotify-green");
            }
            &:after {
                background-color: cv("const:colors.spotify-green");
                bottom: -108px;
            }
        }
    }
    &[alt*="GitHub"] {
        + div {
            &:before {
                background: #333;
            }
            &:after {
                background: #333;
            }
        }
    }
}

.integrationsWrapper-VkM_zO {
    background-color: cv("const:colors.twitch-purple");
    border-radius: 0 0 8px 8px;
}
.integration-3kMeY4  {
    background-color: cv("const:colors.twitch-purple");
}