/* SETTINGS CONTENT */
%standardSidebarView {
	> %settingsContentRegion {
		background: transparent;
	}
}
%settingsContentRegion {
	%settingsContentScroller,
	%settingsContentSidebarScroller {
		background: transparent;
	}
}
.avatarUploaderInner-3UNxY3 {
	background-color: hsla(0, 0%, 100%, .05);
}
%themeDark {
	.card-FDVird:before {
		background-color: hsla(0, 0%, 0%, .4);
		border: hsla(0, 0%, 100%, .07);
	}
}