/* SERVER SETTINGS */

// OVERVIEW - server banner
%themeDark .bannerUpsellContainer-31E9J5 {
    background-color: transparent;
}
.avatarUploaderInnerSquareDisabled-e_U2MZ {
    background-color: transparent;
}


// ROLES
%themeDark .colorPickerCustom-1swUKF {
    background-color: hsla(0, 0%, 0%, .7)
}
.container-3EtAkD {
    background-color: $main-color;
    color: #fff;
    &:hover {
        background-color: $hover-color;
    }
}
%roleRow:hover:not(%roleRowDisabledHover) %buttonCircle {
    background-color: $main-color;
	&:hover {
        background-color: $hover-color;
	}
}
.titleContainer-3fPic2 {
    background-color: transparent;
}
.header-JUTO-g {
    background-color: transparent;
    &:before {
        content: "";
        @include stretch;
        position: absolute;
        z-index: -1;
        background: cv("bg.app.img") cv("bg.app.pos")/cv("bg.app.size") cv("bg.app.repeat") cv("bg.app.attach");
	    @include filters(cv("bg.app"));
    }
    &:after {
        content: "";
        @include stretch;
        position: absolute;
        z-index: -1;
        background: cv("bg.app.overlay");
    }
}
.top-K_jibn {
    .brand-3g5E0C {
        &%tabBarItem {
            &:hover {
                border-bottom-color: $hover-color;
            }
            &%tabBarItemSelected,
            &:active {
                border-bottom-color: $main-color;
            }
        }
    }
}
.selectedBrand-1AtwYE {
    background-color: var(--background-overlay);
}
.icon-2DGsye {
    background-color: $main-color;
}

// EMOJI
%themeDark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: hsla(0, 0%, 100%, .05);
    padding-bottom: 2.5px;
    padding-left: 8px;
}

// STICKERS
%stickersUploadCard {
    background-color: rgba(0, 0, 0, 0.4);
}
%stickersTierLock {
	color: #fff;
	opacity: .3;
}

// AUDIT LOG
%themeDark {
    .auditLog-1NVAY0 {
        border-color: hsla(0, 0%, 100%, .07);
    }
    .headerClickable-zGQJz3,
    .headerDefault-1e6yjj {
        background-color: hsla(0, 0%, 0%, .4);
    }
    .headerExpanded-1-zwDr,
    .divider-M3saWq,
    .changeDetails-1kMZqI {
        background-color: hsla(0, 0%, 0%, .7);
    }
}
.selectedBrand-1AtwYE {
    background-color: $main-color;
} 

// SERVER TEMPLATE
.descriptionBox-SKGNgB {
    background-color: hsla(0, 0%, 0%, .4);
}

// COMMUNITY OVERVIEW
// settings box
.upsellContainer-2a5eMP, .upsellContent-10YytV, .upsellFooter-3M1V33 {background-color: transparent;}


// SERVER INSIGHTS
.analyticsCard-2fnrVG {
    background-color: hsla(0, 0%, 0%, .4);
}
.developerPortalCtaWrapper-2PniQs {
    background-color: transparent;
}
.notEnoughMembersError-3-VD0N {
   background-color: var(--info-warning-background);
}

// Enable community footer pictures
.featureCard-1RR4Tl,
.featureIcon-3p1TC_ {
    background-color: hsla(0, 0%, 0%, .4);
}

// Partner Program 
.checklistContainer-12xGp5 {
    background-color: hsla(0, 0%, 0%, .4);
    .checklistHeader-3liG7E {
        background-color: hsla(0, 0%, 0%, .4);
    }
    .separator-2qVfIV {
        background-color: hsla(0, 0%, 100%, .06);
        opacity: 1;
    }
}

.featureCard-3XHbjy {
    background-color: hsla(0, 0%, 0%, .4);
}

// Enable Discovery
.container-13pE3E {
    background-color: hsla(0, 0%, 0%, .7);
}
.checklist-Asy_56 {
    background-color: hsla(0, 0%, 0%, .4);
    .header-Wl8ec- {
        background-color: hsla(0, 0%, 0%, .4);
    }
    .separator-1py8Bj {
        background-color: hsla(0, 0%, 100%, .06);
    }
}

// Welcome Screen - example
.card-PQEqCK, .emptyChannelIcon-1YdEz2 { //something else
	background-color: var(--background-overlay);
}
.exampleModal-2X2Vf8 {
    background-color: hsla(0, 0%, 0%, .5);
    .optionContainer-1FtykV {
        background-color: $main-color;
    }
}
.exampleModal-2X2Vf8, .exampleContainer-25sB-A, .optionContainer-1FtykV {
	background-color: hsla(0, 0%, 0%, .5);
}

// Welcome Screen - settings
.enableContainer-6E-puu,
.previewContainer-1GxmBJ {
    background-color: hsla(0, 0%, 0%, .4);
}
.editCircle-ityklj {
    background-color: $main-color;
    color: white;
}
.welcomeChannel-1rFrIO {
    background-color: hsla(0, 0%, 100%, .05);
    .channelIcon-1eKmlw {
        background-color: transparent;
    }
}

// SERVER BOOST STATUS
%themeDark {
    .background-3xJH_4 {
        color: hsla(0, 0%, 0%, .4)
    }
    .tierInProgress-1vFUnw {
        background-color: hsla(0, 0%, 0%, .4);
        border: 3px solid #f47fff;
    }
    .tierHeaderLocked-30MLlO,
    .tierHeaderUnlocked-1OpOLf,
    .tierBody-1d3UiS{
        background-color: hsla(0, 0%, 0%, .4);
    }
}

// MEMBERS
.searchBar-3joS_I {
    background-color: hsla(0,0%,0%,.4);
}
%themeDark {
    .popoutList-10IFAa {
        background-color: hsla(0, 0%, 0%, .4);
        box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .07);
        .selectableItem-3-fmiM.selected-1l_Bxn[style*="background: rgb(114, 137, 218)"] {
            background-color: $main-color !important;
        }
    }
    .popoutListInput-1w4TxY {
        background-color: hsla(0, 0%, 100%, .05);
    }
}

// BANS
.searchBar-30dqPB {
    background-color: hsla(0, 0%, 0%, .4);
}

// View server as role selection bar
.container-3ssFyj {
	background-color: hsla(0, 0%, 0%, .8);
}
.role-fz0UH0:hover {
	background-color: rgba(255,255,255,0.1);
}
.container-2oNtJn {
	background-color: hsla(0, 0%, 100%, .07);
}
