/* SERVER SETTINGS */

// OVERVIEW - server banner
%guildFeatureAvailabilityIndicator {
  background-color: $main-color;
  color: #fff;
}

// ROLES
%guildSettingsRoleDefaultPermissions {
  background-color: $main-color;
  color: #fff;
  &:hover {
    background-color: $hover-color;
  }
}
%guildSettingsRoleDefaultPermissionsIcon {
  background-color: hsla(0, 0%, 0%, 0.6);
}
%roleRow {
  &:before,
  &:last-child:after {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  &:hover:not(%roleRowDisabledHover) {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
%buttonCircle {
  background-color: hsla(0, 0%, 0%, 0.6);
  color: #fff;
  &:hover {
    &:not(%buttonCircleDisabled) {
      background-color: $hover-color;
      color: #fff;
    }
  }
  %roleRow:hover:not(%roleRowDisabledHover) & {
    background-color: hsla(0, 0%, 0%, 0.6);
    color: #fff;
    &:hover {
      background-color: $hover-color;
      color: #fff;
    }
  }
}
%guildSettingsRoleBackContainer {
  background-color: transparent;
}
%guildSettingsRoleHeader {
  background-color: transparent;
  &:before {
    content: '';
    @include stretch;
    position: absolute;
    z-index: -1;
    background: cv('bg.app.img') cv('bg.app.pos') / cv('bg.app.size') cv('bg.app.repeat') cv('bg.app.attach');
    @include filters(cv('bg.app'));
  }
  &:after {
    content: '';
    @include stretch;
    position: absolute;
    z-index: -1;
    background: cv('bg.app.overlay');
  }
}
%guildSettingsRoleHeaderTabTop {
  %guildSettingsRoleHeaderTabBrand {
    &%tabBarItem {
      &:hover {
        border-bottom-color: $hover-color;
      }
      &%tabBarItemSelected,
      &:active {
        border-bottom-color: $main-color;
      }
    }
  }
}
%guildSettingsRoleList {
  %guildSettingsRoleListRow {
    &:hover {
      &:not(%tabBarItemDisabled) {
        background-color: hsla(0, 0%, 100%, 0.07);
      }
    }
    %roleCircle {
      &::before {
        background-color: transparent;
      }
    }
    &%tabBarItemSelected {
      background-color: transparent;
      %roleCircle {
        &::before {
          background-color: inherit;
        }
      }
    }
  }
}
%guildSettingsRoleIconPreview {
  background-color: hsla(0, 0%, 0%, 0.6);
}
%guildSettingsRoleUpsell,
%guildSettingsRoleUpsellFooter {
  background: hsla(0, 0%, 0%, 0.3);
}
// View server as role selection bar
.container-3ssFyj {
  background-color: hsla(0, 0%, 0%, 0.8);
}
.container__7712a {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// EMOJI
%themeDark {
  .card_dc88cd:before,
  .emojiRemove_b299a6 {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
}
.emojiRow__4661c .emojiAliasInput_dd55f7 .emojiInput__4fe54 {
  color: var(--text-normal);
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 9%);
}
.emojiAliasPlaceholder__71733 {
  padding-top: 7px;
  padding-left: 7px;
}

// STICKERS
%stickersUploadCard {
  background-color: rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: $hover-color;
  }
}
%stickersTierLock {
  color: #fff;
  opacity: 0.3;
}

// SAFETY SETUP
.changelog__6d46d,
.safetyChecklist__826c8 {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// AUTOMOD
%automodBadge {
  border: none;
  padding: 4px 6px;
}
%automodEditCard {
  background-color: hsla(0, 0%, 0%, 0.4);
  &%automodEditCardActive,
  &%automodEditCardActive%automodEditCardToggled {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
}
%automodRuleIconContainer {
  background-color: hsla(0, 0%, 100%, 0.1);
}
%automodRuleIcon {
  color: #fff;
}
%automodActionTag {
  background-color: hsla(0, 0%, 100%, 0.1);
}
%automodActionIcon,
%automodActionText {
  color: #fff !important;
}
%automodStepIcon {
  background-color: hsla(0, 0%, 100%, 0.1);
}
%automodStepperCOntainer {
  background-color: hsla(0, 0%, 100%, 0.1);
  %input {
    &:focus {
      box-shadow: none;
    }
  }
}
%automodContentCard {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%automodCollapseableCard {
  background-color: hsla(0, 0%, 0%, 0.4);
  &:active,
  &%automodCollapseableCardToggled:active {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
%automodKeywordsTextArea,
%automodRegexTextArea {
  color: var(--text-normal);
  background-color: hsla(0, 0%, 100%, 0.07);
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  &:focus {
    box-shadow: 0 0 2px 2px $main-color;
  }
  &::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
  }
}
%automodDropdown {
  background-color: hsla(0, 0%, 0%, 0.8);
  border: 1px solid hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
%automodDropdownChannel,
%automodDropdownRole {
  background-color: hsla(0, 0%, 100%, 0.1);
}
%automodDropdownChannelIcon {
  color: #fff;
}


// AUDIT LOG
%themeDark {
  .auditLog__6c805 {
    border-color: hsla(0, 0%, 100%, 0.07);
  }
  .headerClickable_c4d7a9,
  .headerDefault__3e003 {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  .headerExpanded__03c29,
  .divider__1505d,
  .changeDetails_ecd760 {
    background-color: hsla(0, 0%, 0%, 0.7);
  }
}
.selectedBrand-1AtwYE {
  background-color: $main-color;
}

// BANS
.scrollerContainer_c3503a {
	background-color: hsla(0, 0%, 0%, .4);
}
.bannedUser__38b44 {
	background-color: hsla(0, 0%, 100%, .07);
}

// SERVER TEMPLATE
.descriptionBox_cca0c3 {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// COMMUNITY OVERVIEW
.upsellContainer__978df {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.upsellFooter__63475 {
  background-color: transparent;
}


// ONBOARDING
%guildSettingsOnboardingTestimonialContainer {
	background-color: transparent
}
%guildSettingsOnboardingTestimonialQuotes {
	color: var(--main-color)
}
%guildSettingsOnboardingTestimonial {
  %textSmallMedium {
    color: #fff !important;
  }
}
%guildSettingsOnboardingUpsell {
	background-color: rgba(0, 0, 0, 0.4);
}
%guildSettingsOnboardingUpsellList {
	background-color: transparent;
  &%guildSettingsOnboardingUpsellListSelected {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
}
%guildSettingsOnboardingUpsellCheckboxCircle {
	background-color: var(--main-color);
}
%guildSettingsOnboardingUpsellCheckbox {
  &%guildSettingsOnboardingUpsellListSelected {
    background-color: transparent;
    border-color: $main-color;
  }
}
%guildSettingsOnboardingUpsellUserCard {
  background-color: rgba(0, 0, 0, 0.4);
  &%userPopoutInnerThemed {
    background-color: transparent;
  }
}
%guildSettingsOnboardingUpsellUserAction {
	background-color: rgba(0, 0, 0, 0.4);
}
%guildSettingsOnboardingUpsellChannelIcon {
	background-color: $main-color;
  svg {
    color: #fff;
  }
}


// SERVER INSIGHTS
.analyticsCard_a976ba {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.developerPortalCtaWrapper__21172 {
  background-color: transparent;
}
.notEnoughMembersError__96545 {
  background-color: var(--info-warning-background);
}
.memberInsightsContainer_a79381 {
  background-color: transparent;
}
.insightsActions_f32a84 {
  background-color: transparent;
}

// ENABLE COMMUNITY
.guildDetails_fc2c63 {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.featureCard__0a441,
.featureIcon__48a2c {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.checkboxWrapper-2fDzaA.row-31nALW.checked-1pZh2h {
  background-color: transparent;
}
.checkboxWrapper-2fDzaA.row-31nALW {
  background-color: transparent;
}


// DISCOVERY
.checklist__88646 {
  background-color: hsla(0, 0%, 0%, 0.4);
  .header_d08072 {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  .separator__26ad8 {
    background-color: hsla(0, 0%, 100%, 0.06);
  }
}

// WELCOME SCREEN
.enableContainer__0945b,
.previewContainer_b0f5b4 {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.editCircle_fb533c {
  background-color: $main-color;
  color: white;
}
.welcomeChannel__0122f {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.channelIcon__2b0ed {
  background-color: transparent;
}

// SERVER SUBSCRIPTIONS
%guildSettingsSubsCard {
  background-color: hsla(0, 0%, 0%, 0.4);
}
%guildSettingsSubsStepsContainer,
%guildSettingsSubsStepsImageContainer {
  background-color: transparent;
}
%guildSettingsSubsEarningsPreviewContainer,
%guildSettingsSubsAvatarCard {
  background-color: hsla(0, 0%, 100%, 0.07) !important;
}
%guildSettingsSubsEmojisContainer {
  background-color: transparent;
}
%guildSettingsSubsViewServerButton {
  background-color: $main-color;
}

// SERVER BOOST STATUS
%themeDark {
  .background__3dd67 {
    color: hsla(0, 0%, 0%, 0.4);
  }
  .tierInProgress_f08e8b {
    background-color: hsla(0, 0%, 0%, 0.4);
    border: 3px solid #f47fff;
  }
  .tierHeaderLocked__4d099,
  .tierHeaderUnlocked_cc60fa,
  .tierBody__615a1 {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
}