/* SETTINGS SIDEBAR */
%standardSidebarView {
  background: transparent;
}
%settingsSidebarScroller {
  margin: 30px 8px 30px 0;
  background: transparent;
  mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 95%, transparent);
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
%settingsSidebar {
  height: 100%;
  width: 260px;
  padding: 0px 6px 0px 20px;
  %tabBarSide {
    padding: 30px 0;
  }
}
%settingsHeader {
  color: $main-color;
  font-weight: 700;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, $main-color 50%, transparent);
    margin-right: 5px;
  }
  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, $main-color 50%, transparent);
    margin-left: 5px;
  }
}
%settingsSeparator {
  background: hsla(0, 0%, 100%, 0.07);
  &:has(+ %settingsHeader) {
    display: none;
  }
}

%settingsSidebar {
  %tabBarSide {
    %tabBarItem {
      position: relative;
      padding: 8px 20px;
      margin: 0;
      background: transparent;
      &:after {
        content: '';
        position: absolute;
        @include pos(0, 100%, 0, 0);
        opacity: 0.9;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        pointer-events: none;
        border-radius: 4px;
      }

      // HOVER
      &:hover {
        background: hsla(0, 0%, 100%, 0.07);
      }

      // SELECTED
      &%tabBarItemSelected {
        background: transparent;
        transition: all 0.15s ease-in-out, background 0.3s 0.2s;
        padding-left: 50px;
        &:after {
          right: 0;
          background: $main-color;
          animation: cv-channel-select 0.3s ease-in-out;
        }
      }

      // ONBOARDING STEP COUNTER
      %textMediumNormal {
        color: #fff !important;
      }
    }
  }
}
%settingsSidebarNitroSelected {
  background-color: transparent;
}
%settingsSidebarServerBoost[aria-selected=true] {
  background-color: transparent !important;
}

// SOCIAL LINKS
%settingsSocialLinks {
  %settingsSocialLink {
    color: hsla(0, 0%, 100%, 0.4);
    &:hover {
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
}
