/* USER SETTINGS */

// My Account
.userSettingsAccount-2eMFVR {
    .userInfoViewing-16kqK3,
    .userInfoEditing-1CEzdT {
        background-color: rgba(0, 0, 0, .4);
        border-color: hsla(0, 0%, 100%, .07);
    }
}

// Privacy & Safety
.card-3Qj_Yx  {
	background-color: rgba(0, 0, 0, .4);
    border-color: hsla(0, 0%, 100%, .07);
    a {
        color: var(--url-color);
    }
}

// Authorized Apps
.authedApp-mj2Hmd {
    background-color: rgba(0, 0, 0, .4);
    border-color: hsla(0, 0%, 100%, .07);
}

// Connections
.accountList-33MS45 {
    background-color: rgba(0, 0, 0, .4);
    border-color: hsla(0, 0%, 100%, .07);
    .accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
        background-color: hsla(0, 0%,100%,.05);
        &:hover {
            background-color: hsla(0, 0%,100%,.07);
        }
    }
}

// Billing
.theme-dark {
    .paymentPane-3bwJ6A,
    .paginator-166-09 {
        background-color: transparent;        
    }
    .bottomDivider-1K9Gao {
        border-color: rgba(0,0,0,.07);
    }
    .hoverablePayment-Yc6mK7 {
        &:hover {
            background-color: rgba(255,255,255,.05);
        }
    }
    .payment-xT17Mq {
        background-color: transparent;
        &:not(.hoverablePayment-Yc6mK7) {
            background-color: hsla(0, 0%, 0%, .4);
        }
    }
    .expandedInfo-3kfShd {
        background-color: transparent;
        box-shadow: 0 0 2px 2px $main-color;
    }
    .codeRedemptionRedirect-1wVR4b {
        background-color: rgba(0, 0, 0, .4);
        border-color: hsla(0, 0%, 100%, .07);
    }
}

// Subscriptions
.scroller-9moviB {
    background-color: transparent;
}
.detailsBlock-FoDTGA,
.banner-WELp4M {
    background-color: rgba(0, 0, 0, .4);
}


// Gift Inventory


// Server Boost 
.cardWrapper-2Min21 {
    background-color: rgba(0, 0, 0, .4);
}
.theme-dark {
    .gemIndicatorContainer-2jdECl {
        background-color: transparent;
    }
}

// HypeSquad

// Voice & Video

.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(0, 0, 0, .4);
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: rgba(0, 0, 0, .7);
    border-color: hsla(0, 0%,100%,.04);
}


// Overlay
.wrapper-3jrx9n {
    border-color: $main-color;
}
.option-n0icdO {
    background-color: hsla(0, 0%,100%,.05);
    opacity: 1;
    &hover {
        background-color: hsla(0, 0%,100%,.07);
        opacity: 1;
    }
    &.selected-mKYnfr {
        background-color: $main-color;
        border-color: $main-color;
    }
}