// MEMBERS
%members {
	background-color: rgba(0, 0, 0, .75) !important;
	> %membersGroup {
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		color: var(--main-color);
		font-size: 11px;
		font-weight: 700;
		text-align: center;
		transition: all .15s ease-in-out;
		@include pseudo(before, after) {
			content: "";
			height: 2px;
			flex-grow: 1;
		}
		@include pseudo(before) {
			background: linear-gradient(to left, currentColor 0%, currentColor 50%, transparent 100%);
			margin-right: 5px;
		}
		@include pseudo(after) {
			background: linear-gradient(to right, currentColor 0%, currentColor 50%, transparent 100%);
			margin-left: 5px;
		}
	}
	> %member {
		border-radius: 5px;
		@include prefix(backface-visibility, hidden);
		> %memberContent {
			position: relative;
			@include clear;
			transition: all .15s ease-in-out, transform .1s ease-in-out;
			@include pseudo(before) {
				content: "";
				position: absolute;
				@include stretch;
				background: linear-gradient(to right, rgba(0, 0, 0, .3) 85%, transparent);
				opacity: 0;
				transition: all .15s ease-in-out;
				z-index: -1;
			}
		}
		&:hover,
		&%memberPopoutOpen {
			> %memberContent {
				@include pseudo(before) {
					opacity: 1;
				}
			}
		}
		&:active {
			> %memberContent {
				@include transform(scale(.9));
			}
		}
		%memberUsername {
			font-size: 14px;
		}
		%memberOwnerIcon > g > path,
		%memberActivityIconForeground {
			fill: hsla(0, 0%, 100%, .4);
		}
		%memberActivityText {
			> strong {
				color: var(--main-color) !important;
				font-weight: 700;
			}
		}
		%avatarOffline {
			@include filter(grayscale(100%) blur(1px));
			transition: all .5s ease-in-out;
		}
		&:hover {
			%avatarOffline {
				@include filter(none);
			}
		}
	}
	%memberPlaceholder {
		background: hsla(0, 0%, 100%, .3);
	}
}