/* Plugin & Theme Content Error */
.bd-modal-root {
  .bd-modal-footer,
  .bd-modal-header {
    background-color: transparent;
    box-shadow: none;
  }
  background-color: var(--background-overlay);
}
