// Apps Popout https://discord.com/channels/212324635356692500/858733936800956427/1270712586756689994
button.button_df39bd.button_dd4f85.lookBlank_dd4f85.colorBrand_dd4f85.grow_dd4f85 {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: 48px;
    width: 48px;
}
div.container_ec8cd2.none_c49869.scrollerBase_c49869.fade_c49869 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.6));
}
div.bannerBackground_e46a21 {
    -webkit-mask:linear-gradient(to bottom, #000, transparent);
    mask:linear-gradient(to bottom, #000, transparent);
}
div.stickyBanner_e46a21 {
    display: none;
}
div.command_f37ac2 { 
    background-color: rgba(0, 0, 0, 0);
}
.commandContainer_f37ac2 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.6));
}
div.overviewContainerNoVideo_e80fe9 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.6));
}
div.overviewContainerWithVideo_e80fe9 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.6));
}
div.container_e5da8b.containerBorderRadius_e5da8b.iconCard_e5da8b {
    border-radius: 10px;
}

// Some more fixes to Apps Popout https://discord.com/channels/212324635356692500/858733936800956427/1270815649417007175
div.container_e5da8b.containerBorderRadius_e5da8b {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
div.container_e5da8b.containerBorderRadius_e5da8b:hover {
    background-color: rgba(255, 255, 255, 0.07);
}
.container_e5da8b.rowContainer_e5da8b {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.3));
}
.container_e5da8b.rowContainer_e5da8b:hover {
    background-color: rgba(255, 255, 255, 0.07);
}
div.clickable_b78bb6 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.3));
}
div.clickable_b78bb6:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

div.container_c7c1c7 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.4));
}
.sortDropdown_fd3eaf.button_dd4f85.lookFilled_dd4f85.sizeMin_dd4f85.grow_dd4f85 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.6));
}
.menu_d90b3d.flexible_d90b3d {
    background-color: rgba(0, 0, 0, 0);
}
.app-launcher-element.container_cf2302 {
    background-color: rgba(0, 0, 0, 0.6);
    padding-right: 10px;
}
div.container_fb1469 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.3));
}

// Phone number change https://discord.com/channels/212324635356692500/858733936800956427/1270779759730753586
div.popoutList_da8701.phoneFieldPopout_ff761b.elevationBorderLow_ff8688 {
    background-color: rgba(0, 0, 0, 0.8);
}

// Security keys list https://discord.com/channels/212324635356692500/858733936800956427/1270769660039663636
div.credentialList_eaef52 {
    background-color: rgba(0, 0, 0, calc(var(--background-shading) * 0.4));
    border-radius: 4px;
}
div.name_d808b0 {
    color: var(--text-normal);
}
button.button_dd4f85.lookBlank_dd4f85.colorTransparent_dd4f85.sizeIcon_dd4f85.grow_dd4f85 {
    color: var(--text-normal);
}
div.credentialItem_eaef52.container_d808b0 {
    border-radius: 0px;
}
div.credentialItem_eaef52.container_d808b0:first-of-type {
    border: none;
}