// Dm Side Profile Activity Status (Non Nitro) https://i.imgur.com/UK9Ukmp.png
.theme-dark .activity_cd74cc {
    background: rgba(0, 0, 0, .4);
}

// Report Message Options https://i.imgur.com/u6QqYH2.png
.childButton_f45bfc {
    background-color: var(--main-color);
}
.childButton_f45bfc:hover {
    background-color: var(--hover-color);
}