// notice
html[lang][lang][lang][lang][lang][lang][lang][lang][lang][lang]::before {
  content: "ClearVision v6 is discontinued, please download v7 from the ClearVision Github, Discord or BD website.\aNavigate to #download-official-presets in the ClearVision Discord server to download v7.\aNo support will be provided to v6." !important;
  text-align: center !important;
  position: absolute !important;
  color: #fff !important;
  padding: 10px !important;
  background-color: #000 !important;
  z-index: 9999 !important;
}
