// Phone number change https://discord.com/channels/212324635356692500/858733936800956427/1270779759730753586
div.popoutList_da8701.phoneFieldPopout_ff761b.elevationBorderLow_ff8688 {
  background-color: rgba(0, 0, 0, 0.8);
}

// Security keys list https://discord.com/channels/212324635356692500/858733936800956427/1270769660039663636
div.credentialList_eaef52 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
  border-radius: 4px;
}
div.name_d808b0 {
  color: $text-normal;
}
button.button_dd4f85.lookBlank_dd4f85.colorTransparent_dd4f85.sizeIcon_dd4f85.grow_dd4f85 {
  color: $text-normal;
}
div.credentialItem_eaef52.container_d808b0 {
  border-radius: 0px;
}
div.credentialItem_eaef52.container_d808b0:first-of-type {
  border: none;
}
