@use "sass:map";
@use "sass:string";
/// Get a variable from the ClearVision variables map
/// @param {string} $id identification for a variable
/// @return {*} variable
@function cv($id) {
  $p: 'settings';
  $s: $id;
  @if string.index($id, ':') {
    $p: string.slice($id, 0, string.index($id, ':') - 1);
    $s: string.slice($id, string.index($id, ':') + 1);
  }
  @if $p == 'const' {
    $p: 'constants';
  }
  @if $p == 'dc' or $p == 'disc' {
    $p: 'discord';
  }
  $r: map.get($cv, $p);
  @if not $r {
    @error "#{$p} is not a valid ClearVision set";
  }
  @while string.index($s, '.') {
    $r: map.get($r, string.slice($s, 0, string.index($s, '.') - 1));
    @if not $r {
      @error "Property #{$id} not found in ClearVision #{$p} set";
    }
    $s: string.slice($s, string.index($s, '.') + 1);
  }
  $r: map.get($r, $s);
  @if not $r {
    @error "Property #{$id} not found in ClearVision #{$p} set";
  }
  @return $r;
}
