$marks: (
	BD Dev: (
		81388395867156480,		// Jiiks
	)
	CV Dev: (
		144881947557101568,		// Zerthox
	)
	CV Mod: (
		194151269399527425,		// untuned
		66043140208857088		// tehbasshunter
	),
	Contrib: (
		236579127090610176,		// Danielle
		97797564866236416,		// Hebgbs
		150750980097441792,		// Orangutan
		335677038830682112		// AutumnClove
	),
	Donator: (
		168551219135119361,		// Auro
		151995147150819328,		// Kinghellish
		78890013378486272,		// Macpot
		66214870705516544,		// Lordmau5
		107965218868457472,		// Mudock Yatho
		174525242939670528,		// L. T. S.
		284122164582416385,		// Aetheryx
		158311402677731328,		// theLMGN
		157492606752784384,		// Kazumi
		112619227466182656,		// PieterVMB
		251260900252712962,		// viwalon
		241500427105992704,		// Ghost_Recon131
		172426681800196096,		// Luan San
		122731339890950145,		// Lilith
		245133485688225793,		// Shadowcloud
		109933711142719488,		// SamTheGr8est
		436228721033216009,		// Hattyot
		297873043265552384,		// PureFallen
		213263668312408066,		// Nikolas
		152431535914614785		// Paco
	)
);