// NEW MESSAGES BAR 
%newMessagesBar {
	@include clear;
	transition: all .15s ease-in-out;
	@include pseudo(before) {
		content: "";
		position: absolute;
		@include stretch;
		background-color: $main-color;
		border-radius: 0 0 3px 3px;
		opacity: .8;
		z-index: -1;
		transition: all .15s ease-in-out;
	}
	&:hover,
	&:active {
		@include pseudo(before) {
			opacity: 1;
		}
	}
	&:active {
		padding-top: 0;
		transform: scale(.99);
	}
	button,
	button:last-child {
		color: #fff;
	}
}

// JUMP TO PRESENT BAR
%messagesWrapper {
	%jumpToPresentBar {
		margin-bottom: 5px;
		background-color: rgba(0, 0, 0, .7);
		border-radius: 3px;
		transition: all .15s ease-in-out;
		> button {
			color: hsla(0, 0%, 100%, .7);
			transition: inherit;
		}
		&:hover {
			background-color: $main-color;
			> button {
				color: #fff;
			}
		}
		&:active {
			transform:scale(.99);
		}
	}
}

// HAS MORE BAR
%messages {
	%hasMore {
		> button {
			background-color: hsla(0, 0%, 100%, .07);
			border: none;
			border-radius: 3px;
			color: hsla(0, 0%, 100%, .7);
			transition: all .15s ease-in-out;
			&:hover {
				background-color: $main-color;
				color: #fff;
			}
			&:active {
				transform:scale(.99);
			}
		}
	}
}