// CHAT
%base %chat {
	background-color: transparent;
}
%chat {

	// TITLEBAR
	%chatTitleChannelName {
		color: #fff;
		text-shadow: 0 0 3px #000;
	}
	%chatTitleChannelIcon {
		color: $main-color;
		filter: drop-shadow(0 0 3px);
	}
	%chatTitleTopic {
		color: hsla(0, 0%, 100%, .5);
		> %anchor {
			color: $main-color;
			@include hover-shadow;
		}
	}
	%chatTitleIconBadge {
		margin: 2px;
		background-color: $main-color;
		border: none;
		color: $main-color;
		box-shadow: 0 0 3px, 0 0 5px;
	}
	%chatSearch {
		> %chatSearchBar {
			background-color: hsla(0, 0%, 100%, .1);
			> %chatSearchRoot {
				color: #fff;
			}
			%chatSearchPlaceholder {
				color: hsla(0, 0%, 100%, .3);
			}
			%chatSearchFilter,
			%chatSearchAnswer {
				background-color: rgba(0, 0, 0, .3);
				color: #fff;
			}
			%chatSearchFilter {
				padding: 0 3px;
			}
			%chatSearchAnswer {
				margin: 0 2px 0 0;
				padding: 0 3px 0 0;
			}
		}
	}

	// CONTENT
	%chatContent {
		@include clear;
		> %spacer {
			background-color: rgba(0, 0, 0, .5);
		}
	}
	%messagesWrapper {
		@include clear;
	}
	%messages {
		backface-visibility: hidden;
	}

	// BASE
	%chatBase {
		border-bottom: 1px solid hsla(0, 0%, 100%, .07);
		> h1 {
			color: hsla(0, 0%, 100%, .5);
			> strong {
				color: hsla(0, 0%, 100%, .7);
			}
		}
	}
}


// NO CHANNEl
%noChannel {
	background-color: rgba(0, 0, 0, .5);
}