// CHAT
%chat {
	@include clear;
	%chatTitle,
	%chatTitleCall {
		background-color: rgba(0, 0, 0, .7);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
	}
	%chatContainer {
		@include clear;
	}
	%chatSpacer {
		background-color: rgba(0, 0, 0, .6);
	}
	%messagesWrapper {
		@include clear;
	}
	%messages {
		@include prefix(backface-visibility, hidden);
	}
	%messageUsername {
		@include hover-shadow;
	}
}

// NO CHANNEl
%noChannel {
	background-color: rgba(0, 0, 0, .6);
}