// TEXTAREA
%chat {
	form {
		@include clear;
		#charcounter {
			top: 100%;
			margin-top: 7.5px;
			color: hsla(0, 0%, 100%, .7);
		}
	}
	%channelTextareaTyping {
		@include clear;
	}
	%channelTextareaInner {
		background-color: rgba(0, 0, 0, .4);
		border-radius: 5px;
		%channelTextareaAttachButton {
			transform: none;
			%channelTextareaAttachButtonPlus {
				opacity: .3;
				transition: all .15s ease-in-out;
			}
			&:hover {
				%channelTextareaAttachButtonPlus {
					opacity: .7;
				}
			}
		}
	}
	textarea {
		&::-webkit-input-placeholder {
			color: hsla(0, 0%, 100%, .2);
		}
		~ %channelTextareaButtons {
			@include pseudo(after) {
				content: "";
				position: absolute;
				@include pos(-2px, -2px, -2px, -2px);
				border: 2px solid hsla(0, 0%, 100%, .1);
				border-radius: 5px;
				transition: all .15s ease-in-out;
				pointer-events: none;
			}
		}
		&:focus ~ %channelTextareaButtons {
			@include pseudo(after) {
				border: 2px solid $main-color;
				box-shadow: 0 0 3px $main-color;
			}
		}
	}
}