// WELCOME MESSAGE
%welcomeMessage {
    > h1 {
        color: var(--main-color);
    }
    > %welcomeMessageItemContainer {
        > %welcomeMessageIcon {
            @include filter(grayscale(1));
            opacity: .3;
        }
        > p {
            color: hsla(0, 0%, 100%, .5);
        }
        a {
            color: var(--main-color);
            @include hover-shadow;
        }
    }
}