@use "cv" as *;
// @import "lib/legacy-selectors";

/* BUTTON */
#{cn(ButtonLink button)} {
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

// BUTTON FILLED
#app-mount {
	#{cn(ButtonLink lookFilled)} {
		&#{cn(ButtonLink colorPrimary)},
		&#{cn(ButtonLink colorBrand)},
		&#{cn(ButtonLink colorGreen)} {
			background: $main-color;
			&:hover,
			&#{cn(ButtonLink hasHover)}:hover {
				background: $hover-color;
			}
			&:disabled {
				background: $main-color !important;
			}
		}
	}
}
#{cn(ButtonLink lookFilled)} {
	&#{cn(ButtonLink colorWhite)},
	&#{cn(ButtonLink colorGrey)} {
		background: hsla(0, 0%, 100%, .1);
		#{cn(ButtonLink contents)} {
			color: hsla(0, 0%, 100%, .7);
			transition: inherit;
		}
		&:hover {
			background: hsla(0, 0%, 100%, .2) !important;
			#{cn(ButtonLink contents)} {
				color: #fff;
			}
		}
		&:disabled {
			background: hsla(0, 0%, 100%, .1) !important;
			#{cn(ButtonLink contents)} {
				color: hsla(0, 0%, 100%, .5);
			}
		}
	}
}

// BUTTON INVERTED
#{cn(ButtonLink lookInverted)} {
	&,
	&#{cn(ButtonLink colorBrand)},
	&#{cn(ButtonLink colorGreen)} {
		background: hsla(0, 0%, 100%, .1);
		color: hsla(0, 0%, 100%, .7);
		&:hover {
			background: hsla(0, 0%, 100%, .2);
			color: #fff;
		}
	}
}

// BUTTON OUTLINED
#app-mount {
	#{cn(ButtonLink lookOutlined)} {
		&#{cn(ButtonLink colorPrimary)},
		&#{cn(ButtonLink colorWhite)} {
			background: hsla(0, 0%, 100%, .05);
			border-color: transparent;
			color: hsla(0, 0%, 100%, .7);
			&:hover {
				background: hsla(0, 0%, 100%, .1);
				border-color: transparent;
				color: #fff;
			}
		}
	}
}

// BUTTON LINK
#{cn(ButtonLink lookLink)} {
	&#{cn(ButtonLink colorWhite)} {
		color: #fff;
		&:hover {
			text-shadow: 0 0 3px;
			> #{cn(ButtonLink contents)} {
				background-image: none;
			}
		}
	}
}