@use "cv" as *;
// @import "lib/legacy-selectors";

/* LIST ITEM */
#{cn(ListItem container)} {
	#{cn(ListItem name)} {
		font-size: 14px;
		color: hsla(0, 0%, 100%, .6);
		transition: all .15s ease-in-out;
		overflow: hidden;
	}
	#{cn(ListItem subText)},
	#{cn(MemberListItem activityText)},
	#{cn(PrivateChannel activityText)} {
		color: hsla(0, 0%, 100%, .4);
		transition: all .15s ease-in-out;
		> strong {
			color: $main-color;
			font-weight: 700;
			transition: all .15s ease-in-out;
		}
	}
	&#{cn(ListItem selected)} {
		#{cn(ListItem name)} {
			color: #fff;
		}
		#{cn(ListItem subText)},
		#{cn(MemberListItem activityText)},
		#{cn(PrivateChannel activityText)} {
			text-shadow: 0 0 3px rgba(0, 0, 0, .7);
			color: hsla(0, 0%, 100%, .7);
			> strong {
				color: #fff;
			}
		}
		#{cn(MemberListItem ownerIcon)} {
			filter: drop-shadow(0 0 3px rgba(0, 0, 0, .7));
			opacity: .7;
		}
		#{cn(ActivityStatus icon)},
		#{cn(ActivityStatus emoji)} {
			filter: drop-shadow(0 0 3px rgba(0, 0, 0, .7));
		}
		#{cn(ActivityStatus icon)} {
			color: hsla(0, 0%, 100%, .7);
			transition: all .15s ease-in-out;
		}
	}
}