@use "cv" as *;

/* TOOLTIP */
#{cn(Tooltip tooltip)} {
	padding: 5px 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	border-radius: 3px;
	font-size: 13px;
	font-weight: 600;
	#{cn(LayerContainer layerContainer)} & {
		color: #fff;
	}
	&#{cn(Tooltip tooltipBlack)} {
		background: rgba(0, 0, 0, .9);
		> #{cn(Tooltip tooltipPointer)} {
			border-top-color: rgba(0, 0, 0, .9);
		}
	}
	&#{cn(Tooltip tooltipBrand)} {
		background: $main-color;
		> #{cn(Tooltip tooltipPointer)} {
			border-top-color: $main-color;
		}
	}
	&#{cn(Tooltip tooltipRed)} {
		background: cv("colors.danger");
		> #{cn(Tooltip tooltipPointer)} {
			border-top-color: cv("colors.danger");
		}
	}
	&#{cn(Tooltip tooltipGreen)} {
		background: cv("colors.success");
		> #{cn(Tooltip tooltipPointer)} {
			border-top-color: cv("colors.success");
		}
	}
	&#{cn(Tooltip tooltipTop)} {
		animation: cv-menu-fold-y .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 50% 100%;
	}
	&#{cn(Tooltip tooltipBottom)} {
		animation: cv-menu-fold-y .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 50% 0;
	}
	&#{cn(Tooltip tooltipRight)} {
		animation: cv-menu-fold-x .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 0 50%;
	}
	&#{cn(Tooltip tooltipLeft)} {
		animation: cv-menu-fold-x .15s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 100% 50%;
	}
}